
@{
    ViewBag.Title = "Dashboard";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content_wrapper">

    <!-- Start: Topbar-Dropdown -->

    @*<header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">

                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-active">
                    Dashboard
                </li>
            </ol>
        </div>

    </header>*@

    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <!-- dashboard tiles -->
            <div class="row">
                @*<div class="col-sm-3 col-xl-3">
                    <div class="panel panel-tile text-center br-a br-grey">
                        <div class="panel-body bg-primary light">
                            <i class="fa fa-tachometer text-muted fs70 mt10"></i>

                        </div>
                        <div class="panel-footer br-t p12">
                            <span class="fs15">
                                <b><a href="#">Dashboard</a></b>
                            </span>
                        </div>
                    </div>
                </div>*@
                <div class="col-sm-3 col-xl-3">
                    <div class="panel panel-tile text-center br-a br-grey">
                        <div class="panel-body bg-system light">
                            <i class="fa fa-users text-muted fs70 mt10"></i>
                        </div>
                        <div class="panel-footer br-t p12">
                            <span class="fs15">
                                <b><a href="#" onclick="checkPermission('10');">Member Management</a></b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xl-3">
                    <div class="panel panel-tile text-center br-a br-grey">
                        <div class="panel-body bg-danger light">
                            <i class="fa fa-cubes text-muted fs70 mt10"></i>
                        </div>
                        <div class="panel-footer br-t p12">
                            <span class="fs15">
                                <b><a href="#" onclick="checkPermission('4');">Event</a></b>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3 col-xl-3">
                    <div class="panel panel-tile text-center br-a br-grey">
                        <div class="panel-body bg-warning light">
                            <i class="fa fa-usd text-muted fs70 mt10"></i>
                        </div>
                        <div class="panel-footer br-t p12">
                            <span class="fs15">
                                <b><a href="#">Fee Settings</a></b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xl-3">
                    <div class="panel panel-tile text-center br-a br-grey">
                        <div class="panel-body bg-dark">
                            <i class="fa fa-chain-broken text-muted fs70 mt10"></i>
                        </div>
                        <div class="panel-footer br-t p12">
                            <span class="fs15">
                                <b><a href="#" onclick="checkPermission('8');">Event Type</a></b>

                              
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xl-3">
                    <div class="panel panel-tile text-center br-a br-grey">
                        <div class="panel-body bg-info light">
                            <i class="fa fa-life-ring text-muted fs70 mt10"></i>
                        </div>
                        <div class="panel-footer br-t p12">
                            <span class="fs15">
                                <b><a href="#" onclick="checkPermission('9');">Event Category</a></b>
                              
                            </span>
                        </div>
                    </div>
                </div>
               
                


            </div>
        </div>
    </section>
    <!-- Begin: Page Footer -->
    <footer id="content-footer" class="affix">
        <div class="row">
            <div class="col-md-6">
                <span class="footer-legal">© 2015 Eventcombo</span>
            </div>
            <div class="col-md-6 text-right">
                <span class="footer-meta">Eventcombo<b></b></span>
                <a href="#content" class="footer-return-top">
                    <span class="fa fa-arrow-up"></span>
                </a>
            </div>
        </div>
    </footer>
    <!-- End: Page Footer -->
    <!-- End: Content-Wrapper -->
</section>

<script type="text/javascript">
    function checkPermission(PermisionId) {
        var vPerm = PermisionId;
        //  alert(vPerm);
        if (PermisionId == "7A" || PermisionId == "7B" || PermisionId == "7C" || PermisionId == "7D" || PermisionId == "7E" || PermisionId == "7F" || PermisionId == "7G") {
            PermisionId = "7";
        }


        $.ajax({
            url: '@Url.Action("GetPermission", "Permission")',
            data: { iPermissionId: PermisionId },
            async: false,
            datatype: "Text",
            type: "Post",
            success: function (response) {
                if (response != "Y") {
                    alert("Access Denied !!!");
                    return false;
                }
                else {
                    //  alert(vPerm);
                    if (vPerm == "10")
                        window.location.href = '@Url.Action("Users", "Users")';
                    else if (vPerm == "6")

                        window.location.href = '@Url.Action("Index", "Email", new { templatetag = "email_welcome", templatename = "Welcome" })';

                    else if (vPerm == "7") {

                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "MyAccount" })';

                    }
                    else if (vPerm == "7A") {
                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "Login" })';

                    }
                    else if (vPerm == "7B") {
                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "Signup" })';

                    }
                    else if (vPerm == "7C") {
                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "ForgotPassword" })';
                    }
                    else if (vPerm == "7D")
                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "ResetPassword" })';
                    else if (vPerm == "7E")
                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "CreateEvent" })';
                    else if (vPerm == "7F")
                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "CMSUsers" })';
                    else if (vPerm == "7G")
                        window.location.href = '@Url.Action("Index", "Messages", new { Form = "Messages" })';
                    else if (vPerm == "4")
                        window.location.href = '@Url.Action("Index", "ManageEvent")';
                    else if (vPerm == "8")
                        window.location.href = '@Url.Action("EventType", "EventType", new {Type="N"})';
                    else if (vPerm == "9")
                        window.location.href = '@Url.Action("EventCategory", "EventCategory", new { msg = "N"})';
                    
                }
            }
        });



    }

</script>