
@{
    ViewBag.Title = "DiscoverEvents";
}
<link href="~/Content/filter-dropdown.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/custom-scroll.css" rel="stylesheet" />
<div id="dvProgress" class="loding_bg"><img src="~/Images/ajax-loader.gif" /></div>
<div class="container-fluid cont_margin no-padding con_scr0l_home" id="scrollhome">
    <div class="col-sm-12 col-xs-12 ot_main_pad mb10">
        <div class="col-sm-9 no_pad">
            <div class="dis_event_ser_title "><h2>Events </h2></div>
        </div>
        <div class="col-sm-3 text-right no_pad">
            <ul class="nav nav-pills dis_fil_nav_right">
                <li>Sort by:</li>
                @if (@TempData["tSort"] != null && @TempData["tSort"].ToString() == "dat")
                {
                    <li><a href="javascript:void(0);" onclick="DateRelevenceFilter('rel');">Relevence</a></li>
                    <li><a href="javascript:void(0);" onclick="DateRelevenceFilter('dat');" class="active">Date</a></li>

                }
                else
                {
                    <li><a href="javascript:void(0);" onclick="DateRelevenceFilter('rel');" class="active">Relevence</a></li>
                    <li><a href="javascript:void(0);" onclick="DateRelevenceFilter('dat');">Date</a></li>
                }

            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-3 col-xs-12 ot_main_pad">
        <div class="col-sm-12 no-padding">
            <div class="col-sm-12 no_pad">
                <ul id="accordion" class="accordion side_accordian">
                    @if (@TempData["tDateFilter"].ToString() != null && @TempData["tDateFilter"].ToString().ToLower() != "none")
                    {
                    <li>
                        <div class="link"><span id="spDate">@TempData["tDateFilter"].ToString()</span><i class="glyphicon  glyphicon-triangle-bottom"></i></div>
                        <ul class="submenu submenu_side" style="display:none;">
                            <li><a href="javascript:void(0);" onclick="DateFilters('today');">Today</a></li>
                            <li><a href="javascript:void(0);" onclick="DateFilters('tommarow');">Tomorrow</a></li>
                            <li><a href="javascript:void(0);" onclick="DateFilters('thisweek');">This Week</a></li>
                            <li><a href="javascript:void(0);" onclick="DateFilters('thisweekend');">This Weekend</a></li>
                            <li><a href="javascript:void(0);" onclick="DateFilters('nextweek');">Next Week</a></li>
                            <li><a href="javascript:void(0);" onclick="DateFilters('thismonth');">This Month</a></li>
                            <li>
                                <a href="#" class="CustDateMain">Custom Date</a>
                                <div class="clearfix"></div>
                                <div class="CustDate col-sm-12 ot_main_pad mb10">
                                    <div class=" col-sm-10 no_pad mb10">
                                        <label class="label-control desc_date_lebel">Start Date</label>
                                        <input class="date_picker form-control" id="txtstartDate" placeholder="mm/dd/yyyy" />
                                    </div>
                                    <div class="col-sm-10 no_pad mb10">
                                        <label class="label-control desc_date_lebel">End Date</label>
                                        <input class="date_picker form-control" id="txtEndDate" placeholder="mm/dd/yyyy" />
                                    </div>

                                    <button class="btn btn-lg fiter_btn_pop_sub " onclick="DateFiltersCustom();" type="submit">Search</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    }
                    else
                    {
                        <li>
                            <div class="link">All Dates  <i class="glyphicon  glyphicon-triangle-bottom"></i></div>
                            <ul class="submenu submenu_side" style="display:none;">
                                <li><a href="javascript:void(0);" onclick="DateFilters('today');">Today</a></li>
                                <li><a href="javascript:void(0);" onclick="DateFilters('tommarow');">Tomorrow</a></li>
                                <li><a href="javascript:void(0);" onclick="DateFilters('thisweek');">This Week</a></li>
                                <li><a href="javascript:void(0);" onclick="DateFilters('thisweekend');">This Weekend</a></li>
                                <li><a href="javascript:void(0);" onclick="DateFilters('nextweek');">Next Week</a></li>
                                <li><a href="javascript:void(0);" onclick="DateFilters('thismonth');">This Month</a></li>
                                <li>
                                    <a href="javascript:void(0);" class="CustDateMain">Custom Date</a>
                                    <div class="clearfix"></div>
                                    <div class="CustDate col-sm-12 ot_main_pad mb10">
                                        <div class="col-sm-10 no_pad mb10">
                                            <label class="label-control desc_date_lebel">Start Date</label>
                                            <input class="date_picker form-control" id="txtstartDate" placeholder="mm/dd/yyyy" />
                                        </div>
                                        <div class="col-sm-10 no_pad mb10">
                                            <label class="label-control desc_date_lebel">End Date</label>
                                            <input class="date_picker form-control" id="txtEndDate" placeholder="mm/dd/yyyy" />
                                        </div>

                                        <button class="btn btn-lg fiter_btn_pop_sub " onclick="DateFiltersCustom();" type="submit">Search</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix"></div>
            <div id="dvMap" class="col-sm-12 no_pad mt10 map_height">
            </div>
            <div class="col-sm-12 no_pad mt10">
                <form>
                    <div class="input-group stylish-input-group">
                        <input type="text" id="txtAddress" class="form-control dis_search_control">
                        <span class="input-group-addon dis_search_addon">
                            <button type="submit dis_search_sub">
                                <i class="fa fa-map-marker"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 no_pad">
                <div class="col-sm-12 no_pad">
                    <ul class="side_fliter_by_type">
                        @if (@ViewData["tempPrice"].ToString() == "FREE")
                        {
                            <li><a href="javascript:void(0);" onclick="GetPriceFilter('ALL');">All Prices</a></li>
                            <li><a href="javascript:void(0);" class="active" onclick="GetPriceFilter('FREE');">Free</a></li>
                            <li><a href="javascript:void(0);" onclick="GetPriceFilter('PAID');">Paid</a></li>
                        }
                        else if (@ViewData["tempPrice"].ToString() == "PAID")
                        {
                            <li><a href="javascript:void(0);" onclick="GetPriceFilter('ALL');">All Prices</a></li>
                            <li><a href="javascript:void(0);" onclick="GetPriceFilter('FREE');">Free</a></li>
                            <li><a href="javascript:void(0);" class="active" onclick="GetPriceFilter('PAID');">Paid</a></li>
                        }
                        else
                        {
                            <li><a href="javascript:void(0);" onclick="GetPriceFilter('ALL');" class="active">All Prices</a></li>
                            <li><a href="javascript:void(0);" onclick="GetPriceFilter('FREE');">Free</a></li>
                            <li><a href="javascript:void(0);" onclick="GetPriceFilter('PAID');">Paid</a></li>
                        }
                    </ul>
                </div>
                <div class="col-sm-12 no_pad xs-desk-show">
                     <div class="col-sm-12 no_pad">
                    <p class="side_desc_fil_head">Event Type</p>
                         <ul class="nav nav-pills dis_side_fliter_tag ">
                             @if (ViewBag.ETSelected != null)
                             {
                                 foreach (var item in (List<EventCombo.Models.EventType>)ViewBag.ETSelected)
                                 {
                                     <li class="active"><a href="javascript:void(0);" onclick="FilterEventType('@item.EventTypeID')">@item.EventType1 </a> <a href="javascript:void(0);" class="can_badg cat_remov" onclick="DeleteFilterEventType('@item.EventTypeID');"> + </a></li>
                                 }
                                 @*<li><a href="javascript:void(0);" onclick="GetAllEventType();">ALL</a></li>*@
                             }
                             else
                             {
                                 <li class="active"><a href="javascript:void(0);" onclick="GetAllEventType();">ALL</a></li>
                             }
                         </ul>
                        <div class="scrollbox">
                            <ul class="nav nav-pills dis_side_fliter_tag">
                                @if (ViewBag.ETSelected != null)
                                {
                                    <li><a href="javascript:void(0);" onclick="GetAllEventType();">ALL</a></li>
                                }
                                @foreach (var item in (List<EventCombo.Models.EventType>)ViewBag.Eventtype)
                                {
                                    <li><a href="javascript:void(0);" onclick="FilterEventType('@item.EventTypeID')">@item.EventType1 </a></li>
                                }
                            </ul>
                      </div>
                    </div>
                     
                     <div class="col-sm-12 no_pad mt10 mb10">
                        <p class="side_desc_fil_head">Category</p>
                         <ul class="nav nav-pills dis_side_fliter_tag ">
                             @if (ViewBag.ECatSelected != null)
                             {
                                 foreach (var item in (List<EventCombo.Models.EventCategory>)ViewBag.ECatSelected)
                                 {
                                     <li class="active"><a href="javascript:void(0);" onclick="FilterEventCategory('@item.EventCategoryID')">@item.EventCategory1</a> <a href="javascript:void(0);" class="can_badg cat_remov" onclick="DeleteFilterEventCategory('@item.EventCategoryID');"> + </a></li>
                                 }
                                 @*<li><a href="javascript:void(0);" onclick="GetAllEventCategories();">ALL</a></li>*@
                             }
                             else
                             {
                                 <li class="active"><a href="javascript:void(0);" onclick="GetAllEventCategories();">ALL</a></li>
                             }
                         </ul>
                        <div class="scrollbox2">
                            <ul class="nav nav-pills dis_side_fliter_tag">
                                @if (ViewBag.ECatSelected != null)
                                {
                                    <li><a href="javascript:void(0);" onclick="GetAllEventCategories();">ALL</a></li>
                                }

                                @foreach (var item in (List<EventCombo.Models.EventCategory>)ViewBag.EventCat)
                                    {
                                    <li><a href="javascript:void(0);" onclick="FilterEventCategory('@item.EventCategoryID')">@item.EventCategory1</a></li>
                                    }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 no_pad xs-mobile-show">
                    <div class="col-sm-12 no_pad mb10 mt10">
                        <p class="side_desc_fil_head">Event Type</p>
                      
                        <ul class="nav nav-pills dis_side_fliter_tag ">
                            @if (ViewBag.ETSelected != null)
                            {
                                foreach (var item in (List<EventCombo.Models.EventType>)ViewBag.ETSelected)
                                {
                                    <li class="active"><a href="javascript:void(0);" onclick="FilterEventType('@item.EventTypeID')">@item.EventType1 </a> <a href="javascript:void(0);" class="can_badg cat_remov" onclick="DeleteFilterEventType('@item.EventTypeID');"> + </a></li>
                                }
                                @*<li><a href="javascript:void(0);" onclick="GetAllEventType();">ALL</a></li>*@
                            }
                            else
                            {
                                <li class="active"><a href="javascript:void(0);" onclick="GetAllEventType();">ALL</a></li>
                            }
                        </ul>
                        <div class="col-sm-12 DesccatClick mobile_side_desc_fil_head">
                            Select
                            <span class="float-right"> <i class="glyphicon  glyphicon-triangle-bottom"></i> </span>
                        </div>
                        
                        <div class="Desccatshow categ_type_accord">
                            <div class="mobilescrollbox">
                                <ul class="nav nav-pills dis_side_fliter_tag ">
                                    @if (ViewBag.ETSelected != null)
                                    {
                                        <li><a href="javascript:void(0);" onclick="GetAllEventType();">ALL</a></li>
                                    }
                                    @foreach (var item in (List<EventCombo.Models.EventType>)ViewBag.Eventtype)
                                    {
                                        <li><a href="javascript:void(0);" onclick="FilterEventType('@item.EventTypeID')">@item.EventType1 </a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 no_pad mb10">
                        <p class="side_desc_fil_head">Category</p>
                        <ul class="nav nav-pills dis_side_fliter_tag ">
                            @if (ViewBag.ECatSelected != null)
                            {
                                foreach (var item in (List<EventCombo.Models.EventCategory>)ViewBag.ECatSelected)
                                {
                                    <li class="active"><a href="javascript:void(0);" onclick="FilterEventCategory('@item.EventCategoryID')">@item.EventCategory1</a> <a href="javascript:void(0);" class="can_badg cat_remov" onclick="DeleteFilterEventCategory('@item.EventCategoryID');"> + </a></li>
                                }
                                @*<li><a href="javascript:void(0);" onclick="GetAllEventCategories();">ALL</a></li>*@
                            }
                            else
                            {
                                <li class="active"><a href="javascript:void(0);" onclick="GetAllEventCategories();">ALL</a></li>
                            }
                        </ul>

                        <div class="col-sm-12 DesccatClick2 mobile_side_desc_fil_head">
                            Select
                            <span class="float-right"> <i class="glyphicon  glyphicon-triangle-bottom"></i> </span>
                        </div>
                        
                        <div class="Desccatshow2 categ_type_accord">
                            <div class="mobilescrollbox">
                                <ul class="nav nav-pills dis_side_fliter_tag">
                                    @if (ViewBag.ECatSelected != null)
                                    {
                                        <li><a href="javascript:void(0);" onclick="GetAllEventCategories();">ALL</a></li>
                                    }
                                    @foreach (var item in (List<EventCombo.Models.EventCategory>)ViewBag.EventCat)
                                    {
                                        <li><a href="javascript:void(0);" onclick="FilterEventCategory('@item.EventCategoryID')">@item.EventCategory1</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

        </div>
    </div>
    <div class="col-sm-9 col-xs-12 ot_main_pad">
        <div class="col-sm-12 no_pad">
            @foreach (var item in (PagedList.IPagedList<EventCombo.Models.DiscoverEvent>)ViewBag.DisEvnt)
            {
                <div class="col-md-4 col-xs-12 col-sm-6 ot_pad ">
                    <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                        <div class="col-sm-12 col-xs-12 in_pad">
                            <div class="col-sm-4 no_pad">
                                <div class="dis_evnt_img"><img  src="@item.EventImage" alt=""></div>
                                @*<div class="col-sm-12 no_pad text-center desc_list_event_type desc_list_event_type_dollar">@item.PriceLable</div>*@
                             
                            </div>
                            <div class="col-sm-8 no_pad">
                                <h1 class="list_event_desc_title xs-title-height"><a href='@Url.Action("ViewEvent", "ViewEvent", new { strEventDs = System.Text.RegularExpressions.Regex.Replace(@item.EventTitle.Replace(" ", "-"), "[^a-zA-Z0-9_-]+", ""), strEventId = @item.EventId.ToString()})'>@item.EventTitle</a></h1>
                                <p class="list_event_desc xs-address-height">
                                    @item.EventAddress
                                   
                                </p>
                                @*<p class="list_event_date_time">@item.EventTimings </p>*@
                                  
                            </div>
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                   @item.PriceLable
                                </div>
                                <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                   @item.EventTimings
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                            <div class="col-sm-9 col-xs-9 no_pad  xs-event-type-height">
                                <ul class="nav nav-pills list_inner_cat_tag ">
                                    <li><a href="javascript:void(0);" onclick="FilterEventType(@item.EventTypeId);">#@item.EventType </a></li>
                                    <li><a href="javascript:void(0);" onclick="FilterEventCategory(@item.EventCatId);">#@item.EventCat </a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-xs-3 no_pad text-right ">
                                @*<button class="desc_btn_bg_none desc_share_btn share_like_btn" title="Your Favourite" type="button">
                                    <i class="fa fa-share-alt"></i>
                                </button>*@
                                <button class="desc_btn_bg_none desc_share_btn share_like_btn" title="Your Favourite" type="button" data-toggle="modal" data-target="#sharemodal">
                                    <i class="fa fa-share-alt"></i>
                                </button>
                                <button class="desc_btn_bg_none desc_btn_bg_active share_like_btn show_like_btn" title="Your Favourite" type="button">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }

</div>
        <div class="col-sm-12 col-xs-12 text-center">
            <nav>
                <ul class="pagination desc_pagination">
                    <li>
                        <a href="javascript:void(0)">
                            <span><i class="fa fa-angle-left"></i> </span>
                        </a>
                    </li>
                    @for(int i=1;i<= Convert.ToInt32(@TempData["TotalPages"]);i++)
                    {
                        <li><a href="javascript:void(0)" onclick="NextPage(@i);">@i</a></li>
                    }

                    @*<li><a href="javascript:void(0)" onclick="NextPage(1);">1</a></li>
                    <li><a href="javascript:void(0)" onclick="NextPage(2);">2</a></li>
                    <li><a href="javascript:void(0)" onclick="NextPage(3);">3</a></li>
                    <li><a href="javascript:void(0)" onclick="NextPage(4);">4</a></li>
                    <li><a href="javascript:void(0)" onclick="NextPage(5);">5</a></li>*@
                    <li>
                        <a href="javascript:void(0)">
                            <span><i class="fa fa-angle-right"></i> </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="col-sm-12 pagination_desc">
                @*1 - 12 of 95 Mumbai Events*@
            </div>
        </div>

    </div>
    <input type="hidden" id="hdEventType" value="@TempData["ETypeSelected"]" />
    <input type="hidden" id="hdEventCat" value="@TempData["ECatSelected"]" />
    <input type="hidden" id="hdPrice" value="@ViewData["tempPrice"]" />
    <input type="hidden" id="hdlat" value="@TempData["tLat"]" />
    <input type="hidden" id="hdlng" value="@TempData["tLng"]" />
    <input type="hidden" id="hdSort" value="@TempData["tSort"]" />
    <input type="hidden" id="hdDateFilter" value="@TempData["tDateFilter"]" />

</div>

<div class="modal fade" id="sharemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content sharmodal_pop">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center"> Share with friends </h3>
            </div>
            <div class="modal-body">


                <div class="col-md-12 social-buttons text-center mt20">
                    <div class="col-sm-12  text-center">
                        <button class="btn soc_btn_fb fb_color"><i class="fa fa-facebook"></i></button>
                        <button class="btn soc_btn_fb "><i class="fa fa-twitter"></i></button>
                        <button class="btn soc_btn_fb linkd_color"><i class="fa fa-linkedin"></i></button>
                        <button class="btn soc_btn_fb msg_color"><i class="fa fa-envelope"></i></button>
                    </div>
                </div>
                <div class="col-md-12 mt10">
                    <form class="form-horizontal">
                        <div class="col-sm-12 ">
                            <div class="form-group">
                                <input class="form-control sharesocilform" placeholder="" type="text">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/custom-scroll.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>

    function checkDate(field) {
        var allowBlank = true;
        var minYear = (new Date()).getFullYear();
        var maxYear = (new Date()).getFullYear() + 10;
        var d = new Date();

        var errorMsg = "";
        var value = $("#" + field).val();
        var datelast = new Date(value);

        var msDateA = Date.UTC(d.getFullYear(), d.getMonth() + 1, d.getDate());
        var msDateB = Date.UTC(datelast.getFullYear(), datelast.getMonth() + 1, datelast.getDate());



        // regular expression to match required date format
        re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;

        if (value != '') {
            if (regs = value.match(re)) {
                if (regs[2] != '' && regs[2] != '' && regs[3] != '') {
                    if (regs[2] < 1 || regs[2] > 31) {
                        errorMsg = "<br/>Invalid Date" ;
                    } else if (regs[1] < 1 || regs[1] > 12) {
                        errorMsg = "<br/>Invalid Date";
                    } else if (regs[3] < minYear || regs[3] > maxYear) {
                        errorMsg = "<br/>Invalid Date";
                    }
                }
            } else {
                errorMsg = "Invalid Date<br/>";
            }
        } else if (!allowBlank) {
            errorMsg = "Invalid Date<br/>";
        }

        if (parseFloat(msDateB) < parseFloat(msDateA)) {

            errorMsg = "Invalid Date<br/>";
        }
        return errorMsg;
    }



    function DateFilters(vvalue) {
        $("#hdDateFilter").val(vvalue);
        NextPage(1);
    }

    function DateFiltersCustom() {
        if ($("#txtstartDate").val() != "" && $("#txtEndDate").val() != "") {
            var vResult = compare($("#txtstartDate").val(), $("#txtEndDate").val());
            if (vResult != "")
            {
                var dt = new Date();
                var vCurrentdate = (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                $("#txtstartDate").val(vCurrentdate);
                $("#txtEndDate").val(vCurrentdate)
            }
        }
        vvalue = "custom@@" + $("#txtstartDate").val().split("/").join(".") + "@@" + $("#txtEndDate").val().split("/").join(".");
        $("#hdDateFilter").val(vvalue);
        NextPage(1);
    }

    function DateRelevenceFilter(vvalue)
    {
        $("#hdSort").val(vvalue);
        NextPage(1);
    }

    function NextPage(vIndex)
    {
        var vUrl = '@Url.RouteUrl("EvType", new { strEt = "evt", strEc = "evc", strPrice="all", strPageIndex="Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';

        var vECat = ($("#hdEventCat").val() != '' ? $("#hdEventCat").val() : "evc");
        var vEtype = ($("#hdEventType").val() != '' ? $("#hdEventType").val() : "evt");
        var vPrice = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "ALL");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");


        vUrl = vUrl.replace("all", vPrice);
        vUrl = vUrl.replace("evc", vECat);
        vUrl = vUrl.replace("evt", vEtype);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);

        window.location.href = vUrl;
    }
    function GetPriceFilter(strPrice) {
        var vUrl = '@Url.RouteUrl("EvType", new { strEt = "evt", strEc = "evc", strPrice="all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        var vECat = ($("#hdEventCat").val() != '' ? $("#hdEventCat").val() : "evc");
        var Price = (strPrice != '' ? strPrice : "ALL");
        var vEtype = ($("#hdEventType").val() != '' ? $("#hdEventType").val() : "evt");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("evc", vECat);
        vUrl = vUrl.replace("evt", vEtype);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;
    }

    function GetAllEventType() {
        var vUrl = '@Url.RouteUrl("EvType", new { strEt = "evt", strEc = "evc", strPrice="all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        var vECat = ($("#hdEventCat").val() != '' ? $("#hdEventCat").val() : "evc");
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "ALL");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("evc", vECat);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;
    }
    function GetAllEventCategories() {
         var vUrl = '@Url.RouteUrl("EvType", new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        var vEtype = ($("#hdEventType").val() != '' ? $("#hdEventType").val() : "evt");
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "ALL");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("evt", vEtype);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;
    }
    function DeleteFilterEventType(vEvTypeId)
    {
        var vValue="";
        var vAry = $("#hdEventType").val().split(',');
        for (i = 0; i < vAry.length; i++)
        {
            if (vAry[i] != vEvTypeId)
            {
                if (vValue == "")
                    vValue = vAry[i];
                else
                    vValue = vValue + "," + vAry[i];
            }
        }
        var vUrl = '@Url.RouteUrl("EvType", new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        var vECat = ($("#hdEventCat").val() != '' ? $("#hdEventCat").val() : "evc");
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "ALL");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("evt", (vValue == "" ? "evt" : vValue));
        vUrl = vUrl.replace("evc", vECat);
        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;

    }
    function DeleteFilterEventCategory(vEvCatId) {
        var vValue = "";
        var vAry = $("#hdEventCat").val().split(',');
        for (i = 0; i < vAry.length; i++) {
            if (vAry[i] != vEvCatId) {
                if (vValue == "")
                    vValue = vAry[i];
                else
                    vValue = vValue + "," + vAry[i];
            }
        }
        var vUrl = '@Url.RouteUrl("EvType", new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        var vEtype = ($("#hdEventType").val() != '' ? $("#hdEventType").val() : "evt");
        vUrl = vUrl.replace("evc", (vValue == "" ? "evc" : vValue));
        vUrl = vUrl.replace("evt", vEtype);
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "ALL");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;

    }
    function FilterEventType(vEvTypeId) {
        if ($("#hdEventType").val() == "" || $("#hdEventType").val() == "~" || $("#hdEventType").val() == "evt") {
            $("#hdEventType").val(vEvTypeId);
        }
        else {
            vIds = $("#hdEventType").val();
            // alert(vIds.indexOf(vEvTypeId));
            if (vIds.indexOf(vEvTypeId) < 0) {
                vIds = vIds.concat(",", vEvTypeId);
                $("#hdEventType").val(vIds);
            }
        }
        var vUrl = '@Url.RouteUrl("EvType",new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        var vECat = ($("#hdEventCat").val() != '' ? $("#hdEventCat").val() : "evc");
        vUrl = vUrl.replace("evt", $("#hdEventType").val());
        vUrl = vUrl.replace("evc", vECat);
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "all");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;
        // alert($("#hdEventType").val());

    }
    function FilterEventCategory(vEvCatId) {
        if ($("#hdEventCat").val() == "" || $("#hdEventCat").val() == "~" || $("#hdEventCat").val() == "evc") {
            $("#hdEventCat").val(vEvCatId);
        }
        else {
            vIds = $("#hdEventCat").val();
            if (vIds.indexOf(vEvCatId) < 0) {
                vIds = vIds.concat(",", vEvCatId);
                $("#hdEventCat").val(vIds);
            }
        }

        var vUrl = '@Url.RouteUrl("EvType",new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        var vEType = ($("#hdEventType").val() != '' ? $("#hdEventType").val() : "evt");
        vUrl = vUrl.replace("evt", vEType);
        vUrl = vUrl.replace("evc", $("#hdEventCat").val());
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "all");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;

        // alert($("#hdEventType").val());

    }

    function FilterbySingleEventCategory(vEvCatId) {
        var vUrl = '@Url.RouteUrl("EvType",new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        //vUrl = vUrl.replace("evt", "~");
        vUrl = vUrl.replace("evc", vEvCatId);
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "ALL");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        window.location.href = vUrl;
    }


    function FilterbySingleEventType(vEvTypeId) {
        var vUrl = '@Url.RouteUrl("EvType",new { strEt = "evt", strEc = "", strPrice = "all", strPageIndex = "Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
        vUrl = vUrl.replace("evt", vEvTypeId);
        var Price = ($("#hdPrice").val() != '' ? $("#hdPrice").val() : "ALL");
        var vLat = ($("#hdlat").val() != '' ? $("#hdlat").val() : "lat");
        var vlng = ($("#hdlng").val() != '' ? $("#hdlng").val() : "long");
        var vSort = ($("#hdSort").val() != '' ? $("#hdSort").val() : "rel");
        var vDateFilter = ($("#hdDateFilter").val() != '' ? $("#hdDateFilter").val() : "none");

        vUrl = vUrl.replace("all", Price);
        vUrl = vUrl.replace("lat", vLat);
        vUrl = vUrl.replace("long", vlng);
        vUrl = vUrl.replace("rel", vSort);
        vUrl = vUrl.replace("none", vDateFilter);
        //vUrl = vUrl.replace("evc", "");
        window.location.href = vUrl;
    }

    function compare(DateA, DateB) {
        var errorMsg = "";
        var a = new Date(DateA);
        var b = new Date(DateB);

        var msDateA = Date.UTC(a.getFullYear(), a.getMonth() + 1, a.getDate());
        var msDateB = Date.UTC(b.getFullYear(), b.getMonth() + 1, b.getDate());

        if (parseFloat(msDateA) < parseFloat(msDateB))
            return errorMsg = "";  // less than
        else if (parseFloat(msDateA) == parseFloat(msDateB))
            return errorMsg = "";  // equal
        else if (parseFloat(msDateA) > parseFloat(msDateB))
            return errorMsg = ajaxsetup("CreateEvent", "CreateEventCompareDateUI") + "<br/>"; // greater than
        else
            return null;  // error


    }

    $(document).ready(function () {
        if ($("#hdDateFilter").val()  != null && $("#hdDateFilter").val() != "")
        {
            var vAry = $("#hdDateFilter").val().split('@@');
            if (vAry.length >0)
            {
                var vLbl = vAry.join(' - ').split('.').join('/');
                $("#spDate").text(vLbl);
            }
        }

        $("#txtstartDate").focusout(function () {
            if (checkDate("txtstartDate") != "")
            {
                var dt = new Date();
                var vCurrentdate = (dt.getMonth() +1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                $("#txtstartDate").val(vCurrentdate);
            }
            else
            {
                if ($("#txtstartDate").val() != "" && $("#txtEndDate").val() != "") {
                    var vResult = compare($("#txtstartDate").val(), $("#txtEndDate").val());
                    if (vResult != "") {
                        var dt = new Date();
                        var vCurrentdate = (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                        $("#txtstartDate").val(vCurrentdate);
                        $("#txtEndDate").val(vCurrentdate)
                    }
                }

            }
        });

        $("#txtEndDate").focusout(function () {
            if (checkDate("txtEndDate") != "") {
                var dt = new Date();
                var vCurrentdate = (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                $("#txtEndDate").val(vCurrentdate);
            }
            else
            {
                if ($("#txtstartDate").val() != "" && $("#txtEndDate").val() != "") {
                    var vResult = compare($("#txtstartDate").val(), $("#txtEndDate").val());
                    if (vResult != "") {
                        var dt = new Date();
                        var vCurrentdate = (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                        $("#txtstartDate").val(vCurrentdate);
                        $("#txtEndDate").val(vCurrentdate)
                    }
                }
            }
        });



        $('.scrollbox').enscroll();
        $('.scrollbox2').enscroll();

        $('.mobilescrollbox').enscroll();
        $('.mobilescrollbox2').enscroll();


        var input = document.getElementById('txtAddress');
        var autocomplete = new google.maps.places.Autocomplete(input);

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var mapOptions = {
                center: new google.maps.LatLng(6.9167, 79.8473),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"),
              mapOptions);
            // create a marker
            var latlng = new google.maps.LatLng(6.9167, 79.8473);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: 'My Place'

            });

            var place = autocomplete.getPlace();
            var vUrl = '@Url.RouteUrl("EvType", new { strEt = "evt", strEc = "evc", strPrice="all", strPageIndex="Page", strLat = "lat", strLong = "long", strSort = "rel", strDateFilter = "none" })';
            var vLat = place.geometry.location.lat();
            var vLong = place.geometry.location.lng();
            vUrl = vUrl.replace("lat", vLat);
            vUrl = vUrl.replace("long", vLong);

            window.location.href = vUrl;

            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            }
            else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);

            }
            marker.setIcon(({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);



            var address = '';
            if (place.address_components) {
                address = [
                  (place.address_components[0] && place.address_components[0].short_name || ''),
                  (place.address_components[1] && place.address_components[1].short_name || ''),
                  (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

        });

        if ($("#hdlat").val() == "" && $("#hdlng").val() == "") {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (p) {
                    var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                    var geocoder = new google.maps.Geocoder;
                    var infowindow = new google.maps.InfoWindow;
                    var mapOptions = {
                        center: { lat: p.coords.latitude, lng: p.coords.longitude },
                        zoom: 13,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                    var marker = new google.maps.Marker({
                        position: LatLng,
                        map: map
                    });
                    google.maps.event.addListener(marker, "click", function (e) {
                        geocodeLatLng(geocoder, map, infowindow);
                        var infoWindow = new google.maps.InfoWindow();
                        infoWindow.setContent(marker.title);
                        infoWindow.open(map, marker);
                    });

                });

            } else {
                alert('Geo Location feature is not supported in this browser.');
            }
        }
        else
        {
            var LatLng = new google.maps.LatLng($("#hdlat").val(), $("#hdlng").val());
            var geocoder = new google.maps.Geocoder;
            var infowindow = new google.maps.InfoWindow;
            var mapOptions = {
                center: LatLng,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            var marker = new google.maps.Marker({
                position: LatLng,
                map: map
            });
            google.maps.event.addListener(marker, "click", function (e) {
                geocodeLatLng(geocoder, map, infowindow);
                var infoWindow = new google.maps.InfoWindow();
                infoWindow.setContent(marker.title);
                infoWindow.open(map, marker);
            });

            var locationurl = 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + $("#hdlat").val() + ',' + $("#hdlng").val() + '&sensor=true';
            $.ajax({
                url: locationurl,
                type: "Post",
                success: function (response) {
                    debugger;
                    document.getElementById('txtAddress').value = response.results[0].formatted_address;
                }
            });
        }
        //title: "<div style = 'height:60px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude


        //function initMap() {
        //    var map = new google.maps.Map(document.getElementById('dvMap'), {
        //        zoom: 8,
        //        center: { lat: 40.731, lng: -73.997 }
        //    });
        //    var geocoder = new google.maps.Geocoder;
        //    var infowindow = new google.maps.InfoWindow;

        //    document.getElementById('submit').addEventListener('click', function () {
        //        geocodeLatLng(geocoder, map, infowindow);
        //    });
        //}

        function geocodeLatLng(geocoder, map, infowindow) {
            var input = document.getElementById('txtAddress').value;
            var latlngStr = input.split(',', 2);
            var latlng = { lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1]) };
            geocoder.geocode({ 'location': latlng }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        map.setZoom(11);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        infowindow.setContent(results[1].formatted_address);
                        infowindow.open(map, marker);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }





        //var geocoder = new google.maps.Geocoder();
        //geocoder.geocode({
        //    "address": firstResult
        //}, function (results, status) {
        //    if (status == google.maps.GeocoderStatus.OK) {
        //        var lat = results[0].geometry.location.lat(),
        //            lng = results[0].geometry.location.lng(),
        //            placeName = results[0].address_components[0].long_name,
        //            latlng = new google.maps.LatLng(lat, lng);

        //        moveMarker(placeName, latlng);
        //        $("txtAddress").val(firstResult);
        //        alert(firstResult)
        //    }
        //});






        $("#dvProgress").hide();






        $('.date_picker').datepicker({
            format: "mm/dd/yyyy",
        })
          .on('changeDate', function (ev) {
              $('.date_picker').datepicker('hide');
          });

        
        $(".CustDate").css({ "display": "none" });
        $(".CustDateMain").click(function () {
            $('.CustDate').slideToggle(function () {
                $('.CustDateMain').toggleClass('active');
            });

        });

        $(".Desccatshow").css({ "display": "none" });
        $(".DesccatClick").click(function () {
            $('.Desccatshow').slideToggle(function () {
                // $('.def_color').toggleClass('active');
            });

        });

        $(".Desccatshow2").css({ "display": "none" });
        $(".DesccatClick2").click(function () {
            $('.Desccatshow2').slideToggle(function () {
                // $('.def_color').toggleClass('active');
            });

        });

        $(document).on('click', function (e) {
            var $target = $(e.target);
            if ($target.closest(".DesccatClick").get(0) == null && $target.closest(".Desccatshow").get(0) == null) {
                $(".Desccatshow").hide();
            };
            if ($target.closest(".DesccatClick2").get(0) == null && $target.closest(".Desccatshow2").get(0) == null) {
                $(".Desccatshow2").hide();
            }
        });

    });


    $(function () {

        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
            $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }

        var accordion = new Accordion($('#accordion'), false);
    });
</script>

