@model PagedList.IPagedList<EventCombo.Models.DiscoverEvent>
@using PagedList.Mvc;
@using EventCombo.Controllers;
@{  Layout = null;}

<div class="col-sm-12 no_pad">
    <div class="col-sm-12 no_pad">
        @{  int iCnt = 0;
            foreach (var item in Model)
            {
                iCnt = 1;
                <div class="col-md-4 col-xs-12 col-sm-6 ot_pad ">
                    <div class="col-sm-12 col-xs-12 in_shadw no_pad">
                        <div class="col-sm-12 col-xs-12 in_pad">
                            <div class="col-sm-4 no_pad">
                                <div class="dis_evnt_img"><img src="@item.EventImage" alt=""></div>
                                @*<div class="col-sm-12 no_pad text-center desc_list_event_type desc_list_event_type_dollar">@item.PriceLable</div>*@

                            </div>
                            <div class="col-sm-8 no_pad">
                                <h1 class="list_event_desc_title xs-title-height d_xs_pad_l0 desc_pl_0"><a href='@Url.Action("ViewEvent", "ViewEvent", new { strEventDs = System.Text.RegularExpressions.Regex.Replace(@item.EventTitle.Replace(" ", "-"), "[^a-zA-Z0-9_-]+", ""), strEventId = ValidationMessageController.GetParentEventId(@item.EventId).ToString()})'>@item.EventTitle</a></h1>
                                <p class="list_event_desc xs-address-height d_xs_pad_l0 desc_pl_0">
                                    @item.EventAddress
                                </p>
                                @*<p class="list_event_date_time">@item.EventTimings </p>*@

                            </div>
                            <div class="col-sm-12 col-xs-12 no_pad">
                                @if (@item.PriceLable.ToLower().Trim() == "free")
                                {
                                    <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type">
                                        @item.PriceLable
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-5 no_pad col-xs-12 text-left desc_list_event_type_disable">
                                        @item.PriceLable
                                    </div>
                                }
                                <div class="col-sm-7 no_pad col-xs-12 list_event_date_time xs-dat-time-height">
                                    @item.EventTimings
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad de_ev_li_border">
                            <div class="col-sm-9 col-xs-9 no_pad  xs-event-type-height">
                                <ul class="nav nav-pills list_inner_cat_tag ">
                                    <li><a href="javascript:void(0);" onclick="FilterEventType(@item.EventTypeId);">#@item.EventType </a></li>
                                    <li><a href="javascript:void(0);" onclick="FilterEventCategory(@item.EventCatId);">#@item.EventCat </a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-xs-3 no_pad text-right ">
                                @if (@item.EventPrivacy == "Y")
                                {
                                    <button class="desc_btn_bg_none desc_share_btn share_like_btn" title="Your Favourite" onclick="ShowUrl('@Url.Action("ViewEvent", "ViewEvent", new { strEventDs = System.Text.RegularExpressions.Regex.Replace(@item.EventTitle.Replace(" ", "-"), "[^a-zA-Z0-9_-]+", ""), strEventId =ValidationMessageController.GetParentEventId(@item.EventId).ToString() })');" type="button" data-toggle="modal" data-target="#sharemodal">
                                        <img src="~/Images/share_icon.png" alt="share event">
                                    </button>
                                }
                                @if (@item.EventLike == "I")
                                {
                                    <button class="desc_btn_bg_none desc_btn_bg_active share_like_btn show_like_btn" id="btnfavourite-@item.EventId" title="Your Favourite" onclick="SaveFav('Y','@item.EventId');" type="button">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="desc_btn_bg_none desc_btn_bg_active share_like_btn" id="btnfavourite-@item.EventId" title="Your Favourite" onclick="SaveFav('Y','@item.EventId');" type="button">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            }

            if (iCnt == 0)
            {
                <div class="col-sm-12 no_pad text-center no_event_found_text">
                    <span id="spInfo">No Events Found</span>
                </div>
            }
        }

    </div>

    <div class="col-sm-12 col-xs-12 text-center mb10">
        <nav class="home-pagination">
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

            @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, lat = ViewBag.lat, lng = ViewBag.lng }))
        </nav>
    </div>



</div>

<div class="modal fade" id="sharemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content sharmodal_pop">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center"> Share with friends </h3>
            </div>
            <div class="modal-body">


                <div class="col-md-12 social-buttons text-center mt20">
                    <div class="col-sm-12  text-center">
                        <button class="btn soc_btn_fb fb_color" id="fbshare"><i class="fa fa-facebook"></i></button>
                        <button class="btn soc_btn_fb " id="twittershare"><i class="fa fa-twitter"></i></button>
                        <button class="btn soc_btn_fb linkd_color" id="linkshare"><i class="fa fa-linkedin"></i></button>
                        <button class="btn soc_btn_fb msg_color"><i class="fa fa-envelope"></i></button>
                    </div>
                </div>
                <div class="col-md-12 mt10">
                    <form class="form-horizontal">
                        <div class="col-sm-12 ">
                            <div class="form-group">
                                <input class="form-control sharesocilform" id="txtEventUrl" readonly="readonly" placeholder="" type="text">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" id="hdcity" />
</div>

<script>
    $('.home-pagination').find('.pagination').addClass('desc_pagination');

    function PreviousArrowPage() {
        var vPindex = parseFloat($("#hdPageIndex").val());
        if (isNaN(vPindex) == true) vPindex = 0;

        if (vPindex > 1) { NextPage(vPindex - 1) };

    }

    function NextArrowPage() {
        debugger;
        var vPindex = parseFloat($("#hdPageIndex").val());
        var vTotalPage = parseFloat(@TempData["TotalPages"]);

        if (isNaN(vTotalPage) == true) vTotalPage = 0;
        if (isNaN(vPindex) == true) vPindex = 0;

        if (vPindex < vTotalPage) { NextPage(vPindex + 1) };

    }

    function NextPage(vIndex) {
        var vUrl = '@Html.Raw(Url.Action("HomeEventList", "Home", new {strPageIndex="page", strLat= TempData["tLat"], strLong= TempData["tLng"]}))';
        if (vIndex > 1)
            vUrl = vUrl.replace("page", vIndex);
        window.location.href = vUrl;
    }

    function FilterEventType(vEvTypeId) {
        var vUrl = '@Url.RouteUrl("EvType",new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = ViewBag.lat, strLong = ViewBag.lng, strSort = "rel", strDateFilter = "none" })';
        vUrl = vUrl.replace("evt", vEvTypeId);
        window.location.href = vUrl;
    }
    function FilterEventCategory(vEvCatId) {
        var vUrl = '@Url.RouteUrl("EvType",new { strEt = "evt", strEc = "evc", strPrice = "all", strPageIndex = "Page", strLat = ViewBag.lat, strLong = ViewBag.lng, strSort = "rel", strDateFilter = "none" })';
        vUrl = vUrl.replace("evc", vEvCatId);
        window.location.href = vUrl;
    }
    function SaveFav(clickfav, eid) {
        var id = "btnfavourite-" + eid;
        var msg = "";
        var clickid = clickfav;
        var vUrl = location.href;
        $.ajax({
            url: '@Url.Action("Discoversavefavourite", "Home")',
            data: { Eventid: eid, strUrl: vUrl },
            type: "Post",
            success: function (data) {
                if (data == "Y") {
                    $("#loginPopup").click();
                    return false;
                } else {
                    if (data == "I") {
                        $("#" + id).addClass("show_like_btn");

                    }
                    if (data == "D") {
                        $("#" + id).removeClass("show_like_btn");
                    }
                }
            },
            error: function (data) {
                //alert("Sorry there is some problem.");
                return false
            }
        });
    }

    function ShowUrl(vurl) {
        $("#txtEventUrl").val(vurl);
    }

    //$('#fbshare').click(function () {
    //    var vUrl = $("#txtEventUrl").val();
    //    window.open('https://www.facebook.com/sharer.php?s=100&p[url]=' + encodeURIComponent(vUrl) + '', 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=626,height=436');
    //    return false;
    //});

    $('#twittershare').click(function () {
        var vUrl = $("#txtEventUrl").val();
        window.open('https://twitter.com/share?url=' + encodeURIComponent(vUrl) + '&via=twitterdev&related=twitterapi%2Ctwitter&text=', 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=626,height=436');
        return false;
    });

    $('#linkshare').click(function () {
        var vUrl = $("#txtEventUrl").val();
        window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(vUrl) + '&title=', 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=626,height=436');
        return false;
    });
</script>




<script type="text/javascript">

    var fbappid = '@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]'
    @{ string strpr = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);}
    var urlprefix = '@strpr'

    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: fbappid,                        // App ID from the app dashboard
            status: true,                                 // Check Facebook Login status
            xfbml: true                                  // Look for social plugins on the page
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var globalFacebookShareObject = { name: 'share', link: '' };


    $(document).ready(function () {
        $('#fbshare').click(function (e) {
            var vUrl = urlprefix + $("#txtEventUrl").val();
            globalFacebookShareObject.link = vUrl;
            FB.ui({
                method: 'feed',
                name: globalFacebookShareObject.name,
                link: globalFacebookShareObject.link
            }, function (response) {
                if (response && response.post_id) { }
                else { }
            });
        });
    });
</script>