@using EventCombo.ViewModels
@{
    ViewBag.Title = "EventCombo - Find and Enjoy Cool Events, Create Your Own, Sell Tickets For Free";
}

<div class="container-fluid cont_margin no-padding con_scr0l_home" id="scrollhome">
    <div id="dvEventListing" class="col-sm-9 col-xs-12 ot_main_pad mb10">
       @{Html.RenderPartial("~/Views/Home/HomeEventList.cshtml"); }
    </div>

    <div class="col-sm-3 col-xs-12 ot_main_pad">
      @{ Html.RenderAction("ShowLastArticles", "Article"); }
    </div>

</div>


<div class="modal fade" id="UserOrgnizer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
        <div class="modal-content">
            <form id="contactForm" class="fullw1 add">
                <div class="modal-body text-center pv50 txt-msg">
                    <h4 class="msg" id="hId">You are not authorized to create event, please contact admin</h4>
                </div>
                <div class="modal-footer msg-action-btn ok">
                    <button type="button" class="btn btn-primary yes ok" id="btMessOk" data-dismiss="modal">OK</button>
                </div>
            </form>
        </div>
    </div><!-- confirm-msg -->
</div>

<div>
    <a class="td-btn" id="btOkMes" type="button" data-backdrop="static" data-keyboard="false" href="#UserOrgnizer" data-toggle="modal" style="display:none">
    </a>
</div>


<script>
    $(document).prop('title', 'Find and Enjoy Cool Events, Create Your Own, Sell Tickets For Free');
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    $(document).ready(function () {
        //url = url.replace("-parameter", vEventId);
        
        if ('@ViewBag.UserOrg' == "Y")
        {
            $("#btOkMes").click();
        }

      
        
        var pg = getUrlParameter('page');
        if (!pg) {
            var Lat = @CookieStore.GetCookie("Lat");
            var Lng = @CookieStore.GetCookie("Long");
            Lat  = parseFloat(Lat);
            Lng = parseFloat(Lng);
            if (isNaN(Lat) == true) Lat = 0;
            if (isNaN(Lng) == true) Lng = 0;
         //   alert(Lat);
            if (Lat > 0)
            {
                var vUrl = '@Html.Raw(Url.Action("Index", "Home", new {lat = CookieStore.GetCookie("Lat"), lng = CookieStore.GetCookie("Long"), page = "1"}))';
                window.location.replace(vUrl);
            }
            else
            {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (p) {
                        var LatLng = new google.maps.LatLng(p.coords.latitude,p.coords.longitude);
                        var geocoder = new google.maps.Geocoder;
                        var infowindow = new google.maps.InfoWindow;

                        var mapOptions = {
                            center: { lat: p.coords.latitude, lng: p.coords.longitude },
                            zoom: 13,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        var vLat = p.coords.latitude;
                        var vLong = p.coords.longitude;

                        //$.cookie("Lat", vLat, { expire: 365 });
                        //$.cookie("Long", vLong, { expire: 365 });

                        var vUrl = '@Html.Raw(Url.Action("Index", "Home", new {lat= "strLat", lng= "strLong", page = "1"}))';
                        vUrl = vUrl.replace("strLat", vLat);
                        vUrl = vUrl.replace("strLong", vLong);
                        window.location.replace(vUrl);

                    }, function (p) {
                        var vUrl = '@Html.Raw(Url.Action("Index", "Home", new {lat = "", lng = "", page = "1" }))';
                        window.location.replace(vUrl);
                    });

                } else {
                    var vUrl = '@Html.Raw(Url.Action("Index", "Home", new {lat = "", lng = "", page = "1" }))';
                    window.location.replace(vUrl);
                }
            }

        }

        



        @*$.ajax({
            url: '@Url.Action("GetEventURL", "CreateEvent")',
            type: "Post",
            success: function (data) {
                if (data != "")
                    $("#dllEventList").html(data);
           },
        });
        $("#dllEventList").change(function () {
            window.location.href = $("#dllEventList").val();
        });
        $("#btTest").click(function () {
           // alert("button click");
            window.location.href = '@Url.Action("ViewEvent", "ViewEvent", new { strEventDs = "a", strEventId = "74" })';

        });*@
    });

</script>
