@model EventCombo.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid cont_margin no-padding con_scr0l_home" id="scrollhome">
   
        <div class="col-sm-12">
            <div class="forget_container">
                <h3 class="acnt_title">Reset your password?</h3>
               
                <div class="forget_con_inner">
                    @using (Html.BeginForm("PasswordReset", "Home", FormMethod.Post, new { role = "form", id = "formrst", @class = "form-horizontal acnt_form col-md-offset-1" }))
                    {    @Html.AntiForgeryToken()

                        if (ViewData["Message"] != null)
                        {
                            <div class="er_suc_main alert-success" id="dvrstsucc">
                                <button class="close closebtn" aria-hidden="true" data-dismiss="alert" type="button" id="btndvrstsucc">&#215;</button>
                                <div class="er_suc_img"></div>
                                <div class="er_suc">@ViewData["Message"] </div>
                            </div>

                        }
                       
                            <div class="er_UI_main alert-danger" id="diverrorst" style="display :none;width:100%">
                                <button class="close closebtn" aria-hidden="true" data-dismiss="alert" type="button" id="btndiverrorst">&#215;</button>
                                <div class="er_UI_img"></div>
                                <div class="er_suc" id="dvrstsuc">  </div>
                            </div>
                       

                        if (ViewData["Error"]!=null)
                        {

                    
                            <div class="er_UI_main alert-danger" id="diverro1rst" style="width:100%">
                                <button class="close closebtn" aria-hidden="true" data-dismiss="alert" type="button" id="btndiverro1rst">&#215;</button>
                                <div class="er_sys_img"></div>
                                <div class="er_suc" id="dvrstmsg"> @ViewData["Error"] </div>
                            </div>
                       
                        }
                        <div class="clearfix"></div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label acnt_form_label">Password</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 add_form_bot">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" ,id="txtPaswordrst", @maxlength = 15 })
                                      

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label acnt_form_label">Confirm Password</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 add_form_bot">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtPaswordrstconfirm", @maxlength = 15 })


                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-info  acnt_btn" value="Reset" id="btnreset" disabled="disabled"  />


                    }
                </div>
            </div>
        </div>

</div>



<script type="text/javascript">
    $(document).click(function () {
        $('#dvrstsucc').css('display', 'none');
        $('#diverrorst').css('display', 'none');
        $('#diverro1rst').css('display', 'none');
       
        $("input").removeClass('err-bor');
    });

    $('#btndvrstsucc').click(function () {
        $('#dvrstsucc').css('display', 'none');
        $('#diverrorst').css('display', 'none');
        $('#diverro1rst').css('display', 'none');
        $('#txtPaswordrst').val("");
        $('#txtPaswordrstconfirm').val("");
        $("input").removeClass('err-bor');
    })
    $('#btndiverrorst').click(function () {
        $('#dvrstsucc').css('display', 'none');
        $('#diverrorst').css('display', 'none');
        $('#diverro1rst').css('display', 'none');
        $('#txtPaswordrst').val("");
        $('#txtPaswordrstconfirm').val("");
        $("input").removeClass('err-bor');
    })

    $('#btndiverro1rst').click(function () {
        $('#dvrstsucc').css('display', 'none');
        $('#diverrorst').css('display', 'none');
        $('#diverro1rst').css('display', 'none');
        $('#txtPaswordrst').val("");
        $('#txtPaswordrstconfirm').val("");
        $("input").removeClass('err-bor');
    })


    $(document).ready(function () {

        $('#txtPaswordrst').keyup(function () {

            if ($(this).val() != '' && $('#txtPaswordrstconfirm').val() != '') {
                $('#btnreset').removeAttr("disabled");

            } else {

                $('#btnreset').attr("disabled", true);
            }

        })
        $('#txtPaswordrstconfirm').keyup(function () {
            if ($(this).val() != '' && $('#txtPaswordrst').val() != '') {

                $('#btnreset').removeAttr("disabled");

            } else {

                $('#btnreset').attr("disabled", true);
            }

        })

    });
    function validationResetPasword() {

        var msgrst = "";
        var pwdcount = 0;
        var Password = $("#txtPaswordrst").val();
        var ConfirmPassword = $("#txtPaswordrstconfirm").val();
        if (Password.length < 4) {
            $('#txtPaswordrst').focus();
            $('#txtPaswordrst').addClass('err-bor');
            pwdcount += 1;
              }
     
        if (ConfirmPassword.length < 4) {
            pwdcount += 1;
                $('#txtPaswordrstconfirm').focus();
                $('#txtPaswordrstconfirm').addClass('err-bor');
               
            }

        if (pwdcount > 0)
        {
            msgrst= ajaxsetup('PwdReset','PwdResetPwdValidationUI');

        }
              
            return msgrst;
           
    }
    $("#btnreset").click(function () {
      
       
        var msgloginn = validationResetPasword();
        console.log(msgloginn);
       
        //var flag1login = true;
        if (msgloginn == "") {
            $('#diverrorst').css("display", "none");
            return true;
          
        }
        else {
            $('#diverro1rst').css("display", "none");
            $('#dvrstsucc').css("display", "none");
            $('#dvrstsuc').html(msgloginn);
            $('#diverrorst').css("display", "block");
            //setTimeout(function () {
            //    $('#diverrorst').fadeOut();
            //    $('#txtPaswordrst').val("");
            //    $('#txtPaswordrstconfirm').val("");
            //    $('#txtPaswordrst').css("border", "gray solid 1px");
            //    $('#txtPaswordrstconfirm').css("border", "gray solid 1px");
            //}, 900)
            return false;
        }
    });

    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: "/ValidationMessage/Index",
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
    </script>