@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EventCombo Labs &#8211; Committed to advancing your work experience</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/AMaterial/jquery-1.12.3.min.js"></script>
    @Scripts.Render("~/Scripts/AMaterial/angularHeader1")
    @Scripts.Render("~/Scripts/AMaterial/angularHeader2")
    @Scripts.Render("~/Scripts/AMaterial/angularHeader3")
    @Scripts.Render("~/Scripts/AMaterial/angularHeader4")
    @Scripts.Render("~/Scripts/AMaterial/angularHeader5")
    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDTZMtI8hnNjf0va7dL5SYp7fo-hNuMdOs&amp;v=3.exp&amp;sensor=true&amp;libraries=places"></script>
    <link href="~/Content/AMaterial/angular-material.css" rel="stylesheet" />
    <script>
    $(document).ready(function () {
      $(".slider-readmore").click(function () {
        $('html, body').animate({
          scrollTop: $("#labs").offset().top - 80
        }, 2000);
      });
	    $("#menu-item-48").click(function () {
        $('html, body').animate({
          scrollTop: $("#team").offset().top - 50
        }, 2000);
      });
	    $("#menu-item-30").click(function () {
        $('html, body').animate({
          scrollTop: $("#labs").offset().top - 50
        }, 2000);
      });

    });
    </script>
    <style type="text/css">
        .cntButton {
            background: none;
            color: #0077c8 !important;
        }
    </style>

    <link rel='stylesheet' id='himalayas-google-fonts-css' href='//fonts.googleapis.com/css?family=Crimson+Text%3A700%7CRoboto%3A400%2C700%2C900%2C300&#038;ver=4.6.1' type='text/css' media='all' />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/labs.css" rel="stylesheet" />
    <meta name="generator" content="WordPress 4.6.1" />

    <!-- EventCombo Labs Custom Styles -->

</head>

<body class="home blog" ng-app="EventComboApp">
    <div id="page" class="hfeed site">
        <header id="masthead" class="site-header clearfix" role="banner">
            <div class="header-wrapper clearfix stick non-transparent">
                <div class="tg-container">


                    <div class="logo">
                        <a href="index.html" title="EventCombo Labs" rel="home"><img src="~/Images/labslogo-1.png" alt="EventCombo Labs"></a>
                    </div> <!-- logo-end -->
                    <div id="header-text" class="screen-reader-text">
                        <h1 id="site-title">
                            <a href="http://www.spread07.com/eventcombo/" title="EventCombo Labs" rel="home">EventCombo Labs</a>
                        </h1>
                        <p id="site-description">Committed to advancing your work experience</p>
                    </div><!-- #header-text -->

                    <div class="menu-search-wrapper">

                        <!-- home-search-end -->

                        <nav id="site-navigation" class="main-navigation" role="navigation" ng-controller="FooterController">
                            <p class="menu-toggle hide"></p>
                            <div class="menu-primary-container">
                                <ul id="menu-labs-menu" class="menu">
                                    <li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-30"><a href="@Url.Action("Index","Labs")#Labs">Labs</a></li>
                                    <li id="menu-item-48" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-48"><a href="@Url.Action("Index","Labs")#About">about</a></li>
                                    <li id="menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-31"><a href="#" ng-click="contactEventcombo($event)">Contact</a></li>
                                </ul>
                            </div>
                        </nav> <!-- nav-end -->
                    </div> <!-- Menu-search-wrapper end -->
                </div><!-- tg-container -->
            </div><!-- header-wrapepr end -->



        </header>


        <div id="content" class="site-content">
            <section id="himalayas_service_widget-2" class="widget widget_service_block clearfix">
                <div id="labs">
                    <div class="section-wrapper">
                        <div class="tg-container">

                            <div class="section-title-wrapper">
                                <h2 class="main-title inner">Eventcombo Marketing Lab</h2>
                                <p>Seeking a motivated, inspirational marketing enthusiast to join our multifaceted team. You will work directly under the guidance of the CMO and collaborate with our team to support exciting, fast paced initiatives. Driving our brand and presence in the market will be your objective. You will learn marketing best practices, establishing short-term to long-term goals. Full time employment at the end of the internship is possible based on your performance.</p>
                                <div class="nav-full">
                                    <ul class="nav-text">
                                        <h1>Wins</h1>
                                        <li>Candidate will be familiar with different marketing strategies as they relate to growth </li>
                                        <li>Candidate will understand the importance of branding and its influence on the success of an organization </li>
                                        <li>Candidate will understand the value of positive interaction with existing and potential customers through marketing efforts </li>
                                        <li>Candidate will gain exposure to real marketing campaigns, executed 24x7</li>
                                    </ul>
                                    <ul class="nav-text">
                                        <h1>Responsibilities</h1>
                                        <li>Support sales team in developing marketing materials that are current with their needs  </li>
                                        <li>Develop creative strategies to help meet Eventcombo goals and increase market share </li>
                                        <li>Analyze data where appropriate to determine trends and move the team in the correct direction </li>
                                        <li>Identify markets and partners for Eventcombo to work toward securing    </li>
                                        <li>Support different areas of the team to further develop implementation of marketing strategies </li>
                                        <li>Monitor new trends and information about the marketing industry as a whole </li>

                                    </ul>
                                    <ul class="nav-text">
                                        <h1>Requirements</h1>
                                        <li>Collaborative team player who can take direction well and is interested in learning about marketing and events </li>
                                        <li>Excellent written communication skills</li>
                                        <li>Analytical skills, ability to understand and analyze sets of data</li>
                                        <li>Highly motivated and hard worker </li>
                                        <li>Detail oriented and extremely organized</li>
                                        <li>Basic understanding of marketing with the spirit to grow</li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer id="colophon" class="footer-with-widget footer-layout-two">

            <div class="footer-logo">
                <a href="index.html" title="EventCombo Labs" rel="home"><img src="~/Images/labslogo-1.png" alt="EventCombo Labs"></a>
            </div>

            <div id="bottom-footer">
                <div class="tg-container">

                    <div class="copyright">
                        <span class="copyright-text">Copyright &copy; 2016 <a href="@Url.Action("Index","Labs")" target="_blank" title="EventCombo Labs">EventCombo Labs</a>. Jump to<a href="https://www.eventcombo.com/" target="#">  Eventcombo.com</a>.</span>
                    </div>
                    <div class="footer-nav">
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" class="scrollup"><i class="fa fa-angle-up"> </i> </a>

    </div> <!-- #Page -->
    <script type="text/ng-template" id="eventcombo.tmpl.html">
        <md-dialog aria-label="Contact Eventcombo" data-ng-app="eventComboApp">
            <form name="eventcomboForm" novalidate>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <h2 class="cntTitle">Need to get in touch? We're listening.</h2>
                        <p class="cntSubtitle">There's a good chance we have an answer in our <a href="@Url.Action("BusinessPage","BusinessPages",new { PageNameUrl="ticket-purchase-faq" })">F.A.Q.</a> <br />Didn't find what you're looking for? Complete the form below and we'll get back to you right away.</p>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Name</label>
                            <input md-no-asterisk name="cntName" ng-model="cntName" required ng-keypress="submitted=false">
                            <div ng-messages="eventcomboForm.cntName.$error">
                                <div ng-message="required">Please enter your Name!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Email</label>
                            <input type="email" required name="cntEmail" ng-model="cntEmail" ng-pattern="/^.+@(" @").+\..+$/" ng-keypress="submitted=false" />
                            <div ng-messages="eventcomboForm.cntEmail.$error" role="alert">
                                <div ng-message="required">Please enter your Email Address!</div>
                                <div ng-message="pattern">Please use valid email format!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block max350">
                            <label>Phone</label>
                            <input tel-mask name="cntPhone" ng-model="cntPhone" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4,5}$/" />
                            <div ng-messages="eventcomboForm.cntPhone.$error">
                                <div ng-message="pattern">Please enter a valid phone number pattern - ###-###-####</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="width160">
                            <label>Category</label>
                            <md-select ng-model="cntCategory" ng-change="getSubCategories()">
                                <md-option ng-repeat="category in Categories">
                                    {{category}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="width160">
                            <label>Sub Category</label>
                            <md-select ng-model="cntSubCategory">
                                <md-option ng-repeat="subcategory in SubCategories">
                                    {{subcategory}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea ng-model="cntMessage" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-dialog-actions layout="row">
                            <md-button class="cntButton" ng-click="cancel()">Cancel</md-button>
                            <md-button class="cntButton" type="submit" ng-click="sendContactMessageEventcombo('eventcomboForm')">Submit</md-button>
                        </md-dialog-actions>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>
    <script type='text/javascript' src='~/Scripts/jquery.nav.js'></script>
    <script type='text/javascript' src='~/Scripts/himalayas.js'></script>

</body>
</html>