@using EventCombo.Models
@model ViewEvent
@{
    ViewBag.Title = "ViewEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .ui-tooltip, .arrow:after {
        background: #fff;
        border: 0px;
    }

    .ui-tooltip {
        padding: 5px 15px;
        color: white;
        font-size: .9em;
        border-radius: 3px;
        color: #000;
        text-transform: uppercase;
        box-shadow: 0 0 1px #ccc;
    }
</style>

<link href="~/Content/eventcombo-new.css" rel="stylesheet" />
@Html.HiddenFor(m=>m.eventId,new {@id="hdEventid" })
@Html.HiddenFor(m => m.hdEventFav, new { @id = "hdEventFav" })
@Html.HiddenFor(m => m.hdEventvote, new { @id = "hdEventvote" })


<div class="event_container">
    <div class="event_inner_container event_top">
        <div class="event-slide-container">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="navbar-wrapper pt10 pb10">
                    <div class="col-sm-12">
                        <div class="col-sm-3 no_pads">
                            <div class="col-sm-6 col-xs-6 no_pad vot_count">
                                <button type="button" class="btn_bg_none " title="Add this event to your favourites" id="btnfavourite"><i class="fa fa-heart"></i></button>
                                <span class="ev_fav_count" title="count of people who saved this event" id="spanfav">@Html.DisplayFor(m=>m.Favourite)</span>
                            </div>
                            <div class="col-sm-6 col-xs-6 no_pad vot_count">
                                <button type="button" class="btn_bg_none" title="Vote this event" id="btnvote">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <span class="ev_fav_count" title="Total votes" id="spanvotes">@Html.DisplayFor(m => m.Vote)</span>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="form-group mb5">
                                <!--  <input class="form-control evnt_title_control evnt_placehold" placeholder="Avicii"> -->
                                <label class="label-control evnt_title_control evnt_title_xs">
                                   @Html.DisplayFor(m => m.Title)
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-xs-12 text-right">
                            <div class="form-group mb0">
                                <div class="Timezone ev_date_icn ev_date_icn2 evnt_icn_xs"></div>
                                <label class="label-control evnt_title_date evnt_title_date2 evnt_title_xs" title="see what happening on this date">
                                    Saturday Aug 17th 2011, 8:30pm - Sunday Aug 18th 2011, 4:30pm
                                </label>
                            </div>
                            <div class="TmezoneSet col-sm-12 no_pad ev_time_zone_model_main date_time_set_modal">
                                <div class="ev_time_zone_model date_time_modal">
                                    <div class="modal-content ev_tm_zon_cont">
                                        <div class="modal-header">
                                            <button class="close closetimemodal" type="button">
                                                <span>&#215;</span>
                                            </button>
                                            <h4 class="modal-title date_time_list">Schedule Date List</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-sm-12 no_pad">
                                                <div class="form-group mb5 ">
                                                    <label class="col-sm-12 no_pad label-control date_time_list">
                                                        <a href="#" data-target="#schcalender" data-toggle="modal">Sunday Aug 18th 2011, 4:30pm </a>
                                                    </label>
                                                    <label class="col-sm-12 no_pad label-control date_time_list ">
                                                        <a href="#" data-target="#schcalender" data-toggle="modal">Sunday Aug 18th 2011, 4:30pm </a>
                                                    </label>
                                                    <label class="col-sm-12 no_pad label-control date_time_list">
                                                        <a href="#" data-target="#schcalender" data-toggle="modal">Sunday Aug 18th 2011, 4:30pm </a>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 text-right">
                            <label class="label-control evnt_title_date ev_white evnt_title_xs">
                                Club Illusion
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 no_pad">
                            <div class="col-sm-4 col-xs-6">
                                <button class="btn btn-primary btn-lg ev_add_sub_btn ev_get_tick_btn" type="submit">GET TICKETS</button>
                                <img src="~/Images/icon-deal.png">
                            </div>
                            <div class="col-sm-8 col-xs-6 text-right ">
                                <div class="form-group mb0">
                                    <div class="ev_loc_icn ev_loc_icn2 evnt_icn_xs"></div>
                                    <label class="label-control evnt_title_date evnt_title_date2 ev_white evnt_title_xs">
                                        260 S California Ave, Palo Alto CA
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-inner" role="listbox" id="lstcarousel">
                    @foreach (var item in (List<string>)ViewBag.Images)
                    {
                    <div class="item ">
                        <img class="img-responsive" src="@item" alt="First slide">

                    </div>
                    }
                    @*<div class="item active">
                        <img class="img-responsive" src="~/Images/slider4.png" alt="First slide">

                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/Images/slider2.png" alt="Second slide">

                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/Images/slider3.png" alt="Third slide">

                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/Images/slider4.png" alt="Fouth slide">

                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/Images/slider2.png" alt="Fifth slide">

                    </div>*@
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-6 col-xs-6 text-left">
                <h2 class="fb_dis_head no_pad pt5">COMPLETE INFO</h2>
            </div>
            <div class="col-sm-6 col-xs-6 text-right ev_social_share_btn">
                <a href=""><img src="~/Images/mail.png"></a>
                <a href=""><img src="~/Images/twi.png"></a>
                <a href=""><img src="~/Images/fac.png"></a>
                <a href=""><img src="~/Images/lin.png"></a>
            </div>
            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10">
                <div class="col-sm-8">
                    <h3>Instant Karma Presents</h3>
                    <p class="evnt_desc">
                        6th Annual Rang de Basanti with Remix King DJ Akbar Sami all the way from India
                        <br>
                        King of Remixes DJ Akbar Sami is back on his 8th US tour DJ Akbar Sami will make this Year's India's Independence in USA the most memorable one.
                        <br> <br>
                        Bigger than any event in Bay Area this August 17 (Midnight), we are all set to bring you a night to remember as DJ Akbar Sami rocks you all night.
                    </p>
                </div>
                <div class="col-sm-4 mt20">
                    <div class="col-sm-12 inst_karm_box">
                        <h4>Instant Karma</h4>
                        <p> <a data-target="#contorganizer" data-toggle="modal" href="#">Contact the Organizer </a></p>
                        <p><a href="#">View organizer profile </a></p>
                        <p><a href="#"><img src="~/Images/facebook-icon.png"> facebook.com/InstantKarma</a></p>
                        <p><a href="#"><img src="~/Images/twitter-icon.png"> TimNC7 </a></p>
                        <p><span class="badge">5</span> Upcoming Event </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <h2 class="">WHO IS GOING?</h2>
            <div class="evnt_tile_bg_r"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10 mt20 pt10">
                <label class="label-control evnt_ticket_label">
                    <img src="images/fb_connect.jpg"> to see which of your Facebook friends are going
                </label>
            </div>
        </div>
    </div>
    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <h2 class="">Ticket Info</h2>
            <div class="evnt_tile_bg_r"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 mt10">
                <div class="table-responsive">
                    <table class="table table-striped evnt_tkt_list_tbl">
                        <div class="col-sm-12">
                            <p class="book_tkt_date">Saturday Aug 17th 2011, 8:30pm</p>
                            <p class="book_tkt_desc">Club Illusions260 S California Ave, Palo Alto CA</p>
                        </div>

                        <thead class="tkt_tbl_head">
                            <tr>
                                <th style="width:40%">Ticket Type</th>
                                <th>Sales End</th>
                                <th>Fee</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:40%">Emporibus autem quibusdam et aut officiis. </td>
                                <td>30 Nov 2015</td>
                                <td>$30.50</td>
                                <td>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </td>
                                <td>$160.00</td>
                            </tr>

                        </tbody>

                    </table>
                    <table class="table table-striped evnt_tkt_list_tbl">
                        <div class="col-sm-12">
                            <p class="book_tkt_date">Saturday Aug 17th 2011, 8:30pm</p>
                            <p class="book_tkt_desc">Club Illusions260 S California Ave, Palo Alto CA</p>
                        </div>
                        <thead class="tkt_tbl_head">
                            <tr>
                                <th style="width:40%">Ticket Type</th>
                                <th>Sales End</th>
                                <th>Fee</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:40%">Emporibus autem quibusdam et aut officiis. </td>
                                <td>30 Nov 2015</td>
                                <td>$30.50</td>
                                <td>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </td>
                                <td>$160.00</td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="table evnt_tkt_list_tbl">
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="col-sm-12 text-right mt10">Subtotal : $0.3333 </div>
                                    <div class="col-sm-12 text-right mt10"><strong>Order total : $0.3333 </strong></div>
                                </td>

                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-lg ev_live_btn ev_live_sub_btn">PAYMENT PROCEED > </button>
                </div>
            </div>
        </div>
    </div>

</div>
    <div class="modal fade" id="contorganizer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title ev_modal_header_title" id="myModalLabel">Contact Organizer</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group mb10">
                            <label class="col-sm-2 control-label ev_tickt_lebel ">Name</label>
                            <div class="col-sm-8">
                                <input class="form-control evnt_inp_cont" type="text">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group mb10">
                            <label class="col-sm-2 control-label ev_tickt_lebel ">Email</label>
                            <div class="col-sm-8">
                                <input class="form-control evnt_inp_cont" type="text">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group mb10">
                            <label class="col-sm-2 control-label ev_tickt_lebel ">Message</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="4"></textarea>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg ev_add_sub_btn ">SAVE</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="schcalender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title ev_modal_header_title" id="myModalLabel">Add to Calendar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-windows"></i> <a href="#">Microsoft Outlook </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-apple"></i> <a href="#">Apple Ical </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-google"></i> <a href="#">Google Calendar </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-yahoo"></i> <a href="#">Yahoo Calendar </a>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            var clickfav = $('#hdEventFav').val();
            var clickvote = $('#hdEventvote').val();
          
            if (clickfav== "Y") {
                
                $("#btnfavourite").addClass("btn_fav_act");
               
            } else {
                $("#btnfavourite").removeClass("btn_fav_act");
               
            }
            if (clickvote == "Y") {
                $("#btnvote").addClass("btn_fav_act");
               
            } else {
                $("#btnvote").removeClass("btn_fav_act");
               
            }
            $("#btnvote").click(function () {
                var clickvote = $('#hdEventvote').val();
                
                if (clickvote == "Y") {

                    alert('You can only vote once.');
                } else {
                    var eid = $('#hdEventid').val();
                    $.ajax({
                        url: '@Url.Action("savevote", "CreateEvent")',
                        data: { Eventid: eid },
                        type: "Post",
                        success: function (data) {
                            if (data == "Y") {
                                $("#loginPopup").click();
                                url.val('@Url.Action("ViewEvent", "CreateEvent")');
                                return false;
                            } else {
                                
                                $("#btnvote").addClass("btn_fav_act");
                              
                                $('#hdEventvote').val("Y");
                                $('#spanvotes').html(data);
                                alert('Thank you for voting!');
                            }
                        },
                        error: function (data) {
                            alert("Sorry there is some problem.");
                            return false
                        }
                    });
                }
            });

            $("#btnfavourite").click(function () {

                var clickfav = $('#hdEventFav').val();
                if(clickfav=="Y")
                {
                    $('#hdEventFav').val("N");
                }
                if (clickfav == "N") {
                    $('#hdEventFav').val("Y");
                }
                var eid = $('#hdEventid').val();
                var clickid = $('#hdEventFav').val();
                $.ajax({
                    url: '@Url.Action("savefavourite", "CreateEvent")',
                    data: { Eventid: eid, type:clickid },
                    type: "Post",
                    success: function (data) {
                        if (data == "Y") {
                            $("#loginPopup").click();
                            url.val('@Url.Action("ViewEvent", "CreateEvent")');
                            return false;
                        } else {
                            var clickfav = $('#hdEventFav').val();
                            if (clickfav == "Y") {
                                $("#btnfavourite").addClass("btn_fav_act");
                                alert('Your Event have been saved!');
                            }
                            if (clickfav == "N") {
                                alert('Your Event have not been saved!');
                                $("#btnfavourite").removeClass("btn_fav_act");
                            }

                            $('#spanfav').html(data);
                           
                        }
                    },
                    error: function (data) {
                        alert("Sorry there is some problem.");
                        return false
                    }
                });

            });
            
            $("#lstcarousel div:first").addClass("active");
            $(function () {
                $(document).tooltip({
                    track: true
                });
            });


            $(".TmezoneSet").hide();
            $(".Timezone").click(function () {
                $(".TmezoneSet").slideToggle("fast");

            });

            $(".closetimemodal").click(function () {
                $(".TmezoneSet").hide();

            });
    });
    </script>



