<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>eventcombo</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/eventcombo.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />

    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @*<script src="~/Scripts/jquery.masked.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/summernote.min.js"></script>
      <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.timepicker.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
  
</head>
<body>
    @*Header Section*@
    <div class="container-fluid headr_main fix_head" id="mainhead">
        <div class="row">
            <div class="col-sm-5">
                <a class="logo" href="/Home/Index"><img src="~/Images/logo.png" /></a>
            </div>
            <div class="col-sm-6 head_left_nav">
                @Html.Partial("_Logout")

            </div>
         
            <div class="col-sm-1 text-right">
                <div class="social_icn">
                    <a href="http://www.facebook.com/Eventcombo" target="_blank"><img src="~/Images/fb.png" /></a>
                    <a href="http://www.twitter.com/Eventcombo" target="_blank"><img src="~/Images/tw.png" /></a>
                    @*<a href="#"><img src="~/Images/fb.png" /></a>
                    <a href="#"><img src="~/Images/tw.png" /></a>*@
                    @*<a href="#"><img src="~/Images/msg.png" /></a>*@
                </div>
            </div>
            <div class="Fix_Head mt10" title="Click to fixed Header">
                <label class="switch">
                    <input type="checkbox" class="switch-input" checked  onchange="changeheader(this.id)" id="idchecked">
                    <span class="switch-label" data-on="On" data-off="Off" ></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
        </div>
        <div class="col-sm-12 filter_sep cont_margin">
            <img src="~/Images/desi-@HttpContext.Current.Session["Fromname"].ToString().Trim()-logo.gif">
            <div class="cus_left_kick"><</div>
        </div>
    </div>
    <div class="container-fluid cont_margin" id="bodysec">
        @if (HttpContext.Current.Session["Fromname"].ToString() == "events" || HttpContext.Current.Session["Fromname"].ToString() == "deals")
        {
            @RenderBody()

        }
        else
        {


        <div class="row">
            <div class="col-sm-2">
                <div class="affix-top" id="navtop">
                    <nav class="navbar navbar-default nav_cus_main ">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed nav_btn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <div id="navbar" class="navbar-collapse collapse nav_cus">
                            <div id="sidebar" class="nav nav-stacked">
                                <div id="accordion" class="panel-group">
                                    <div class="panel panel-default menu_list">
                                        <div class="panel-heading">
                                            <a class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                 Account <b class="closed"></b>

                                            </a>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body no-padding">
                                                <p>@Html.ActionLink("Personal Information", "MyAccount", "Account") </p>
                                                <p>@Html.ActionLink("My Purchased Ticket", "PurchasedTicket", "Account")</p>
                                                <p>@Html.ActionLink("My Purchased Deals", "PurchasedDeals", "Account")</p>
                                                <p>@Html.ActionLink("Payment Information", "PaymentInformation", "Account")</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default menu_list">
                                        <div class="panel-heading">
                                            <a class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Manage Events <b class="closed"></b>

                                            </a>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body no-padding">
                                                <p>@Html.ActionLink("Create Event", "CreateEvent", "CreateEvent")</p>
                                                <p>@Html.ActionLink("Live Events", "LiveEvents", "Account")</p>
                                                <p>@Html.ActionLink("Past Events", "PastEvents", "Account")</p>
                                                <p>@Html.ActionLink("Events Help", "EventHelp", "Account")</p>
                                                <p>@Html.ActionLink("Organizer Profile", "OrganizerProfile", "Account")</p>
                                                <p>@Html.ActionLink("Edit Event", "EditEvent", "EditEvent")</p>
                                                <p>@Html.ActionLink("Manage Event", "EventList", "EventList")</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default menu_list">
                                        <div class="panel-heading">
                                            <a class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Manage Deals <b class="closed"></b>

                                            </a>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body no-padding">
                                                <p>Create Deal</p>
                                                <p>@Html.ActionLink("Deals Dashboard", "DealsDashboard", "Account")</p>
                                                <p>@Html.ActionLink("Current Deals", "CurrentDeals", "Account")</p>
                                                <p>@Html.ActionLink("Past Deals", "PastDeals", "Account")</p>
                                                <p>@Html.ActionLink("Feedback", "Feedback", "Account")</p>
                                                <p>@Html.ActionLink("Overview", "Overview", "Account")</p>
                                                <p>@Html.ActionLink("Impact Report", "ImpactReport", "Account")</p>
                                                <p>@Html.ActionLink("Invoice History", "InvoiceHistory", "Account")</p>
                                                <p>@Html.ActionLink("Customers", "Customers", "Account")</p>
                                                <p>@Html.ActionLink("Deals Help", "DealsHelp", "Account")</p>
                                                <p>@Html.ActionLink("Merchant Profile", "MerchantProfile", "Account")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-sm-10 ">
                <div class="midd_cont" id="midsection">
                    
                    @RenderBody()

                    </div>
                </div>
            </div>
        }

    </div>

    <script type="text/javascript">

        function checkPermission(PermisionId) {
            @*$.ajax({
                url: '@Url.Action("GetPermission", "Permission")',
                data: { iPermissionId: PermisionId },
                async: false,
                datatype: "Text",
                type: "Post",
                success: function (response) {
                    if (response != "Y") {
                        alert("Access Denied !!!");
                        return false;
                        //  $('#spanid').html("Record Updated.");
                        // $('#divError').css('display', 'block');
                        ///  setTimeout(function () { $('#divError').css('display', 'none'); $('input[type=text]').removeClass('err-bor') }, 3000);
                    }
                    else {
                        //  alert(vPerm);
                        if (PermisionId == "1")
                            window.location.href = '@Url.Action("CreateEvent", "CreateEvent")';
                    }
                }
            });*@



        }




    function changeheader(e)
    {
        if ($('#idchecked').is(":checked") == true) {
          
            $('#mainhead').addClass('fix_head');
            $('#bodysec').addClass('cont_margin');
            $('#navtop').addClass('affix-top');
            $('#midsection').addClass('midd_cont');
            $('#eventtop').addClass('event_top');
            $('#eventtopscoll').addClass('event_top');
            
            $('#divsuccerr').addClass('aler_container');
            $('#eventtopscoll').addClass('viewevent_container');
        } else
        {
            $('#mainhead').removeClass('fix_head');
            $('#bodysec').removeClass('cont_margin');
            $('#navtop').removeClass('affix-top');
            $('#midsection').removeClass('midd_cont');
            $('#eventtopscoll').removeClass('event_top');
            $('#eventtop').removeClass('event_top');
            $('#divsuccerr').removeClass('aler_container');
            
            $('#eventtopscoll').removeClass('viewevent_container');
        }
    }
    </script>
</body>

</html>



