@using EventCombo.Models
@model IBaseViewModel

<script type="text/javascript">
  function init() {
    window.addEventListener('scroll', function (e) {
      var search2 = document.getElementById("search");
      var stylePos = parseFloat(document.getElementById("mainBody").style.top);
      var distanceY = (window.pageYOffset || document.documentElement.scrollTop) - (isNaN(stylePos) ? 0 : stylePos),
          shrinkOn = 30,
          header = document.querySelector("header");
      if (distanceY > shrinkOn) {
        classie.add(header, "smaller");
        classie.add(search2, "search2");
      } else {
        if (classie.has(header, "smaller")) {
          classie.remove(header, "smaller");
        }
        if (classie.has(search2, "search2")) {
          classie.remove(search2, "search2");
        }
      }
    });
  }
  window.onload = init();

  $(document).ready(function () {
    $('#search input').focus(function () {
      $('#search').addClass('srhFocus');
    });
    $('#search input').blur(function () {
      $('#search').removeClass('srhFocus');
    });
  });
</script>
<header ng-controller="HamburgerController">
  <div class="topnav2">
    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <i md-menu-origin="" class="material-icons">menu</i>
      </md-button>
      <md-menu-content width="5">
        <md-menu-item ng-repeat="menu in navigation">
          <md-button ng-click="announceClick($index)">
            <div layout="row" flex="">
              <p flex=""><a href="{{ menu.link }}" class="{{ menu.class }}">{{ menu.text }}</a></p>
              <i md-menu-align-target="" style="margin:auto 3px auto 0;" class="material-icons">portable_wifi_off</i>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>

  <div style="float:left;">
    <a href="~/">
      <h1 id="logo"></h1>
    </a>
  </div>
  <div ng-controller="AccountController as acContr" id="accountControllerDiv">
    <nav>
      <ul class="nav">
        <li class="drop">
          <span><i class="material-icons orange600">account_circle</i> @(String.IsNullOrEmpty(Model.BaseUserName) ? "Log In / Sign Up" : Model.BaseUserName) </span>
          @if (!String.IsNullOrEmpty(Model.BaseUserId))
          {
            <ul>
              <li><a href="@Url.Action("MyAccount", "Account")"><i class="material-icons">account_balance_wallet</i> Account</a></li>
              <li><a href="@Url.Action("EventList", "EventList")"><i class="material-icons">event</i> My Events</a></li>
            @*<li><a href="@Url.Action("DealsDashboard", "Account")"><i class="material-icons">shop</i> My Deals</a></li>*@
              <li><a href="@Url.Action("PurchasedTicket", "Account")"><i class="material-icons">local_play</i> My Tickets</a></li>
              <li><a href="@Url.Action("OrganizerProfile", "Account")"><i class="material-icons">group</i> Organizers</a></li>
              <li><a href="javascript:void(0)" ng-click="logout()"><i class="material-icons">exit_to_app</i> Log Out</a></li>
            </ul>
          }
          else
          {
            <ul>
              <li><a href="javascript:void(0)" ng-click="showLoginForm('myForm')"><i class="material-icons">lock_outline</i> Log In</a></li>
            </ul>
          }
        </li>
      </ul>
    </nav>

    @if (String.IsNullOrEmpty(Model.BaseUserId))
    {
      <div style="display:none;" ng-style="{'display': displayPopups}">
        <div class="popOverlay" id="popLogin" ng-show="popLogin">
          <div class="popBox">
            <form name="myForm" novalidate>
              <a class="popClose" ng-click="closeLightBoxWithEsc(); email=''"><i class="material-icons">clear</i></a>
              <h3 class="blue-heading">Please log in or sign up with</h3>
              <div class="text-center">
                <a href=@Url.Action("ExternalLoginAPI", "Account", new { provider = "Facebook", returnUrl = Request.Url.AbsoluteUri }) class="socLogin fb" target="_blank"><img width="16" src="~/Images/AMaterial/facebook-logo.svg"></a>
                <a href=@Url.Action("ExternalLoginAPI", "Account", new { provider = "LinkedIn", returnUrl = Request.Url.AbsoluteUri }) class="socLogin in" target="_blank"><img width="16" src="~/Images/AMaterial/linkedin-logo.svg"></a>
                <a href=@Url.Action("ExternalLoginAPI", "Account", new { provider = "Google", returnUrl = Request.Url.AbsoluteUri }) class="socLogin gp" target="_blank"><img width="16" src="~/Images/AMaterial/google-plus-symbol.svg"></a>
              </div>
              <div class="text-center"><span class="popLink">or</span></div>
              <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" ng-maxlength="255" required name="email" ng-model="email" ng-pattern="/^.+@("@").+\..+$/" ng-keypress="submitted=false" />
                <div ng-messages="myForm.email.$error" role="alert">
                  <div ng-message="required">Please enter your email!</div>
                  <div ng-message="pattern">Please use valid email format!</div>
                  <div ng-message="maxlength">Your email is too long.</div>
                </div>
              </md-input-container>
              <div class="text-center"><button class="popLink margin-2em-top" ng-click="signInNext('myForm')">NEXT</button></div>
            </form>
          </div>
        </div>
        <!--****************************************************************************************************************************-->
        <div class="popOverlay" ng-show="popRegister">
          <div class="popBox">
            <form name="registerForm" novalidate>
              <a class="popClose" ng-click="closeLightBoxWithEsc()"><i class="material-icons">clear</i></a>
              <h3 class="red-heading">Some things are a mystery. <br> Would you like to sign up?</h3>
              <p class="infoText margin-1em-top margin-1em-bottom">{{ email }}</p>
              <md-input-container class="md-block">
                <label>First Name</label>
                <input ng-maxlength="40" required md-no-asterisk name="firstName" ng-model="firstName" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-keypress="firstNameRequired=false">
                <div ng-messages="registerForm.firstName.$error">
                  <div ng-message="required">Please enter your First Name!</div>
                  <div ng-message="maxlength">Your First Name is too long.</div>
                  <div ng-message="pattern">No special Characters allowed!</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Last Name</label>
                <input ng-maxlength="40" required md-no-asterisk name="lastName" ng-model="lastName" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-keypress="lastNameRequired=false">
                <div ng-messages="registerForm.lastName.$error">
                  <div ng-message="required">Please enter your Last Name!</div>
                  <div ng-message="maxlength">Your Last Name is too long.</div>
                  <div ng-message="pattern">No special Characters allowed!</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Create password, 8 characters minimum</label>
                <input type="password" ng-minlength="8" ng-maxlength="32" required md-no-asterisk name="password" ng-model="password" ng-keypress="passwordRequired=false">
                <div ng-messages="registerForm.password.$error">
                  <div ng-message="required">Please create a password!</div>
                  <div ng-message="minlength">Password has to be at least 8 characters</div>
                  <div ng-message="maxlength">Your Password is too long.</div>
                </div>
              </md-input-container>
              <div class="text-center">{{signupError}}</div>
              <div class="clear">
                <button type="reset" class="popLink margin-1em-top gray lFloat" ng-click="popRegister=false">CANCEL</button>
                <button class="popLink margin-1em-top rFloat" ng-click="registerNext('registerForm')">SIGN UP</button>
              </div>
            </form>
          </div>
        </div>
        <!--****************************************************************************************************************************-->
        <div class="popOverlay" ng-show="popLoginPassword">
          <div class="popBox">
            <form name="loginPasswordForm" novalidate>
              <a class="popClose" ng-click="closeLightBoxWithEsc()"><i class="material-icons">clear</i></a>
              <h3 class="blue-heading">Please enter the password for</h3>
              <p class="infoText margin-2em-top margin-1em-bottom">{{ email }}</p>
              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" required md-no-asterisk name="loginPassword" ng-model="loginPassword" ng-keypress="loginPasswordRequired=false;IncorrectPassword=false">
                <div ng-messages="loginPasswordForm.loginPassword.$error">
                  <div ng-message="required">Please enter password!</div>
                  <div ng-show="IncorrectPassword">{{loginError}}</div>
                </div>
              </md-input-container>
              <div class="clear">
                <button type="reset" class="popLink margin-1em-top gray lFloat" ng-click="showForgetPasswordForm()">FORGET PASSWORD</button>
                <button class="popLink margin-1em-top rFloat" ng-click="loginPasswordNext('loginPasswordForm')">LOG IN</button>
              </div>
            </form>
          </div>
        </div>
        <!--****************************************************************************************************************************-->
        <div class="popOverlay" ng-show="popForgetPassword">
          <div class="popBox">
            <form name="otpPasswordForm" novalidate>
              <a class="popClose" ng-click="closeLightBoxWithEsc()"><i class="material-icons">clear</i></a>
              <h3 class="red-heading">We sent an email to reset your password to</h3>
              <p class="infoText margin-2em-top margin-2em-bottom">{{ email }}</p>
              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" required md-no-asterisk name="otpPassword" ng-model="otpPassword" ng-keypress="otpPasswordRequired=false;IncorrectotpPassword=false;">
                <div ng-messages="otpPasswordForm.otpPassword.$error">
                  <div ng-message="required">Please enter password!</div>
                  <div ng-show="IncorrectotpPassword">Password did not match.</div>
                </div>
              </md-input-container>
              <div class="text-center"><button class="popLink margin-1em-top" ng-click="otpPasswordNext('otpPasswordForm')">LOG IN</button></div>
            </form>
          </div>
        </div>
        <!--****************************************************************************************************************************-->
        <div class="popOverlay" ng-show="popCreatePassword">
          <div class="popBox">
            <form name="newPasswordForm" novalidate>
              <a class="popClose" ng-click="closeLightBoxWithEsc()"><i class="material-icons">clear</i></a>
              <h3 class="red-heading">Please create a new password for</h3>
              <p class="infoText margin-1em-top margin-1em-bottom">{{ email }}</p>
              <md-input-container class="md-block">
                <label>Create password, 4 characters minimum</label>
                <input type="password" ng-minlength="4" ng-maxlength="32" required md-no-asterisk name="newPassword" ng-model="newPassword" ng-keypress="newPasswordRequired=false">
                <div ng-messages="newPasswordForm.newPassword.$error">
                  <div ng-message="required">Please create a password!</div>
                  <div ng-message="minlength">Password has to be at least 4 characters</div>
                  <div ng-message="maxlength">Your Password is too long.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Repeat password</label>
                <input type="password" ng-minlength="4" ng-maxlength="32" required md-no-asterisk name="repeatPassword" ng-model="repeatPassword" ng-keypress="repeatPasswordRequired=false;passwordNotMatch=false">
                <div ng-messages="newPasswordForm.repeatPassword.$error">
                  <div ng-message="required">Please create a password!</div>
                  <div ng-message="minlength">Password has to be at least 4 characters</div>
                  <div ng-message="maxlength">Your Password is too long.</div>
                  <div ng-show="passwordNotMatch">Passwords did not match, please retype</div>
                </div>
              </md-input-container>
              <div class="text-center"><button class="popLink margin-1em-top" ng-click="newPasswordNext('newPasswordForm')">LOG IN</button></div>
            </form>
          </div>
        </div>
        <!--****************************************************************************************************************************-->
        <div class="popOverlay" ng-show="popCreatePasswordCongrats">
          <div class="popBox">
            <a class="popClose" ng-click="closeLightBoxWithEsc()"><i class="material-icons">clear</i></a>
            <h3 class="red-heading">Congrats, you have a shiny new password!</h3>
            <div class="text-center margin-2em-top"><a class="popLink" ng-click="reloadPage()">CONTINUE TO SITE</a></div>
          </div>
        </div>
        <div class="popOverlay" ng-show="popRegisterCongrats">
          <div class="popBox">
            <a class="popClose" ng-click="reloadPage()"><i class="material-icons">clear</i></a>
            <h3 class="red-heading">Congrats, you have successfully Registered!</h3>
            <div class="text-center margin-2em-top"><a class="popLink" ng-click="reloadPage()">CONTINUE TO SITE</a></div>
          </div>
        </div>
        <div class="popOverlay" ng-show="popLoginCongrats">
          <div class="popBox">
            <a class="popClose" ng-click="reloadPage()"><i class="material-icons">clear</i></a>
            <h3 class="red-heading">Congrats, you have successfully Login!</h3>
            <div class="text-center margin-2em-top"><a class="popLink" ng-click="reloadPage()">CONTINUE TO SITE</a></div>
          </div>
        </div>
        <div class="popOverlay" ng-show="popLoading">
          <div class="popBox">
            <h3 class="blue-heading text-center">{{LoadingMessage}}</h3>
            <img src="~/Images/ajaxloader1.gif" />
          </div>
        </div>
        <div class="popOverlay" ng-show="popInfoMessage">
          <div class="popBox">
            <a class="popClose" ng-click="closeLightBoxWithEsc()"><i class="material-icons">clear</i></a>
            <div class="blue-heading text-center">{{InfoMessage}}</div>
            <div class="text-center margin-2em-top"><a class="popLink" ng-click="closeLightBoxWithEsc()">CONTINUE TO SITE</a></div>
          </div>
        </div>
        <div class="popOverlay" ng-show="popServerError">
          <div class="popBox">
            <a class="popClose" ng-click="closeLightBoxWithEsc()"><i class="material-icons">clear</i></a>
            <h3 class="red-heading">Error</h3>
            <div class="text-center">Something went wrong. Please try again later</div>
            <div class="text-center margin-2em-top"><a class="popLink" ng-click="closeLightBoxWithEsc()">CONTINUE TO SITE</a></div>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="topnav">
    <a ng-repeat="menu in navigation" href="{{ menu.link }}" class="{{ menu.class }}">{{ menu.text }}</a>
  </div>
</header>

<div id="search" ng-controller="SearchEventController">
  <md-content>
    <i class="material-icons">search</i>
    <div style="width: 40%; float: left;">
      <md-autocomplete md-no-cache="false" md-selected-item="selectedEvent" md-search-text="eventString" md-delay="500"
                       md-items="item in eventSearch(eventString)" md-item-text="item.EventTitle" md-min-length="1"
                       placeholder="Search" md-selected-item-change="DiscoverByEvent()" md-select-on-focus
                       press-enter="DiscoverByEvent()">
        <md-item-template>
          <span md-highlight-text="eventString" md-highlight-flags="i">{{item.EventTitle}}</span>
        </md-item-template>
        <md-not-found> No matching were found. </md-not-found>
      </md-autocomplete>
    </div>
    <div style="width: 40%; float:left; margin-left: 5%">
      <md-autocomplete md-no-cache="false" md-selected-item="selectedCity" md-search-text="cityString" md-delay="500"
                       md-items="item in citySearch(cityString)" md-selected-item-change="DiscoverByCity()" md-select-on-focus
                       md-item-text="item.description" md-min-length="2" placeholder="City" press-enter="DiscoverByCity()">
        <md-item-template>
          <span md-highlight-text="cityString" md-highlight-flags="i">{{item.description}}</span>
        </md-item-template>
        <md-not-found> No matching were found. </md-not-found>
      </md-autocomplete>
    </div>
  </md-content>
</div>

