@model EventCombo.Models.Footer
<footer id="footerController" ng-controller="FooterController as footCtrl" ng-cloak>
  <div class="footer-left">
    <div>
      <strong>Cities</strong><br>
      <p>
        @foreach (var city in Model.Cities)
        {
          <a href="~/et/evt/evc/all/page/@city.Latitude/@city.Longitude/rel/none" ng-click="onCityClick(@city.Latitude, @city.Longitude)">@city.CityName</a><br>
        }
      </p>
      <div class="social">
        <a href="https://www.facebook.com/eventcombo" target="_blank"><img src="~/Images/AMaterial/square-facebook.svg" width="20px" alt="Facebook"></a>
        <a href="https://www.twitter.com/eventcombo" target="_blank"><img src="~/Images/AMaterial/square-twitter.svg" width="20px" alt="Twitter"></a>
        <a href="https://www.linkedin.com/company/eventcombo" target="_blank"> <img src="~/Images/AMaterial/square-linkedin.svg" width="20px" alt="LinkedIn"></a>
      </div>
    </div>
    <div>
      <div>
        <strong>Events</strong><br>
        <p>
          @foreach (var eventType in Model.EventTypes)
          {
              <a href="~/et/@(eventType.EventTypeID.ToString())/evc/all/page/{{cCoords.latitude}}/{{cCoords.longitude}}/rel/none">@eventType.EventType1</a><br>
          }
        </p>
      </div>
    </div>
  </div>
  <div class="footer-right">
    @foreach (var page in Model.BusinessPages)
    {
      <a href="@Url.Action("BusinessPage", "BusinessPages", new { PageNameUrl = page.PageNameUrl })">@page.PageName</a> <span>|</span>
    }
    <a href="@Url.Action("CreateEvent", "EventManagement")">Create an Event</a> <span>|</span>
    <a ng-click="contactEventcombo($event)">Contact Eventcombo</a> <span>|</span>
    <a href="/labs">Labs</a>
  </div>
  <div id="footerlogo" style="background-position: -414vh 0px;">
    <div class="footerwhite"></div>
  </div>
    <script type="text/ng-template" id="eventcombo.tmpl.html">
        <md-dialog aria-label="Contact Eventcombo" data-ng-app="eventComboApp">
            <form name="eventcomboForm" novalidate>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <h2 class="cntTitle">Need to get in touch? We're listening.</h2>
                        <p class="cntSubtitle">There's a good chance we have an answer in our <a href="@Url.Action("BusinessPage","BusinessPages",new { PageNameUrl="ticket-purchase-faq"})">F.A.Q.</a> <br />Didn't find what you're looking for? Complete the form below and we'll get back to you right away.</p>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Name</label>
                            <input md-no-asterisk name="cntName" ng-model="cntName" required ng-keypress="submitted=false">
                            <div ng-messages="eventcomboForm.cntName.$error">
                                <div ng-message="required">Please enter your Name!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Email</label>
                            <input type="email" required name="cntEmail" ng-model="cntEmail" ng-pattern="/^.+@("@").+\..+$/" ng-keypress="submitted=false" />
                            <div ng-messages="eventcomboForm.cntEmail.$error" role="alert">
                                <div ng-message="required">Please enter your Email Address!</div>
                                <div ng-message="pattern">Please use valid email format!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block max350">
                            <label>Phone</label>
                            <input tel-mask name="cntPhone" ng-model="cntPhone" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4,5}$/" />
                            <div ng-messages="eventcomboForm.cntPhone.$error">
                                <div ng-message="pattern">Please enter a valid phone number pattern - ###-###-####</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="width160">
                            <label>Category</label>
                            <md-select ng-model="cntCategory" ng-change="getSubCategories()">
                                <md-option ng-repeat="category in Categories">
                                    {{category}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="width160">
                            <label>Sub Category</label>
                            <md-select ng-model="cntSubCategory">
                                <md-option ng-repeat="subcategory in SubCategories">
                                   {{subcategory}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea ng-model="cntMessage" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-dialog-actions layout="row">
                            <md-button class="cntButton" ng-click="cancel()">Cancel</md-button>
                            <md-button class="cntButton" type="submit" ng-click="sendContactMessageEventcombo('eventcomboForm')">Submit</md-button>
                        </md-dialog-actions>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="forwardfriend.tmpl.html">
        <md-dialog aria-label="Forward to Friend">
            <form name="forwardfriendForm" novalidate>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <h2 class="cntTitle">{{CMessage.Title}} - Forward to Friend(s)</h2>
                        <input type="hidden" name="Id" ng-model="Id" value="{{CMessage.Id}}" />
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>My Name</label>
                            <input md-no-asterisk name="myName" ng-model="CMessage.Name" required ng-keypress="submitted=false">
                            <div ng-messages="forwardfriendForm.myName.$error">
                                <div ng-message="required">Please enter your Name!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>My Email Address</label>
                            <input type="email" required name="myEmail" ng-model="CMessage.Email" ng-pattern="/^.+@("@").+\..+$/" ng-keypress="submitted=false" />
                            <div ng-messages="forwardfriendForm.myEmail.$error" role="alert">
                                <div ng-message="required">Please enter your Email Address!</div>
                                <div ng-message="pattern">Please use valid email format!</div>
                            </div>
                        </md-input-container>
                        <md-input-container layout="column">
                            <label>Send to</label>
                            <md-chips class="sendTo" ng-model="CMessage.To" ng-init="keys=[13,188]" md-separator-keys="keys" placeholder="Enter an email address" type="email" md-transform-chip="chipValidation($chip)" md-require-match="true" md-add-on-blur="true"></md-chips>
                            <ng-messages class="showError" ng-show="isEmailValid">Please use valid email format!</ng-messages>
                            <div ng-messages="CMessage.To.$error" role="alert">
                                <div ng-message="pattern">Please use valid email format!</div>
                            </div>
                            <div class="hint showHint">Allow to enter multiple email addresses by separating by comma</div>
                        </md-input-container>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Subject</label>
                            <input name="Subject" ng-model="CMessage.Subject" required value="{{CMessage.Title}}" />
                            <div ng-messages="forwardfriendForm.Subject.$error">
                                <div ng-message="required">Please enter Subject!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea name="cntMessage" ng-model="CMessage.Message" required rows="3" md-select-on-focus></textarea>
                            <div ng-messages="forwardfriendForm.cntMessage.$error">
                                <div ng-message="required">Please enter message!</div>
                            </div>
                        </md-input-container>
                        <md-dialog-actions layout="row">
                            <md-button class="cntButton" ng-click="cancel()">Cancel</md-button>
                            <md-button class="cntButton" type="submit" ng-click="sendFriendMessage('forwardfriendForm')">Send</md-button>
                        </md-dialog-actions>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="organizer.tmpl.html">
        <md-dialog aria-label="Contact Organizer">
            <form name="organizerForm" novalidate>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <h2 class="cntTitle">Contact {{CMessage.OrganizerName}} for {{CMessage.EventName}}</h2>
                        <p class="cntSubtitle">Contact {{CMessage.OrganizerName}} if you have any questions or comments regarding their event</p>
                        <input type="hidden" name="EventId" ng-model="CMessage.EventId" value="{{CMessage.EventId}}" />
                        <input type="hidden" name="OrganizerId" ng-model="CMessage.OrganizerId" value="{{CMessage.OrganizerId}}" />
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Name</label>
                            <input md-no-asterisk name="cntName" ng-model="CMessage.Name" required ng-keypress="submitted=false">
                            <div ng-messages="organizerForm.cntName.$error">
                                <div ng-message="required">Please enter your Name!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Email</label>
                            <input type="email" required name="cntEmail" ng-model="CMessage.Email" ng-pattern="/^.+@("@").+\..+$/" ng-keypress="submitted=false" />
                            <div ng-messages="organizerForm.cntEmail.$error" role="alert">
                                <div ng-message="required">Please enter your Email Address!</div>
                                <div ng-message="pattern">Please use valid email format!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-2em-bottom max350">
                            <label>Phone</label>
                            <input tel-mask name="cntPhone" ng-model="CMessage.Phone" required ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4,5}$/" />
                            <div ng-messages="organizerForm.cntPhone.$error">
                                <div ng-message="required">Please enter your Phone!</div>
                                <div ng-message="pattern">Please enter a valid phone number pattern - ###-###-####</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea name="cntMessage" ng-model="CMessage.Message" required rows="3" md-select-on-focus></textarea>
                            <div ng-messages="forwardfriendForm.cntMessage.$error">
                                <div ng-message="required">Please enter message!</div>
                            </div>
                        </md-input-container>
                        <md-dialog-actions layout="row">
                            <md-button class="cntButton" ng-click="cancel()">Cancel</md-button>
                            <md-button class="cntButton" type="submit" ng-click="sendOrganizerMessage('organizerForm')">Send</md-button>
                        </md-dialog-actions>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>

</footer>

