@using EventCombo.Models

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  @if (Model is IOpenGraphProtocol)
  {
    IOpenGraphProtocol ogp = Model as IOpenGraphProtocol;
    <meta property="og:url" content="@ogp.OGPUrl" />
    <meta property="og:type" content="@ogp.OGPType" />
    <meta property="og:title" content="@ogp.OGPTitle" />
    <meta property="og:description" content="@ogp.OGPDescription" />
    <meta property="og:image" content="@ogp.OGPImage" />
  }
  <link rel="icon" href="javascript:void(0)">
  @{
    IBaseViewModel bModel = Model as IBaseViewModel;
    if (bModel == null)
    {
      bModel = new BaseViewModel() { BaseTitle = "Eventcombo", BaseUserName = "Unknown" };
    }
  }
  <title>@bModel.BaseTitle</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,400,300,300italic,400italic,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  @Styles.Render("~/Content/angularHeader")
  @RenderSection("CSSSection")

  <script src="~/Scripts/AMaterial/jquery-1.12.3.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>

  @Scripts.Render("~/Scripts/AMaterial/angularHeader")
  @RenderSection("ScriptSection")
  <script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings.Get("GoogleAPIKey"))&v=3.exp&sensor=true&libraries=places"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var randNum = Math.round(Math.random() * (600) - 500);
      document.getElementById('footerlogo').style.backgroundPosition = randNum + 'vh 0px';
    });
  </script>

</head>
<body ng-app="EventComboApp" ng-cloak>
  @{ Html.RenderPartial("_AngularHeader", bModel); }
  @RenderBody()
  @{ Html.RenderAction("Footer", "Home"); }
  @RenderSection("ScriptFooterSection")
</body>
</html>