@model string
<div id="sidebar" class="nav nav-stacked">
  <div id="accordion" class="panel-group">

    <div class="panel panel-default menu_list">
      <a class="menu_title" href="#">
        <div class="panel-heading">
          < My Account
        </div>
      </a>
    </div>
    <div class="panel panel-default menu_list">
      <a class="menu_title" href="#" title="@ViewBag.EventTitle">
        <div class="panel-heading activeyellow act_ellipses">
          @ViewBag.EventTitle
        </div>
      </a>
    </div>
    <div class="panel panel-default menu_list">
      <a class="menu_title" href="#">
        <div class="panel-heading">
          Event Help
        </div>
      </a>
    </div>
    <div class="panel panel-default menu_list">
      <a class="menu_title" href="#">
        <div class="panel-heading">
          Event Bundles
        </div>
      </a>
    </div>
    <div class="panel panel-default menu_list">
      <a class="menu_title" href="#">
        <div class="panel-heading">
          Event Dashboard
        </div>
      </a>
    </div>
    <div class="panel panel-default menu_list">
      <a id="orderoptions" class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapseOrderOption">
        <div class="panel-heading @(Model == "orderoptions" ? "active" : "")">
          Modify Order Options <b class="closed"></b>
        </div>

      </a>
      <div id="collapseOrderOption" class="panel-collapse collapse @(Model == "orderoptions" ? "in" : "" )">
        <div class="panel-body no-padding">
          <p>@Html.ActionLink("Order Form", "Form", "OrderOptions", new { eventId = @ViewBag.EventId }, null) </p>
          <p>@Html.ActionLink("Order Confirmation", "Confirmation", "OrderOptions", new { eventId = @ViewBag.EventId }, null)</p>
          <p>@Html.ActionLink("Event Type & Language", "EventType", "OrderOptions", new { eventId = @ViewBag.EventId }, null)</p>
          <p>@Html.ActionLink("Waitlist", "Waitlist", "OrderOptions", new { eventId = @ViewBag.EventId }, null)</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default menu_list">
      <a id="manageattendees" class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapseManageAttendees">
        <div class="panel-heading @(Model == "manageattendees" ? "active" : "")">
          Manage Attendees <b class="closed"></b>
        </div>
      </a>
      <div id="collapseManageAttendees" class="panel-collapse collapse @(Model == "manageattendees" ? "in" : "")">
        <div class="panel-body no-padding">
          <p>@Html.ActionLink("Orders", "Orders", "ManageAttendees")</p>
          <p>@Html.ActionLink("Add Attendees", "Add", "ManageAttendees")</p>
          <p>@Html.ActionLink("Emails to Attendees", "Email", "ManageAttendees")</p>
          <p>@Html.ActionLink("Guest List", "Guests", "ManageAttendees")</p>
          <p>@Html.ActionLink("Name Badges", "Badges", "ManageAttendees")</p>
          <p>@Html.ActionLink("Check-in", "Checkin", "ManageAttendees")</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default menu_list">

      <a id="inviteandpromote" class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <div class="panel-heading @(Model == "inviteandpromote" ? "active" : "")">
          Invite and Promote <b class="closed"></b>
        </div>
      </a>

      <div id="collapse2" class="panel-collapse collapse @(Model == "inviteandpromote" ? "in" : "")">
        <div class="panel-body no-padding">
          <p>Email Invitations</p>
          @if (ViewBag.DiscountCode > 0)
          {
            <p>@Html.ActionLink("Promotional Code", "PromotionalCodes", "ManageEvent", new { Eventid = ViewBag.EventId }, null)</p>
          }
          else
          {
            <p>@Html.ActionLink("Promotional Code", "CreatePromotionalCodes", "ManageEvent", new { Eventid = ViewBag.EventId }, null)</p>
          }
          <p>Facebook Integration</p>
          <p>Website Integration</p>
          <p>Tracing Links</p>
          <p>Affialate Programs</p>
          <p>Social Stream</p>




        </div>
      </div>
    </div>

  </div>
</div>



