@model IEnumerable<CMS.Models.EventCategory>
    @*@model CMS.Models.EventCategory*@
    @{
        ViewBag.Title = "EventCategory";
        //Layout = "~/Views/Shared/_Layout.cshtml";
    }



    <section id="content_wrapper">
        @*@using (Html.BeginForm("EventCategory", "EventCategory", FormMethod.Post, new { id = "formEvntCat"}))
        {
        if (TempData["SuccessMessage"] != null)
        {*@
        <div class="alert alert-micro alert-border-left  alert-danger pastel alert-dismissable mn mb5" id="diverr" style="display:none;">
            <button type="button" class="close" onclick="$('#diverr').hide();">×</button>
            <i class="fa fa-info pr10"></i> <span id="spanerr"></span>
        </div>
        <div class="alert alert-micro alert-border-left  alert-success pastel alert-dismissable mn mb5" id="divsuccc" style="display:none;">
            <button type="button" class="close"  onclick="$('#divsuccc').hide();">×</button>
            <i class="fa fa-info pr10"></i> <span id="spanid"> @TempData["SuccessMessage"]</span>
        </div>
       
        @*}*@
        <div class="row" id="modal-content">
            <div class="col-md-12 mt10">
                <div class="panel ">
                    <div class="col-md-12 admin-grid animated-delay" data-animate='["400","fadeIn"]'>
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="view_evnt fs26">Event Category</span>
                            </div>

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="col-md-12 nopad">
                                        <ul class="nav add-cat-nav">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle add-cat-pop" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    + Add Category
                                                    <span class="caret caret-tp"></span>
                                                </a>
                                                <div class="col-sm-12 dropdown-menu dropdown-menu-cus catbg">
                                                    <div class="col-md-12 nopad">
                                                        <div class="col-md-7">
                                                            @Html.TextBox("txtEventCategory", null,new {@class="form-control",@maxlength=35,@placeholder="Enter Category Name"})
                                                        </div>
                                                        <div class="col-md-5 ">
                                                            <button class="btn btn-primary" name="button" value="Add" id="btnAddCat" type="submit">+ Add </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix">
                                        <input type="hidden" id="hdCatid" />
                                        <input type="hidden" id="hdSubcatid" />
                                    </div>
                                    <div id="dvEventCategoryListContainer">
                                        <div class="col-md-12 mt10 nopad">
                                            <table id="tabCategory" width="100%">
                                                <tbody>
                                                    @{
                                                        int i = 0;
                                                        int j = 0;
                                                        foreach (var itemCat in Model)
                                                        {
                                                            i = i + 1;
                                                            <tr class="col-sm-12 catbg">
                                                                <td class="col-sm-12">
                                                                    <label id="lblEvntCatName-@i">@itemCat.EventCategory1</label>
                                                                    <input type="text" id="txtEventcatname-@i" value="@itemCat.EventCategory1" style="display:none;" />
                                                                </td>
                                                                <td class="pl5">
                                                                    <button id="btnEditcatfinal-@i" class="btn btn-primary br2 btn-xs fs12" style="display:none;" onclick="EditCategoryfinal(this.id)" type="button"><i class="fa fa-edit"></i></button>
                                                                    <button id="btnEditcat-@i" class="btn btn-success br2 btn-xs fs12" onclick="EditCategory('@itemCat.EventCategoryID',this.id)" type="button"><i class="fa fa-edit"></i></button>
                                                                </td>
                                                                <td class="pl5">
                                                                    @if (!itemCat.CategoryPresent)
                                                                    {
                                                                    <a class="btn btn-danger br2 btn-xs fs12" onclick="ConfirmDelete('@itemCat.EventCategoryID');" type="button" href="#confirm-delete-ok" data-toggle="modal" id="btnDeleteCat-@i">
                                                                        <i class="fa fa-remove"></i>
                                                                    </a>
                                                                    }
                                                                    @*<button id="btnDeleteCat-@i" type="button" onclick="DeleteCatgry('@itemCat.EventCategoryID');" class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>*@
                                                                </td>
                                                            </tr>


                                                            <tr class="col-sm-11 mt10 catbg col-sm-offset-1 mb10">
                                                                <td style="width: 100%; float: left;">
                                                                    <table width="100%">
                                                                        <tr class="col-sm-12 crt-subcat">
                                                                            <td>
                                                                                <div class="col-md-12">
                                                                                    <ul class="nav add-cat-nav">
                                                                                        <li class="dropdown">
                                                                                            <a href="#" class="dropdown-toggle add-cat-pop" data-toggle="dropdown" role="button" aria-expanded="false">
                                                                                                + Add Subcategory
                                                                                                <span class="caret caret-tp"></span>
                                                                                            </a>
                                                                                            <div class="col-sm-12 dropdown-menu dropdown-menu-cus catbg">
                                                                                                <div class="col-md-12 nopad">
                                                                                                    <div class="col-md-9">
                                                                                                        <input type="text" id="txtEventSubCategory-@i" placeholder="Enter Sub Category Name" class="form-control" />
                                                                                                    </div>
                                                                                                    <div class="col-md-3 ">
                                                                                                        <button class="btn btn-primary" name="submit" value="Add" id="btnAddSubCat" onclick="AddSubCat('@itemCat.EventCategoryID',document.getElementById('txtEventSubCategory-@i').value);" type="button">+ Add </button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        @{
                                                                            foreach (var itemSubCat in itemCat.ESubCat)
                                                                            {
                                                                                j = j + 1;
                                                                                <tr class="col-sm-12 crt-subcat2">
                                                                                    <td class="col-sm-12">
                                                                                        <label id="lblEvntSubCatName-@j">@itemSubCat.EventSubCategory1 </label>
                                                                                        <input type="text" id="txtEvntSubCatName-@j" style=" display:none;" value="@itemSubCat.EventSubCategory1" />
                                                                                    </td>
                                                                                    <td class="pl5">
                                                                                        <button id="btnEditSubfinalCat-@j" onclick="EditSubCatFinal(this.id);" type="button" class="btn btn-primary br2 btn-xs fs12" style="display:none;"><i class="fa fa-edit"></i></button>

                                                                                        <button id="btnEditSubCat-@j" onclick="EditSubCat('@itemCat.EventCategoryID','@itemSubCat.EventSubCategoryID',this.id);" type="button" class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                                                                    </td>
                                                                                    <td class="pl5">
                                                                                        @if (!itemSubCat.EvntSubCatPresent)
                                                                                        {
                                                                                        <a class="btn btn-danger br2 btn-xs fs12" onclick="ConfirmDeletesubcat('@itemCat.EventCategoryID','@itemSubCat.EventSubCategoryID');" type="button" href="#confirm-delete-ok" data-toggle="modal" id="btnDeleteSubCat-@i">
                                                                                            <i class="fa fa-remove"></i>
                                                                                        </a>
                                                                                        }
                                                                                        @*<button id="btnDeleteSubCat-@j" onclick="DeleteSubCat('@itemCat.EventCategoryID','@itemSubCat.EventSubCategoryID');" type="button" class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>*@
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                                            }
                                                    }
                                                </tbody>
                                            </table>
                                            @*<div class="col-sm-12 catbg">
                    <div class="col-sm-10">
                        @Html.Label("Community/Cultural")
                    </div>
                    <div class="col-sm-2 text-right">
                        <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                    </div>
                </div>*@

                                            @*<div class="col-sm-11 mt10 catbg col-sm-offset-1 mb10">
                    <div class="col-md-12 crt-subcat">
                        <ul class="nav add-cat-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle add-cat-pop" data-toggle="dropdown" role="button" aria-expanded="false">
                                    + Add Subcategory
                                    <span class="caret caret-tp"></span>
                                </a>
                                <div class="col-sm-12 dropdown-menu dropdown-menu-cus catbg">
                                    <div class="col-md-12 nopad">
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" placeholder="Enter category name">
                                        </div>
                                        <div class="col-md-5 ">
                                            <button class="btn btn-primary" type="submit">+ Add </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 nopad sub-cat-main-cont">
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10"> Sub-Community/Cultural </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10"> Sub-Community/Cultural </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10"> Sub-Community/Cultural </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10"> Sub-Community/Cultural </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10">Sub- Community/Cultural </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>

                </div>*@

                                        </div>
                                    </div>
                                        @*<div class="col-md-12 mt10 nopad">

                <div class="col-sm-12 catbg">
                    <div class="col-sm-10">Community/Cultural </div>
                    <div class="col-sm-2 text-right">
                        <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                    </div>
                </div>

                <div class="col-sm-11 mt10 catbg col-sm-offset-1 mb10">
                    <div class="col-md-12 crt-subcat">
                        <ul class="nav add-cat-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle add-cat-pop" data-toggle="dropdown" role="button" aria-expanded="false">
                                    + Add Subcategory
                                    <span class="caret caret-tp"></span>
                                </a>
                                <div class="col-sm-12 dropdown-menu dropdown-menu-cus catbg">
                                    <div class="col-md-12 nopad">
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" placeholder="Enter category name">
                                        </div>
                                        <div class="col-md-5 ">
                                            <button class="btn btn-primary" type="submit">+ Add </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 nopad sub-cat-main-cont">
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10">Sub-Community/Cultural 2 </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10"> Sub-Community/Cultural 2 </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10">Sub-Community/Cultural 2 </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10"> Sub-Community/Cultural 2 </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 sub-cat-mar">
                            <div class="col-sm-10">Sub-Community/Cultural 2 </div>
                            <div class="col-sm-2 text-right">
                                <button class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>*@

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    
        <div class="modal fade" id="confirm-delete-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
                <div class="modal-content">

                    <form id="contactForm" class="fullw1 add">
                        <div class="modal-body text-center pv50 txt-msg">

                            <h4 class="msg" id="hId"></h4>
                        </div>
                        <div class="modal-footer msg-action-btn ok">
                            <button type="submit" id="btnYes" class="btn btn-primary no" data-dismiss="modal">Yes</button>
                            <button type="submit" id="btnYessubcat" class="btn btn-primary no" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-primary yes ok" id="btMesOk" data-dismiss="modal">OK</button>
                            <button type="button" id="btnNo" class="btn btn-primary no" data-dismiss="modal">No</button>
                        </div>
                    </form>
                    <input type="hidden" id="hdUserId" value="" />
                </div>
            </div><!-- confirm-msg -->
        </div>
                                                                @*}*@
    </section>
    <script src="~/Scripts/jquery.masked.js"></script>
    <script type="text/javascript">
        function ConfirmDeletesubcat(catid,subcatid)
        {
            $('#hdCatid').val(catid);
            $('#hdSubcatid').val(subcatid);
            $("#btnYes").hide();
            $("#btnNo").show();
            $("#btnYessubcat").show();

            $("#btMesOk").hide();



            $("#hId").text(GetMess("EventCatogary", "EventCatDeleteUi"));


            return false;
        }
        function ConfirmDelete(userId) {
            $("#hdCatid").val(userId);
            $("#btnYes").show();
            $("#btnNo").show();
            $("#btnYessubcat").hide();

            $("#btMesOk").hide();



            $("#hId").text(GetMess("EventCatogary", "EventCatDeleteUi"));


            return false;

        }
        function GetMess(strname, strFormTag) {
            var msgnew = "";

            var request = $.ajax({
                url: '@Url.Action("Index", "ValidationMessage")',
                async: false,
                data: { strFormName: strname, strFormTag: strFormTag },
                type: 'Post'
            });
            request.done(function (msg) {
                msgnew += msg;
            });

            request.fail(function (jqXHR, textStatus) {
                msgnew += "Some Error occur!!";
            });
            return msgnew;
        }
                $(window).load(function () {
                    $("#EventSubCategoryListBox").hide();
                    $("#lblSubCatList").hide();
                    $("#btnReset").hide();
                    $("#btnEdit").hide();
                    $("#btnDelete").hide();
                });
                $('#btnAddCat').click(function () {

                    var txtcat = $('#txtEventCategory').val();
                    if (txtcat != '') {
                        $.ajax({
                            url: '@Url.Action("AddCategories", "EventCategory")',
                            data: { txtcat: txtcat },
                            type: "POST",
                            success: function (response) {
                                $("#txtEventCategory").val('');
                                SuccessMessage(response);
                                LoadEventTypeListAsyn();
                                //window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
                            },
                            error: function (data) {
                                alert("Sorry! there is some problem.");
                                return false
                            }
                        });
                    } else {
                        $("#spanerr").html("Please enter Category");
                        $("#diverr").show();
                   
                        $("#divsuccc").hide();
                    }



                });
                function EditCategoryfinal(id)
                {
                    var no = id.substr(id.indexOf('-') + 1, id.length - id.indexOf('-'));
                    var catid = $('#hdCatid').val();

                    var catname = $('#txtEventcatname-' + no).val();
                    $.ajax({
                        url: '@Url.Action("EditCategories", "EventCategory")',
                        data: { iEvntCtgryId: catid, strNewCatName: catname },
                        type: "POST",
                        success: function (response) {
                            SuccessMessage(response);
                            LoadEventTypeListAsyn();
                            //window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
                        },
                        error: function (data) {
                            alert("Sorry! there is some problem.");
                            return false
                        }
                    });

                }

                function EditCategory(Catid,id)
                {
                    var no = id.substr(id.indexOf('-') + 1, id.length - id.indexOf('-'));
                    $('#hdCatid').val(Catid);
                    $('#txtEventcatname-' + no).css('display', 'block');
                    $('#btnEditcatfinal-'+no).css('display', 'block');
                    $('#lblEvntCatName-' + no).css('display', 'none');
                    $('#btnEditcat-' + no).css('display', 'none');

                }

                $("#btnYessubcat").click(function () {

                     $.ajax({
                        url: '@Url.Action("DeleteSubCategories", "EventCategory")',
                         data: { iEvntCtgryId: $("#hdCatid").val(), iEvntSubCtgryId: $("#hdSubcatid").val() },
                        type: "POST",
                        success: function (response) {
                            SuccessMessage(response);
                            LoadEventTypeListAsyn();
                            //window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
                        },
                        error: function (data) {
                            alert("Sorry! there is some problem.");
                            return false
                        }
                    });
                });
                $("#btnYes").click(function () {

                     $.ajax({
                        url: '@Url.Action("DeleteCategories", "EventCategory")',
                         data: { iEvntCtgryId: $("#hdCatid").val() },
                        type: "POST",
                        success: function (response) {
                            SuccessMessage(response);
                            LoadEventTypeListAsyn();
                            //window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
                        },
                        error: function (data) {
                            alert("Sorry! there is some problem.");
                            return false
                        }
                    });

                });
                function DeleteCatgry(CatId) {

                    $.ajax({
                        url: '@Url.Action("DeleteCategories", "EventCategory")',
                        data: { iEvntCtgryId: CatId},
                        type: "POST",
                        success: function (response) {
                            if (response != '') {
                                SuccessMessage(response);
                            }
                            LoadEventTypeListAsyn();
                            //window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
                        },
                        error: function (data) {
                            alert("Sorry! there is some problem.");
                            return false
                        }
                    });
                }
        function AddSubCat(CatId,SubCatName)
        {
            if (SubCatName!='')
            {
            $.ajax({
                url: '@Url.Action("AddSubCategories", "EventCategory")',
                data: { iEvntCtgryId: CatId, strSubCatName: SubCatName },
                type: "POST",
                success: function (response) {
                    $("#" + CatId).val('');
                    SuccessMessage(response);
                    LoadEventTypeListAsyn();
                //window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
            },
                error: function (data) {
                    alert("Sorry! there is some problem.");
                    return false
            }
            });
            } else {

                $("#spanerr").html("Please enter sub Category");
                $("#diverr").show();
                $('html,body').animate({ scrollTop: 0 });
                $("#divsuccc").hide();
            }
                }
                function DeleteSubCat(CatId, EvntSubCatId)
                {

                    $.ajax({
                        url: '@Url.Action("DeleteSubCategories", "EventCategory")',
                        data: { iEvntCtgryId: CatId, iEvntSubCtgryId: EvntSubCatId},
                        type: "POST",
                        success: function (response) {
                            if (response != '') {
                                SuccessMessage(response);
                            }
                            LoadEventTypeListAsyn();
                            // window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
                        },
                        error: function (data) {
                            alert("Sorry! there is some problem.");
                            return false
                        }
                    });
                }

        function EditSubCatFinal(id)
        {
            var no = id.substr(id.indexOf('-') + 1, id.length - id.indexOf('-'));
            var catid = $('#hdCatid').val();
            var subcatid = $('#hdSubcatid').val();
           var subcatname= $('#txtEvntSubCatName-' + no).val();
           $.ajax({
               url: '@Url.Action("EditSubCategories", "EventCategory")',
               data: { iEvntCtgryId: catid, iEvntSubCtgryId: subcatid, subcatname: subcatname },
               type: "POST",
               success: function (response) {
                   SuccessMessage(response);
                   LoadEventTypeListAsyn();
                   //window.location.href = '@Url.Action("EventCategory", "EventCategory", new { })?msg=' + response;
               },
               error: function (data) {
                   alert("Sorry! there is some problem.");
                   return false
               }
           });
        }
                function EditSubCat(CatId,EvntSubCatId,id)
                {
                    var no = id.substr(id.indexOf('-') + 1, id.length - id.indexOf('-'));
                    $('#hdSubcatid').val(EvntSubCatId);
                    $('#hdCatid').val(CatId);
                    $('#lblEvntSubCatName-' + no).css('display', 'none');
                    $('#txtEvntSubCatName-' + no).css('display', 'block');
                    $('#btnEditSubCat-' + no).css('display', 'none');
                    $('#btnEditSubfinalCat-' + no).css('display', 'block');

                    @*$.ajax({
                        url: '@Url.Action("AddSubCategories", "EventCategory")',
                        data: { iEvntCtgryId: CatId, iEvntSubCtgryId: EvntSubCatId, strNewSubCatName: SubCatName },
                        type: "POST",
                        success: function (response) {
                            $("#formEvntCat").submit();
                        },
                        error: function (data) {
                            alert("Sorry! there is some problem.");
                            return false
                        }
                    });*@
                }
                $(document).ready(function () {
                    $('#btnReset').click(function () {
                        $("#btnCreate").show();
                        $("#btnAddSub").show();
                        $("#lblSubCat").show();
                        $("#EventSubCategory1").show();
                        $("#EventSubCategoryListBox").hide();
                        $("#lblSubCatList").hide();
                        $("#EventCategory1").val('');
                        $("#btnReset").hide();
                        $("#btnEdit").hide();
                        $("#btnDelete").hide();
                        $("#EventSubCategoryListBox").empty();

                    });

                    $('#btnAddSub').click(function () {
                        $("#EventSubCategoryListBox").show();
                        $("#lblSubCatList").show();
                        var newListValue = $('#EventSubCategory1').val();
                        if ($.trim(newListValue) != '') {
                            $('#EventSubCategoryListBox').append('<option>' + newListValue + '</option>');
                            vval = $("#hdESCat").val();
                            if (vval == "")
                                $("#hdESCat").val(newListValue);
                            else
                                $("#hdESCat").val(vval + ',' + newListValue);
                        }
                    });

                    $("#EventCategoryListBox option").click(function () {
                        $("#EventSubCategoryListBox").show();
                        $("#lblSubCatList").show();
                        $("#EventSubCategory1").hide();
                        $("#btnAddSub").hide();
                        $("#lblSubCat").hide();
                        $("#btnCreate").hide();
                        $("#btnReset").show();
                        $("#btnEdit").show();
                        $("#btnDelete").show();
                        $("#diverr").hide();
                        $("#divsuccc").hide();
                        var _this = $(this);
                        $("#EventCategory1").val($(_this).text());
                        $("#EventSubCategoryListBox").empty();
                        var eid = $('#EventCategory1').val();
                        $.ajax({
                            url: '@Url.Action("GetSubCategories", "EventCategory")',
                            data: { EvntCtgry: eid },
                            type: "Post",
                            success: function (data) {
                                var strary = data.split(',');
                                for (var i = 0; i < strary.length; i++) {
                                    $('#EventSubCategoryListBox').append('<option>' + strary[i] + '</option>');

                                }
                                $("#EventSubCategoryListBox option").click(function () {
                                    $("#lblSubCat").show();
                                        $("#EventSubCategory1").show();
                                        var _this = $(this);
                                        $("#EventSubCategory1").val($(_this).text());

                                });
                            },
                            error: function (data) {
                                alert("Sorry! there is some problem.");
                                return false
                            }
                        });

                    });
                });
        function LoadEventTypeListAsyn() {
            $('#dvEventCategoryListContainer').load('@Url.Action("EventCategoryList", "EventCategory")');
       }
        function SuccessMessage(msg) {
            
            if (msg == "SA") {
                $("#spanid").html("Event subcategory added successfully");

            }
            if (msg == "SX") {
                $("#spanid").html("Event subcategory already exist");

            }
            if (msg == "DS") {
                $("#spanid").html("Subcategory deleted successfully");

            }
            if (msg == "DC") {
                $("#spanid").html("Category deleted successfully");

            }
            if (msg == "ES") {
                $("#spanid").html("Subcategory updated  successfully");

            }
            if (msg == "EC") {
                $("#spanid").html("Category updated  successfully");

            }
            if (msg == "CX") {
                $("#spanid").html("Category already exist");

            }
            if (msg == "CA") {
                $("#spanid").html("Category saved successfully ");

            }
         
            $("#divsuccc").show();
            $("#diverr").hide();
            $("#divsuccc").focus();
        }
    </script>

