@model CMS.Models.EventCategory
@{
    ViewBag.Title = "EventCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



            <section id="content_wrapper">
                @using (Html.BeginForm())
                {
                    if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-micro alert-border-left alert-success pastel alert-dismissable mn mb5" id="divsuccc">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-info pr10"></i> <span id="spanid"> @TempData["SuccessMessage"]</span>
                        </div>
                    }
                    <div class="row" id="modal-content">
                        <div class="col-md-12 mt10">
                            <div class="panel ">                              
                                    <div class="col-md-12 admin-grid animated-delay" data-animate='["400","fadeIn"]'>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <span class="view_evnt fs26">Event Category</span>
                                            </div>

                                            <div class="panel-body">
                                                <div class="col-md-12">

                                                    <div class="col-md-8">
                                                        <form class="form-horizontal" role="form">

                                                            <div class="col-md-12 row">
                                                                <div class="form-group">
                                                                    <label class="col-lg-12">Event Category</label>
                                                                    <div class="col-lg-6">
                                                                        @*<input type="text" id="inputStandard" class="form-control">*@
                                                                        @Html.TextBoxFor(m => m.EventCategory1, new { @maxlength = 35, @class = "form-control" })                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 row mt10">
                                                                <div class="form-group">
                                                                    @*<label class="col-lg-12">Event Sub Category</label>*@
                                                                    <label class="col-lg-12" id="lblSubCat">Event Sub Category</label>
                                                                    <div class="col-lg-6">
                                                                        @*<input type="text" class="form-control">*@
                                                                        @Html.TextBoxFor(m => m.EventSubCategory1, new { @maxlength = 35, @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 mt10">
                                                                @*<button class="btn btn-primary col-sm-3" type="submit">Add Sub Category</button>*@
                                                                <button type="button" name="submit" value="Add Sub Category" class="btn btn-primary col-sm-3" id="btnAddSub">Add Sub Category</button>
                                                            </div>
                                                            <div class="col-md-12 row mt10">
                                                                <div class="form-group">
                                                                   
                                                                    <label class="col-lg-12" id="lblSubCatList">Event Sub Category List</label>
                                                                    <div class="col-lg-6">
                                                                        @Html.ListBox("EventSubCategoryListBox", new SelectList(""), new { @class = "form-control" })
                                                                        @Html.Hidden("hdESCat")
                                                                    </div>
                                                                    </div>                                                                    
                                                                   
                                                            </div>

                                                            <div class="col-md-12 mt10">
                                                                @*<button class="btn btn-primary col-sm-3" type="submit">Add Sub Category</button>*@
                                                                @*<button type="button" name="submit" value="y" class="btn btn-primary col-sm-3" id="btnAddSub">Add Sub Category</button>*@
                                                                <div class="col-md-12 row">
                                                                    <button type="submit" name="submit" value="Create" class="btn btn-primary col-sm-6" id="btnCreate">Create</button>
                                                                </div>
                                                                <div class="col-md-10 row">
                                                                    <div class="col-md-6 row"><button type="button" name="submit" value="Reset" class="btn btn-primary col-sm-4" id="btnReset">Reset</button></div>
                                                                    <div class="col-md-6 row"><button type="submit" name="submit" value="Edit" class="btn btn-primary col-sm-4" id="btnEdit">Edit</button></div>
                                                                 </div>
                                                                    
                                                                    
                                                                </div>
                                                            <div class="col-md-12 row mt10">
                                                                <div class="form-group">

                                                                    <label class="col-lg-12" id="lblSubCatList">Event  Category List</label>
                                                                    <div class="col-lg-6">
                                                                        @Html.ListBox("EventCategoryListBox", new SelectList(ViewBag.EventCategory), new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                           </div>
</form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>   
                            </div>
                        </div>
                    </div>                    
                }
            </section>

            <script type="text/javascript">

                $(window).load(function () {
                    $("#EventSubCategoryListBox").hide();
                    $("#lblSubCatList").hide();
                    $("#btnReset").hide();
                    $("#btnEdit").hide();
                });

                $(document).ready(function () {                    
                    $('#btnReset').click(function () {                        
                        $("#btnCreate").show();
                        $("#btnAddSub").show();
                        $("#lblSubCat").show();
                        $("#EventSubCategory1").show();
                        $("#EventSubCategoryListBox").hide();
                        $("#lblSubCatList").hide();
                        $("#EventCategory1").val('');
                        $("#btnReset").hide();
                        $("#btnEdit").hide();
                        $("#EventSubCategoryListBox").empty();
                        
                    });

                    $('#btnAddSub').click(function () {                        
                        $("#EventSubCategoryListBox").show();
                        $("#lblSubCatList").show();
                        var newListValue = $('#EventSubCategory1').val();
                        if ($.trim(newListValue) != '') {
                            $('#EventSubCategoryListBox').append('<option>' + newListValue + '</option>');
                            vval = $("#hdESCat").val();
                            if (vval == "")
                                $("#hdESCat").val(newListValue);
                            else
                                $("#hdESCat").val(vval + ',' + newListValue);
                        }
                    });

                    $('#EventSubCategoryListBox option').click(function () {
                        debugger;
                        $("#lblSubCat").show();
                        $("#EventSubCategory1").show();
                        var _this = $(this);
                        $("#EventSubCategory1").val($(_this).text());
                    });

                    $("#EventCategoryListBox option").click(function () {                        
                        $("#EventSubCategoryListBox").show();
                        $("#lblSubCatList").show();
                        $("#EventSubCategory1").hide();
                        $("#btnAddSub").hide();
                        $("#lblSubCat").hide();
                        $("#btnCreate").hide();
                        $("#btnReset").show();
                        $("#btnEdit").show();
                        $("#divsuccc").hide();
                        var _this = $(this);
                        $("#EventCategory1").val($(_this).text());
                        $("#EventSubCategoryListBox").empty();
                        var eid = $('#EventCategory1').val();
                        $.ajax({
                            url: '@Url.Action("GetSubCategories", "EventCategory")',
                            data: { EvntCtgry: eid },
                            type: "Post",
                            success: function (data) {
                                var strary = data.split(',');
                                for (var i = 0; i < strary.length; i++) {
                                    $('#EventSubCategoryListBox').append('<option>' + strary[i] + '</option>');
                                }

                            },
                            error: function (data) {
                                alert("Sorry! there is some problem.");
                                return false
                            }
                        });

                    });                                      
                });
            </script>

