@model EventCombo.Models.Organizer_Master

<div class="col-sm-3">
    <input type="file" name="image" id="input1">
</div>
<div class="col-sm-7">

    <form class="form-horizontal acnt_form">
        <input id="hd_ID" value="@Model.Orgnizer_Id" type="hidden" />
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label ">Name</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-control" placeholder="" type="text" id="txt_name" maxlength="256" value="@Model.Orgnizer_Name" onkeypress="return onlyAlphabets(event,this);">
                        <small class="acnt_form_name_mini">First Name</small>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">Address</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_streetadd1" maxlength="256" value="@Model.Organizer_Address1">
                        <small class="acnt_form_name_mini">Street Address</small>
                    </div>
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_streetaddr2" maxlength="256" value="@Model.Organizer_Address2"> 
                        <small class="acnt_form_name_mini">Street Address 2</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="" type="text" id="txt_city" maxlength="256" value="@Model.Organizer_City">
                        <small class="acnt_form_name_mini">City</small>
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="" type="text" id="txt_state" maxlength="256" value="@Model.Organizer_State">
                        <small class="acnt_form_name_mini">State</small>
                    </div>

                </div>
                <div class="row mt10">
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="" type="text" id="txt_zip" maxlength="5" value="@Model.Organizer_Zipcode">
                        <small class="acnt_form_name_mini">Postal / ZipCode</small>
                    </div>
                    <div class="col-xs-6">
                        @Html.DropDownList("Country", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control selectpicker" })

                        <small class="acnt_form_name_mini">Country</small>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">Email</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_email" maxlength="100" value="@Model.Organizer_Email">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">Phone Number </label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_phnno" value="@Model.Organizer_Phoneno" maxlength="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">Website URL</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_websiteurl" maxlength="256" value="@Model.Organizer_Websiteurl">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">Facebook URL </label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_fburl" maxlength="256" value="@Model.Organizer_FBLink">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">Twitter URL</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_twitterurl" maxlength="256" value="@Model.Organizer_Twitter">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">LinkedIn URL</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 add_form_bot">
                        <input class="form-control" placeholder="" type="text" id="txt_linkedinurl" maxlength="256" value="@Model.Organizer_Linkedin">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-3 control-label acnt_form_label">Description </label>
            <div class="col-md-9 orgaz_editor">
                <!-- <div class="row">
                  <div class="col-xs-12 add_form_bot">
                    <textarea class="form-control"></textarea>
                  </div>
                </div> -->
                <div class="summernote" id="txt_desc">@Model.Organizer_Desc</div>
            </div>
        </div>
        <input type="hidden" id="ImagePresent" />
        <input type="hidden" id="userimage" />
        <input type="hidden" value="0" id="imageeror" />
        <input id="image_count" type="hidden" />
        <button class="btn btn-info col-md-offset-3 acnt_btn" title="" type="button" id="btnsave">Save</button>
    </form>
</div>

<script>
    $("#txt_phnno").mask("999-999-9999");
    function onlyAlphabets(e, t) {



        if (window.event) {

            var charCode = window.event.keyCode;

        }

        else if (e) {

            var charCode = e.which;

        }

        else { return true; }

        if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))

            return true;

        else

            return false;

    }
    $(document).ready(function () {
       
        var userProfileImage = "@Html.Raw(Model.Organizer_Image)";
        var modelcontent = "@Html.Raw(Model.contenttype)";
        var imgdata = userProfileImage + '¶' + modelcontent;
        var j="";
        if(userProfileImage!="")
        {
             j= [{
                "type": "@Model.contenttype",
                "name": "@Model.Organizer_Image",
                "file": "@Model.Imagepath"
            }];
        }
        $('#userimage').val(imgdata);
        $("#image_count").val("1");
        $('#input1').filer({
            limit: '1',
            maxSize: '2',
            extensions: ['jpg', 'jpeg', 'png'],
            changeInput: '<div class="jFiler-input-dragDrop" id="drag-drop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Drag  photo or normal upload</h3> </div></div></div>',
            showThumbs: true,
            appendTo: "#drag-drop",
            theme: "dragdropbox",
            onChange: false,
            templates: {
                box: '<ul class="jFiler-item-list profile-views clearfix"></ul>',
                item: '<li class="jFiler-item">\
                                    <div class="">\
                                            {{fi-image}}\
                                             <div class="jFiler-item-container">\
                                <div class="jFiler-item-inner">\
                                     <div class="jFiler-item-assets jFiler-row">\
                                        <ul class="list-inline pull-left">\
                                            <li>{{fi-progressBar}}</li>\
                                        </ul>\
                                    </div>\
                                    </div>\
                            </div>\
                                            <span></span>\
                                             <button class="btn  jFiler-item-trash-action can_btn" type="button">\
                                                <i class="glyphicon glyphicon-remove-circle"></i>\
                                             </button>\
                                       </div>\
                        </li>',
                itemAppend: '<li class="jFiler-item">\
                                    <div class="">\
                                            {{fi-image}}\
                                             <button class="btn  jFiler-item-trash-action can_btn" type="button">\
                                                <i class="glyphicon glyphicon-remove-circle"></i>\
                                             </button>\
                                       </div>\
                        </li>',


                progressBar: '<div class="bar"></div>',
                itemAppendToEnd: true,
                removeConfirmation: false,
                _selectors: {
                    list: '.jFiler-item-list',
                    item: '.jFiler-item',
                    progressBar: '.bar',
                    remove: '.jFiler-item-trash-action',
                }
            },
            uploadFile: {
                url: "/Account/SaveOrganizerImage",
                data: {},
                type: 'POST',
                enctype: 'multipart/form-data',
                beforeSend: function () { },
                success: function (data, el) {

                    var parent = $("#drag-drop").find( ".jFiler-jProgressBar").parent();
                    $("#drag-drop").find(".jFiler-jProgressBar").fadeOut("slow", function () {
                        $("<div class=\"jFiler-item-others text-success\"><i class=\"icon-jfi-check-circle\"></i> Success</div>").hide().appendTo(parent).fadeIn("slow").remove();
                    });
                   
                    var image_count = $("#image_count").val();
                    var imagejson = jQuery.parseJSON(JSON.stringify(data));
                    var imgdata = imagejson.image_name + '¶' + imagejson.image_type;

                    $('#userimage').val(imgdata);


                    $('#ImagePresent').val("Yes");

                    if ($.trim(image_count) == '') {
                        $("#image_count").val('1');
                    } else {
                        image_count = parseInt(image_count) + 1;
                        $("#image_count").val(image_count);
                    }

                },
                error: function (el) {


                },
                statusCode: {},
                onProgress: function () { },
            },
            dragDrop: {
                dragEnter: function () { },
                dragLeave: function () { },
                drop: function () { },
            },
            addMore: false,
            clipBoardPaste: true,
            excludeName: null,
            beforeShow: function () { $("#drag-drop .jFiler-input-inner").hide(); return true },
            onSelect: function () { $("#drag-drop.jFiler-input-inner").hide(); },
            afterShow: function () { $("#drag-drop.jFiler-input-inner").hide(); $("#drag-drop .fi-progressBar").hide(); },
            onRemove: function (el) {
                var image_count = $("#image_count").val();
                image_count = parseInt(image_count) - 1;
                var id_div = el[0].jfiler_id;
                var hidden_image_element = 'image_hidden_' + id_div;

                $('#userimage').val('');
                $('#input1').click(function (e) {
                    e.preventDefault();

                })
                $('#ImagePresent').val("NO");
            },
            onEmpty: function (el) {
                if ($("#imageeror").val() == 0) {
                    if ($("#drag-drop .jFiler-items").length == 1) { setTimeout(function () { $("#drag-drop .jFiler-input-inner").css('display', 'block'); $('#input1').unbind('click'); }, 200); };
                }
            },
            captions: {
                button: "Choose Files",
                feedback: "Choose files To Upload",
                feedback2: "files were chosen",
                drop: "Drop file here to Upload",
                removeConfirmation: "Are you sure you want to remove this file?",
                errors: {
                    filesLimit: ajaxsetup('OrganizerMaster', 'OrgImageCountValidationUI'),
                    filesType: ajaxsetup('OrganizerMaster', 'OrgImagestypeValidationUI'),
                    filesSize: ajaxsetup('OrganizerMaster', 'OrgImagesizeValidationUI'),
                    filesSizeAll: ajaxsetup('OrganizerMaster', 'OrgImagesizeValidationUI')
                }
            },
            files: j

        });

        $('.summernote').summernote({
            height: 70,   //set editable area's height
            disableDragAndDrop: true
        });
        //$('#btnsave').click(function () {

           
        //});
    });

</script>