@using EventCombo.Models
@model OrganizerProfile
@{
    ViewBag.Title = "OrganizerProfile";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<link href="~/Content/Filer/jquery.filer.css" rel="stylesheet" />

<link href="~/Content/Filer/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
<script src="~/Scripts/filer/jquery.filer.js"></script>

<style>
.jFiler-input-dragDrop{width:200px; height:auto; padding:0px; }
.jFiler-item-thumb-image{ }
.jFiler-item-thumb-image img{ width:100%; height:150px; }
.jFiler-item-list{ margin:0px;}
.jFiler-input-dragDrop .jFiler-input-icon{ margin-top:0px; height: 150px;}
.jFiler-item .jFiler-item-container{ margin:0px; padding:0px; }
.jFiler-item .jFiler-item-container .jFiler-item-assets{ margin-top:0px;}
.jFiler-item .jFiler-item-container .jFiler-item-assets .jFiler-jProgressBar{ width:226px;  margin-left:0px; }
.can_btn i{ font-size:25px;}
.can_btn{ padding:0px;}
.jFiler-input-text{ margin-bottom:5px;}
.jFiler-input-icon i{position: relative;
    top: 35px;}
.coun_lef{ color:#000; margin-top:5px;}

.note-editor .note-fontname{ display: none;}
.note-editor .note-fontsize{ display: none;}
.note-editor .note-color{ display: none;}
.note-editor .note-height{ display: none;}
.note-editor .note-table{ display: none;}
.note-editor .note-insert{ display: none;}
.note-editor .note-help{ display: none;}

   
</style>

        <div class="col-sm-12">
         
            <p class="p_info">Organizer Profile</p>
        </div>
<div class="col-sm-10 mb10 col-xs-12" id="diverroacc" style="display :none;">
    <div class="er_UI_main" id="dveruimain">
 <div class="er_UI_img" id="dveruiimg"></div>
        <div class="er_suc" id="erraccmsg">  </div>
        <button class="close" type="button" id="btndiverroacc" tabindex="-1" onclick="$('#diverroacc').hide(); $('input').removeClass('err-bor');">&#215;</button>
     </div>

</div>
        <div class="clearfix"></div>
        <div class="col-sm-12 mb20 no_pad maindivnonvis" >

            <div class="col-sm-8 clearfix ">
                <div class="col-sm-8 ev_orgnz_lebel no_pad clearfix">
                    Select Organizer
                </div>
                <div class="col-sm-6 no_pad col-xs-12 dropheight mt5">
                    <select class="form-control evnt_inp_cont selectpicker" id="id_selectorg" >
                        <option> Select </option>
                        <option value="A"> Add Organizer </option>
                       @foreach (var item in Model.Organizerdetail)
                       {
                        <option value=@item.Orgnizer_Id>@item.Orgnizer_Name</option>
                       }
                       
                     
                    </select>
                </div>

                <div class="col-sm-3 col-xs-4 mt5 ">
                    <button type="button" class="btn btn-lg ev_org_add_btn xs_btn_orgz">Edit </button>
                </div>
                <div class="col-sm-3 col-xs-4 mt5 ">
                    <button type="button" class="btn btn-lg ev_org_add_btn xs_btn_orgz">Delete </button>
                </div>



            </div>
        </div>
        <div class="clearfix"></div>
        <div id="divorgprofile"></div>
        <div class="col-sm-3 orgdisnone">
            <input type="file" name="image" id="input2">
        </div>
        <div class="col-sm-7 orgdisnone">

            <form class="form-horizontal acnt_form">
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label ">Name</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="" type="text" id="txt_name" maxlength="256">
                                <small class="acnt_form_name_mini">First Name</small>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">Address</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_streetadd1" maxlength="256">
                                <small class="acnt_form_name_mini">Street Address</small>
                            </div>
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_streetaddr2" maxlength="256">
                                <small class="acnt_form_name_mini">Street Address 2</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="form-control" placeholder="" type="text" id="txt_city" maxlength="256">
                                <small class="acnt_form_name_mini">City</small>
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" placeholder="" type="text" id="txt_state" maxlength="256">
                                <small class="acnt_form_name_mini">State</small>
                            </div>

                        </div>
                        <div class="row mt10">
                            <div class="col-xs-6">
                                <input class="form-control" placeholder="" type="text" id="txt_zip" maxlength="5">
                                <small class="acnt_form_name_mini">Postal / ZipCode</small>
                            </div>
                            <div class="col-xs-6">
                                @Html.DropDownList("Country", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control selectpicker" })
                            
                                <small class="acnt_form_name_mini">Country</small>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">Email</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_email" maxlength="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">Phone Number </label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_phnno">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">Website URL</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_websiteurl" maxlength="256">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">Facebook URL </label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_fburl" maxlength="200">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">Twitter URL</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_twitterurl" maxlength="200">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">LinkedIn URL</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-12 add_form_bot">
                                <input class="form-control" placeholder="" type="text" id="txt_linkedinurl" maxlength="200">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label acnt_form_label">Description </label>
                    <div class="col-md-9 orgaz_editor">
                        <!-- <div class="row">
                          <div class="col-xs-12 add_form_bot">
                            <textarea class="form-control"></textarea>
                          </div>
                        </div> -->
                        <div class="summernote" id="txt_desc"></div>
                    </div>
                </div>
                <input type="hidden" id="ImagePresent" />
                <input type="hidden" id="userimage" />
                <input type="hidden" value="0" id="imageeror" />
                <input id="image_count" type="hidden" />
                <button class="btn btn-info col-md-offset-3 acnt_btn" title="" type="button" id="btnadd">Add</button>
            </form>
        </div>





<script type="text/javascript">

    $(document).ready(function () {
        $('.summernote').summernote({
            height: 70,   //set editable area's height
            disableDragAndDrop: true
        });

        $("#txt_phnno").mask("999-999-9999");
        

             $('#input2').filer({
                 limit: '1',
                 maxSize: '2',
                 extensions: ['jpg', 'jpeg', 'png'],
                 changeInput: '<div class="jFiler-input-dragDrop" id="drag-drop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Drag  photo or normal upload</h3> </div></div></div>',
                 showThumbs: true,
                 appendTo: "#drag-drop",
                 theme: "dragdropbox",
                 onChange: false,
                 templates: {
                     box: '<ul class="jFiler-item-list profile-views clearfix"></ul>',
                     item: '<li class="jFiler-item">\
                                    <div class="">\
                                            {{fi-image}}\
                                             <div class="jFiler-item-container">\
                                <div class="jFiler-item-inner">\
                                     <div class="jFiler-item-assets jFiler-row">\
                                        <ul class="list-inline pull-left">\
                                            <li>{{fi-progressBar}}</li>\
                                        </ul>\
                                    </div>\
                                    </div>\
                            </div>\
                                            <span></span>\
                                             <button class="btn  jFiler-item-trash-action can_btn" type="button">\
                                                <i class="glyphicon glyphicon-remove-circle"></i>\
                                             </button>\
                                       </div>\
                        </li>',
                     itemAppend: '<li class="jFiler-item">\
                                    <div class="">\
                                            {{fi-image}}\
                                             <button class="btn  jFiler-item-trash-action can_btn" type="button">\
                                                <i class="glyphicon glyphicon-remove-circle"></i>\
                                             </button>\
                                       </div>\
                        </li>',


                     progressBar: '<div class="bar"></div>',
                     itemAppendToEnd: true,
                     removeConfirmation: false,
                     _selectors: {
                         list: '.jFiler-item-list',
                         item: '.jFiler-item',
                         progressBar: '.bar',
                         remove: '.jFiler-item-trash-action',
                     }
                 },
                 uploadFile: {
                     url: "/Account/SaveOrganizerImage",
                     data: {},
                     type: 'POST',
                     enctype: 'multipart/form-data',
                     beforeSend: function () { },
                     success: function (data, el) {

                         var parent = el.find(".jFiler-jProgressBar").parent();
                         el.find(".jFiler-jProgressBar").fadeOut("slow", function () {
                             $("<div class=\"jFiler-item-others text-success\"><i class=\"icon-jfi-check-circle\"></i> Success</div>").hide().appendTo(parent).fadeIn("slow").remove();
                         });
                         console.log(data);
                         var image_count = $("#image_count").val();
                         var imagejson = jQuery.parseJSON(JSON.stringify(data));
                         var imgdata = imagejson.image_name + '¶' + imagejson.image_type ;

                         $('#userimage').val(imgdata);


                         $('#ImagePresent').val("Yes");

                         if ($.trim(image_count) == '') {
                             $("#image_count").val('1');
                         } else {
                             image_count = parseInt(image_count) + 1;
                             $("#image_count").val(image_count);
                         }

                     },
                     error: function (el) {

                         //var parent = el.find(".jFiler-jProgressBar").parent();
                         //el.find(".jFiler-jProgressBar").fadeOut("slow", function(){
                         //    $("<div class=\"jFiler-item-others text-error\"><i class=\"icon-jfi-minus-circle\"></i> Error</div>").hide().appendTo(parent).fadeIn("slow");
                         //});
                     },
                     statusCode: {},
                     onProgress: function () { },
                 },
                 dragDrop: {
                     dragEnter: function () { },
                     dragLeave: function () { },
                     drop: function () { },
                 },
                 addMore: false,
                 clipBoardPaste: true,
                 excludeName: null,
                 beforeShow: function () { $(".jFiler-input-inner").hide(); return true },
                 onSelect: function () { $(".jFiler-input-inner").hide(); },
                 afterShow: function () { $(".jFiler-input-inner").hide(); $(".fi-progressBar").hide(); },
                 onRemove: function (el) {
                     var image_count = $("#image_count").val();
                     image_count = parseInt(image_count) - 1;
                     var id_div = el[0].jfiler_id;
                     var hidden_image_element = 'image_hidden_' + id_div;

                     $('#userimage').val('');
                     $('#input2').click(function (e) {
                         e.preventDefault();

                     })
                     $('#ImagePresent').val("NO");
                 },
                 onEmpty: function (el) {
                     if ($("#imageeror").val() == 0) {
                         if ($(".jFiler-items").length == 1) { setTimeout(function () { $(".jFiler-input-inner").css('display', 'block'); $('#input2').unbind('click'); }, 200); };
                     }
                 },
                 captions: {
                     button: "Choose Files",
                     feedback: "Choose files To Upload",
                     feedback2: "files were chosen",
                     drop: "Drop file here to Upload",
                     removeConfirmation: "Are you sure you want to remove this file?",
                     errors: {
                         filesLimit: '',
                         filesType: '',
                         filesSize: '',
                         filesSizeAll: ''
                     }
                 }

             });

             $("#id_selectorg").change(function () {
               var selectval= $(this).val();

               if(selectval=="A")
               {
                   $(".orgdisnone").show();
                   $(".maindivnonvis").hide();
               } else {
                   $(".orgdisnone").hide();
                   $(".maindivnonvis").show();
               }

             });
             $('#txt_zip').change(function () {
                 var country = $("#Country option:selected").text().trim();

                 var city = "";
                 var state = "";

                 var pincode = $(this).val();
                 $.ajax({
                     url: 'http://maps.googleapis.com/maps/api/geocode/json',
                     data: '&address=' + pincode + '&sensor=true',
                     dataType: 'json',
                     cache: false,
                     success: function (data) {


                         if (data.status == 'OK') {
                             $('#txt_zip').removeClass('err-bor');

                             for (var i = 0; i < data.results[0].address_components.length; i++) {
                                 var obj = data.results[0].address_components[i];

                                 var obj2 = obj['types'];

                                 for (var j = 0; j < obj2.length; j++) {
                                     if (obj2[j] == 'locality' || obj2[j] == 'postal_town' || obj2[j] == 'sublocality_level_1' || obj2[j] == 'sublocality_level_2' || obj2[j] == 'sublocality_level_3' || obj2[j] == 'sublocality_level_4' || obj2[j] == 'sublocality_level_5' || obj2[j] == 'ward' ) {
                                         city = obj['long_name'];


                                     }
                                     if (obj2[j] == 'administrative_area_level_1') {
                                         state = obj['long_name'];

                                     }
                                    if (obj2[j] == 'country') {
                                         if (obj['long_name'] == country) {
                                             $('#txt_city').val(city);
                                             $('#txt_state').val(state);


                                         }

                                     }

                                 }



                             }

                         }else {
                            
                             $('#erraccmsg').html(ajaxsetup('OrganizerMaster', 'OrgvalidZipUi'));
                             $('#diverroacc').show();
                             $('html,body').animate({ scrollTop: 0 });


                             $('#txt_zip').addClass('err-bor');
                             return false;
                         }
                     }
                 });
             });
             $("#btnadd").click(function () {
                
                 var msg = validatemain();
                 if (msg != '')
                 {
                     $("#dveruimain").addClass("er_UI_main");
                     $("#dveruiimg").addClass("er_UI_img");
                     $("#dveruimain").removeClass("er_suc_main");
                     $("#dveruiimg").removeClass("er_suc_img");
                     $('#erraccmsg').html(msg);
                      $('#diverroacc').show();
                     $('html,body').animate({ scrollTop: 0 });
                    
                     return false;
                 }
                 var code = $("#txt_desc").code();
                 var text = code.replace(/<p>/gi, " ");
                 var plainText = $("<div />").html(text).text();
                 var model = {
                     'Orgnizer_Name': $("#txt_name").val(),
                     'Organizer_Desc': plainText,
                     'Organizer_FBLink': $("#txt_fburl").val(),
                     'Organizer_Twitter': $("#txt_twitterurl").val(),
                     'Organizer_Linkedin': $("#txt_linkedinurl").val(),
                     'UserId': '',
                     'Organizer_Image': $("#userimage").val(),
                     'Organizer_Address1': $("#txt_streetadd1").val(),
                     'Organizer_Address2': $("#txt_streetaddr2").val(),
                     'Organizer_City': $("#txt_city").val(),
                     'Organizer_State': $("#txt_state").val(),
                     'Organizer_CountryId': $("#Country").val(),
                     'Organizer_Zipcode': $("#txt_zip").val(),
                     'Organizer_Email': $("#txt_email").val(),
                     'Organizer_Phoneno': $("#txt_phnno").val(),
                     'Organizer_Websiteurl': $("#txt_websiteurl").val(),

                 };
                 $.ajax({
                     url: '@Url.Action("saveOrganizer", "Account")',
                     data: { model: model},
                     type: "Post",
                     success: function (data) {
                         if (typeof (data.Message) === "undefined") {
                             $("#id_selectorg").empty();
                             $("#id_selectorg").append("<option value='0'>Select</option>");
                             $("#id_selectorg").append("<option value='A'>Add Organizer</option>");
                             $.each(data, function (index, optiondata) {

                                 $("#id_selectorg").append("<option value='" + optiondata.Id + "'>" + optiondata.Name + "</option>");
                             });
                             $('.selectpicker').selectpicker('refresh');

                         } else {
                             if(data.Message=="O")
                             {
                                 window.location.href = '@Url.Action("Index", "Home")' ;

                             }
                           
                            
                         }
                         $("#dveruimain").removeClass("er_UI_main");
                         $("#dveruiimg").removeClass("er_UI_img");
                         $("#dveruimain").addClass("er_suc_main");
                         $("#dveruiimg").addClass("er_suc_img");
                         $('#erraccmsg').html(ajaxsetup('OrganizerMaster', 'OrgsaveSucc'));
                         $('#diverroacc').show();
                         $('html,body').animate({ scrollTop: 0 });
                         $(".orgdisnone").hide();
                         $(".maindivnonvis").show();

                         
                     }
                 });



             });

    });
    function validatemain()
    {
        debugger;
        var msg = "";
        var organizername = $("#txt_name").val();
        var organizeremail = $('#txt_email').val();
        if(organizername=="")
        {
            $("#txt_name").addClass('err-bor');
            msg+= ajaxsetup('OrganizerMaster','OrgNameUi') +"</br>";

        } else {
            $("#txt_name").removeClass('err-bor');
        }

        if (organizeremail != "") {
            if (!validateEmail(organizeremail)) {
               
                $('#txt_email').addClass('err-bor');
                msg += ajaxsetup('OrganizerMaster', 'OrgvalidEmailUi') + "</br>";

            } else {


                $('#txt_email').removeClass('err-bor');
            }
        } else {
            $('#txt_email').addClass('err-bor');
            msg += ajaxsetup('OrganizerMaster', 'OrgEmailUi') + "</br>";;

        }
        return msg;
    }
    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
</script>