@using EventCombo.Models
@model OrganizerProfile
@{
    ViewBag.Title = "OrganizerProfile";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<link href="~/Content/Filer/jquery.filer.css" rel="stylesheet" />

<link href="~/Content/Filer/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
<script src="~/Scripts/filer/jquery.filer.js"></script>

<style>
.jFiler-input-dragDrop{width:200px; height:auto; padding:0px; }
.jFiler-item-thumb-image{ }
.jFiler-item-thumb-image img{ width:100%; height:150px; }
.jFiler-item-list{ margin:0px;}
.jFiler-input-dragDrop .jFiler-input-icon{ margin-top:0px; height: 150px;}
.jFiler-item .jFiler-item-container{ margin:0px; padding:0px; }
.jFiler-item .jFiler-item-container .jFiler-item-assets{ margin-top:0px;}
.jFiler-item .jFiler-item-container .jFiler-item-assets .jFiler-jProgressBar{ width:auto;  margin-left:0px; }
.can_btn i{ font-size:25px;}
.can_btn{ padding:0px;}
.jFiler-input-text{ margin-bottom:5px;}
.jFiler-input-icon i{position: relative;
    top: 35px;}
.coun_lef{ color:#000; margin-top:5px;}

.note-editor .note-fontname{ display: none;}
.note-editor .note-fontsize{ display: none;}
.note-editor .note-color{ display: none;}
.note-editor .note-height{ display: none;}
.note-editor .note-table{ display: none;}
.note-editor .note-insert{ display: none;}
.note-editor .note-help{ display: none;}

   
</style>

<div class="col-sm-12 text-center" id="loader"><img src="~/Images/ajax-loader.gif" /></div>

        <div class="col-sm-12">
         
            <p class="p_info">Organizer Profile</p>
        </div>
<div class="col-sm-10 mb10 col-xs-12" id="diverroacc" style="display :none;">
    <div class="er_UI_main" id="dveruimain">
 <div class="er_UI_img" id="dveruiimg"></div>
        <div class="er_suc" id="erraccmsg">  </div>
        <button class="close" type="button" id="btndiverroacc" tabindex="-1" onclick="$('#diverroacc').hide(); $('input').removeClass('err-bor');">&#215;</button>
     </div>

</div>
        <div class="clearfix"></div>
        <div class="col-sm-12 mb20 no_pad maindivnonvis" >

            <div class="col-sm-8 clearfix ">
                <div class="col-sm-8 ev_orgnz_lebel no_pad clearfix">
                    Select Organizer
                </div>
                <div class="col-sm-6 no_pad col-xs-12 dropheight mt5">
                    <select class="form-control evnt_inp_cont selectpicker org_prof_drop" id="id_selectorg" >
                        <option value="0"> Select </option>
                        <option value="A"> Add Organizer </option>
                       @foreach (var item in Model.Organizerdetail)
                       {
                        <option value=@item.Orgnizer_Id>@item.Orgnizer_Name</option>
                       }
                       
                     
                    </select>
                </div>

                <div class="col-sm-3 col-xs-4 mt5 ">
                    <button type="button" class="btn btn-lg ev_org_add_btn xs_btn_orgz" id="btnedit" disabled>Edit </button>
                </div>
                <div class="col-sm-3 col-xs-4 mt5 ">
                    <button type="button" class="btn btn-lg ev_org_add_btn xs_btn_orgz" id="btndelete" disabled>Delete </button>
                </div>



            </div>
        </div>
        <div class="clearfix"></div>
        <div id="divorgprofile" style="display:none;"></div>
        
  <!-- Confirm Msg OK Modal Box -->
<input type="hidden" id="orgid" />
<div class="modal fade" id="confirm-delete-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
        <div class="modal-content">

            <form id="contactForm" class="fullw1 add">
                <div class="modal-body text-center pv50 txt-msg">

                    <h4 class="msg" id="hId"></h4>
                </div>
                <div class="modal-footer msg-action-btn ok">
                    <button type="submit" id="btnYes" class="btn btn-primary no" data-dismiss="modal">Yes</button>
                    <button type="button" id="btnNo" class="btn btn-primary no" data-dismiss="modal">No</button>
                </div>
            </form>
            <input type="hidden" id="hdUserId" value="" />
        </div>
    </div><!-- confirm-msg -->
</div>
<div>
    <a class="td-btn" id="btOk" type="button" href="#confirm-delete-ok" data-toggle="modal" style="display:none">

    </a>
</div>
<!-- Confirm Msg OK Modal Box -->




<script type="text/javascript">

    $(document).click(function () {
        $('#diverroacc').hide();
    });
    function LoadOrganiserAsyn(id) {
    
        $(".maindivnonvis").hide();
        $('#divorgprofile').show();
        $('#divorgprofile').load('@Url.Action("OrganiserEdit", "Account", new { })?id=' + id + '');
    }
    function LoadOrganiserAddAsyn() {

        $(".maindivnonvis").hide();
        $('#divorgprofile').show();
        $('#divorgprofile').load('@Url.Action("AddOrganiser", "Account")');
    }
    $(document).ready(function () {
        $("#loader").hide();
        $('#mgacnt').click();
        $('#dvacmang').addClass("active");
        $('#dvacmang b').addClass('opened new-opend');

        $('#dvacmang').click(function (e) {

            var $dvEle = $('#dvacmang b');
            var vclassname = $dvEle.attr('class');
            if ($dvEle.hasClass("new-opend")) {
                $dvEle.removeClass('opened new-opend').addClass('closed');
            }
            else {
                $dvEle.addClass('opened new-opend');
            }
        });
  

        $("#txt_phnno").mask("999-999-9999");

      

        $("#id_selectorg").change(function () {
            $('#diverroacc').hide();
            var selectval = $(this).val();
            if (selectval != 0) {
                if (selectval == "A") {
                    $("#btnedit").prop("disabled", true);
                    $("#btndelete").prop("disabled", true);
                    $("#loader").show();
                    LoadOrganiserAddAsyn();
                    $("#loader").hide();
                    $(".maindivnonvis").hide();
                } else {
                    $("#btnedit").prop("disabled", false);
                    $("#btndelete").prop("disabled", false);
                    $(".maindivnonvis").show();
                }
            }else
            {
                $("#btnedit").prop("disabled", true);
                $("#btndelete").prop("disabled", true);
            }

        });

        $(document).on('blur', '#txt_name', function () {
            debugger;
            var isValid = false;
         
            var name = $('#txt_name').val();
            var regex = /^[a-zA-Z ]*$/;
            isValid = regex.test(name);
            if (isValid) {
                var orgid = 0;

                orgid = $('#hd_ID').val();
                if (typeof orgid === "undefined") {
                    orgid = 0;
                }

                $.ajax({
                    url: '@Url.Action("chkOrganizerName", "Account")',
                    data: { Name: name, id: orgid },
                    type: "Post",
                    success: function (data) {

                        if (data == "True") {
                            $('#txt_name').addClass('err-bor');
                            $("#dveruimain").addClass("er_UI_main");
                            $("#dveruiimg").addClass("er_UI_img");
                            $("#dveruimain").removeClass("er_suc_main");
                            $("#dveruiimg").removeClass("er_suc_img");
                            $('#erraccmsg').html('Name already exist!!');
                            $('#diverroacc').show();
                            $('html,body').animate({ scrollTop: 0 });
                            $('#txt_name').val('');
                            return false;
                        } else {
                            $('#txt_name').removeClass('err-bor');
                            $('#diverroacc').hide();
                        }

                    }
                });
            } else {
                $('#txt_name').val('');
            }


        });
        $(document).on('change', '#txt_zip', function () {
      
            var country = $("#Country option:selected").text().trim();

            var city = "";
            var state = "";

            var pincode = $(this).val();
            $.ajax({
                url: 'http://maps.googleapis.com/maps/api/geocode/json',
                data: '&address=' + pincode + '&sensor=true',
                dataType: 'json',
                cache: false,
                success: function (data) {


                    if (data.status == 'OK') {
                        $('#txt_zip').removeClass('err-bor');

                        for (var i = 0; i < data.results[0].address_components.length; i++) {
                            var obj = data.results[0].address_components[i];

                            var obj2 = obj['types'];

                            for (var j = 0; j < obj2.length; j++) {
                                if (obj2[j] == 'locality' || obj2[j] == 'postal_town' || obj2[j] == 'sublocality_level_1' || obj2[j] == 'sublocality_level_2' || obj2[j] == 'sublocality_level_3' || obj2[j] == 'sublocality_level_4' || obj2[j] == 'sublocality_level_5' || obj2[j] == 'ward') {
                                    city = obj['long_name'];


                                }
                                if (obj2[j] == 'administrative_area_level_1') {
                                    state = obj['long_name'];

                                }
                                if (obj2[j] == 'country') {
                                    if (obj['long_name'] == country) {
                                        $('#txt_city').val(city);
                                        $('#txt_state').val(state);


                                    }

                                }

                            }



                        }

                    } else {

                        $('#erraccmsg').html(ajaxsetup('OrganizerMaster', 'OrgvalidZipUi'));
                        $('#diverroacc').show();
                        $('html,body').animate({ scrollTop: 0 });


                        $('#txt_zip').addClass('err-bor');
                        return false;
                    }
                }
            });
        });
        $(document).on('click', '#btnadd', function () {
        
            var msg = validatemain();
            if (msg != '') {
                $("#dveruimain").addClass("er_UI_main");
                $("#dveruiimg").addClass("er_UI_img");
                $("#dveruimain").removeClass("er_suc_main");
                $("#dveruiimg").removeClass("er_suc_img");
                $('#erraccmsg').html(msg);
                $('#diverroacc').show();
                $('html,body').animate({ scrollTop: 0 });

                return false;
            }
            
            var code = escape($("#txt_desc").code());
            //var text = code.replace(/<p>/gi, " ");
            //var plainText = $("<div />").html(text).text();
            var model = {
                'Orgnizer_Name': $("#txt_name").val(),
                'Organizer_Desc': code,
                'Organizer_FBLink': $("#txt_fburl").val(),
                'Organizer_Twitter': $("#txt_twitterurl").val(),
                'Organizer_Linkedin': $("#txt_linkedinurl").val(),
                'UserId': '',
                'Organizer_Image': $("#userimage").val(),
                'Organizer_Address1': $("#txt_streetadd1").val(),
                'Organizer_Address2': $("#txt_streetaddr2").val(),
                'Organizer_City': $("#txt_city").val(),
                'Organizer_State': $("#txt_state").val(),
                'Organizer_CountryId': $("#Country").val(),
                'Organizer_Zipcode': $("#txt_zip").val(),
                'Organizer_Email': $("#txt_email").val(),
                'Organizer_Phoneno': $("#txt_phnno").val(),
                'Organizer_Websiteurl': $("#txt_websiteurl").val(),

            };
            $.ajax({
                url: '@Url.Action("saveOrganizer", "Account")',
                data: { model: model },
                type: "Post",
                success: function (data) {
                    if (typeof (data.Message) === "undefined") {
                        $("#id_selectorg").empty();
                        $("#id_selectorg").append("<option value='0'>Select</option>");
                        $("#id_selectorg").append("<option value='A'>Add Organizer</option>");
                        $.each(data, function (index, optiondata) {

                            $("#id_selectorg").append("<option value='" + optiondata.Id + "'>" + optiondata.Name + "</option>");
                        });
                        $('.selectpicker').selectpicker('refresh');


                    } else {
                        if (data.Message == "O") {
                            window.location.href = '@Url.Action("Index", "Home")';

                        }


                    }
                    $("#dveruimain").removeClass("er_UI_main");
                    $("#dveruiimg").removeClass("er_UI_img");
                    $("#dveruimain").addClass("er_suc_main");
                    $("#dveruiimg").addClass("er_suc_img");
                    $('#erraccmsg').html(ajaxsetup('OrganizerMaster', 'OrgsaveSucc'));
                    $('#diverroacc').show();
                    $('html,body').animate({ scrollTop: 0 });
                    $('#divorgprofile').empty();
                    $('#divorgprofile').hide();
                    $(".maindivnonvis").show();


                }
            });



        });

        $('#btnedit').click(function () {

            var txtcat = $('#id_selectorg').val();
           
            if (txtcat != 0 && txtcat != 'A') {
                $("#loader").show();
                LoadOrganiserAsyn(txtcat);
                $("#loader").hide();
            }
        });
        $('#btndelete').click(function () {
          
            var Id = $('#id_selectorg').val();
         
            if (Id != 0 && Id != 'A') {

                $("#hId").html(ajaxsetup('OrganizerMaster', 'OrgDeleteMessage'));
                $("#btOk").click();


                $("#orgid").val(Id);
            }
        });
        $("#btnYes").click(function(){
            var Id = $("#orgid").val();

            if (Id != 0 && Id != 'A') {

                $.ajax({
                    url: '@Url.Action("DeleteOrganizer", "Account")',
                    data: { Id: Id },
                    type: "Post",
                    success: function (data) {

                        if (typeof (data.Message) === "undefined") {
                            $("#id_selectorg").empty();
                            $("#id_selectorg").append("<option value='0'>Select</option>");
                            $("#id_selectorg").append("<option value='A'>Add Organizer</option>");
                            $.each(data, function (index, optiondata) {

                                $("#id_selectorg").append("<option value='" + optiondata.Id + "'>" + optiondata.Name + "</option>");
                            });
                            $('.selectpicker').selectpicker('refresh');

                        } else {
                            if (data.Message == "O") {
                                window.location.href = '@Url.Action("Index", "Home")';

                            }


                        }
                      
                        $("#dveruimain").removeClass("er_UI_main");
                        $("#dveruiimg").removeClass("er_UI_img");
                        $("#dveruimain").addClass("er_suc_main");
                        $("#dveruiimg").addClass("er_suc_img");
                        $('#erraccmsg').html(ajaxsetup('OrganizerMaster', 'OrgDelete'));
                        $('#diverroacc').show();
                        $('html,body').animate({ scrollTop: 0 });
                      
                        $(".maindivnonvis").show();
                        $("#divorgprofile").empty();
                        $("#divorgprofile").hide();

                    }

                });
            }


        });
        $(document).on('click', '#btnsave', function () {

            var msg = validatemain();
            if (msg != '') {
                $("#dveruimain").addClass("er_UI_main");
                $("#dveruiimg").addClass("er_UI_img");
                $("#dveruimain").removeClass("er_suc_main");
                $("#dveruiimg").removeClass("er_suc_img");
                $('#erraccmsg').html(msg);
                $('#diverroacc').show();
                $('html,body').animate({ scrollTop: 0 });

                return false;
            }
            var code = escape($("#txt_desc").code());
          
            var model = {
                'Orgnizer_Id': $('#hd_ID').val(),
                'Orgnizer_Name': $("#txt_name").val(),
                'Organizer_Desc': code,
                'Organizer_FBLink': $("#txt_fburl").val(),
                'Organizer_Twitter': $("#txt_twitterurl").val(),
                'Organizer_Linkedin': $("#txt_linkedinurl").val(),
                'UserId': '',
                'Organizer_Image': $("#userimage").val(),
                'Organizer_Address1': $("#txt_streetadd1").val(),
                'Organizer_Address2': $("#txt_streetaddr2").val(),
                'Organizer_City': $("#txt_city").val(),
                'Organizer_State': $("#txt_state").val(),
                'Organizer_CountryId': $("#Country").val(),
                'Organizer_Zipcode': $("#txt_zip").val(),
                'Organizer_Email': $("#txt_email").val(),
                'Organizer_Phoneno': $("#txt_phnno").val(),
                'Organizer_Websiteurl': $("#txt_websiteurl").val(),

            };
            $.ajax({
                url: '@Url.Action("EditOrganizer", "Account")',
                data: { model: model },
                type: "Post",
                success: function (data) {

                    if (typeof (data.Message) === "undefined") {
                        $("#id_selectorg").empty();
                        $("#id_selectorg").append("<option value='0'>Select</option>");
                        $("#id_selectorg").append("<option value='A'>Add Organizer</option>");
                        $.each(data, function (index, optiondata) {

                            $("#id_selectorg").append("<option value='" + optiondata.Id + "'>" + optiondata.Name + "</option>");
                        });
                        $('.selectpicker').selectpicker('refresh');

                    } else {
                        if (data.Message == "O") {
                            window.location.href = '@Url.Action("Index", "Home")';

                        }


                    }
                    $("#btnedit").prop("disabled", true);
                    $("#btndelete").prop("disabled", true);
                    $('#userimage').val("");
                    $("#image_count").val("0");
                    $('#ImagePresent').val("No");
                    $("#dveruimain").removeClass("er_UI_main");
                    $("#dveruiimg").removeClass("er_UI_img");
                    $("#dveruimain").addClass("er_suc_main");
                    $("#dveruiimg").addClass("er_suc_img");
                    $('#erraccmsg').html(ajaxsetup('OrganizerMaster', 'OrgsaveEdit'));
                    $('#diverroacc').show();
                    $('html,body').animate({ scrollTop: 0 });
                   
                    $(".maindivnonvis").show();
                    $("#divorgprofile").empty();
                    $("#divorgprofile").hide();

                }

            });




        });



    });
   

       

     
        function validatemain()
        {
       
            var msg = "";
            var organizername = $("#txt_name").val();
            var organizeremail = $('#txt_email').val();
            if(organizername=="")
            {
                $("#txt_name").addClass('err-bor');
                msg+= ajaxsetup('OrganizerMaster','OrgNameUi') +"</br>";

            } else {
                $("#txt_name").removeClass('err-bor');
            }

            if (organizeremail != "") {
                if (!validateEmail(organizeremail)) {

                    $('#txt_email').addClass('err-bor');
                    msg += ajaxsetup('OrganizerMaster', 'OrgvalidEmailUi') + "</br>";

                } else {


                    $('#txt_email').removeClass('err-bor');
                }
            } else {
                $('#txt_email').addClass('err-bor');
                msg += ajaxsetup('OrganizerMaster', 'OrgEmailUi') + "</br>";;

            }
            return msg;
        }
        function ajaxsetup(strname, strFormTag) {
            var msgnew = "";

            var request = $.ajax({
                url: '@Url.Action("Index", "ValidationMessage")',
                async: false,
                data: { strFormName: strname, strFormTag: strFormTag },
                type: 'Post'
            });
            request.done(function (msg) {
                msgnew += msg;
            });

            request.fail(function (jqXHR, textStatus) {
                msgnew += "Some Error occur!!";
            });
            return msgnew;
        }

</script>