@using EventCombo.Models
@using EventCombo.Service
@model OrderConfirmationViewModel
@{
  Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section CSSSection
{
  @Styles.Render("~/Content/AMaterial/ViewEvent.css")
}

@section ScriptSection
{
}

@section ScriptFooterSection
{
  <script type="text/javascript">
    var fbappid = '@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]'

    // init the FB JS SDK
    window.fbAsyncInit = function () {
      FB.init({
        appId: fbappid,                        // App ID from the app dashboard
        status: true,                          // Check Facebook Login status
        xfbml: true,                           // Look for social plugins on the page
        version: '2.7'
      });

    };
    // Load the SDK asynchronously
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="~/Scripts/socialshare.js"></script>
}
<!--***************************-->
<h1 class="pageTitle">THANK YOU!</h1>

<section class="eventBanner" style="@((!String.IsNullOrEmpty(Model.BGImageUrl) ? "background-image:url(" + Model.BGImageUrl + ");" : "") +
        (!String.IsNullOrEmpty(Model.BGColor) ? "background-color:" + Model.BGColor : ""))">
  <div class="grid w960">
    <div class="row">
      <div class="c12 eventVanue">
        <h2 class="event-name">@Model.EventTitle</h2>
        <h3 class="vanue-name">@Model.VenueName</h3>
        <div class="adiv"><i class="material-icons black">location_on</i> @Model.Address</div>
        <div class="adiv"><i class="material-icons">schedule</i> @Model.Dates.Summary</div>
      </div>
    </div>
  </div>
</section>

<section class="grid w960" ng-controller="DialogController">
  <div class="row">
    <div class="c12 margin-1em-bottom">
      <h3 class="red-heading">Your order has been successfully processed.</h3>
      <div class="orderDetails">
        <div class="orderId">
          <p class="orderNumber">Order #@Model.OrderId</p>
          <p class="orderSbuline">Your tickets were emailed to <span class="semiBold">@Model.Email</span> and added to <a class="evtLink" href="javascript:void(0)" ng-click="purchasedTickets()">YOUR PURCHASES</a></p>
        </div>
        <div class="orderList">
          @foreach (var ticket in Model.Tickets)
          {
            <div class="orderBox">
              <p class="orderTitle">@ticket.Name</p>
              <p class="orderSbuline">
                <span class="margin-2em-right">@ticket.VenueName</span>
                <span class="margin-1em-right">@ticket.DateString</span>
                <a class="evtLink margin-1em-right" href="@Uri.EscapeUriString(String.Format("https:/www.google.com/calendar/event?action=TEMPLATE&text={0}&dates={1}/{2}&details={3}&location={4}", Model.EventTitle, Model.Dates.StartDate.ToUniversalTime().ToString("yyyyMMddThhmmssZ"), Model.Dates.EndDate.ToUniversalTime().ToString("yyyyMMddThhmmssZ"), HtmlProcessing.GetShortString(HtmlProcessing.StripTagsRegex(Model.EventDescription), 150, 200, "."), Model.Address))" target="_blank" rel="nofollow">ADD TO CALENDAR</a>
                <span class="semiBold">
                  SHARE EVENT ON
                  <a href="javascript:void(0)" title="Share @Model.EventTitle via Email" ng-click="forwardFriend($event,'@HtmlProcessing.PrepareString(Model.EventTitle)','Event')"><img width="16px" alt="Share @Model.EventTitle via Email" src="~/Images/AMaterial/mail-square.svg"></a>
                  <a href="javascript:void(0)" class="shareLink" title="Share @Model.EventTitle on Facebook" onclick="FacebookShare('@Model.EventUrl)')"><img width="16px" alt="Share @Model.EventTitle on Facebook" src="~/Images/AMaterial/square-facebook.svg"></a>
                  <a class="shareLink" href="javascript:void(0)" title="Share @Model.EventTitle on Twitter" onclick="TwitterShare('@HtmlProcessing.PrepareString(Model.EventTitle)','@Model.EventUrl')"><img width="16px" alt="Share @Model.EventTitle on Twitter" src="~/Images/AMaterial/square-twitter.svg"></a>
                  <a class="shareLink" href="javascript:void(0)" title="Share @Model.EventTitle on LinkedIn" onclick="LinkedInShare('@HtmlProcessing.PrepareString(Model.EventTitle)','@Model.EventUrl', '@Model.EventTitle')"><img width="16px" alt="Share @Model.EventTitle on LinkedIn" src="~/Images/AMaterial/square-linkedin.svg"></a>
                  @*<a href="#" title="Share EventTitle on Facebook Messenger"><img width="16px" alt="Share EventTitle on Facebook Messenger" src="~/Images/AMaterial/fb_messenger.svg"></a>*@
                </span>
              </p>
              <span class="flRightN">@ticket.Quantity</span>
            </div>
          }
          <div class="orderBox" style="display:none;">
            <p class="orderTitle">15% off Dinner at that Italian Restaurant</p>
            <p class="orderSbuline margin-2em-right">
              <span class="margin-2em-right">The Italian Restaurant</span>
              <a class="evtLink" href="#">PRINT THIS DEAL</a>
            </p>
            <span class="flRightN">2</span>
          </div>
        </div>
        <div><a class="nextLink" href="javascript:void(0)" ng-click="purchasedTickets()">Go to all purchases</a></div>
      </div>
    </div>
  </div>
</section>

<section class="grid w960" ng-controller="DialogController">
  <div class="row">
    <div class="c12 margin-1em-bottom">
      <h3 class="red-heading">What's Next?</h3>
      <div>
        <a class="nextLink" href="javascript:void(0)" ng-click="createEvent()">Create your own event</a>
        <a class="nextLink" href="javascript:void(0)" ng-click="contactEventcombo()">Contact us</a>
        <a class="nextLink" href="@Url.Action("OrganizerInfo", "OrganizerInfo", new { organizerId = Model.OrganizerId })">See organizer's profile</a>
        <a class="nextLink" href="@Url.Action("Index", "Home")">Browse more events</a>
      </div>
      <md-checkbox ng-model="genAdmission" aria-label="School General Admission" class="genAdmission" ng-show="false">Too Cool For School General Admission</md-checkbox>
    </div>
  </div>
</section>
<!--***************************-->

<script type="text/javascript">
  eventComboApp.controller('DialogController', ['$scope', '$mdDialog', '$rootScope', '$window', 'accountService',
  function ($scope, $mdDialog, $rootScope, $window, accountService) {

    $scope.forwardFriend = function (event, mTitle, mType, eventId) {
      $mdDialog.show({
        controller: DialogForwardFriendController,
        templateUrl: 'forwardfriend.tmpl.html',
        parent: angular.element(document.body),
        targetEvent: event,
        clickOutsideToClose: true,
        locals: {
          id: eventId,
          title: mTitle,
          type: mType
        }
      });
    };

    $scope.contactEventcombo = function (event) {
      $mdDialog.show({
        controller: DialogContactEventComboController,
        templateUrl: 'eventcombo.tmpl.html',
        parent: angular.element(document.body),
        targetEvent: event,
        clickOutsideToClose: true
      });
    };

    $scope.callCreateEvent = function() {
      $window.location.href = '@Url.Action("CreateEvent", "EventManagement")';
    }

    $scope.callPurchasedTickets = function() {
      $window.location.href = '@Url.Action("PurchasedTicket", "Account")';
          }

    $rootScope.$on('LoggedIn', function (event, param) {
      if (param === 'ConfirmCreate')
        $scope.callCreateEvent();
      else if (param === "ConfirmPurchases")
        $scope.callPurchasedTickets();
    });

    $scope.createEvent = function () {
      if (accountService.UserRegistered())
        $scope.callCreateEvent();
      else
        accountService.StartLogin('ConfirmCreate');
    }

    $scope.purchasedTickets = function () {
      if (accountService.UserRegistered())
        $scope.callPurchasedTickets();
      else
        accountService.StartLogin('ConfirmPurchases');
    }

  }]);
</script>