@using EventCombo.Models
@using EventCombo.Service
@model OrderConfirmationViewModel
@{
  Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section CSSSection
{
  @Styles.Render("~/Content/AMaterial/ViewEvent.css")
}

@section ScriptSection
{
  <script src="@Url.Content("~/Scripts/AMaterial/OrderConfirm.js")"></script>
}

@section ScriptFooterSection
{
  <script type="text/javascript">
    var fbappid = '@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]'

    // init the FB JS SDK
    window.fbAsyncInit = function () {
      FB.init({
        appId: fbappid,                        // App ID from the app dashboard
        status: true,                          // Check Facebook Login status
        xfbml: true,                           // Look for social plugins on the page
        version: '2.7'
      });

    };
    // Load the SDK asynchronously
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="~/Scripts/socialshare.js"></script>
}
<!--***************************-->
<h1 class="pageTitle">THANK YOU!</h1>

<section class="eventBanner" style="@((!String.IsNullOrEmpty(Model.BGImageUrl) ? "background-image:url(" + Model.BGImageUrl + ");" : "") +
        (!String.IsNullOrEmpty(Model.BGColor) ? "background-color:" + Model.BGColor : ""))">
  <div class="grid w960">
    <div class="row">
      <div class="c12 eventVanue">
        <h2 class="event-name">@Model.EventTitle</h2>
        <h3 class="vanue-name">@Model.VenueName</h3>
        <div class="adiv"><i class="material-icons black">location_on</i> @Model.Address</div>
        <div class="adiv"><i class="material-icons">schedule</i> @Model.Dates.Summary</div>
      </div>
    </div>
  </div>
</section>

<section class="grid w960" ng-controller="orderconfirmController">
  <div class="row">
    <div class="c12 margin-1em-bottom">
      <h3 class="red-heading">Your order has been successfully processed.</h3>
      <div class="orderDetails">
        <div class="orderId">
          <p class="orderNumber">Order @Model.OrderId</p>
          <p class="orderSbuline">
            Your tickets were emailed to <span class="semiBold">@Model.Email</span> and added to
            @if (String.IsNullOrEmpty(Model.BaseUserId))
            {
              <a class="evtLink" href="javascript:void(0)" ng-click="purchasedTickets()">YOUR PURCHASES</a>
            }
            else
            {
              <a class="evtLink" href="@Url.Action("PurchasedTicket", "Account")">YOUR PURCHASES</a>
            }
          </p>
        </div>
        <div class="orderList">
          @foreach (var ticket in Model.Tickets)
          {
            <div class="orderBox">
              <p class="orderTitle">@ticket.Name</p>
              <p class="orderSbuline">
                <span class="margin-2em-right">@ticket.VenueName</span>
                <span class="margin-1em-right">@ticket.DateString</span>
                <a class="evtLink margin-1em-right" ng-click="AddToCalendar($event)">ADD TO CALENDAR</a>
                <span class="semiBold">
                  SHARE EVENT ON
                  <a href="javascript:void(0)" title="Share @Model.EventTitle via Email" ng-click="forwardFriend($event,'@HtmlProcessing.PrepareString(Model.EventTitle)','Event')"><img width="16px" alt="Share @Model.EventTitle via Email" src="~/Images/AMaterial/mail-square.svg"></a>
                  <a href="javascript:void(0)" class="shareLink" title="Share @Model.EventTitle on Facebook" onclick="FacebookShare('@Model.EventUrl')"><img width="16px" alt="Share @Model.EventTitle on Facebook" src="~/Images/AMaterial/square-facebook.svg"></a>
                  <a class="shareLink" href="javascript:void(0)" title="Share @Model.EventTitle on Twitter" onclick="TwitterShare('@HtmlProcessing.PrepareString(Model.EventTitle)','@Model.EventUrl')"><img width="16px" alt="Share @Model.EventTitle on Twitter" src="~/Images/AMaterial/square-twitter.svg"></a>
                  <a class="shareLink" href="javascript:void(0)" title="Share @Model.EventTitle on LinkedIn" onclick="LinkedInShare('@HtmlProcessing.PrepareString(Model.EventTitle)','@Model.EventUrl', '@HtmlProcessing.GetShortString(HtmlProcessing.StripTagsRegex(Model.EventDescription), 80, 150, ".")')"><img width="16px" alt="Share @Model.EventTitle on LinkedIn" src="~/Images/AMaterial/square-linkedin.svg"></a>
                  @*<a href="#" title="Share EventTitle on Facebook Messenger"><img width="16px" alt="Share EventTitle on Facebook Messenger" src="~/Images/AMaterial/fb_messenger.svg"></a>*@
                </span>
              </p>
              <span class="flRightN">@ticket.Quantity</span>
            </div>
          }
          <div class="orderBox" style="display:none;">
            <p class="orderTitle">15% off Dinner at that Italian Restaurant</p>
            <p class="orderSbuline margin-2em-right">
              <span class="margin-2em-right">The Italian Restaurant</span>
              <a class="evtLink" href="#">PRINT THIS DEAL</a>
            </p>
            <span class="flRightN">2</span>
          </div>
        </div>
        @if (String.IsNullOrEmpty(Model.BaseUserId))
        {
          <div><a class="nextLink" href="javascript:void(0)" ng-click="purchasedTickets()">Go to all purchases</a></div>
        }
        else
        {
          <div><a class="nextLink" href="@Url.Action("PurchasedTicket", "Account")">Go to all purchases</a></div>
        }
      </div>
    </div>
  </div>
</section>

<section class="grid w960" ng-controller="orderconfirmController">
  <div class="row">
    <div class="c12 margin-1em-bottom">
      <h3 class="red-heading">What's Next?</h3>
      <div>
        @if (String.IsNullOrEmpty(Model.BaseUserId))
        {
          <a class="nextLink" href="javascript:void(0)" ng-click="createEvent()">Create your own event</a>
        }
        else
        {
          <a class="nextLink" href="@Url.Action("CreateEvent", "EventManagement")">Create your own event</a>
        }
        <a class="nextLink" href="javascript:void(0)" ng-click="contactEventcombo()">Contact us</a>
        <a class="nextLink" href="@Url.Action("OrganizerInfo", "OrganizerInfo", new { organizerName = Model.OrganizerName, organizerId = Model.OrganizerId })">See organizer's profile</a>
        <a class="nextLink" href="@Url.Action("Index", "Home")">Browse more events</a>
      </div>
      <md-checkbox ng-model="genAdmission" aria-label="School General Admission" class="genAdmission" ng-show="false">Too Cool For School General Admission</md-checkbox>
    </div>
  </div>
</section>
<!--***************************-->

<script type="text/ng-template" id="addtocalander.tmpl.html">
  <md-dialog aria-label="Add To Calendar" class="A2CDialog" data-ng-app="eventComboApp">
    <form name="eventcomboForm" novalidate>
      <md-dialog-content>
        <div class="md-dialog-content">
          <md-button class="calClose" ng-click="cancel()"><i class="material-icons">clear</i></md-button>
          <h2 class="cntTitle">Add to Calendar</h2>
          <ul class="calIcon">
            @{
              string isoStart = Model.Dates.StartDate.ToUniversalTime().ToString("yyyyMMddThhmmssZ");
              string isoEnd = Model.Dates.EndDate.ToUniversalTime().ToString("yyyyMMddThhmmssZ");
              int min = (int) (Model.Dates.EndDate - Model.Dates.StartDate).TotalMinutes;
              string duration = (min / 60).ToString("D2") + (min % 60).ToString("D2");
              string title = Server.UrlEncode(Model.EventTitle);
              string address = Server.UrlEncode(Model.Address);
              string description = Server.UrlEncode(HtmlProcessing.GetShortString(HtmlProcessing.StripTagsRegex(Model.EventDescription), 150, 200, "."));
            }
            <li><a href="@String.Format("{0}?beginDate={1}&endDate={2}&location={3}&subject={4}&description={5}", Url.Action("Calendar", "CreateEvent", new { }), isoStart, isoEnd, address, title, description)"><img src="/Images/AMaterial/windows.png" /> Microsoft Outlook</a></li>
            <li><a href="@Uri.EscapeUriString(String.Format("https:/www.google.com/calendar/event?action=TEMPLATE&text={0}&dates={1}/{2}&details={3}&location={4}", title, isoStart, isoEnd, description, address))" target="_blank" rel="nofollow"><img src="/Images/AMaterial/google.png" /> Google Calendar</a></li>
            <li><a href="@String.Format("{0}?beginDate={1}&endDate={2}&location={3}&subject={4}&description={5}", Url.Action("Calendar", "CreateEvent", new { }), isoStart, isoEnd, address, title, description)"><img src="/Images/AMaterial/apple.png" /> Apple iCal</a></li>
            <li><a href="@String.Format("http://calendar.yahoo.com/?v=60&view=d&type=20&title={0}&st={1}&dur={2}&desc={3}&in_loc={4}", title, isoStart, duration, description, address)" target="_blank" rel="nofollow"><img src="/Images/AMaterial/yahoo.png" /> Yahoo Calendar</a></li>
          </ul>
        </div>
      </md-dialog-content>
    </form>
  </md-dialog>
</script>