@model CMS.Models.BusinessPage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href='~/Content/jquery-te-1.4.0.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="~/Scripts/jquery-te-1.4.0.js"></script>

<section id="content_wrapper">

    <!-- Start: Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">

                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-active">
                    Dashboard
                </li>
            </ol>
        </div>

    </header>
    <div class="panel-heading panel_loader">
        <span class="view_evnt fs26 col-sm-6">Add Business page</span>
    </div>
    <div id="content" class="animated fadeIn">
        @using (Html.BeginForm("Create", "BusinessPages", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PageName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PageName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PageName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PageNameUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PageNameUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PageNameUrl, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PageContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PageContent, new { htmlAttributes = new { @class = "editor jqte-test", @id = "PageContent" } })
                        @Html.ValidationMessageFor(model => model.PageContent, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessPageECImages, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.BusinessPageECImages, new { htmlAttributes = new { @class = "editor jqte-test", @id = "PageContent" } })
                        @Html.ValidationMessageFor(model => model.BusinessPageECImages, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="BusinessPageECImages">Images</label>
                    <div class="col-md-10">
                        <div id="formdiv"> 
                            <div id="filediv"><input name="file[]" type="file" id="file" /></div>
                            <input type="button" id="add_more" class="btn btn-info articleBtnCls" value="Add More Images" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-info articleBtnCls" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</section>
<script type="text/javascript">

    $(function () {
        $("#PageContent").jqte();

    });

    var ImageCount = 0;
    $(document).ready(function () {
        $('#add_more').click(function () {
            $(this).before($("<div/>", {
                id: 'filediv'
            }).fadeIn('slow').append($("<input/>", {
                name: 'file[]',
                type: 'file',
                id: 'file'
            }), $("<br/>")));
        });
        $('body').on('change', '#file', function () {
            if (this.files && this.files[0]) {
                ImageCount += 1;
                var z = ImageCount - 1;
                var x = $(this).parent().find('#previewimg' + z).remove();
                $(this).before("<div id='dvThumbImage" + ImageCount + "' class='dvThumbImage'><img id='previewimg" + ImageCount + "' src=''/></div>");
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
                $(this).hide();
                $("#dvThumbImage" + ImageCount).append($("<img/>", {
                    id: 'img',
                    src: '@Url.Content("~/assets/img/delete.png")',
                    alt: 'delete'
                }).click(function () {
                    $(this).parent().parent().remove();
                }));
            }
        });
        function imageIsLoaded(e) {
            $('#previewimg' + ImageCount).attr('src', e.target.result);
        };
        $('#upload').click(function (e) {
            var name = $(":file").val();
            if (!name) {
                alert("First Image Must Be Selected");
                e.preventDefault();
            }
        });
    });
</script>
<style>
    form {
        background-color: #fff;
    }

    #formdiv {
        float: left;
        text-align: center;
    }

    #filediv {
        float: left;
    }

    form {
        padding: 40px 20px;
        box-shadow: 0 0 10px;
        border-radius: 2px;
    }

    #file {
        color: green;
        padding: 5px;
        border: 1px dashed #123456;
        background-color: #f9ffe5;
    }

    #upload {
        margin-left: 45px;
    }

    #noerror {
        color: green;
        text-align: left;
    }

    #error {
        color: red;
        text-align: left;
    }

    #img {
        width: 25px;
        border: none;
        height: 29px;
        margin-left: -20px;
        margin-bottom: 91px;
    }

    .dvThumbImage {
        text-align: center;
    }

        .dvThumbImage img {
            height: 100px;
            width: 100px;
            padding: 5px;
            border: 1px solid #e8debd;
        }

    b {
        color: red;
    }
</style>
