@model IEnumerable<CMS.Models.Eventtype>
@{
    ViewBag.Title = "EventType";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    .event-type {
        display: inline-block;
        width: 100%;
        float: left;
        position: relative;
    }

        .event-type label, .event-type div {
            display: inline-block;
            float: none;
            vertical-align: middle;
            padding-left: 0px;
            padding-right: 0px;
        }

        .event-type label {
            width: 8%;
        }

        .event-type div {
            width: 17%;
        }

        .event-type .button_type-event {
            width: 70%;
            margin-left: 1%;
        }

            .event-type .button_type-event .btn {
                margin: 0 auto;
                width: 75px;
            }

    .select_types-edit {
        width: 100%;
        float: left;
        position: relative;
        padding-left: 7.5%;
    }

        .select_types-edit select {
            width: 30%;
            height: 200px;
        }
</style>*@
<section id="content_wrapper">  
      
    @*@using (Ajax.BeginForm("EventType", "EventType", new AjaxOptions { UpdateTargetId = "tabType", HttpMethod = "Post" })) { 

    if (TempData["SuccessMessage"] != null)
    {*@
            <div class="alert alert-micro alert-border-left alert-success pastel alert-dismissable mn mb5" id="divsuccc" style="display:none;">
                <button type="button" class="close" onclick="$('#divsuccc').hide();">×</button>
                <i class="fa fa-info pr10"></i> <span id="spanid"> </span>
            </div>
        @*}*@

        <div class="row" id="modal-content">

            <div class="col-md-12 mt10">
                <div class="panel ">
                    <div class="col-md-12 admin-grid animated-delay" data-animate='["400","fadeIn"]'>
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="view_evnt fs26">Event Type</span>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">

                                    <div class="col-md-12 nopad">
                                        <ul class="nav add-cat-nav">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle add-cat-pop" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    + Add Type
                                                    <span class="caret caret-tp"></span>
                                                </a>
                                                <div class="col-sm-12 dropdown-menu dropdown-menu-cus catbg">
                                                    <div class="col-md-12 nopad">
                                                        <div class="col-md-7">
                                                            @Html.TextBox("txtEventType", null, new { @class = "form-control", @maxlength = 35, @placeholder = "Enter Type Name" })
                                                        </div>
                                                        <div class="col-md-5 ">
                                                            <button class="btn btn-primary" name="submit" value="Add" id="btnAdd" type="button">+ Add </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    </div>


                                </div>

                            </div>
                        <div class="clearfix"></div>
                        <div id="dvEvnetTypeListContainer">
                            @if (int.Parse(TempData["Count"].ToString()) > 0)
                            {
                                <div class="col-md-12 mt10 nopad">

                                    <table id="tabType" width="100%">
                                        <tbody>
                                            @{
                                                int i = 0;

                                                foreach (var itemType in Model)
                                                {
                                                    i = i + 1;
                                    <tr class="col-sm-12 catbg">
                                        <td class="col-sm-12">
                                            <label id="lblEvntTypeName-@i">@itemType.EventType1</label>
                                            <input id="txtEvnttypename-@i" type="text" style="display:none;" class="form-control" maxlength="35" />
                                        </td>
                                        <td class="pl5">
                                            <button class="btn btn-primary  br2 btn-xs fs12" style="display:none;" id="btnEditfinal-@i" type="button" onclick="EditTypefinal(this.id)"><i class="fa fa-edit"></i></button>

                                            <button class="btn btn-success  br2 btn-xs fs12" id="btnEdittype-@i" type="button" onclick="EditType('@itemType.EventTypeID',this.id)"><i class="fa fa-edit"></i></button>
                                        </td>
                                        @if (itemType.EventContains == false)
                                                {
                                                <td class="pl5">
                                                    <a class="btn btn-danger br2 btn-xs fs12" onclick="ConfirmDelete('@itemType.EventTypeID');" type="button" href="#confirm-delete-ok" data-toggle="modal" id="btnDeleteCat-@i">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                    @*<button id="btnDeleteCat-@i" type="button" onclick="DeleteType('@itemType.EventTypeID');" class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>*@
                                                </td>
                                                }
                                                else
                                                {
                                                    if (itemType.EventHide == "N" || string.IsNullOrEmpty(itemType.EventHide))
                                                    {
                                                <td class="pl5"><button id="btnHideCat-@i" type="button" onclick="HideType('@itemType.EventTypeID');" class="btn btn-block br2 btn-xs fs12"><i class="fa fa-eye"></i></button></td>
                                                    }
                                                    else
                                                    {
                                                <td class="pl5"><button id="btnHideCat-@i" type="button" onclick="HideType('@itemType.EventTypeID');" class="btn btn-block br2 btn-xs fs12"><i class="fa fa-eye-slash"></i></button></td>

                                                    }
                                                }
                                    </tr>



                                        }
                                            }
                                        </tbody>
                                    </table>






                                </div>
                                                }
                        </div>
                        </div>


                    </div>
               

                </div>
            </div>

            <input type="hidden" id="hdtypeid"/>
            <div class="modal fade" id="confirm-delete-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
                    <div class="modal-content">

                        <form id="contactForm" class="fullw1 add">
                            <div class="modal-body text-center pv50 txt-msg">

                                <h4 class="msg" id="hId"></h4>
                            </div>
                            <div class="modal-footer msg-action-btn ok">
                                <button type="submit" id="btnYes" class="btn btn-primary no" data-dismiss="modal">Yes</button>
                                <button type="button" class="btn btn-primary yes ok" id="btMesOk" data-dismiss="modal">OK</button>
                                <button type="button" id="btnNo" class="btn btn-primary no" data-dismiss="modal">No</button>
                            </div>
                        </form>
                        <input type="hidden" id="hdUserId" value="" />
                    </div>
                </div><!-- confirm-msg -->
            </div>
         
            @*<div class="col-sm-12">
                <div class="form-group event-type">
                    <label class="col-md-2 control-label acnt_form_label ">Event Type</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EventType1, new { @maxlength = 35, @class = "form-control" })

                    </div>
                    <div class="button_type-event">
                        <button type="submit" name="submit" value="Create" class="btn btn-info col-md-offset-3 acnt_btn" id="btnCreate">Create</button>
                        <button type="submit" name="submit" value="Edit" class="btn btn-info col-md-offset-3 acnt_btn" id="btnEdit">Edit</button>
                        <button type="submit" name="submit" value="Delete" class="btn btn-info acnt_btn" id="btnDelete">Delete</button>
                        <button type="button" name="submit" value="Reset" class="btn btn-info acnt_btn" id="btnReset">Reset</button>
                    </div>
                </div>

                <div class="form-group select_types-edit">
                    <div class="col-md-9">
                        @Html.ListBox("EventTypeListBox", new SelectList(ViewBag.EventType), new { @class = "form-control" })
                    </div>
                </div>
            </div>*@
            @*}*@
</section>

<script type="text/javascript">
    function ConfirmDelete(userId) {
        $("#hdtypeid").val(userId);
        $("#btnYes").show();
        $("#btnNo").show();
        $("#btMesOk").hide();



        $("#hId").text(GetMess("EventType", "EventtypeDeleteUI"));


        return false;

    }
    function GetMess(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
    $(window).load(function () {

        $("#btnEdit").hide();
        $("#btnDelete").hide();
        $("#btnReset").hide();
    });

    function EditTypefinal(id)
    {
        var no = id.substr(id.indexOf('-') + 1, id.length - id.indexOf('-'));
        var text = $('#txtEvnttypename-' + no).val();
        var id = $('#hdtypeid').val();
        $.ajax({
            url: '@Url.Action("EditType", "EventType")',
            data: { iTypeid: id, Typename: text },
            type: "POST",
            success: function (response) {

                SuccessMessage(response);
                LoadEventTypeListAsyn();
               // window.location.href = '@Url.Action("EventType", "EventType", new { })?Type=' + response;
            },
            error: function (data) {
                alert("Sorry! there is some problem.");
                return false
            }
        });

    }
    function EditType(typeid,id)
    {
        var no = id.substr(id.indexOf('-') + 1, id.length - id.indexOf('-'));
        var txt = $('#lblEvntTypeName-' + no).html();
        $('#hdtypeid').val(typeid);
        $('#lblEvntTypeName-' + no).css('display', 'none');
       $('#txtEvnttypename-' + no).css('display', 'block');
       $('#btnEditfinal-' + no).css('display', 'block');
       $('#btnEdittype-' + no).css('display', 'none');

       $('#txtEvnttypename-' + no).val(txt);

    }

    $("#btnYes").click(function () {

        $.ajax({
            url: '@Url.Action("DeleteType", "EventType")',
            data: { iType: $("#hdtypeid").val() },
            type: "POST",
            success: function (response) {
                SuccessMessage(response);
                LoadEventTypeListAsyn();
               // window.location.href = '@Url.Action("EventType", "EventType", new { })?Type=D';
            },
            error: function (data) {
                alert("Sorry! there is some problem.");
                return false
            }
        });

    });

    $("#btnAdd").click(function () {
        var Type = $("#txtEventType").val();

        $.ajax({
            url: '@Url.Action("AddType", "EventType")',
            data: { iType: Type },
            type: "POST",
            success: function (response) {

                $('#hdstate').val(response);
                $("#txtEventType").val('');
                SuccessMessage(response);
                LoadEventTypeListAsyn();
                //window.location.href = '@Url.Action("EventType", "EventType", new { })?Type=' + response;
            },
            error: function (data) {
                alert("Sorry! there is some problem.");
                return false
            }
        });



    });
    function HideType(Typeid)
    {

        $.ajax({
            url: '@Url.Action("HideType", "EventType")',
            data: { iType: Typeid },
            type: "POST",
            success: function (response) {
                SuccessMessage(response);
                LoadEventTypeListAsyn();
                //window.location.href = '@Url.Action("EventType", "EventType", new { })?Type=' + response;
            },
            error: function (data) {
                alert("Sorry! there is some problem.");
                return false
            }
        });
    }
    function DeleteType(CatId) {


                }
    $(document).ready(function () {


        //$('#btnCreate').click(function () {
        //    var newListValue = $('#EventType1').val();
        //    if ($.trim(newListValue) != '') {
        //        $('#EventTypeListBox').append('<option>' + newListValue + '</option>');
        //    }
        //});

        $("#EventTypeListBox option").click(function () {
            var _this = $(this);
            $("#EventType1").val($(_this).text());
            $("#btnCreate").hide();
            $("#btnEdit").show();
            $("#btnDelete").show();
            $("#btnReset").show();
            $("#divsuccc").hide();
        });

        $('#btnReset').click(function () {
            $("#EventType1").val("");
            $("#btnCreate").show();
            $("#btnEdit").hide();
            $("#btnDelete").hide();
            $("#btnReset").hide();
            $('#EventTypeListBox').find("option").attr("selected", false);
        });
        $('#btnCreate').click(function () {
            debugger;
            var reqval = $("#EventType1").val();
            if (reqval == "") {
                alert("Please Enter Event Type.");
                return false;
            }
            else { return true; }
        });
    });
    function LoadEventTypeListAsyn() {
        $('#dvEvnetTypeListContainer').load('@Url.Action("EventTypeList", "EventType")');
    }
    function SuccessMessage(Type) {
        
        if (Type == "S") {
            $("#spanid").html("Type Created Successfully");

        }
        if (Type == "C") {
            $("#spanid").html("Something going wrong!");

        }
        if (Type == "X") {
            $("#spanid").html("Type already exist !!");

        }
        if (Type == "D") {
            $("#spanid").html("Type deleted successfully !!");

        }
        if (Type == "E") {
            $("#spanid").html("Type Updated successfully !!");

        }
        if (Type == "HN") {
            $("#spanid").html("Type is visible to all !!");

        }
        if (Type == "HY") {
            $("#spanid").html("Type is hidden successfully !!");

        }
        if (Type == "Y") {
            $("#spanid").html("Event Sub Category Deleted.");

        }        
        $("#divsuccc").show();
        $("#divsuccc").focus();
    }
</script>