@model EventCombo.Models.Organizer_Master
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta property="og:type" content="article" />
<meta property="og:title" content='' />
<meta property="og:description" content='' />
<link href="~/Content/eventcombo-new.css" rel="stylesheet" />

<div class="event_container ">
    <div class="event_inner_container event_top view_evnt_top viewevent_container" id="eventtopscoll">
        <div class="event_detail_container">
            <div class="evnt_details_body2">
                <div class="col-sm-12 no_pad"> </div>
            </div>

        </div>
    </div>

    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-6 col-xs-6 text-left no_pad">
                <h2 class="fb_dis_head pt5 pr0">ORGANIZER INFO </h2>
            </div>
            <div class="col-sm-6 col-xs-6 pl0 text-right ev_social_share_btn">
                <a href="javascript:void(0)"><img src="/Images/mail.png"></a>
                <a href="javascript:void(0)" id="twittershare"><img src="/Images/twi.png"></a>
                <a href="javascript:void(0)" id="fbshare"><img src="/Images/fac.png"></a>

                <a href="javascript:void(0)" id="linkshare"><img src="/Images/lin.png"></a>
            </div>

            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10 mt20 clearfix">
                <div class="col-sm-9 col-xs-12 org_evnt_desc_top">
                    <img class="org_event_img" src="@Model.Imagepath" />

                    <h3 class="xs-100">@Model.Orgnizer_Name Presents</h3>
                     <p class="xs-100"> @Model.Organizer_Desc </p>
                </div>
                <div class="col-sm-3 col-xs-12 no_pad mt20">
                    <div class="col-sm-12 inst_karm_box">
                        <h4>@Model.Orgnizer_Name</h4>
                        <p><a data-target="#contorganizer" data-toggle="modal" href="#">Contact the Organizer </a></p>
                        @if (!String.IsNullOrEmpty(Model.Organizer_FBLink) )
                        {
                        <p><a href="@Model.Organizer_FBLink" target="_blank"><img src="Images/facebook-icon.png"> @Model.Organizer_FBLink</a></p>
                        }
@if (!String.IsNullOrEmpty(Model.Organizer_Twitter))
{
                        <p><a href="@Model.Organizer_Twitter" target="_blank"><img src="Images/twitter-icon.png"> 
                            @Model.Organizer_Twitter </a></p>
}
@if (!String.IsNullOrEmpty(Model.Organizer_Linkedin))
{
    <p><a href="@Model.Organizer_Linkedin" target="_blank"><img src="~/Images/linkid.png" />&nbsp; @Model.Organizer_Linkedin</a></p>
}
@if(Model.pasteventcount<=0)
{ 
                        <p>Past Event <span class="badge">@Model.pasteventcount</span></p>
}
else
{
    <p><a href="#past_event">Past Event <span class="badge">@Model.pasteventcount</span> </a></p>

}
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.presentevtcount > 0)
    {
    <div class="event_detail_container">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5">ORGANIZER'S CURRENT EVENTS </h2>
            </div>

            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2" >
            <div class="col-sm-12 no_pad" id="dvpresent">
                @foreach (var item in Model.presentevent)
                {
                    <div class="col-sm-12 mt20 org_evnt_border no_pad">
                        <div class="col-sm-3 no_pad ">
                            <img class="img-responsive" src=@item.FirstImage alt="">
                        </div>
                        <a class="org_evnt_list_main" href="@item.eventpath">
                            <div class="col-sm-9">
                                <h1 class="org_evnt_list_title">@item.Eventtitle</h1>
                                <p class="org_evnt_list">
                                    @item.Dateofevent<br />
                                    <span class="col-sm-6 no_pad">@item.Venue</span>
                                </p>
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>

            <div class="col-sm-12 no_pad">

                    @if (Model.presentevtcount > Model.maxsetcount)
                    {
                        <div class=" col-sm-6 no_pad"><input class="btn sal_viw_mor_btn org_info_btn_link" type="button" id="btnviewmore" value="View More" /> </div>

                        <div class="col-sm-6 text-right no_pad"><input class="btn sal_viw_mor_btn org_info_btn_link" type="button" id="btnviewless" value="View Less" style="visibility:hidden" /></div>
                    }
            </div>

        </div>

       

     </div>
    }
    @if (Model.pasteventcount > 0)
    {
    <div class="event_detail_container" id="past_event">
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5">ORGANIZER'S PAST EVENTS  </h2>
            </div>
            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
          <div  class="col-sm-12 no_pad" id="dvpast">
@foreach (var item in Model.pastevent)
{
    <div class="col-sm-12 mt20 org_evnt_border no_pad">
        <div class="col-sm-3 no_pad ">
            <img class="img-responsive" src=@item.FirstImage alt="">
        </div>
        <a class="org_evnt_list_main" href="@item.eventpath">
            <div class="col-sm-9">
                <h1 class="org_evnt_list_title">@item.Eventtitle</h1>
                <p class="org_evnt_list">
                    @item.Dateofevent<br />
                    <span class="col-sm-6 no_pad">@item.Venue</span>
                </p>
            </div>
            </a>
            <div class="clearfix"></div>
</div>
}
          </div>

            <div class="col-sm-12 no_pad">

                @if (Model.pasteventcount > Model.maxsetcount)
                {
                    <div class=" col-sm-6 no_pad"><input class="btn sal_viw_mor_btn org_info_btn_link" type="button" id="btnviewmorepast" value="View More" /> </div>

                    <div class="col-sm-6 text-right no_pad"><input class="btn sal_viw_mor_btn org_info_btn_link" type="button" id="btnviewlesspast" value="View Less" style="visibility:hidden" /></div>
                }
            </div>

        </div>
      
    </div>
    }

    <div class="event_detail_container">

        <div class="EveDisRib evnt_tile_dis_head evnt_cursor">
            <div class="evnt_tile_dis_bg_l"></div>
            <div class="FacdisComm col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5"><img src="images/fb-dis.png" class="img_top"> Facebook Comment</h2>
            </div>
            <div class="evnt_tile_dis_bg_r evnt_tile_bg_r_call"></div>
        </div>

        <div class="EveActRib evnt_tile_head evnt_cursor">
            <div class="evnt_tile_bg_l"></div>
            <div class="FacdactComm col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5"><img src="images/fb.png" class="img_top"> Facebook Comment</h2>
            </div>
            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>

        <div class="evnt_details_body2">
            <div class="Evenfaccomment col-sm-12 ev_white_bg pb10 mt20 pt10">
                @*<label class="label-control evnt_ticket_label">
                    <img src="images/fb_connect.jpg"> to see which of your Facebook friends are going
                </label>*@
            </div>
        </div>
    </div>

    <div class="modal fade" id="contorganizer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title ev_modal_header_title" id="myModalLabel">Contact the Organizer</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div id="orgerror" class="alert-danger" style="display:none;">Please fill out the missing information</div>
                        <div class="col-xs-12 form-group mb10">
                            <label class="col-sm-2 control-label ev_tickt_lebel ">Name</label>
                            <div class="col-sm-8">
                                <input class="form-control evnt_inp_cont" type="text" id="id_orgname">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 form-group mb10">
                            <label class="col-sm-2 control-label ev_tickt_lebel ">Email</label>
                            <div class="col-sm-8">
                                <input class="form-control evnt_inp_cont" type="text" id="id_orgemail">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 form-group mb10">
                            <label class="col-sm-2 control-label ev_tickt_lebel ">Message</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="4" id="id_orgtext"></textarea>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg ev_add_sub_btn " id="saveorgaizermsg">SAVE</button>
                </div>

            </div>
        </div>
    </div>
    <input id="hdtotpresentcount" value="@Model.presentevtcount" type="hidden" />
    <input id="hdtotpastcount" value="@Model.pasteventcount" type="hidden" />
    <input id="hdpresentcount" value="@Model.maxsetcount" type="hidden" />
    <input id="hdpastcount" value="@Model.maxsetcount" type="hidden" />
    <input id="hdmaxsetcount" value="@Model.maxsetcount" type="hidden" />
       <div class="modal fade" id="schcalender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title ev_modal_header_title" id="myModalLabel">Add to Calendar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 no_pad">
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-windows"></i> <a href="#">Microsoft Outlook </a>
                        </div>
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-apple"></i> <a href="#">Apple Ical </a>
                        </div>
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-google"></i> <a href="#">Google Calendar </a>
                        </div>
                        <div class="col-md-6 text-center ev_calend_lebel">
                            <i class="fa fa-yahoo"></i> <a href="#">Yahoo Calendar </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".EveActRib").css("display", "none");
        $(".FacdisComm").click(function(){
            $(".EveActRib").show();
            $(".EveDisRib").hide();
        });

        $(".FacdactComm").click(function(){
            $(".EveActRib").hide();
            $(".EveDisRib").show();

        });

        $(".Evenfaccomment").css("display", "none");
        $(".EveDisRib").click(function(){
            $(".Evenfaccomment").slideToggle("fast");
        });
        $(".EveActRib").click(function(){
            $(".Evenfaccomment").slideToggle("fast");
        });

        $("#btnviewmorepast").click(function(){
    
            var hdpresentcount=parseInt( $("#hdpastcount").val());
            var hdtotcount=parseInt($("#hdtotpastcount").val());
            var maxsetcount=parseInt($("#hdmaxsetcount").val());
            $("#btnviewlesspast").css('visibility','visible');
           
            if(hdpresentcount<hdtotcount)
            {
                var orgid=@Model.Orgnizer_Id;
                var countpresent=$("#hdpastcount").val();
                countpresent= parseInt(countpresent)+maxsetcount;
                $("#hdpastcount").val(countpresent);
                $('#dvpast').load('@Url.Action("Organiserlist", "OrganizerInfo", new { })?OrganizerID=' + orgid + '&lengthorg='+countpresent+'&type=Past');
            }
            if(hdpresentcount>=hdtotcount)
            {
                $("#btnviewmorepast").css('visibility','hidden');
            }
        
        });
        $("#btnviewlesspast").click(function(){
         
            var hdpresentcount=parseInt($("#hdpastcount").val());
            var hdtotcount=parseInt($("#hdtotpastcount").val());
            var maxsetcount=parseInt($("#hdmaxsetcount").val());
          
            var orgid=@Model.Orgnizer_Id;
            var countpresent=$("#hdpastcount").val();
            countpresent= parseInt(countpresent)-maxsetcount;
            $("#btnviewmorepast").css('visibility','visible');
            $("#hdpastcount").val(countpresent);
            $('#dvpast').load('@Url.Action("Organiserlist", "OrganizerInfo", new { })?OrganizerID=' + orgid + '&lengthorg='+countpresent+'&type=Past');
            var hdpresentcount=parseInt($("#hdpastcount").val());
            if(hdpresentcount==maxsetcount)
            {
                $("#btnviewlesspast").css('visibility','hidden');
           
            }

        });

        $("#btnviewmore").click(function(){
           
            var hdpresentcount=parseInt( $("#hdpresentcount").val());
            var hdtotcount=parseInt($("#hdtotpresentcount").val());
            var maxsetcount=parseInt($("#hdmaxsetcount").val());
            $("#btnviewless").css('visibility','visible');
          
            if(hdpresentcount<hdtotcount)
            {
                var orgid=@Model.Orgnizer_Id;
                var countpresent=$("#hdpresentcount").val();
                countpresent= parseInt(countpresent)+maxsetcount;
                $("#hdpresentcount").val(countpresent);
                $('#dvpresent').load('@Url.Action("Organiserlist", "OrganizerInfo", new { })?OrganizerID=' + orgid + '&lengthorg='+countpresent+'&type=Present');
            }
            if(hdpresentcount>=hdtotcount)
            {
                $("#btnviewmore").css('visibility','hidden');
            }
        });
        $("#btnviewless").click(function(){
            debugger;
            var hdpresentcount=parseInt($("#hdpresentcount").val());
            var hdtotcount=parseInt($("#hdtotpresentcount").val());
            var maxsetcount=parseInt($("#hdmaxsetcount").val());
            $("#btnviewmore").css('visibility','visible');
                var orgid=@Model.Orgnizer_Id;
                var countpresent=$("#hdpresentcount").val();
                countpresent= parseInt(countpresent)-maxsetcount;
                $("#hdpresentcount").val(countpresent);
                $('#dvpresent').load('@Url.Action("Organiserlist", "OrganizerInfo", new { })?OrganizerID=' + orgid + '&lengthorg='+countpresent+'&type=Present');
            var hdpresentcount=parseInt($("#hdpresentcount").val());
            if(hdpresentcount==maxsetcount)
            {
                $("#btnviewless").css('visibility','hidden');
           
            }

        });
        $('#saveorgaizermsg').click(function () {


            var errormsg = "", erroremail = "";
            var name = $('#id_orgname').val();
            var mail = $('#id_orgemail').val();
            var txt = $('#id_orgtext').val();
            var orgid=@Model.Orgnizer_Id;
            var eventid=@Model.Eventid;
            var count = 0;

            if (name != '') {
                $('#id_orgname').removeClass('err-bor');

            } else {

                count++;
                $('#id_orgname').addClass('err-bor');

            }



            if (!validateEmail(mail)) {
                $('#id_orgemail').addClass('err-bor');
                errormsg += "Invalid Email</br>";
            }



            if (txt != '') {
                $('#id_orgtext').removeClass('err-bor');

            } else {
                count++;
                $('#id_orgtext').addClass('err-bor');

            }
            if (erroremail != "") {
                errormsg += erroremail;

            }
            if (count > 0)
            {
                errormsg = "Fill the missing details"
            }
            if (errormsg != "") {

                $('#orgerror').css('display', 'block');
                $('#orgerror').html(errormsg);
                return false;
            }
            else {

                var model = {
                    'email': mail,
                    'name': name,
                    'mesasges': txt,
                    'organiserid':orgid,
                    'EventId':eventid

                    }
                $.ajax({
                    url: '@Url.Action("saveorganizermsg", "CreateEvent")',
                    data: model,
                    type: "Post",
                    success: function (response) {
                        $('#orgerror').css('display', 'block');
                        $('#orgerror').addClass('alert-success');
                        $('#orgerror').removeClass('alert-danger ');
                        $('#orgerror').html("Message has been successfully send!!");
                        $('#id_orgname').val('');
                        $('#id_orgemail').val('');
                        $('#id_orgtext').val('');
                    }
                });
            }


        });

        $('#fbshare').click(function () {



            window.open('https://www.facebook.com/sharer.php?s=100&&p[url]=' + encodeURIComponent(location.href) + '', 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=626,height=436');
            return false;



        });

        $('#twittershare').click(function () {



            window.open('https://twitter.com/share?url=' + encodeURIComponent(location.href) + '&via=twitterdev&related=twitterapi%2Ctwitter', 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=626,height=436');
            return false;

        });

        $('#linkshare').click(function () {



            window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(location.href) + '', 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=626,height=436');
            //window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(location.href) + '&title=' + title + '&summary= ' + desc + '', '_self', resizable = yes, width = 626, height = 436);
            return false;
        });


    });

</script>

