@using System.Collections.Generic;
@using System.Linq;
@using CMS.Models;
@model OrderDetailsViewModel
<td colspan="10" style="padding:0px;">
  <table class="table" style="margin-bottom:0px;">
    <tr class="UETableTDSUbDivBackColor">
      <td class="subTableInnerTD"><b>Payment</b></td>
      <td class="subTableInnerTD">Paid by @Model.Payment</td>
      <td class="subTableInnerTD"><b></b></td>
      <td class="subTableInnerTD"></td>
      <td class="subTableInnerTD"></td>
    </tr>
    <tr class="UETableTDSUbDivBackColor">
        <td class="subTableInnerTD"><b>Customer Address:</b></td>
        <td class="subTableInnerTD" colspan="4">@Model.Address</td>
    </tr>
    <tr class="UETableTDSUbDivBackColor">
        <td class="subTableInnerTD"><b>Customer Name:</b></td>
        <td class="subTableInnerTD">@Model.Name</td>
        <td class="subTableInnerTD"><b></b></td>
        <td class="subTableInnerTD" colspan="2"></td>
    </tr>
    <tr class="UETableTDSUbDivBackColor">
        <td class="subTableInnerTD"><b>Customer Email:</b></td>
        <td class="subTableInnerTD"><span class="emailAddressUETble">@Model.Email</span></td>
        <td class="subTableInnerTD"><b>Attendees</b></td>
        <td class="subTableInnerTD"></td>
        <td class="subTableInnerTD"></td>
    </tr>
    <tr class="UETableTDSUbDivBackColor">
      <td class="subTableInnerTD"><b>Customer Phone:</b></td>
      <td class="subTableInnerTD">@Model.PhoneNumber</td>
      <td class="subTableInnerTD" style="background-color: rgba(128, 128, 128, 0.23);"><b>Name</b></td>
      <td class="subTableInnerTD" style="background-color: rgba(128, 128, 128, 0.23);"><b>Email</b></td>
      <td class="subTableInnerTD" style="background-color: rgba(128, 128, 128, 0.23);"><b>Phone</b></td>
    </tr>

    @for (var i = 0; i < (Model.Attendees.Count > 2 ? Model.Attendees.Count : 2); i++)
    {
      if (i == 0)
      {
        <tr class="UETableTDSUbDivBackColor">
          <td class="subTableInnerTD"><b>Event Date:</b></td>
          <td class="subTableInnerTD">@(Model.EventDate)</td>
          @if (Model.Attendees.Count > 0)
          {
            <td class="subTableInnerTD">
              <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivName@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].Name" />
            </td>
            <td class="subTableInnerTD">
              <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivEmail@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].Email" />
            </td>
            <td class="subTableInnerTD">
                <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivPhone@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].PhoneNumber" />
            </td>
          }
          else
          {
            <td class="subTableInnerTD">
              <b>No attendees</b>
            </td>
            <td class="subTableInnerTD"></td>
            <td class="subTableInnerTD"></td>
          }
        </tr>
      }
      else if (i == 1)
      {
        <tr class="UETableTDSUbDivBackColor">
          <td class="subTableInnerTD"><b>Event Location:</b></td>
          <td class="subTableInnerTD">@(Model.EventLocation)</td>
          @if (Model.Attendees.Count > 1)
          {
            <td class="subTableInnerTD">
              <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivName@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].Name" />
            </td>
            <td class="subTableInnerTD">
              <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivEmail@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].Email" />
            </td>
            <td class="subTableInnerTD">
                <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivPhone@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].PhoneNumber" />
            </td>
          }
          else
          {
            <td class="subTableInnerTD"></td>
            <td class="subTableInnerTD"></td>
            <td class="subTableInnerTD"></td>
          }
        </tr>
      }
      else
      {
        <tr class="UETableTDSUbDivBackColor">
          <td class="subTableInnerTD" colspan="2"></td>
          <td class="subTableInnerTD">
            <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivName@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].Name" />
          </td>
          <td class="subTableInnerTD">
            <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivEmail@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].Email" />
          </td>
          <td class="subTableInnerTD">
              <input disabled="disabled" type="text" data-bearerid="@(Model.Attendees[i].TicketbearerId)" id="UETableTDSUbDivPhone@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)" class="UETableTDSUbDiv1NameCls EditAttendee" value="@Model.Attendees[i].PhoneNumber" />
          </td>
        </tr>
      }
    }
      <tr class="UETableTDSUbDivBackColor">
          <td class="subTableInnerTD"><b>Ticket Names:</b></td>
          <td class="subTableInnerTD" colspan="3">
              @Model.TicketNames
          </td>
          <td class="subTableInnerTD"></td>
      </tr>
      <tr class="UETableTDSUbDivBackColor">
          <td class="subTableInnerTD" colspan="5" style="border-top: 0px;">
              <table style='width:100%;' class="table-bordered">
                  @foreach (var addressDateItem in Model.TicketAttendees.Select(x => new { x.Address, x.StartDate }).Distinct())
                  {
                      <tr><td colspan="4"><p style='margin:0px;padding:0px;margin-bottom:5px;font-size:13px;color:#aaaaaa;'>@addressDateItem.Address<span style='float:right;'>@addressDateItem.StartDate.ToLongDateString() </span></p></td></tr>
                      <tr style="background-color: rgba(128, 128, 128, 0.23);">
                          <th>Name</th>
                          <th>Type</th>
                          <th>QTY</th>
                          <th style="text-align:right;">Price</th>
                      </tr>
                      foreach (var item in Model.TicketAttendees.Where(x => x.Address == addressDateItem.Address && x.StartDate == addressDateItem.StartDate))
                      {
                          <tr>
                              <td style="@(!string.IsNullOrEmpty(item.PromoCode) && item.PromoCodePrice > 0?"border-bottom:0px;":"")">@item.AttendeeName</td>
                              <td style="@(!string.IsNullOrEmpty(item.PromoCode) && item.PromoCodePrice > 0?"border-bottom:0px;":"")">@item.TicketName</td>
                              <td style="@(!string.IsNullOrEmpty(item.PromoCode) && item.PromoCodePrice > 0?"border-bottom:0px;":"")">@item.Quantity</td>
                              <td style="text-align:right;@(!string.IsNullOrEmpty(item.PromoCode) && item.PromoCodePrice > 0?"border-bottom:0px;":"")">@item.PriceStr</td>
                          </tr>
                          if (!string.IsNullOrEmpty(item.PromoCode) && item.PromoCodePrice > 0)
                          {
                              <tr>
                                  <td colspan="3" style="text-align: center;color: green;">@item.PromoCode</td>
                                  <td style="text-align:right;border-top:0px;color: green;">-$@item.PromoCodePrice</td>
                              </tr>
                          }
                      }
                  }
                  @foreach (var item in Model.VariableChages)
                  {
                      <tr>
                          <td colspan="2">&nbsp;</td>
                          <td>@item.VariableDesc</td>
                          <td style="text-align:right;">$@item.Price</td>
                      </tr>
                  }
                  <tr>
                      <td colspan="2">&nbsp;</td>
                      <td>Total</td>
                      <td style="text-align:right;">$@(Model.OrderTotalAmount)</td>
                  </tr>
              </table>
          </td>
      </tr>
    @if (Model.Attendees.Count > 0)
    {
      <tr class="UETableTDSUbDivBackColor">
        <td class="subTableInnerTD" colspan="2" style="border-top: 0px;"></td>
        <td class="subTableInnerTD" colspan="2" style="border-top: 0px;">
          <div class="basicInfoUnCheckBox" id="sendConfirmationEmail@(Model.OrderId)" onclick="setCheckBoxChecked(this);">Send confirmation email to new attendee</div>
        </td>
        <td class="subTableInnerTD" style="border-top: 0px;"></td>
      </tr>
    }
    <tr class="UETableTDSUbDivBackColor" style="height: 85px;">
      <td class="subTableInnerTD" colspan="4">
        <div id="ajaxanswer@(Model.OrderId)"></div>
      </td>
      <td class="subTableInnerTD"></td>
    </tr>
    <tr class="UETableTDSUbDivBackColorFooter">
      <td class="UETableTDSUbDivFooterLinks" @(Model.Attendees.Count > 0 ? "onclick=editAttendees(this);" : "")>@(Model.Attendees.Count > 0 ? "EDIT" : "")</td>
      <td class="UETableTDSUbDivFooterLinks">@(Html.ActionLink("PRINT TICKETS", "Ticket", "Download", new { OrderId = Model.OrderId, format = "pdf" }, new { target = "_blank" }))</td>
      <td class="UETableTDSUbDivFooterLinks">
        <a data-toggle="modal" data-target="#cancelModal@(Model.OrderId)">CANCEL ORDER</a>
        <div class="modal fade" id="cancelModal@(Model.OrderId)" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header cancelOrderHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title cancelOrderTitleHead">Cancel Free Order</h1>
              </div>
              <div class="modal-body">
                <p class="cancelOrderBodyTxt">Are you sure you want to cancel this order?</p>
                <button type="button" class="btn btn-primary cancelOrderBodyBtn" data-dismiss="modal" onclick="SendCancelOrder(this, '@(Model.OrderId)')">YES, CANCEL THIS ORDER</button>
                <button type="button" class="btn btn-default cancelOrderBodyBtn" data-dismiss="modal">NO, NEVERMIND</button>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="UETableTDSUbDivFooterLinks">
        <a data-toggle="modal" data-target="#contactModal@(Model.OrderId)">CONTACT ORGANIZER</a>
        <div class="modal fade" id="contactModal@(Model.OrderId)" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title contactOrderTitleHead">Contact Host</h1>
              </div>
              <div class="modal-body">
                <label class="cancelOrderBodyTxt contactBodyTxt"><b>YOUR NAME</b></label>
                <input type="text" id="nameContact@(Model.OrderId)" class="UETableTDSUbDiv1NameCls cancelOrderBodyTxt" />

                <label class="cancelOrderBodyTxt contactBodyTxt"><b>EMAIL</b></label>
                <input type="text" id="emailContact@(Model.OrderId)" class="UETableTDSUbDiv1NameCls cancelOrderBodyTxt" />

                <label class="cancelOrderBodyTxt contactBodyTxt"><b>MESSAGE</b></label>
                <textarea id="messageContact@(Model.OrderId)" class="messageContact1Cls cancelOrderBodyTxt"></textarea>
                <label class="txtAreaModelLbl">Your message will only be seen by the event organizer.</label>

                <button type="button" class="btn btn-primary cancelOrderBodyBtn" data-dismiss="modal" onclick="SendOrganizerMessage('@(Model.OrderId)')">SEND MESSAGE</button>
                <button type="button" class="btn btn-default cancelOrderBodyBtn" data-dismiss="modal">CANCEL</button>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="UETableTDSUbDivFooterLinks" colspan="2" onclick="saveChangeFunc('@(Model.OrderId)')">SAVE CHANGES</td>
    </tr>
  </table>


</td>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
@for (var i = 0; i < Model.Attendees.Count; i++)
{
    <script>
        jQuery(function ($) {
            $("#UETableTDSUbDivPhone@(Model.OrderId)_@(Model.Attendees[i].TicketbearerId)").mask("999-999-9999");
        });
    </script>
}