@model PagedList.IPagedList<CMS.Models.V_Users>
@using PagedList.Mvc;
@using CMS.Models;
@{
    ViewBag.Title = "Users";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
   iframe {
    border: none;
}
</style>
<!-- Meta, title, CSS, favicons, etc. -->


<link rel="stylesheet" type="text/css" href="~/plugins/footable/css/footable.core.min.css">
<link rel="stylesheet" type="text/css" href="~/plugins/magnific/magnific-popup.css">
<link href="~/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />

@using (Html.BeginForm("Users", "Users", FormMethod.Post, new { id = "formuser", cssClass = "admin-form" }))
{
    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Start: Topbar -->
        <header id="topbar" class="alt">
            <div class="topbar-left">
                <ol class="breadcrumb">

                    <li class="crumb-icon">
                        <a href="dashboard.html">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li class="crumb-active">
                        Dashboard
                    </li>
                </ol>
            </div>

        </header>
        <!-- End: Topbar -->
        <!-- Begin: Content -->

        <div id="content" class="animated fadeIn">
            <div class="row" id="modal-content">
                <div class="col-md-12">

                    <div class="admin-panels ">

                        <div class="row">
                            <div class="col-md-12 admin-grid animated-delay" data-animate='["400","fadeIn"]'>
                                <div class="panel sort-disable mb_0" id="p2" data-panel-color="false" data-panel-fullscreen="false" data-panel-remove="false" data-panel-title="false" data-panel-fullscreen="false">
                                    <div class="panel-heading panel_loader search-pnl">

                                        <span class="view_evnt fs26 col-sm-4">  Member Management</span>
                                        <span class="view_evnt fs15 col-sm-4 text-right">Total no. of members:@ViewData["Userscount"] </span>
                                        <label class="field select admin-form col-sm-3 text-right srh-by-no width215">

                                            @Html.DropDownList("ddlPageF", ViewBag.ddlPageF as List<SelectListItem>, new { style = "width: 100%;" })


                                            @*<select>
                                                    <option value="0">Select</option>
                                                    <option value="0">01 - 50</option>
                                                    <option value="1">51 - 100</option>
                                                    <option value="2">101 - 150</option>
                                                </select>*@
                                            <i class="arrow double"></i>
                                        </label>
                                    </div>

                                    <div class="panel-body">
                                        <!--  <hr class="short alt"> -->

                                        <div class="col-md-3 mb5">

                                            @Html.TextBox("SearchStringFirstName", "", new { Class = "form-control", placeholder = "First Name" })


                                        </div>

                                        <div class="col-md-3 mb5">

                                            @Html.TextBox("SearchStringLastName", "", new { Class = "form-control", placeholder = "Last Name" })

                                        </div>
                                        <div class="col-md-3 mb5">

                                            @Html.TextBox("SearchStringEmail", "", new { Class = "form-control", placeholder = "Email Id" })

                                        </div>


                                        <div class="col-md-3 mb5">

                                            <input class="btn btn-info br2 col-md-12 fs15" type="submit" value="Search" />                                            

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-12 clearfix">
                                <div class="table-responsive">
                                    <table id="tblMain" class="table">
                                        <thead class="bg_white">
                                            <tr>
                                                <th>
                                                    @{
                                                        string url = Request.Url.GetLeftPart(UriPartial.Authority);
                                                        string sno = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] +"&sortorder=sno";
                                                        string snodesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=snodesc";
                                                        string name = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=name";
                                                        string namedesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=namedesc";
                                                        string role = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=role";
                                                        string roledesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=roledesc";
                                                        string email = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=email";
                                                        string emaildesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=emaildesc";
                                                        string event1 = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=event";
                                                        string eventdesc= url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=eventdesc";
                                                        string deals = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=deals";
                                                        string dealsdesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=dealsdesc";
                                                        string location = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=location";
                                                        string locationdesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=location_desc";
                                                        string ticketpurchased = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=ticketpurchased";
                                                        string ticketpurchaseddesc = url+"/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=ticketpurchased_desc";
                                                        string dealpurchased = url+"/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=dealpurchased";
                                                        string dealpurchaseddesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=dealpurchased_desc";
                                                        string Orgaizer = url+"/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=Organiser";
                                                        string Orgaizerdesc = url+"/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=Orgaizerdesc";
                                                        string Merchant = url+"/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=Merchant";
                                                        string Merchantdesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=Merchantdesc";
                                                        string status = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=status";
                                                        string statusdesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=statusdesc";
                                                        string Online = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=Online";
                                                        string Onlinedesc = url+ "/util_admin_bolt/Users/Users?SearchStringFirstName=" + @TempData["SearchStringFirstName"] + "&SearchStringLastName=" + @TempData["SearchStringLastName"] + "&SearchStringEmail=" + @TempData["SearchStringEmail"] + "&sortorder=Onlinedesc";
                                                    }
                                                Sno.
                                                    <div class="sor-evnt-cls">
                                                        <span class="crt_evnt_drop_up"> <a href="@sno"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@snodesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                    
                                                </th>
                                                <th>Name
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@name"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@namedesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                </th>
                                                 
                                                <th>Role
                                                   <div class="">
                                                    <span class="crt_evnt_drop_up"> <a href="@role"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                    <span class="crt_evnt_drop_down"> <a href="@roledesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                   </div>
                                                </th>
                                                <th>Email
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@email"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@emaildesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                   </div>
                                                </th>
                                                <th>Event
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@event1"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@eventdesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                </th>
                                                <th>Deals
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@deals"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@dealsdesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                </th>
                                                <th>Location
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@location"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@locationdesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                 </th>
                                                <th>Tickets Purchased
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@ticketpurchased"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@ticketpurchaseddesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                 </th>  
                                                <th>Deals purchased
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@dealpurchased"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@dealpurchaseddesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>

                                                    </div>
                                                 </th>
                                                <th>Organizer
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@Orgaizer"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@Orgaizerdesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                </th>
                                                <th>Merchant
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@Merchant"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@Merchantdesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                 </th>
                                                <th data-column-id="status" data-order="desc" data-identifier="true">Status
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@status"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@statusdesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                </th>
                                                <th class="sornone">Action</th>
                                                <th>Online
                                                    <div class="">
                                                        <span class="crt_evnt_drop_up"> <a href="@Online"><img src="~/assets/img/arw-up.png" /></a> </span>
                                                        <span class="crt_evnt_drop_down"> <a href="@Onlinedesc"><img src="~/assets/img/arw-dwn1.png" /></a> </span>
                                                    </div>
                                                </th>
                                                    
                                            </tr>
                                        </thead>
                                        <tbody class="bg_white">

                                            @{
                                                int i = 0;
                                                int pagenumber =Convert.ToInt32(TempData["PageNo"]);
                                                int pagesize= Convert.ToInt32(TempData["Pagesize"]);
                                                if (pagenumber==1)
                                                {
                                                    i = 0;
                                                }
                                                else
                                                {
                                                    i = pagesize*(pagenumber-1);
                                                }

                                                foreach (var obj in  Model   )
                                                {


                                                    i = i + 1;
                                                    <tr>

                                                        <td>@obj.Sno</td>
                                                        <td class="eml-ellps" title="@obj.FirstName @obj.LastName">

                                                            @obj.FirstName  @obj.LastName

                                                        </td>
                                                        <td>
                                                            <label id="lblRole-@i" style="display:none">@obj.RoleType</label>
                                                            <a class="holder-active animation-switcher" href="#modal-panel" id="aRoles-@i">
                                                                <button class="btn btn-warning br2 btn-xs fs12" data-effect="mfp-flipInY" id="btnRoles" onclick="AssignUserId('@(obj.Id)',@i)" type="button">@obj.RoleType</button>
                                                                @*<input type="button" class="btn btn-warning br2 btn-xs fs12" data-effect="mfp-flipInY" id="btnRoles" onclick="AssignUserId('@(obj.Id)')" value="Manage" />*@


                                                                @Html.HiddenFor(x => obj.Id, new { id = "hdUName" })
                                                                <input type="hidden" id="HdRole-@i" value="@obj.Role" />
                                                                <input type="hidden" id="HdId" />

                                                            </a>
                                                        </td>
                                                        <td class="eml-ellps" title="@obj.EMail">@obj.EMail</td>
                                                        <td>
                                                            <a href="javascript:;" class="btn btn-success br2 btn-xs fs12" id="Event-@i" onclick="return checkeventcount(this.id, '@obj.Id')">@obj.EventCount</a>

                                                            @*<button type="button" class="btn btn-info br2 btn-xs fs12" onclick="AssignSession('@(obj.Id)',@i)" id="btnevents-@i">
                                                              
                                                            </button>*@
                                                            
                                                        </td>
                                                        <td>0</td>
                                                        <td>@obj.Ipcountry</td>
                                                        <td>@obj.TicketPurchased</td>
                                                        <td>0</td>
                                                        <td>
                                                            <div class="section" id="dvorganiser-@i">
                                                                <label class="field select">
                                                                  
                                                                    @if (obj.Organiser == "Y")
                                                                    { 
                                                                        <select id="dlOrgnizer-@i" onchange="SaveFields('@obj.Id','dlOrgnizer',this.value,this.id)">
                                                                            @*<option  value="0">Select</option>*@
                                                                            <option selected="selected" value="1">Yes</option>
                                                                            <option value="2">No</option>
                                                                        </select>
                                                                        <i class="arrow double"></i>

                                                                    }
                                                                    else if (obj.Organiser == "N")
                                                                    {
                                                                        <select id="dlOrgnizer-@i" onchange="SaveFields('@obj.Id','dlOrgnizer',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option value="1">Yes</option>
                                                                            <option selected="selected" value="2">No</option>
                                                                        </select>
                                                                        <i class="arrow double"></i>

                                                                    }
                                                                    else
                                                                    {
                                                                        <select id="dlOrgnizer-@i" onchange="SaveFields('@obj.Id','dlOrgnizer',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option value="1">Yes</option>
                                                                            <option selected="selected" value="2">No</option>
                                                                        </select>
                                                                        <i class="arrow double"></i>
                                                                    }


                                                                </label>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div class="section" id="dvmerchant-@i">
                                                                <label class="field select">
                                                                   
                                                                    @if (obj.Merchant == "Y")
                                                                    {
                                                                        <select id="dlMerchant-@i" onchange="SaveFields('@obj.Id','dlMerchant',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option selected="selected" value="1">Yes</option>
                                                                            <option value="2">No</option>
                                                                        </select>
                                                                    }
                                                                    else if (obj.Merchant == "N")
                                                                    {
                                                                        
                                                                        <select id="dlMerchant-@i" onchange="SaveFields('@obj.Id','dlMerchant',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option value="1">Yes</option>
                                                                            <option selected="selected" value="2">No</option>
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <select id="dlMerchant-@i" onchange="SaveFields('@obj.Id','dlMerchant',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option value="1">Yes</option>
                                                                            <option selected="selected" value="2">No</option>
                                                                        </select>
                                                                    }

                                                                    <i class="arrow double"></i>
                                                                </label>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div class="section" id="dvstatus-@i">
                                                                <label class="field select">
                                                                 
                                                                    @if (obj.UserStatus == "Y")
                                                                    {
                                                                        <select id="dlStatus-@i" onchange="SaveFields('@obj.Id','dlStatus',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option value="1" selected="selected">Enable</option>
                                                                            <option value="2">Disable</option>
                                                                        </select>
                                                                    }
                                                                    else if (obj.UserStatus == "N")
                                                                    {
                                                                        <select id="dlStatus-@i" onchange="SaveFields('@obj.Id','dlStatus',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option value="1">Enable</option>
                                                                            <option value="2" selected="selected">Disable</option>
                                                                        </select>
                                                                    }

                                                                    else
                                                                    {
                                                                        <select id="dlStatus-@i" onchange="SaveFields('@obj.Id','dlStatus',this.value,this.id)">
                                                                            @*<option value="0">Select</option>*@
                                                                            <option value="1" selected="selected">Enable</option>
                                                                            <option selected="selected" value="2">Disable</option>
                                                                        </select>
                                                                    }
                                                                    <i class="arrow double"></i>
                                                                </label>
                                                            </div>

                                                        </td>
                                                        @*<td>
                                                                <a href="~/Views/MyAcc/MyAccount.cshtml" class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i> </a>
                                                                @Html.ActionLink("Update", "MyAccount", "MyAcc", new { UserId = obj.Id }, null)
                                                                <button class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i></button>
                                                            </td>*@
                                                        <td>
                                                            <a href="~/MyAcc/MyAccount?UserId=@obj.Id" class="btn btn-success br2 btn-xs fs12"><i class="fa fa-edit"></i> </a>
                                                            @*@Html.ActionLink("Update", "MyAccount","MyAcc",new {UserId=obj.Id },null)*@
                                                            @*<a href="~/Users/MyAccount?UserId=@obj.Id" class="btn btn-danger br2 btn-xs fs12"><i class="fa fa-remove"></i> </a>*@
                                                            @*<button class="btn btn-danger br2 btn-xs fs12" id="btnManage" onclick="ConfirmDelete('@obj.Id')"></button>*@
                                                            @if (obj.TicketPurchased <= 0)
                                                            {
                                                                <a class="td-btn" onclick="ConfirmDelete('@obj.Id');" type="button" href="#confirm-delete-ok" data-toggle="modal" id="adelete-@i">
                                                                    <i class="fa fa-remove"></i>
                                                                </a>
                                                            }

                                                        </td>
                                                        <td>
                                                           
                                                            @if (obj.Online == "Y")
                                                            {
                                                                <span class="fa fa-circle text-success fs14" title="online"></span>
                                                                
                                                            }
                                                            else
                                                            {
                                                                <span class="fa fa-circle  text-danger fs14" title="online"></span>
                                                            }
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>                                        
                                        @*<tfoot class="footer-menu">
                                            <tr>
                                                <td colspan="15">
                                                    <nav class="text-right">
                                                        <ul class="pagination hide-if-no-paging" id="ulpage"></ul>
                                                    </nav>
                                                </td>
                                            </tr>
                                        </tfoot>*@

                                    </table>
                                   
                                    <div class="col-xs-12 no_pad" style="text-align:right">
                                        @Html.PagedListPager(Model, pageF => Url.Action("Users", new { pageF, SearchStringFirstName = TempData["SearchStringFirstName"], SearchStringLastName = TempData["SearchStringLastName"], SearchStringEmail = TempData["SearchStringEmail"], sortorder= TempData["sortorder"]}))
                                    </div>
                                          @if (Convert.ToInt32(ViewData["SearchedUser"]) == 0 && ViewData["SearchedUser"]!=null)
                                    {
                                       <div class="col-xs-12 no_pad text-center">No Result Found.</div> 
                                    }
                                    
                                </div>
                            </div>
                        </div>


                    </div>

                </div>



                <div id="modal-panel" class="popup-basic bg-none popup-lg mfp-with-anim mfp-hide">
                    <input type="hidden" id="hidUid" class="hUname" value="" />
                    <div class="col-md-12" style="display:none;" id="divError">
                        <div class="alert alert-success alert-dismissable">
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&#215;</button>
                            <i class="fa fa-info pr10"></i>
                            <span id="spanid"></span>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Manage Role</span>

                        </div>
                        <div id="dvRoleMain" class="panel-body admin-form">
                            <form class="form-horizontal">
                                <div class="col-md-12">
                                    <h3 class="mt5"> Select Role</h3>

                                    <div class="radio-custom radio-primary mt5 fl-lft mr10">
                                        <input id="rdAdmin" type="radio" name="Permission">
                                        <label for="rdAdmin">Admin</label>

                                    </div>
                                    <div class="radio-custom radio-primary mt5 fl-lft mr10">
                                        <input id="rdMemberLimit" type="radio" class="Permission" name="Permission">
                                        <label for="rdMemberLimit">Member Limited</label>
                                    </div>
                                    <div class="radio-custom radio-primary mt5 fl-lft mr10">
                                        <input id="rdMember" type="radio" class="Permission" name="Permission">
                                        <label for="rdMember">Member</label>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12"><hr class="short alt"></div>
                                <div class="col-md-12">

                                    <div id="dvMemLimited">
                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" class="chkPermission" checked="" id="chk_1">
                                            <label for="chk_1">Events</label>
                                        </div>
                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" class="chkPermission" checked="" id="chk_2">
                                            <label for="chk_2">Deals</label>
                                        </div>
                                    </div>

                                    <div id="dvAdmin">


                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_4">
                                            <label for="chk_4">Events</label>
                                        </div>
                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_5">
                                            <label for="chk_5">Tickets</label>
                                        </div>
                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_6">
                                            <label for="chk_6">Emails</label>
                                        </div>
                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_7">
                                            <label for="chk_7">Messages</label>
                                        </div>
                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_8">
                                            <label for="chk_8">Event Type</label>
                                        </div>
                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_9">
                                            <label for="chk_9">Event Category</label>
                                        </div>

                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_10">
                                            <label for="chk_10">Member Management</label>
                                        </div>

                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                            <input type="checkbox" checked="" id="chk_11">
                                            <label for="chk_11">Fee Setting</label>
                                        </div>

                                        <div class="checkbox-custom  checkbox-primary mb5 fl-lft mr10">
                                          <input type="checkbox" checked="" id="chk_12">
                                          <label for="chk_12">Article Management</label>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                        <div class="panel-footer text-right" id="dvSave">

                            <button class="btn btn-primary close-mg" id="btSave" type="button">Save</button>
                        </div>
                        @Html.Hidden("hdCurrentUserRole")
                    </div>
                    @*@RenderPage("~/Views/Permissions/Permission.cshtml")*@

                </div>
            </div>
        </div>
        <!-- End: Content -->
        @*MOdel for Event Info*@

        <div class="modal fade cont-modal-cus" id="dvEvents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm ">
                <div class="modal-content text-center">
                    @*<div class="modal-header custom">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>*@
                    <form id="contactForm">
                        <div class="modal-body cont-scrol">
                            <table id="tbEvent"></table>
                            @*<h4 class="msg">Please click OK to Continue.</h4>*@
                        </div>
                        <div class="modal-footer msg-action-btn ok">
                            <!-- <button type="button" class="btn btn-primary no" data-dismiss="modal">No</button> -->
                            <button type="button" class="btn btn-primary yes ok" data-dismiss="modal">OK</button>
                        </div>
                    </form>
                </div>
            </div><!-- confirm-msg -->
        </div>


        @*Iframe Popup*@

        <div class="modal fade" id="modaliframe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <iframe name="Embedded Frame"   height="400px" width="100%" align="left" frameborder="0"  scrolling="auto" id="mainframe"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>


        <!-- Confirm Msg OK Modal Box -->
        <div class="modal fade" id="confirm-delete-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
                <div class="modal-content">

                    <form id="contactForm" class="fullw1 add">
                        <div class="modal-body text-center pv50 txt-msg">

                            <h4 class="msg" id="hId"></h4>
                        </div>
                        <div class="modal-footer msg-action-btn ok">
                            <button type="submit" id="btnYes" class="btn btn-primary no" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-primary yes ok" id="btMesOk" data-dismiss="modal">OK</button>
                            <button type="button" id="btnNo" class="btn btn-primary no" data-dismiss="modal">No</button>
                        </div>
                    </form>
                    <input type="hidden" id="hdUserId" value="" />
                </div>
            </div><!-- confirm-msg -->
        </div>
        <div>
            <a class="td-btn" id="btOk" type="button" href="#confirm-delete-ok" data-toggle="modal" style="display:none">

            </a>
        </div>
        <!-- Confirm Msg OK Modal Box -->

        <div id="dvEventListDialog" style="display:none"></div>

        <div id="divId" title="Dialog Title" />
    </section>

                                                }

@*// <script src="~/plugins/magnific/jquery.magnific-popup.js"></script>*@

<!-- FooTable Addon -->
@*<script src="~/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/plugins/footable/js/footable.filter.min.js"></script>*@

<script type="text/javascript">

    function checkeventcount(id, UserID)
    {


        var value = $('#' + id).text();
        if (parseInt(value) == 0) {

            $('#btnYes').hide();
            $('#hId').text(GetMess("CMSUsers", "NoEvents"));
            $('#btnNo').hide();
            $('#btOk').click();
            return false;
        } else {

            var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["EventComboClientDomain"].ToString())'
            var url = appSetting + '/CMS/Index?e=' + UserID;
            var w = 880, h = 600,
            left = Number((screen.width / 2) - (w / 2)), tops = Number((screen.height / 2) - (h / 2)),
            popupWindow = window.open(url, 'targetWindow', 'toolbar=no,location=Center,status=no,menubar=no,scrollbars=yes,resizable=yes,width=' + w + ',height=' + h + ', top=' + tops + ', left=' + left);
            popupWindow.focus(); return false;
        }
        //console.log($('#'+id).text());

    }

    //$('#ulpage').click(function () {
    //    console.log(this);

    //    console.log($('#ulpage li.active'));
    //    var datapage = $('#ulpage li.active').children().attr('data-page');

    //    $('#PageF').val(datapage);

    //});

    $('#ddlPageF').change(function () {

        var firstname = $("#SearchStringFirstName").val();
        var lastnmae = $("#SearchStringLastName").val();
        var email = $("#SearchStringEmail").val();
        var value = $(this).val();
        value = parseInt(value) + 1;
        var sortorder = "@TempData["sortorder"]";
        window.location.href = '@Url.Action("Users", "Users", new { })?SearchStringFirstName=' + firstname + '&SearchStringLastName=' + lastnmae + '&SearchStringEmail=' + email + '&sortorder=' + sortorder + '&PageF=' + value + '';
       
        //$("#ulpage li").removeClass('active');
        //$('#ulpage li a[data-page=' + value + ']').click();
        //console.log($('#ulpage li a[data-page=' + value + ']').parent().addClass('active'));
        //console.log($("#ulpage li").find("a", "[data-page=" + value + "]"));


    });

    function GetEvents(vUserId)
    {


       window.location= '';
        @*$.ajax({
            url: '@Url.Action("GetUserEvents", "Users")',
            data:{strUserId:vUserId},
            datatype: "Text",
            type: "Get",
            success: function (response) {
                $("#tbEvent").empty();
                $("#tbEvent").append(response);

            }
        });*@

    }
    jQuery(document).ready(function () {
        //var i = 1;
        var rowCount = $('#tblMain tr').length;

        for (var i = 1; i < rowCount; i++)
        {
            var role = parseInt( $("#HdRole-" + i).val());

            if (role == 1)
            {
               //console.log( $("#HdRole-" + i).parent().parent().parent());
                $("#HdRole-" + i).parent().parent().parent().addClass('info');
                    //('background-color', 'blue');
                $('#aRoles-' + i).attr("disabled", "disabled");
                $('#aRoles-' + i).children().attr("disabled", "disabled");
                $('#aRoles-' + i).removeAttr("href");
                $('#adelete-' + i).attr("disabled", "disabled");
                $('#adelete-' + i).removeAttr("href");
                $("#dvorganiser-" + i).children().children().prop('disabled', true);
                $("#dvstatus-" + i).children().children().prop('disabled', true);
                $("#dvmerchant-" + i).children().children().prop('disabled', true);

                    }

        }
        //$("#tblMain tr").each(function () {


        //    var $tr = $(this);





        //        var j =  i
        //        var role = $("#HdRole-"+j).val();

        //    if (role == 1)
        //    {
        //        $('#aRoles-'+j).prop('disabled', true);
        //        $('#dlOrgnizer-'+j).prop('disabled', true);
        //        $('#dlMerchant-'+j).prop('disabled', true);
        //        $('#dlStatus-'+j).prop('disabled', true);
        //        $('adelete-'+j).prop('disabled', true);


        //    }
        //    i++;
        //});


        $('.close-mg').on('click', function (e) {
            $.magnificPopup.close();
        });
        $('.close-model').on('click', function (e) {
            $.modal.close();
        });



        $.ajax({
            url: '@Url.Action("CurrentUserRole", "Permission")',
            datatype: "Text",
            type: "Get",
            success: function (response) {
               // if ($.trim(response) != 1) {
                    //alert(response);
                    $("#hdCurrentUserRole").val($.trim(response));


                    //$("#rdAdmin").prop("disabled", true);
                    //$("#dvAdmin").prop("disabled", true);
              //  }
                //
            }
        });



        //"use strict";

        //// Init Theme Core
        //Core.init();

        //// Init Demo JS
        //Demo.init();

        //$('.footable').footable();

        //var modalContent = $('#modal-content');

        //function findActive() {
        //    var activeModal = modalContent.find('.holder-active').attr('href');
        //    return activeModal;
        //};

        //// Form Skin Switcher
        //$('.animation-switcher button').on('click', function () {
        //    $('.animation-switcher').find('button').removeClass('active-animation');
        //    $(this).addClass('active-animation item-checked');

        //    // Inline Admin-Form example
        //    $.magnificPopup.open({
        //        removalDelay: 500, //delay removal by X to allow out-animation,
        //        items: {
        //            src: findActive()
        //        },
        //        // overflowY: 'hidden', //
        //        callbacks: {
        //            beforeOpen: function (e) {
        //                var Animation = $(".animation-switcher").find('.active-animation').attr('data-effect');
        //                this.st.mainClass = Animation;
        //            }
        //        },
        //        midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
        //    });

        //});

        //$('.admin-panels').adminpanel({
        //    onFinish: function() {
        //        $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');
        //    },

        //});

        // Page code starts here
        $(".chkPermission").click(function () {
            if ($("#chk_2".toString()).is(":checked") == true && $("#chk_1".toString()).is(":checked") == true)
                $("#rdMember").prop("checked", true);
            else
                $("#rdMemberLimit").prop("checked", true);
        });

        $("#btnRoles").click(function () {
            $("#hdUName").val()
        });

        $("#rdAdmin").click(function () {
            $("#dvMemLimited").hide();
            $("#dvAdmin").show();
        })



        $("#rdMemberLimit").click(function () {
            $("#dvMemLimited").show();
            $("#dvAdmin").hide();
        })

        $("#rdMember").click(function () {
            $("#dvMemLimited").show();
            $("#dvAdmin").hide();
        })



        $("#btSave").click(function () {

           var UserId = $("#hdUName").val();
           var id = $("#HdId").val();
           var roletype = "";
            var Permisions = ""; var URole;
            for (i = 1; i <= 12; i++) {
                if ($("#chk_" + i).is(":checked") == true)
                {
                    if (Permisions == "")
                        Permisions = i;
                    else
                        Permisions = Permisions + "#" + i.toString();
                }
            }

            if ($("#rdAdmin").is(":checked") == true) {
                URole = 2;
                roletype = "Admin";
            }
            else
                URole = 3;

            if ($("#rdMemberLimit").is(":checked") == true)
            {
                roletype = "Member-Limited";
            }
            if ($("#rdMember").is(":checked") == true) {
                roletype = "Member";
            }
            $.ajax({
                url: '@Url.Action("SavePermisions","Users")',
                data: { strUserId: UserId, strPermission: Permisions, strRole: URole },
                datatype: "Text",
                type: "Post",
                success: function (response) {
                    if (response == "Y") {
                        //alert("Record Updated.");

                        //  $('#spanid').html("Record Updated.");
                        // $('#divError').css('display', 'block');
                        ///  setTimeout(function () { $('#divError').css('display', 'none'); $('input[type=text]').removeClass('err-bor') }, 3000);
                    }
                    else {
                        alert("Some error occur while saving.");
                        //$('#spanid').html("Some error occur while saving.");
                        //  $('#divError').css('display', 'block');
                        //setTimeout(function () { $('#divError').css('display', 'none'); $('input[type=text]').removeClass('err-bor') }, 3000);
                    }
                }
            });
            console.log($('#aRoles-' + id).find(":button").attr('value', 'zero'));
            //$('#aRoles-' + id).find(":button").attr('value', 'zero');
            $('#aRoles-' + id).find(":button").html(roletype);

        })





    });


    $("#btnYes").click(function () {
        $.ajax({
            url: '@Url.Action("Deleteuser","Users")',
            data: { userid: $("#hdUserId").val() },
            datatype: "Text",
            type: "Post",
            success: function (response) {
                $("#formuser").submit();
                //$.post("Users\Users");
               // if (response == "Deleted")
                   // alert("Record Deleted Successfully.");
                    //$("#hId").text(GetMess("CMSUsers", "UsersDeleteSuccUI"));

                //else
                //    alert("Some error occur while Deleting");
            }
        });
    });


    function ConfirmDelete(userId) {
        $("#hdUserId").val(userId);
        $("#btnYes").show();
        $("#btnNo").show();
        $("#btMesOk").hide();

       // $("#btOk").click();

        $("#hId").text(GetMess("CMSUsers", "UsersDeleteUI"));

        //var x = confirm("Are you sure you want to delete?");

        //if (x) {


        //    return true;
        //}
        //else
          return false;

    }
    function GetMess(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
    function SaveFields(UserId, strId, dlValue, id) {

        var el = id.substr(id.indexOf('-') + 1, id.length - id.indexOf('-'));

        //console.log($(this).attr(id));
        var vvalue = '';
        var sFields = '';
        if (strId == "dlStatus") {

            sFields = "UserStatus";
        }

        else if (strId == "dlMerchant") {
            sFields = "Merchant";
        }

        else if (strId == "dlOrgnizer") {
            sFields = "Organiser";
        }

        if (dlValue == "1")
            vvalue = 'Y';
        else
            vvalue = 'N';


        if (sFields == "UserStatus" && vvalue == 'Y') {

            $("#lblstatus-"+el).html("Enable");

        }else if (sFields == "UserStatus" && vvalue == 'N') {

            $("#lblstatus-"+el).html("Disable");

        }else if (sFields == "Merchant" && vvalue == 'Y') {

            $("#lblMer-"+el).html("Yes");

        }else if (sFields == "Merchant" && vvalue == 'N') {

            $("#lblMer-"+el).html("No");

        }else if (sFields == "Organiser" && vvalue == 'Y') {

            $("#lblorg-"+el).html("Yes");

        }else if (sFields == "Organiser" && vvalue == 'N') {

            $("#lblorg-"+el).html("No");

        }




        $.ajax({
            url: '@Url.Action("SaveOtherInfo","Users")',
            data: { strField: sFields, strvalue: vvalue, strUserId: UserId },
            datatype: "Text",
            type: "Post",
            success: function (response) {
                if (response == "Y") {
                    $("#btnYes").hide();
                    $("#btnNo").hide();
                    $("#btMesOk").show();
                    $("#btOk").click();

                    $("#hId").text(GetMess("CMSUsers", "UsersOrgMerStatusSucc"));
                    //href="#dvEvents" ="modal"
                    //$(this).prop(href,"#dvEvents");
                    //$(this).prop(data-toggle, "modal");
                    //$("#confirm-delete-ok").show();
                   // alert("Record Updated.");
                    //  $('#spanid').html("Record Updated.");
                    // $('#divError').css('display', 'block');
                    ///  setTimeout(function () { $('#divError').css('display', 'none'); $('input[type=text]').removeClass('err-bor') }, 3000);
                }
                else {
                    alert("Some error occur while saving.");
                    //$('#spanid').html("Some error occur while saving.");
                    //  $('#divError').css('display', 'block');
                    //setTimeout(function () { $('#divError').css('display', 'none'); $('input[type=text]').removeClass('err-bor') }, 3000);
                }
            }
        });
    }

    function AssignSession(userId,id)
    {
        $.ajax({
            url: '@Url.Action("SetUserId","Users")',
            data: { strUserId: userId },
            datatype: "Text",
            type: "Post",
            success: function (response) {

            }

        });


        $('#mainframe').prop('src', 'http://localhost:10159/EventList/EventList')
        $("#btnevents-"+id).attr("data-toggle","modal");
        $("#btnevents-"+id).attr("data-target","#modaliframe");

    }
    function AssignUserId(userId,id) {
        document.getElementById("hdUName").value = userId;
        document.getElementById("HdId").value = id;

        for (i = 1; i <= 12 ; i++) {
            $("#chk_" + i.toString()).prop("checked", false);
        }
        $("#rdAdmin").prop("checked", true);
        $("#dvMemLimited").hide();
        $("#dvAdmin").show();

        $.ajax({
            url: '@Url.Action("GetUserPermission","Users")',
            data: { strUserId: userId },
            datatype: "Text",
            type: "Post",
            success: function (response) {
                debugger;
                var AryResult = response.split("^");
                for (i = 0; i < AryResult.length-1 ; i++) {
                    $("#chk_" + AryResult[i]).prop("checked", true);
                }
                //alert(AryResult[AryResult.length - 1].toString());
                if (AryResult[AryResult.length - 1].toString() == "2") {
                    if ($("#hdCurrentUserRole").val().toString() != "1") $("#btSave").prop("disabled", true);

                    $("#rdAdmin").prop("checked", true);
                    $("#dvMemLimited").hide();
                    $("#dvAdmin").show();

                }
                else {
                    if ($("#hdCurrentUserRole").val() != "1") {
                        $("#rdAdmin").prop("disabled", true);
                        $("#dvAdmin").prop("disabled", true);
                        $("#btSave").prop("disabled", false);
                    }
                    $("#dvMemLimited").show();
                    $("#dvAdmin").hide();
                    if ($("#chk_2".toString()).is(":checked") == true && $("#chk_1".toString()).is(":checked") == true)
                        $("#rdMember").prop("checked", true);
                    else
                        $("#rdMemberLimit").prop("checked", true);
                }
            }
        });


    }



</script>
<script>
    @*function OpenEventDialog(UserID) {
       
        $('#dvEventListDialog').dialog({
            autoOpen: true,
            width: 900,
            height: 600,
            resizable: false,
            title: 'Dialog Box',
            modal: true,
            open: function (event, ui) {
               
                $(this).load('@ViewData["EventComboClientDomain"]/EventList/EventList');
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

    }*@
</script>
<!-- END: PAGE SCRIPTS -->
