@model EventCombo.Models.Payment_Info
@{
    ViewBag.Title = "PaymentInfo";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container-fluid cont_margin">
    <div class="row">
        <div class="col-sm-10 ">
            <div class="midd_cont">
                <div class="col-sm-12">
                    <h3 class="acnt_title">ACCOUNT</h3>
                    <p class="p_info">Payment Information</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-8">
                    <p>
                        To collect payments online, Eventbrite offers you a choice of payment processors.
                        You will be able to modify your choice of processor for each event, until you have made your first ticket sale.
                    </p>
                    <p><b>Collect payments from attendees</b></p>

                    <form action="/PaymentInfo/SavePaymentInfo" method="post" id="frmPaymentInfo" novalidate="novalidate">
                        <div class="pt10 bggrey clearfix">
                            <div class="Moderor" style="display: none;" id="diverroacc" tabindex="-1">
                                <div class="er_UI_main">
                                    <div class="er_UI_img"></div>
                                    <div class="er_suc" id="erraccmsg"></div>
                                    <button class="close" type="button" id="btndiverrsuc">&#215;</button>

                                </div>
                            </div>
                            <div class="Moderor" id="divaccsuc" style="display: none;" tabindex="-1">
                                <div class="er_suc_main">

                                    <div class="er_suc_img"></div>
                                    <div class="er_suc" id="succaccmsg"> </div>
                                    <button class="close" type="button" id="btndivaccsuc">&#215;</button>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3 no_pad mb10"> <p>Select payment processor :</p></div>
                            <div class="col-sm-4 no_pad mb10 dropheight">
                                <select id="ddlPaymentProcessor" name="PaymentProcessor" class="form-control selectpicker">
                                    <option>Credit Card Processing</option>
                                </select>
                            </div>
                            <div class="col-sm-5 mb10 pay-card-icon">
                                <img src="images/visa.png">
                                <img src="images/mastercard.png">
                                <img src="images/discover.png">
                                <img src="images/amr-exp.png">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p>We will collect payments on your behalf and begin issuing payment 5 days after your event ends. </p>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 no_pad">
                            <label class="control-label   ">
                                <input id="chkAdvPayout" name="AdvPayout" type="checkbox">
                                Enable Advance Payouts for my account.

                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <p>By signing up for this program, I agree to the DesiClub  <a href="#">terms of service.</a></p>
                        <div class="col-sm-12 no_pad">
                            <p class="p_info">Receive payments</p>
                        </div>
                        <div class="col-sm-12 no_pad">
                            <div class="form-group">
                                <div class="col-sm-2 col-xs-12 no_pad mb10"> <p>Payout method:</p></div>
                                <div class="col-sm-4 no_pad mb10 dropheight">

                                    if (@Model.PI_PaymentMethod != null)
                                    {
                                        <select id="ddlPaymentMethod" name="PaymentMethod" class="form-control selectpicker">
                                            <option @(Model.PI_PaymentMethod == "D" ? " selected=\"selected\" " : "") value="D">Direct Deposit</option>

                                            <option @(Model.PI_PaymentMethod == "C" ? " selected=\"selected\" " : "") value="C">cheque</option>

                                        </select>
                                    }
                                    else
                                    {
                                        <select id="ddlPaymentMethod" name="PaymentMethod" class="form-control selectpicker">
                                            <option value="D" selected="selected">Direct Deposit</option>

                                            <option value="C">cheque</option>

                                        </select>
                                    }


                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12 no_pad acnt_hold_text">
                            Account holder information
                        </div>
                        <div class="col-sm-12 no_pad">
                            <div id="dvDirectDeposit" class="col-sm-12 no_pad">
                                <div class="form-group">
                                    <div class="col-sm-4 col-xs-12 no_pad">
                                        <label class="Indiv_cont label-control ev_tickt_lebel pl0 ">
                                            <input id="rdbAccHoldInfoI" type="radio" name="AccHoldInfo" value="I" checked="checked"
                                                   @(Model.PI_AccountHolderType == "I" ? " checked=\"true\" " : "") />
                                            Individual
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-xs-12 no_pad">
                                        <label class="Comp_chek label-control ev_tickt_lebel pl0">
                                            <input id="rdbAccHoldInfoC" type="radio" name="AccHoldInfo" value="C"
                                                   @(Model.PI_AccountHolderType == "C" ? " checked=\"true\" " : "") />
                                            Company
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>


                                    <div class="comp_cont col-sm-6 col-xs-12 no_pad">
                                        <label class="col-sm-8 label-control comp_name no_pad">
                                            Company Name*
                                        </label>
                                        <div class="col-sm-8 col-xs-12 no_pad">
                                            <input id="txtCompanyName" name="CompanyName" type="text" class="form-control "
                                                   maxlength="1000" placeholder="Company Name" value="@Model.PI_AccCompName" required>
                                            <p>Company name, as appears on bank statements</p>
                                        </div>
                                    </div>

                                    <div class="NameAcnt col-sm-8 col-xs-12 no_pad">
                                        <label class="col-sm-12 control-label comp_name no_pad ">Name on account*</label>
                                        <div class="col-sm-12 col-xs-12 no_pad">
                                            <div class="row">
                                                <div class="col-xs-12 ">
                                                    <input id="txtName" name="Name" class="form-control"
                                                           placeholder="Name" type="text" value="@Model.PI_AccCompName" required>
                                                </div>
                                            </div>
                                            <p>Your full name, as appears on bank statements</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-8 col-xs-12 no_pad mt10">
                                        <label class="col-md-12 control-label comp_name no_pad ">Address*</label>
                                        <div class="col-md-12 col-xs-12 no_pad">
                                            <input id="txtAddress1" name="Address1" class="form-control" placeholder="Address 1"
                                                   type="text" value="@Model.PI_Address" required>
                                        </div>
                                        <div class="col-md-12 col-xs-12 no_pad mt10">
                                            <input id="txtAddress2" name="Address2" class="form-control" placeholder="Address 2" type="text">

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-8 col-xs-12 no_pad mt10">
                                        <div class="col-xs-6 dropheight">
                                            <input id="txtCity1" name="City1" class="form-control" placeholder="City"
                                                   maxlength="500" type="text" value="@Model.PI_City" />
                                        </div>
                                        <div class="col-xs-6 dropheight">
                                            <input id="txtState1" name="State1" class="form-control" placeholder="State"
                                                   maxlength="500" type="text" value="@Model.PI_State" />
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-8 col-xs-12 no_pad mt10">
                                    <div class="row">
                                        <div class="col-xs-6 dropheight">
                                            @*<select id="ddlCountry1" name="Country1" class="form-control selectpicker">
                                                    <option @(Model.PI_Country == 1 ? " selected=\"selected\" " : "") value="1">Country1</option>
                                                    <option @(Model.PI_Country == 2 ? " selected=\"selected\" " : "") value="2">Country2</option>
                                                </select>*@
                                            @Html.DropDownList("Country1", ViewBag.CountryID as List<SelectListItem>, new { @class = "form-control selectpicker", @id = "ddlCountry1" })
                                        </div>
                                        <div class="col-xs-6 ">
                                            <input id="txtPostalCode1" name="PostalCode1" class="form-control Number" placeholder="Postal Code" type="text"
                                                   maxlength="5">
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-md-8 col-xs-12 no_pad mt20">
                                    <div class="col-sm-12 no_pad acnt_hold_text">Bank account information</div>
                                    <div class="col-sm-4 col-xs-12 no_pad">
                                        <label class="label-control ev_tickt_lebel pl0 ">
                                            <input id="AccInfo1" name="AccInfo" type="radio" value="C"
                                                   @(Model.PI_BankAccInfo == "C" ? " checked=\"true\" " : "") />
                                            Checking
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-xs-12 no_pad">
                                        <label class="label-control ev_tickt_lebel pl0">
                                            <input id="AccInfo2" name="AccInfo" type="radio" value="S" checked="checked"
                                                   @(Model.PI_BankAccInfo == "S" ? " checked=\"true\" " : "") />
                                            Savings
                                        </label>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Bank Name*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        <input id="txtBankName" name="BankName" type="text" class="form-control " placeholder="eg. Wells Fargo, Chase, Bank of America"
                                               maxlength="500" value="@Model.PI_BankName" required>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Routing Number*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        <input id="txtRoutingNumber" name="RoutingNumber" type="text" class="form-control " placeholder="Routing Number"
                                               maxlength="100" value="@Model.PI_RoutingNumber" required>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Account Number*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        <input id="txtAcNumber" name="AcNumber" type="text" class="form-control " placeholder="Account Number"
                                               maxlength="100" value="@Model.PI_AccountNumber">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Re-enter Account Number*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        <input id="txtReEnterAcNumber" name="ReEnterAcNumber" type="text" class="form-control " placeholder="Re-enter Account Number"
                                               maxlength="100" value="@Model.PI_ReAccountNumber">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- Cheque Dropdown Div -->
                            <div id="dvCheque" class="col-sm-12 no_pad">
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-md-12 control-label comp_name no_pad ">Name / Pay To*</label>
                                    <div class="col-md-12 col-xs-12 no_pad">
                                        <input id="txtPayeeName" name="PayeeName" class="form-control" placeholder="Payee Name"
                                               maxlength="500" type="text" value="@Model.PI_PayTo">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-md-12 control-label comp_name no_pad ">Mailing Address*</label>
                                    <div class="col-md-12 col-xs-12 no_pad">
                                        <input id="txtMailingAddress1" name="MailingAddress1" class="form-control" placeholder="Address 1"
                                               type="text" value="@Model.PI_Address">
                                    </div>
                                    <div class="col-md-12 col-xs-12 no_pad mt10">
                                        <input id="txtMailingAddress2" name="MailingAddress2" class="form-control" placeholder="Address 2" type="text">

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-8 col-xs-12 no_pad mt10">
                                    <div class="row">
                                        <div class="col-xs-6 dropheight">
                                            <input id="txtCity2" name="City2" class="form-control" placeholder="City"
                                                   maxlength="500" type="text" value="@Model.PI_City" />
                                        </div>
                                        <div class="col-xs-6 dropheight">
                                            <input id="txtState2" name="State2" class="form-control" placeholder="State"
                                                   maxlength="500" type="text" value="@Model.PI_State" />
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-8 col-xs-12 no_pad mt10">
                                    <div class="row">
                                        <div class="col-xs-6 dropheight">
                                            @*<select id="ddlCountry2" name="Country2" class="form-control selectpicker">
                                                    <option @(Model.PI_Country == 1 ? " selected=\"selected\" " : "") value="1">Country1</option>
                                                    <option @(Model.PI_Country == 2 ? " selected=\"selected\" " : "") value="2">Country2</option>
                                                </select>*@
                                            @Html.DropDownList("Country2", ViewBag.CountryID as List<SelectListItem>, new { @class = "form-control selectpicker", @id = "ddlCountry2" })
                                        </div>
                                        <div class="col-xs-6 ">
                                            <input id="txtPostalCode2" name="PostalCode2" class="form-control Number" placeholder="Postal Code"
                                                   onkeypress="IsNumeric(event);" maxlength="5" type="text" value="@Model.PI_PostalCode">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-sm-8 mt10 no_pad ">
                                <input id="hdfPaymentInfoId" name="PaymentInfoId" type="hidden" value="@Model.PaymentInfo_Id" />
                                <input id="hdfEventId" name="EventId" type="hidden" value="@Model.PI_EventId" />
                                <button id="btnSave" name="Save" type="submit" class="btn btn-info acnt_btn"
                                        onclick="return FormValidate();">
                                    SAVE
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-sm-4"></div>

        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="js/ec-select.js"></script>
<script type="text/javascript">
      $(".comp_cont").css("display", "none");
      $(".Comp_chek").click(function(){
        $(".comp_cont").css("display", "block");
        $(".NameAcnt").css("display", "none");
      });
      $(".Indiv_cont").click(function(){
        $(".comp_cont").css("display", "none");
        $(".NameAcnt").css("display", "block");
      });

      //$("#dvCheque").css("display", "none");
      OnOfPaymentMethod();
      $("#ddlPaymentMethod").change(function () {
          OnOfPaymentMethod();
      });
      function OnOfPaymentMethod()
      {
          if ($("#ddlPaymentMethod").val() == "D") {
              document.getElementById("dvCheque").style.display = "none"
              document.getElementById("dvDirectDeposit").style.display = "block"
          }
          else {
              document.getElementById("dvCheque").style.display = "block"
              document.getElementById("dvDirectDeposit").style.display = "none"
          }
      }

</script>
<script>
    //$(function () {
    //    // Setup form validation on the #register-form element
    //    $("#frmPaymentInfo").validate({

    //        // Specify the validation rules
    //        rules: {
    //            CompanyName: {
    //                required: true,
    //                alphanumeric: true
    //            },
    //            Address1: "required",
    //            BankName: {
    //                required: true,
    //                maxlength: 500,
    //            },
    //            RoutingNumber: {
    //                required: true,
    //                minlength: 5,
    //                maxlength: 100,
    //                number: true,
    //            },
    //            AcNumber: {
    //                required: true,
    //                number: true,
    //                maxlength: 100,
    //            },
    //            ReEnterAcNumber: {
    //                required: true,
    //                number: true,
    //                maxlength: 100,
    //            },
    //            //for payment method cheque

    //            MailingAddress1: "required",
    //            PayeeName: {
    //                required: true
    //            },
    //            PostalCode: {
    //                required: true,
    //                number: true,
    //                minlength: 5,
    //                maxlength: 5,
    //            },


    //            //email: {
    //            //    required: true,
    //            //    email: true
    //            //},



    //        },

    //        // Specify the validation error messages
    //        messages: {
    //            CompanyName: {
    //                required: "Please enter company name",
    //                alphanumeric: "Please do not enter special char"
    //            },
    //            Address1: "Please enter your address",
    //            BankName: {
    //                required: "Please enter bank name",
    //            },
    //            RoutingNumber: {
    //                required: "Please enter routing number",
    //                minlength: "Your routing number must be at least 5 characters long"
    //            },
    //            AcNumber: {
    //                required: "Please enter account number"
    //            },
    //            ReEnterAcNumber: {
    //                required: "Please enter account number"
    //            },

    //            MailingAddress1: "Please enter mailing address",
    //            PayeeName: {
    //                required: "Please enter payee name",
    //                //alphanumeric: "Please do not enter special char"
    //            },
    //            PostalCode: {
    //            required: "Please enter payee name",
    //            }


    //        },

    //        errorClass: "my-error-class",
    //        validClass: "my-valid-class",

    //        submitHandler: function (form) {
    //            form.submit();
    //        }
    //    });

    //});

</script>

<style>
    .my-error-class {
        color: #FF0000; /* red */
    }
    /*.my-valid-class {
        color:#00CC00;
        }*/
</style>


<script>
    function FormValidate() {
        debugger;
        var ErrorString = "";
        var flag = true;
        //alert($("#ddlPaymentMethod").val().trim());
        if ($("#ddlPaymentMethod").val().trim() == "C" || $("#ddlPaymentMethod").val().trim() == "c")
        {
            var PayeeName = $("#txtPayeeName").val();
            var PN_SpChrNot = /^[a-zA-Z0-9!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/

            var MailingAddress1 = $("#txtMailingAddress1").val();
            var City2 = $("#txtCity2").val();
            var State2 = $("#txtState2").val();
            var Country2 = $("#ddlCountry2").val();
            var PostalCode2 = $("#txtPostalCode2").val();

            if (PayeeName =='' ) {
                ErrorString += GetMess();
                $("#txtPayeeName").focus();
                return  false;
            }
            //if(PayeeName.match(PN_SpChrNot))
            //{
            //    ErrorString += GetMess();
            //    $("#txtPayeeName").focus();
            //    return false;
            //}
            if (MailingAddress1 == '') {
                ErrorString += GetMess();
                $("#txtMailingAddress1").focus();
                return false;
            }
            if (City2 == '') {
                ErrorString += GetMess();
                $("#txtCity2").focus();
                return false;
            }
            if (State2 == '') {
                ErrorString += GetMess();
                $("#txtState2").focus();
                return false;
            }
            if (Country2 == '') {
                ErrorString += GetMess();
                $("#ddlCountry2").focus();
                return false;
            }
            if (PostalCode2 == '') {
                ErrorString += GetMess();
                $("#txtPostalCode2").focus();
                return false;
            }
            if (!$.isNumeric(PostalCode)) {
                ErrorString += GetMess();
                $("#txtPostalCode2").focus();
                return false;
            }
            //$.isNumeric( "-10" );

        }
        else if ($("#ddlPaymentMethod").val() == "D") {
            var Name = $("#txtName").val();
            var N_SpChrNot = /^[a-zA-Z0-9!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/
            var Address1 = $("#txtAddress1").val();
            var City1 = $("#txtCity1").val();
            var State1 = $("#txtState1").val();
            var Country1 = $("#ddlCountry1").val();
            var PostalCode1 = $("#txtPostalCode1").val();
            var RoutingNumber = $("#txtRoutingNumber").val();
            var AcNumber = $("#txtAcNumber").val();
            var ReEnterAcNumber = $("#txtReEnterAcNumber").val();

            if (Name == '') {
                ErrorString += GetMess();
                $("#txtName").focus();
                return false;
            }
            //if(Name.match(N_SpChrNot))
            //{
            //    ErrorString += GetMess();
            //    $("#txtName").focus();
            //    return false;
            //}
            if (Address1 == '') {
                ErrorString += GetMess();
                $("#txtAddress1").focus();
                return false;
            }
            if (City1 == '') {
                ErrorString += GetMess();
                $("#txtCity1").focus();
                return false;
            }
            if (PayeeName == '') {
                ErrorString += GetMess();
                $("#txtState1").focus();
                return false;
            }
            if (PayeeName == '') {
                ErrorString += GetMess();
                $("#ddlCountry1").focus();
                return false;
            }
            if (PostalCode1 == '') {
                ErrorString += GetMess();
                $("#txtPostalCode1").focus();
                return false;
            }
            if (RoutingNumber == '') {
                ErrorString += GetMess();
                $("#txtRoutingNumber").focus();
                return false;
            }
            if (AcNumber == '') {
                ErrorString += GetMess();
                $("#txtAcNumber").focus();
                return false;
            }
            if (ReEnterAcNumber == '') {
                ErrorString += GetMess();
                $("#txtReEnterAcNumber").focus();
                return false;
            }

        }
        //alert(ErrorString);
    }
    function GetMess()
    {
        return "Some validation require <br/>";
    }

    $('.Number').keypress(function (event) {
        var keycode = event.which;
        if (!(event.shiftKey == false && (keycode == 46 || keycode == 8 || keycode == 37 || keycode == 39 || (keycode >= 48 && keycode <= 57)))) {
            event.preventDefault();
        }
    });
</script>



