@model EventCombo.Models.Payment_Info
@{
    ViewBag.Title = "PaymentInfo";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<style>
    .AccHoldInfoHide {
        display: none;
    }

    .AccHoldInfoShow {
        display: block;
    }
</style>

@section sidenav{
    <div id="sidebar" class="nav nav-stacked">
        @Html.Action("Sidenav", "ManageEvent", new { eventid = TempData["EventId"], CurrentItem = "" })
    </div>
}


<link href="~/Content/eventcombo-new.css" rel="stylesheet" />
<div class="event_container">
    <div class="event_detail_container">
        <div class="col-sm-12 col-xs-12">
            <div class="Moderor" style="display: none;" id="diverroacc" tabindex="-1">
                <div class="er_UI_main">
                    <div class="er_UI_img"></div>
                    <div class="er_suc" id="erraccmsg"></div>
                    <button class="close" type="button" id="btndivaccsuc">&#215;</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="evnt_tile_head">
            <div class="evnt_tile_bg_l"></div>
            <div class="col-sm-12 col-xs-12 text-left no_pad">
                <h2 class="fb_dis_head pt5">Payment Information </h2>
            </div>

            <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
        </div>
        <div class="evnt_details_body2">
            <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">
                <div class="col-sm-12">
                    <p>
                        To collect payments online, Eventcombo offers you a choice of payment processors.
                        You will be able to modify your choice of processor for each event, until you have made your first ticket sale.
                    </p>
                    <p><b>Collect payments from attendees</b></p>

                    <form action="/PaymentInfo/SavePaymentInfo" method="post" id="frmPaymentInfo" novalidate="novalidate">
                        <div class="pt10 bggrey clearfix">
                            <div class="Moderor" style="display: none;" id="diverroacc" tabindex="-1">
                                <div class="er_UI_main">
                                    <div class="er_UI_img"></div>
                                    <div class="er_suc" id="erraccmsg"></div>
                                    <button class="close" type="button" id="btndiverrsuc">&#215;</button>

                                </div>
                            </div>
                            <div class="Moderor" id="divaccsuc" style="display: none;" tabindex="-1">
                                <div class="er_suc_main">

                                    <div class="er_suc_img"></div>
                                    <div class="er_suc" id="succaccmsg"> </div>
                                    <button class="close" type="button" id="btndivaccsuc">&#215;</button>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3 no_pad mb10"> <p>Select payment processor :</p></div>
                            <div class="col-sm-4 no_pad mb10 dropheight">
                                <select id="ddlPaymentProcessor" name="PaymentProcessor" class="form-control selectpicker">
                                    <option>Credit Card Processing</option>
                                </select>
                            </div>
                            <div class="col-sm-5 mb10 pay-card-icon">
                                <img src="/Images/visa.png">
                                <img src="/Images/mastercard.png">
                                <img src="/Images/discover.png">
                                <img src="/Images/amr-exp.png">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p>We will collect payments on your behalf and begin issuing payment 5 days after your event ends. </p>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 no_pad">
                            <label class="control-label   ">
                                <input id="chkAdvPayout" name="AdvPayout" type="checkbox">
                                Enable Advance Payouts for my account.

                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <p>By signing up for this program, I agree to the Eventcombo <a href="https://www.eventcombo.com/ec/terms-and-conditions" target="_default">Terms of Service</a>.</p>
                        <div class="col-sm-12 no_pad">
                            <p class="p_info">Receive payments</p>
                        </div>
                        <div class="col-sm-12 no_pad">
                            <div class="form-group">
                                <div class="col-sm-2 col-xs-12 no_pad mb10"> <p>Payout method:</p></div>
                                <div class="col-sm-4 no_pad mb10 dropheight">

                                    @if (Model != null && !String.IsNullOrEmpty(Model.PI_PaymentMethod))
                                    {
                                        <select id="ddlPaymentMethod" name="PaymentMethod" class="form-control selectpicker">
                                            <option @(Model.PI_PaymentMethod == "D" ? " selected=\"selected\" " : "") value="D">Direct Deposit</option>

                                            <option @(Model.PI_PaymentMethod == "C" ? " selected=\"selected\" " : "") value="C">cheque</option>

                                        </select>
                                    }
                                    else
                                    {
                                        <select id="ddlPaymentMethod" name="PaymentMethod" class="form-control selectpicker">
                                            <option value="D" selected="selected">Direct Deposit</option>

                                            <option value="C">cheque</option>

                                        </select>
                                    }


                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12 no_pad acnt_hold_text">
                            Account holder information
                        </div>
                        <div class="col-sm-12 no_pad">
                            <div id="dvDirectDeposit" class="col-sm-12 no_pad">
                                <div class="form-group">
                                    @if (Model != null && !String.IsNullOrEmpty(Model.PI_AccountHolderType))
                                    {
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="Indiv_cont label-control ev_tickt_lebel pl0 ">
                                                <input id="rdbAccHoldInfoI" type="radio" name="AccHoldInfo" value="I"
                                                       @(Model.PI_AccountHolderType == "I" ? " checked=\"true\" " : "") />
                                                Individual
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="Comp_chek label-control ev_tickt_lebel pl0">
                                                <input id="rdbAccHoldInfoC" type="radio" name="AccHoldInfo" value="C"
                                                       @(Model.PI_AccountHolderType == "C" ? " checked=\"true\" " : "") />
                                                Company
                                            </label>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="Indiv_cont label-control ev_tickt_lebel pl0 ">
                                                <input id="rdbAccHoldInfoI" type="radio" name="AccHoldInfo" value="I" checked="checked" />
                                                Individual
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="Comp_chek label-control ev_tickt_lebel pl0">
                                                <input id="rdbAccHoldInfoC" type="radio" name="AccHoldInfo" value="C" />
                                                Company
                                            </label>
                                        </div>
                                    }
                                    <div class="clearfix"></div>

                                    @if (Model != null && !String.IsNullOrEmpty(Model.PI_AccountHolderType))
                                    {
                                        <div class="comp_cont col-sm-6 col-xs-12 no_pad@(Model.PI_AccountHolderType == "C" ? " AccHoldInfoShow" : " AccHoldInfoHide")">
                                            <label class="col-sm-8 label-control comp_name no_pad">
                                                Company Name*
                                            </label>
                                            <div class="col-sm-8 col-xs-12 no_pad ">

                                                <input id="txtCompanyName" name="CompanyName" type="text" class="form-control"
                                                       maxlength="1000" placeholder="Company Name" value="@Model.PI_AccCompName">
                                                <p>Company name, as appears on bank statements</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="comp_cont col-sm-6 col-xs-12 no_pad AccHoldInfoHide">
                                            <label class="col-sm-8 label-control comp_name no_pad">
                                                Company Name*
                                            </label>
                                            <div class="col-sm-8 col-xs-12 no_pad">
                                                <input id="txtCompanyName" name="CompanyName" type="text" class="form-control"
                                                       maxlength="1000" placeholder="Company Name">
                                                <p>Company name, as appears on bank statements</p>
                                            </div>
                                        </div>
                                    }
                                    @if (Model != null && !String.IsNullOrEmpty(Model.PI_AccountHolderType))
                                    {
                                        <div class="NameAcnt col-sm-8 col-xs-12 no_pad@(Model.PI_AccountHolderType == "I" ? " AccHoldInfoShow" : " AccHoldInfoHide")">
                                            <label class="col-sm-12 control-label comp_name no_pad ">Name on account*</label>
                                            <div class="col-sm-12 col-xs-12 no_pad">
                                                <div class="row">
                                                    <div class="col-xs-12 ">
                                                        <input id="txtName" name="Name" class="form-control"  maxlength="1000"
                                                               placeholder="Name" type="text" value="@Model.PI_AccCompName">
                                                    </div>
                                                </div>
                                                <p>Your full name, as appears on bank statements</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="NameAcnt col-sm-8 col-xs-12 no_pad">
                                            <label class="col-sm-12 control-label comp_name no_pad ">Name on account*</label>
                                            <div class="col-sm-12 col-xs-12 no_pad">
                                                <div class="row">
                                                    <div class="col-xs-12 ">
                                                        <input id="txtName" name="Name" class="form-control"  maxlength="1000"
                                                               placeholder="Name" type="text">
                                                    </div>
                                                </div>
                                                <p>Your full name, as appears on bank statements</p>
                                            </div>
                                        </div>
                                    }
                                    <div class="clearfix"></div>
                                    <div class="col-sm-8 col-xs-12 no_pad mt10">
                                        <label class="col-md-12 control-label comp_name no_pad ">Address*</label>
                                        <div class="col-md-12 col-xs-12 no_pad">
                                            @if (Model != null && !String.IsNullOrEmpty(Model.PI_Address))
                                            {
                                                <input id="txtAddress1" name="Address1" class="form-control" placeholder="Address 1"  maxlength="256"
                                                       type="text" value="@Model.PI_Address" required>
                                            }
                                            else
                                            {
                                                <input id="txtAddress1" name="Address1" class="form-control" placeholder="Address 1" maxlength="256"
                                                       type="text">
                                            }
                                        </div>
                                        <div class="col-md-12 col-xs-12 no_pad mt10">
                                            @if (Model != null && !String.IsNullOrEmpty(Model.PI_Address2))
                                            {
                                                <input id="txtAddress2" name="Address2" class="form-control" placeholder="Address 2" maxlength="256"
                                                       type="text" value="@Model.PI_Address2" required>
                                            }
                                            else
                                            {
                                                <input id="txtAddress2" name="Address2" class="form-control" placeholder="Address 2" maxlength="256"
                                                       type="text">
                                            }

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-8 col-xs-12 no_pad mt10">
                                        <div class="row">
                                            <div class="col-xs-6 dropheight pay100">
                                                @if (Model != null && !String.IsNullOrEmpty(Model.PI_City))
                                                {
                                                    <input id="txtCity1" name="City1" class="form-control" placeholder="City" maxlength="256"
                                                            type="text" value="@Model.PI_City" />
                                                }
                                                else
                                                {
                                                    <input id="txtCity1" name="City1" class="form-control" placeholder="City"
                                                          maxlength="256" type="text" />
                                                }
                                            </div>
                                            <div class="col-xs-6 dropheight pay100">
                                                @if (Model != null && !String.IsNullOrEmpty(Model.PI_State))
                                                {
                                                    <input id="txtState1" name="State1" class="form-control" placeholder="State"
                                                           maxlength="256" type="text" value="@Model.PI_State" />
                                                }
                                                else
                                                {
                                                    <input id="txtState1" name="State1" class="form-control" placeholder="State"
                                                           maxlength="256" type="text" />
                                                }
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-8 col-xs-12 no_pad mt10">
                                    <div class="row">
                                        <div class="col-xs-6 dropheigh pay100">
                                            @*<select id="ddlCountry1" name="Country1" class="form-control selectpicker">
                                        <option @(Model.PI_Country == 1 ? " selected=\"selected\" " : "") value="1">Country1</option>
                                        <option @(Model.PI_Country == 2 ? " selected=\"selected\" " : "") value="2">Country2</option>
                                    </select>*@
                                            @if (ViewBag.CountryID != null)
                                            {
                                                @Html.DropDownList("Country1", ViewBag.CountryID as List<SelectListItem>, new { @class = "form-control selectpicker", @id = "ddlCountry1" })
                                            }
                                            else
                                            {
                                                <select id="ddlCountry1" name="Country1" class="form-control selectpicker">
                                                    <option value="1" selected>Select Country</option>
                                                </select>
                                            }
                                        </div>
                                        <div class="col-xs-6 pay100">

                                            @if (Model != null && !String.IsNullOrEmpty(Model.PI_PostalCode))
                                            {

                                                <input id="txtPostalCode1" name="PostalCode1" class="form-control" placeholder="Zip Code"
                                                       maxlength="6" type="text" value="@Model.PI_PostalCode">
                                            }
                                            else
                                            {
                                                <input id="txtPostalCode1" name="PostalCode1" class="form-control" placeholder="Zip Code"
                                                       maxlength="6" type="text" />

                                            }
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-md-8 col-xs-12 no_pad mt20">
                                    <div class="col-sm-12 no_pad acnt_hold_text">Bank account information</div>
                                    @if (Model != null && !String.IsNullOrEmpty(Model.PI_BankAccInfo))
                                    {
                                        if (Model.PI_BankAccInfo == "C")
                                        {
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="label-control ev_tickt_lebel pl0 ">
                                                <input id="AccInfo1" name="AccInfo" type="radio" value="C" checked ="checked"  />
                                                Checking
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="label-control ev_tickt_lebel pl0">
                                                <input id="AccInfo2" name="AccInfo" type="radio" value="S" />
                                                Savings
                                            </label>
                                        </div>
                                        }
                                        if (Model.PI_BankAccInfo == "S")
                                        {
                                            <div class="col-sm-4 col-xs-12 no_pad">
                                                <label class="label-control ev_tickt_lebel pl0 ">
                                                    <input id="AccInfo1" name="AccInfo" type="radio" value="C" />
                                                    Checking
                                                </label>
                                            </div>
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="label-control ev_tickt_lebel pl0">
                                                <input id="AccInfo2" name="AccInfo" type="radio" value="S" checked="checked"/>
                                                Savings
                                            </label>
                                        </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="label-control ev_tickt_lebel pl0 ">
                                                <input id="AccInfo1" name="AccInfo" type="radio" value="C" />
                                                Checking
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-xs-12 no_pad">
                                            <label class="label-control ev_tickt_lebel pl0">
                                                <input id="AccInfo2" name="AccInfo" type="radio" value="S" checked="checked" />
                                                Savings
                                            </label>
                                        </div>
                                    }
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Bank Name*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        @if (Model != null && !String.IsNullOrEmpty(Model.PI_BankName))
                                        {
                                            <input id="txtBankName" name="BankName" type="text" class="form-control " placeholder="eg. Wells Fargo, Chase, Bank of America"
                                                   maxlength="500" value="@Model.PI_BankName">
                                        }
                                        else
                                        {
                                            <input id="txtBankName" name="BankName" type="text" class="form-control " placeholder="eg. Wells Fargo, Chase, Bank of America"
                                                   maxlength="500">
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Routing Number*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        @if (Model != null && !String.IsNullOrEmpty(Model.PI_RoutingNumber))
                                        {
                                            <input id="txtRoutingNumber" name="RoutingNumber" type="text" class="form-control " placeholder="Routing Number"
                                                   maxlength="100" value="@Model.PI_RoutingNumber">
                                        }
                                        else
                                        {
                                            <input id="txtRoutingNumber" name="RoutingNumber" type="text" class="form-control " placeholder="Routing Number"
                                                   maxlength="100">
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Account Number*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        @if (Model != null && !String.IsNullOrEmpty(Model.PI_AccountNumber))
                                        {
                                            <input id="txtAcNumber" name="AcNumber" type="text" class="form-control " placeholder="Account Number"
                                                   maxlength="100" value="@Model.PI_AccountNumber">
                                        }
                                        else
                                        {
                                            <input id="txtAcNumber" name="AcNumber" type="text" class="form-control " placeholder="Account Number"
                                                   maxlength="100">
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-sm-12 label-control comp_name no_pad">
                                        Re-enter Account Number*
                                    </label>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        @if (Model != null && !String.IsNullOrEmpty(Model.PI_ReAccountNumber))
                                        {
                                            <input id="txtReEnterAcNumber" name="ReEnterAcNumber" type="text" class="form-control " placeholder="Re-enter Account Number"
                                                   maxlength="100" value="@Model.PI_ReAccountNumber">
                                        }
                                        else
                                        {
                                            <input id="txtReEnterAcNumber" name="ReEnterAcNumber" type="text" class="form-control " placeholder="Re-enter Account Number"
                                                   maxlength="100">
                                        }
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- Cheque Dropdown Div -->
                            <div id="dvCheque" class="col-sm-12 no_pad">
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-md-12 control-label comp_name no_pad ">Name / Pay To*</label>
                                    <div class="col-md-12 col-xs-12 no_pad">
                                        @if (Model != null && !String.IsNullOrEmpty(Model.PI_PayTo))
                                        {
                                            <input id="txtPayeeName" name="PayeeName" class="form-control" placeholder="Payee Name"
                                                   maxlength="500" type="text" value="@Model.PI_PayTo">
                                        }
                                        else
                                        {
                                            <input id="txtPayeeName" name="PayeeName" class="form-control" placeholder="Payee Name"
                                                   maxlength="500" type="text">
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12 no_pad mt10">
                                    <label class="col-md-12 control-label comp_name no_pad ">Mailing Address*</label>
                                    <div class="col-md-12 col-xs-12 no_pad">
                                        @if (Model != null && !String.IsNullOrEmpty(Model.PI_Address))
                                        {
                                            <input id="txtMailingAddress1" name="MailingAddress1" class="form-control" placeholder="Address 1" maxlength="256"
                                                   type="text" value="@Model.PI_Address">
                                        }
                                        else
                                        {
                                            <input id="txtMailingAddress1" name="MailingAddress1" class="form-control" placeholder="Address 1" maxlength="256"
                                                   type="text">
                                        }
                                    </div>
                                    <div class="col-md-12 col-xs-12 no_pad mt10">
                                        @if (Model != null && !String.IsNullOrEmpty(Model.PI_Address2))
                                        {
                                            <input id="txtMailingAddress2" name="MailingAddress2" class="form-control" placeholder="Address 2" type="text" maxlength="256"
                                                   value="@Model.PI_Address2" />
                                        }
                                        else
                                        {
                                            <input id="txtMailingAddress2" name="MailingAddress2" class="form-control" placeholder="Address 2" type="text" maxlength="256" />
                                        }

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-8 col-xs-12 no_pad mt10">
                                    <div class="row">
                                        <div class="col-xs-6 dropheight pay100">
                                            @if (Model != null && !String.IsNullOrEmpty(Model.PI_City))
                                            {
                                                <input id="txtCity2" name="City2" class="form-control" placeholder="City"
                                                      maxlength="256" type="text" value="@Model.PI_City" />
                                            }
                                            else
                                            {
                                                <input id="txtCity2" name="City2" class="form-control" placeholder="City"
                                                      maxlength="256" type="text" />
                                            }
                                        </div>
                                        <div class="col-xs-6 dropheight pay100">
                                            @if (Model != null && !String.IsNullOrEmpty(Model.PI_State))
                                            {
                                                <input id="txtState2" name="State2" class="form-control" placeholder="State"
                                                      maxlength="256" type="text" value="@Model.PI_State" />
                                            }
                                            else
                                            {
                                                <input id="txtState2" name="State2" class="form-control" placeholder="State"
                                                      maxlength="256" type="text" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-8 col-xs-12 no_pad mt10">
                                    <div class="row">
                                        <div class="col-xs-6 dropheight pay100">
                                            @*<select id="ddlCountry2" name="Country2" class="form-control selectpicker">
                                        <option @(Model.PI_Country == 1 ? " selected=\"selected\" " : "") value="1">Country1</option>
                                        <option @(Model.PI_Country == 2 ? " selected=\"selected\" " : "") value="2">Country2</option>
                                    </select>*@
                                            @if (ViewBag.CountryID != null)
                                            {
                                                @Html.DropDownList("Country2", ViewBag.CountryID as List<SelectListItem>, new { @class = "form-control selectpicker", @id = "ddlCountry2" })
                                            }
                                            else
                                            {
                                                <select id="ddlCountry2" name="Country2" class="form-control selectpicker">
                                                    <option value="0">Select Country</option>
                                                </select>
                                            }
                                        </div>
                                        <div class="col-xs-6 pay100">
                                            @if (Model != null && !String.IsNullOrEmpty(Model.PI_PostalCode))
                                            {
                                                <input id="txtPostalCode2" name="PostalCode2" class="form-control" placeholder="Zip Code"
                                                       maxlength="6" type="text" value="@Model.PI_PostalCode">
                                            }
                                            else
                                            {
                                                <input id="txtPostalCode2" name="PostalCode2" class="form-control" placeholder="Zip Code"
                                                       maxlength="6" type="text" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-sm-8 mt10 no_pad ">
                                @if (Model != null && !String.IsNullOrEmpty(Model.PI_PostalCode))
                                {
                                    <input id="hdfPaymentInfoId" name="PaymentInfoId" type="hidden" value="@Model.PaymentInfo_Id" />
                                }
                                else
                                {
                                    <input id="hdfPaymentInfoId" name="PaymentInfoId" type="hidden" />
                                }
                                @if (ViewBag.EventId != null)
                                {
                                    <input id="hdfEventId" name="EventId" type="hidden" value="@ViewBag.EventId" />
                                }
                                else
                                {
                                    <input id="hdfEventId" name="EventId" type="hidden" />
                                }
                                <button id="btnSave" name="Save" type="submit" class="btn btn-info acnt_btn"
                                        onclick="return FormValidate();">
                                    SAVE
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
                </div>
                </div>
                
    </div>
</div>

<div class="clearfix"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="js/ec-select.js"></script>
<script type="text/javascript">
      //$(".comp_cont").css("display", "none");
      $(".Comp_chek").click(function(){
        //$(".comp_cont").css("display", "block");
        //$(".NameAcnt").css("display", "none");

        $(".comp_cont").removeClass("AccHoldInfoHide");
        $(".comp_cont").addClass("AccHoldInfoShow");

        $(".NameAcnt").removeClass("AccHoldInfoShow");
        $(".NameAcnt").addClass("AccHoldInfoHide");

        //$("#txtCompanyName").removeClass("AccHoldInfoHide");
        //$("#txtCompanyName").addClass("AccHoldInfoShow");

        //$("#txtName").removeClass("AccHoldInfoShow");
        //$("#txtName").addClass("AccHoldInfoHide");




      });
      $(".Indiv_cont").click(function(){
        //$(".comp_cont").css("display", "none");
        //$(".NameAcnt").css("display", "block");

          $(".comp_cont").removeClass("AccHoldInfoShow");
          $(".comp_cont").addClass("AccHoldInfoHide");

          $(".NameAcnt").removeClass("AccHoldInfoHide");
          $(".NameAcnt").addClass("AccHoldInfoShow");

          //$("#txtCompanyName").removeClass("AccHoldInfoShow");
          //$("#txtCompanyName").addClass("AccHoldInfoHide");

          //$("#txtName").removeClass("AccHoldInfoHide");
          //$("#txtName").addClass("AccHoldInfoShow");



      });

      //$("#dvCheque").css("display", "none");
      OnOfPaymentMethod();

      $("#ddlPaymentMethod").change(function () {
          OnOfPaymentMethod();
      });
      function OnOfPaymentMethod()
      {
          if ($("#ddlPaymentMethod").val() == "D") {
              document.getElementById("dvCheque").style.display = "none"
              document.getElementById("dvDirectDeposit").style.display = "block"
          }
          else {
              document.getElementById("dvCheque").style.display = "block"
              document.getElementById("dvDirectDeposit").style.display = "none"
          }
      }




      //$(document).ready(function () {

      //});
</script>


<script>
    //$(function () {
    //    // Setup form validation on the #register-form element
    //    $("#frmPaymentInfo").validate({

    //        // Specify the validation rules
    //        rules: {
    //            CompanyName: {
    //                required: true,
    //                alphanumeric: true
    //            },
    //            Address1: "required",
    //            BankName: {
    //                required: true,
    //                maxlength: 500,
    //            },
    //            RoutingNumber: {
    //                required: true,
    //                minlength: 5,
    //                maxlength: 100,
    //                number: true,
    //            },
    //            AcNumber: {
    //                required: true,
    //                number: true,
    //                maxlength: 100,
    //            },
    //            ReEnterAcNumber: {
    //                required: true,
    //                number: true,
    //                maxlength: 100,
    //            },
    //            //for payment method cheque

    //            MailingAddress1: "required",
    //            PayeeName: {
    //                required: true
    //            },
    //            PostalCode: {
    //                required: true,
    //                number: true,
    //                minlength: 5,
    //                maxlength: 5,
    //            },


    //            //email: {
    //            //    required: true,
    //            //    email: true
    //            //},



    //        },

    //        // Specify the validation error messages
    //        messages: {
    //            CompanyName: {
    //                required: "Please enter company name",
    //                alphanumeric: "Please do not enter special char"
    //            },
    //            Address1: "Please enter your address",
    //            BankName: {
    //                required: "Please enter bank name",
    //            },
    //            RoutingNumber: {
    //                required: "Please enter routing number",
    //                minlength: "Your routing number must be at least 5 characters long"
    //            },
    //            AcNumber: {
    //                required: "Please enter account number"
    //            },
    //            ReEnterAcNumber: {
    //                required: "Please enter account number"
    //            },

    //            MailingAddress1: "Please enter mailing address",
    //            PayeeName: {
    //                required: "Please enter payee name",
    //                //alphanumeric: "Please do not enter special char"
    //            },
    //            PostalCode: {
    //            required: "Please enter payee name",
    //            }


    //        },

    //        errorClass: "my-error-class",
    //        validClass: "my-valid-class",

    //        submitHandler: function (form) {
    //            form.submit();
    //        }
    //    });

    //});

</script>

<style>
    .my-error-class {
        color: #FF0000; /* red */
    }
    /*.my-valid-class {
        color:#00CC00;
        }*/
</style>


<script>

    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
    function ShowMessage(Type, Mess) {
        if (Type == 'S') {
            $('#divaccsuc').css('display', 'block');
            $('#divaccsuc').focus();
            $('#diverroacc').css('display', 'none');
            $('#succaccmsg').html(Mess);
        }
        else {
            $('#divaccsuc').css('display', 'none');
            $('#diverroacc').css('display', 'block');
            $('#diverroacc').focus();
            $('#erraccmsg').html(Mess);

        }
    }
    function FormValidate() {
        debugger;
        var addcount = 0;
        var acccount = 0;
        var ErrorString = "";
        var flag = true;
        //alert($("#ddlPaymentMethod").val().trim());
        if ($("#ddlPaymentMethod").val().trim() == "C" || $("#ddlPaymentMethod").val().trim() == "c")
        {
            var PayeeName = $("#txtPayeeName").val();
            var PN_SpChrNot = /^[a-zA-Z0-9!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/

            var MailingAddress1 = $("#txtMailingAddress1").val();
            var City2 = $("#txtCity2").val();
            var State2 = $("#txtState2").val();
            var Country2 = $("#ddlCountry2").val();
            var PostalCode2 = $("#txtPostalCode2").val();

            if (PayeeName =='' ) {
                ShowMessage('E', ajaxsetup('PaymentInfo', 'PInameUI'));
              
                $("#txtPayeeName").addClass('err-bor');
                return  false;
            }
         
            if (MailingAddress1 == '') {
                addcount = addcount + 1;
                $("#txtMailingAddress1").addClass('err-bor');
               
            }
            if (City2 == '') {
                addcount = addcount + 1;
                $("#txtCity2").addClass('err-bor');
              
            }
            if (State2 == '') {
                addcount = addcount + 1;
                $("#txtState2").addClass('err-bor');
               
            }
            if (Country2 == '') {
                addcount = addcount + 1;
                $("#ddlCountry2").addClass('err-bor');
               
            }
            if (PostalCode2 == '') {
                addcount = addcount + 1;
                $("#txtPostalCode2").addClass('err-bor');
               
            }
            if (addcount > 0) {
                ShowMessage('E', ajaxsetup('PaymentInfo', 'PIAddressUI'));
                return false;
            }
            //$.isNumeric( "-10" );

        }
        else if ($("#ddlPaymentMethod").val() == "D") {
            var Name = $("#txtName").val();
            var CompanyName = $("#txtCompanyName").val();
            var N_SpChrNot = /^[a-zA-Z0-9!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/
            var Address1 = $("#txtAddress1").val();
            var City1 = $("#txtCity1").val();
            var State1 = $("#txtState1").val();
            var Country1 = $("#ddlCountry1").val();
            var PostalCode1 = $("#txtPostalCode1").val();
            var RoutingNumber = $("#txtRoutingNumber").val();
            var BankName = $("#txtBankName").val();
            var AcNumber = $("#txtAcNumber").val();
            var ReEnterAcNumber = $("#txtReEnterAcNumber").val();
         
            var accholder = '';
          
            if ($('#rdbAccHoldInfoI').is(':checked'))
            {
                accholder = "I";
            }
            if ($('#rdbAccHoldInfoC').is(':checked')) {
                accholder = "C";
            }
            if (accholder == "I")
            {
                if (Name == '') {
                    ShowMessage('E', ajaxsetup('PaymentInfo', 'PInameUI'));
                    $("#txtName").addClass('err-bor');
                    return false;
                }
                else {
                    $("#txtName").removeClass('err-bor');
                }
            } 
            if (accholder == "C")
            {
                if (CompanyName == '') {
                    ShowMessage('E', ajaxsetup('PaymentInfo', 'PICompanynameUI'));
                    $("#txtCompanyName").addClass('err-bor');
                    return false;
                } else {
                    $("#txtCompanyName").removeClass('err-bor');
                }
            }

            //if(Name.match(N_SpChrNot))
            //{
            //    ErrorString += GetMess();
            //    $("#txtName").focus();
            //    return false;
            //}
            if (Address1 == '') {
                addcount = addcount+1;
                $("#txtAddress1").addClass('err-bor');
                
            } else {
                $("#txtAddress1").removeClass('err-bor');
            }
            if (PostalCode1 == '') {
                addcount = addcount + 1;
                $("#txtPostalCode1").addClass('err-bor');
              
            } else {
                $("#txtPostalCode1").removeClass('err-bor');
            }
            if (City1 == '') {
                addcount = addcount + 1;
                $("#txtCity1").addClass('err-bor');
               
            } else {
                $("#txtCity1").removeClass('err-bor');
            }
            if (State1 == '') {
                addcount = addcount + 1;
                $("#txtState1").addClass('err-bor');
             
            } else {
                $("#txtState1").removeClass('err-bor');
            }
           
                
            if (addcount > 0)
            {
                ShowMessage('E', ajaxsetup('PaymentInfo', 'PIAddressUI'));
                return false;
            }
            //if (PayeeName == '') {
            //    ErrorString += GetMess();
            //    $("#ddlCountry1").focus();
            //    return false;
            //}
          
            if (BankName == '') {
                ShowMessage('E', ajaxsetup('PaymentInfo', 'PIBankNameUI'));
                $("#txtBankName").addClass('err-bor');
                return false;
            } else {
                $("#txtBankName").removeClass('err-bor');
            }
            if (RoutingNumber == '') {
                ShowMessage('E', ajaxsetup('PaymentInfo', 'PIRoutingnoUI'));
                $("#txtRoutingNumber").addClass('err-bor');
                return false;
            } else {
                $("#txtRoutingNumber").removeClass('err-bor');
            }
            if (AcNumber == '') {
                acccount = acccount + 1;
              
                $("#txtAcNumber").addClass('err-bor');
               
            } else {
                $("#txtAcNumber").removeClass('err-bor');
            }
            if (ReEnterAcNumber == '') {
                acccount = acccount + 1;
                $("#txtReEnterAcNumber").addClass('err-bor');
               
            } else {
                $("#txtReEnterAcNumber").removeClass('err-bor');
            }
            if(AcNumber!=ReEnterAcNumber)
            {
                ShowMessage('E', ajaxsetup('PaymentInfo', 'PIAccountinfocompUI'));
                $("#txtReEnterAcNumber").addClass('err-bor');
                return false;
            } else {
                $("#txtReEnterAcNumber").removeClass('err-bor');
            }
            if (acccount > 0) {
                ShowMessage('E', ajaxsetup('PaymentInfo', 'PIAccountinfoUI'));
                return false;
            }

        }
        //alert(ErrorString);
    }
    function GetMess()
    {
        return "Some validation require <br/>";
    }

    $('.Number').keypress(function (event) {
        var keycode = event.which;
        if (!(event.shiftKey == false && (keycode == 46 || keycode == 8 || keycode == 37 || keycode == 39 || (keycode >= 48 && keycode <= 57)))) {
            event.preventDefault();
        }
    });
</script>
<script>
    $('#txtPostalCode1').change(function () {
        //alert('aaa');
        var country = $("#ddlCountry1 option:selected").text().trim();

        var city = "";
        var state = "";

        var pincode = $(this).val();


        $.ajax({
            url: 'http://maps.googleapis.com/maps/api/geocode/json',
            data: '&address=' + pincode + '&sensor=true',
            dataType: 'json',
            cache: false,
            success: function (data) {


                if (data.status == 'OK') {

                    for (var i = 0; i < data.results[0].address_components.length; i++) {
                        var obj = data.results[0].address_components[i];

                        var obj2 = obj['types'];

                        for (var j = 0; j < obj2.length; j++) {
                            if (obj2[j] == 'locality') {
                                city = obj['long_name'];


                            }

                            if (obj2[j] == 'sublocality_level_1') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_2') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_3') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_4') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'ward') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'postal_town') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'administrative_area_level_1') {
                                state = obj['long_name'];

                            }
                            //if (obj2[j] == 'administrative_area_level_2') {
                            //    state = obj['long_name'];

                            //}

                            //alert('city=' + city);
                            if (obj2[j] == 'country') {
                                if (obj['long_name'] == country) {


                                    $('#txtCity1').val(city);
                                    $('#txtState1').val(state);
                                } else {
                                    $('#txtCity1').val('');
                                    $('#txtState1').val('');
                                }

                            }

                        }



                    }

                }



                else {
                    var msg = ajaxsetup('MyAccount', 'MyAccountZipValidationUI');
                    $("#txtState1").val("");
                    $("#txtCity1").val("");
                    $('#txtPostalCode1').val("");
                    $('#txtPostalCode1').addClass('err-bor');
                    ShowMessage('E', msg)

                    return false;
                }
            },
            error: function (data) { //alert(data) }
        });


    });
</script>
<script>


    $('#btndivaccsuc').click(function () {

        $('#diverroacc').css('display', 'none');
         $('select').removeClass('err-bor');
        $('input').removeClass('err-bor');

    });

    $('#txtPostalCode2').change(function () {
        //alert('aaa');
        var country = $("#ddlCountry2 option:selected").text().trim();

        var city = "";
        var state = "";

        var pincode = $(this).val();


        $.ajax({
            url: 'http://maps.googleapis.com/maps/api/geocode/json',
            data: '&address=' + pincode + '&sensor=true',
            dataType: 'json',
            cache: false,
            success: function (data) {


                if (data.status == 'OK') {

                    for (var i = 0; i < data.results[0].address_components.length; i++) {
                        var obj = data.results[0].address_components[i];

                        var obj2 = obj['types'];

                        for (var j = 0; j < obj2.length; j++) {
                            if (obj2[j] == 'locality') {
                                city = obj['long_name'];


                            }

                            if (obj2[j] == 'sublocality_level_1') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_2') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_3') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_4') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'ward') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'postal_town') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'administrative_area_level_1') {
                                state = obj['long_name'];

                            }
                            //if (obj2[j] == 'administrative_area_level_2') {
                            //    state = obj['long_name'];

                            //}

                            //alert('city=' + city);
                            if (obj2[j] == 'country') {
                                if (obj['long_name'] == country) {


                                    $('#txtCity2').val(city);
                                    $('#txtState2').val(state);
                                } else {
                                    $('#txtCity2').val('');
                                    $('#txtState2').val('');
                                }

                            }

                        }



                    }

                }



                else {
                    var msg = ajaxsetup('MyAccount', 'MyAccountZipValidationUI');
                    $("#txtState2").val("");
                    $("#txtCity2").val("");
                    $('#txtPostalCode2').val("");
                    $('#txtPostalCode2').addClass('err-bor');
                    ShowMessage('E', msg)

                    return false;
                }
            },
            error: function (data) { //alert(data) }
        });


    });
</script>



