@using System.Collections.Generic
@using EventCombo.Models
@using EventCombo.Service
@using System.Configuration
@model TwoListsViewModel<ArticleShortViewModel>
@{
  Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section CSSSection
{
  <link href="~/Content/AMaterial/owl.carousel.css" rel="stylesheet" />
  <link href="~/Content/AMaterial/ArticlePages.css" rel="stylesheet" />
}

@section ScriptSection
{
  <script src="@Url.Content("~/Scripts/AMaterial/owl.carousel.min.js")"></script>
}

@section ScriptFooterSection
{
  <script type="text/javascript">
    eventComboApp.directive('wrapOwlcarousel', ['$timeout', function ($timeout) {
      return {
        restrict: 'E',
        link: function (scope, element, attrs) {
          $timeout(function () {
            var options = scope.$eval($(element).attr('data-options'));
            $(element).owlCarousel({
              dots: false,
              nav: true,
              navText: ['<i class="material-icons">chevron_left</i>', '<i class="material-icons">chevron_right</i>'],
              responsive: {
                0: {
                  items: 1
                },
                767: {
                  items: 2
                },
                1170: {
                  items: 3
                }
              }
            });
          },100);
        }
      };
    }]);  
  </script>
}
<!--****************************************************************************************************************************-->
<section>
  <div class="grid wfull">
    <div class="row">
      <div class="c9 md-c8 sm-c6">
        <wrap-owlcarousel class="owl-carousel" data-options="{navigation:true, items: 3}" style="width:100%; display:inline-block;">
          @for (var j = 0; j < Model.FirstList.Count; j++)
          {
            ArticleShortViewModel cur = null;
            string articleURL = "javascript:void(0)";
            cur = Model.FirstList[j];
            articleURL = Url.Content(ArticleService.GetArticleUrl(cur.ArticleId, cur.Title));
            <div class="carItemConDiv" style="display:inline-block;;">
              <a href="@articleURL" class="carItemConDivAnc" title="@cur.Title">
                <span class="artImgBoxOuter">
                  <span class="artImgBox">
                    <img src="@(cur == null ? "" : cur.ArticleImage)" alt="@cur.Title">
                  </span>
                </span>
                <span>@(cur == null ? "" : cur.Title)</span>
              </a>
            </div>
          }
        </wrap-owlcarousel>
        <!--********************-->
        <div class="articleConMainHeading">The Buzzworthy</div>
        <div class="articleContainer">
          @foreach (var article in Model.SecondList)
          {
            var articleURL = Url.Content(ArticleService.GetArticleUrl(article.ArticleId, article.Title));
            <div class="c6 articleOuter">
              <div class="articleMain">
                <a href="@articleURL" title="@article.Title" class="articleBox">
                  <div class="articleLeft">
                    <img class="articleImg" src="@article.ArticleImage" alt="@article.Title">
                  </div>
                  <div class="articleRight">
                    <h4 class="articleTitle">@article.Title</h4>
                    <p class="articleDes">@article.ShortBody</p>
                  </div>
                </a>
                <div class="articleActions">
                  <a href="#" title="By Author name" class="hashLink">@('@') @article.AuthorName</a>
                  <div class="matBox">
                    <a href="#" title="Share with Social Media" class="matIcon"><i class="material-icons">share</i></a>
                    <a href="#" title="Forwards to Friends" class="matIcon"><i class="material-icons">contact_mail</i></a>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
      <!--********************-->
      <div class="c3 md-c4 sm-c6 articleTwitterFeeds">
        <div class="articleTwitterFeedsHead">Eventcombo tweet</div>
        <div class="twitterFeedsInner">
          <a class="twitter-timeline" href="https://twitter.com/EventCombo" data-widget-id="734133932380295168">Tweets by @@EventCombo</a>
          <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</section>