@using System.Collections.Generic
@using EventCombo.Models
@using EventCombo.Service
@using System.Configuration
@model ArticleFullViewModel
@{
  Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section CSSSection
{
  <link href="/Content/AMaterial/ArticlePages.css" rel="stylesheet" />
}

@section ScriptSection
{
  <script type="text/javascript">
  </script>
}

@section ScriptFooterSection
{
  <script src="~/Scripts/socialshare.js"></script>
  <script type="text/javascript">
    $(document).on("click", ".imageGallaryAnchorCls", function () {
      var imageID = $(this).data('id');
      $('.gallarySliderClass').removeClass('active');
      $("#gallarySlider" + imageID).addClass('active');
    });
  </script>

  <script type="text/javascript">
    var fbappid = '@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]'
    window.fbAsyncInit = function () {
      // init the FB JS SDK
      FB.init({
        appId: fbappid,                        // App ID from the app dashboard
        status: true,                          // Check Facebook Login status
        xfbml: true,                           // Look for social plugins on the page
        version: '2.7'
      });
    };

    // Load the SDK asynchronously
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
}<!--****************************************************************************************************************************-->
<meta property="fb:app_id" content="@(ConfigurationManager.AppSettings["FacebookAppId"])" />
<!--****************************************************************************************************************************-->
<section>
  <div class="grid wfull">
    <div class="row">
      <div class="c8 md-c6 sm-c8">

        <h1 class="entrmentHeaderQuestion">@Model.Title</h1>

        <div class="userbox">
          <img src="@(String.IsNullOrWhiteSpace(Model.AuthorImage) ? @Url.Content("~/Images/mrblank.jpg") : Model.AuthorImage)">
          <div>
            <article-author class="articleAuthor" href="profile-page-moments.html" target="_blank" class="link">@Model.AuthorName</article-author>
            <span class="articleDate" title="@Model.CreateDate.ToLongTimeString() @Model.CreateDate.ToString("MMMM dd, yyyy")">1hour ago</span>
          </div>
          <div class="authorTwitter">follow me on <a class="twitterLink" href="@(String.IsNullOrWhiteSpace(Model.AuthorTwitterUrl) ? "javascript:void(0)" : Model.AuthorTwitterUrl)" target="_blank">Twitter</a></div>
          <div class="authorIcons">
            <a href="#" title="Share with Social Media"><i class="material-icons">share</i></a>
            <a href="#" title="Forwards to Friends"><i class="material-icons">contact_mail</i></a>
          </div>
        </div>

        <div class="articleBody">
          <div class="articleImageDiv"><img src="@Model.ArticleImageUrl" /></div>
          <div class="entrmentHeaderAnswer">
            @Html.Raw(Model.Body)
          </div>
        </div>
        
        @if (Model.Images.Count > 0)
        {
          <div class="col-md-6 col-sm-6 col-xs-12 photoGallaryContainer">
            <div class="photoGallaryContainerTxt">Photo Gallary</div>
            @for (var i = 0; i < Model.Images.Count; i++)
        {
              <div class="col-md-6 col-sm-6 col-xs-12 photoGallaryContent">
                <a href="javascript:void(0)" data-id="@((i + 1).ToString())" data-toggle="modal" data-target=".bs-example-modal-md" class="imageGallaryAnchorCls">
                  <img src="@(Model.Images[i])" />
                </a>
              </div>
            }

            <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      @for (var i = 0; i < Model.Images.Count; i++)
                      {
                        <div id="gallarySlider@((i + 1).ToString())" class="gallarySliderClass item active">
                          <img class="img-responsive sliderImgGallary" src="@(Model.Images[i])">
                        </div>
                      }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="top:50%;">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="top:50%;">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }

        <div class="@(Model.Images.Count == 0 ? "col-md-12" : "col-md-6") col-sm-6 col-xs-12 discussionFbContainer">
          <div class="discussionFbContainerTxt">Discussion</div>
          <div id="fb-root"></div>
          <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="404" data-numposts="5"></div>
        </div>

      </div>
      <!--********************-->
      <div class="c4 md-c6 sm-c4 entrmntLastestNews">
        @{ Html.RenderAction("ShowPopularArticles", "Article"); }
      </div>
    </div>
  </div>
</section>
</div>