@using System.Collections.Generic
@using EventCombo.Models
@using EventCombo.Service
@model IEnumerable<ArticleShortViewModel>
@{
  Layout = null;
}
<div class="col-sm-12 no-padding">
  <div class="the_buz "><h2>What's the BUZZ?</h2></div>

  @foreach (var article in Model)
  {
    string articleURL = Url.Content(ArticleService.GetArticleUrl(article.ArticleId, article.Title));
    <div class="event_list_main buzz_right_main ">
      <div class="event_list_right buzz_right">
        <p class="event_tit buz_title"><a href="@articleURL">@(article.Title)</a></p>
        <p class="event_desc buz_desc">
          <a href="@articleURL">
            @(article.ShortBody)
          </a>
        </p>
      </div>
      <div class="event_list_left"><a href="@articleURL"><img class="evnt_img_right" src="@(article.ArticleImage)" alt=""></a></div>
    </div>
  }
</div>

