@using System.Collections.Generic
@using EventCombo.Models
@using EventCombo.Service
@model IEnumerable<ArticleShortViewModel>
@{
  Layout = null;
}
<div class="entrmntLastestNewsTxt">Popular Stories</div>
<div class="popularStories">
  <div class="storiesBox">
    @foreach (var article in Model)
    {
      <div class="popularStory">
        <a href="@(Url.Content(ArticleService.GetArticleUrl(article.ArticleId, article.Title)))" title="@article.Title">
          <div class="storyImg"><img src="@article.ArticleImage" alt="@article.Title" /></div>
          <div class="storyTitle">@article.Title</div>
        </a>
      </div>
    }
  </div>
</div>