@model CMS.Models.MyAccount
@{
    ViewBag.title = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <title>Eventcombo Admin</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/plugins/footable/css/footable.core.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/magnific/magnific-popup.css">
</head>

<body class="email-templates-page">
    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Start: Topbar -->
        <header id="topbar" class="alt">
            <div class="topbar-left">
                <ol class="breadcrumb">

                    <li class="crumb-icon">
                        <a href="dashboard.html">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li class="crumb-active">
                        Dashboard
                    </li>
                </ol>
            </div>

        </header>


@using (Html.BeginForm("MyAccount", "MyAcc", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
        <div id="content" class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <!-- Input Fields -->
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">My Account</span>
                            @Html.ActionLink("Back", "Users", "Users",null, new { @class = "btn btn-primary col-sm-1 pull-right mt5" }) 
                        </div>
                        <div class="panel-body">
                            @*if (ViewData["Message"] != null)
                            {
                            <div class="alert alert-micro alert-border-left alert-success pastel alert-dismissable mn mb5" id="divsuccc">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-info pr10"></i> <span id="spanid"> @ViewData["Message"]</span>
                            </div>
                           }*@
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-micro alert-border-left alert-danger pastel alert-dismissable mn mb5" id="diverrorsys">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="fa fa-info pr10"></i> <span id="spanid"> @Html.ValidationMessage("")</span>
                                </div>
                            }
                            <div class="col-md-12" style="display:none;" id="divError">
                                <div class="alert alert-danger alert-dismissable">
                                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&#215;</button>
                                    <i class="fa fa-info pr10"></i>
                                    <span id="spanid"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <form class="form-horizontal" role="form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">First Name</label>
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.Firstname, new { @maxlength = 35, @class = "form-control" })
                                                    @Html.HiddenFor(m=> m.Id)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Last Name</label>
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.Lastname, new { @maxlength = 35, @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-lg-12">Address</label>
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.StreetAddress1, new { @maxlength = 256, @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.StreetAddress2, new { @maxlength = 256, @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">City</label>
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.City, new { @maxlength = 256, @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">State</label>
                                                <div class="col-lg-12">
                                                   @Html.TextBoxFor(m => m.State, new { @maxlength = 256, @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Zip Code</label>
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.ZipCode, new { @maxlength = 5, @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Country</label>
                                                <div class="col-lg-12">
                                                   @Html.DropDownList("Country", ViewBag.Countries as List<SelectListItem>)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Email Id</label>
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Current Password</label>
                                                <div class="col-lg-12">
                                                    <input type="password" class="form-control" readonly="readonly" placeholder="Current Password">
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">New Password</label>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" readonly="readonly" placeholder="New Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Confirm Password</label>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" readonly="readonly" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Website</label>
                                                <div class="col-lg-12">
                                                    @Html.TextBoxFor(m => m.WebsiteURL, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Home Number</label>
                                                <div class="col-lg-6 mb5">
                                                    @Html.TextBoxFor(m => m.MainPhone, new { @class = "form-control" })
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12">Cellular Number</label>
                                                <div class="col-lg-6 mb5">
                                                    @Html.TextBoxFor(m => m.SecondPhone, new { @class = "form-control" })
                                                </div>
                                             
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-lg-12 mb5">Work Number</label>
                                                <div class="col-lg-6 mb5">
                                                    @Html.TextBoxFor(m => m.WorkPhone, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button class="btn btn-primary col-sm-3" type="submit" id="btnsave" >Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4"></div>


                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
}
    </section>
    <script type="text/javascript">
        $('#btnsave').click(function () {
            var msg = "";
            var Email = $("#Email").val();
            if (Email != "") {
                if (!validateEmail(Email)) {
                    $('#Email').focus();
                    $('#Email').addClass('err-bor');
                    msg += "Invalid Email! </br>"

                } else {

                    msg = "";
                    $('#Email').focus();
                    $('#Email').removeClass('err-bor');
                }
            }
            if (msg == "") {
                $('#divError').css("display", "none");
                return true;
            }
            else {
                console.log(msg)
                $('#spanid').html(msg);
                $('#diverro1acc').css("display", "none");
                $('#divaccsuc').css("display", "none");

                $('#divError').css("display", "block");
                setTimeout(function () { $('#divError').css('display', 'none'); $('input[type=text]').removeClass('err-bor') }, 3000);
                return false;
            }
        });
        function validateEmail(sEmail) {
            var filter = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

            if (filter.test(sEmail)) {

                return true;
            }
            else {


                return false;
            }
        }
    </script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>


    <script type="text/javascript">
        jQuery(function ($) {
            $("#MainPhone").mask("999-999-9999");
            $("#SecondPhone").mask("999-999-9999");
            $("#WorkPhone").mask("999-999-9999");

        });


    </script>

</body>
</html>