@using System.Collections.Generic;
@using System.Linq;
@using EventCombo.Models;
@model EventOrderInfoListViewModel
@{
    Layout = null;
}
<style>
  .reportTableContainer { width:100%; display:inline-block; overflow:auto; max-height:400px; font:14px "Roboto",sans serif;}
  .reportHeading { padding:7px; font:14px "Roboto",sans serif; background:#c2d69a; text-align:center;}
  .reportTable { background:#eaf1dd; border-left:1px solid #000;}
  .reportTable tr td, .reportTable tr th { font:14px "Roboto",sans serif; border-right:1px solid #000; border-bottom:1px solid #000;}
  .reportTable tr th { font-weight:500; white-space:nowrap;}
</style>
<div id="purchasedTicketContainer">
    <div class="reportHeading">Ticket Sales for "@(Model.Title)" on <script>var dt = new Date(); document.write(dt.getMonth() + 1 + '/' + dt.getDate() + '/' + dt.getFullYear())</script></div>
    <div class="reportTableContainer">
        <table class="table reportTable" border="0" cellpadding="5">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Ticket Buyer</th>
                    <th>Ticket Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Price Paid</th>
                    <th>Net Price</th>
                    <th>Customer Email</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody class="tableRecorsTBody">
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td class="UETableTD">
                            @order.OrderId
                        </td>
                        <td class="UETableTD">@order.BuyerName</td>
                        <td class="UETableTD">@order.TicketName</td>
                        <td class="UETableTD">@order.Quantity</td>
                        <td class="UETableTD">$@order.Price</td>
                        <td class="UETableTD">$@order.PricePaid</td>
                        <td class="UETableTD">$@order.PriceNet</td>
                        <td class="UETableTD">@order.CustomerEmail</td>
                        <td class="UETableTD">@order.Address</td>
                        <td class="UETableTD">@(order.Date.ToString("MMM, dd, yyyy hh:mm:ss tt"))</td>
                        <td class="UETableTD">@(order.Cancelled > 0 ? "Cancelled" : order.Refunded > 0 ? "Refunded" : order.PaymentState.ToString())</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
