@model EventCombo.Models.Promo_Code
@{
    ViewBag.Title = "CreatePromotionalCodes";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link href="~/Content/DateTimePicker.css" rel="stylesheet" />
@section sidenav{
    <div id="sidebar" class="nav nav-stacked">
        <div id="accordion" class="panel-group">

            <div class="panel panel-default menu_list">
                <a class="menu_title" href="#">
                    <div class="panel-heading">
                        My Account
                    </div>
                </a>
            </div>
            <div class="panel panel-default menu_list">
                <a class="menu_title" href="#">
                    <div class="panel-heading">
                        @Model.Eventitle
                    </div>
                </a>
            </div>
            <div class="panel panel-default menu_list">
                <a class="menu_title" href="#">
                    <div class="panel-heading">
                        Event Help
                    </div>
                </a>
            </div>
            <div class="panel panel-default menu_list">
                <a class="menu_title" href="#">
                    <div class="panel-heading">
                        Event Bundles
                    </div>
                </a>
            </div>
            <div class="panel panel-default menu_list">
                <a class="menu_title" href="#">
                    <div class="panel-heading">
                        Event Dashboard
                    </div>
                </a>
            </div>
            <div class="panel panel-default menu_list">
                <a class="menu_title" href="#">
                    <div class="panel-heading">
                        Modify Order Options
                    </div>
                </a>
            </div>
            <div class="panel panel-default menu_list">

                <a id="mgnav" class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <div id="dvManage" class="panel-heading">
                        Invite and Promote <b class="closed"></b>
                    </div>
                </a>

                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body no-padding">
                        <p>Email Invitations</p>
                        <p>@Html.ActionLink("Promotional Code", "CreatePromotionalCodes", "ManageEvent", new { Eventid = Model.PC_Eventid })</p>
                        <p>Facebook Integration</p>
                        <p>Website Integration</p>
                        <p>Tracing Links</p>
                        <p>Affialate Programs</p>
                        <p>Social Stream</p>




                    </div>
                </div>
            </div>

        </div>
    </div>
}






<div class="col-sm-12 ">
    <h3 class="acnt_title">Create Promotional Code</h3>
    <!--  <p class="p_info">Payment Information</p> -->
</div>
<div class="clearfix"></div>
<div class="col-sm-12 col-xs-12 ">
    <div class="col-sm-12 no_pad">
        <ul class="cod_dis_type">
            <li><a href="#">Coded Discount</a></li>
            <li><a href="#">Public Discount</a></li>
            <li><a href="#">Special Access</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt20">

        <div class="col-sm-2 no_pad">
            <div class="form-group">
                <input class="form-control evnt_inp_cont" type="text" placeholder="Enter Single Promo Code" id="txt_Promocode">
            </div>
        </div>
        <div class="mid_or_width">or</div>
        <div class="custom_file_upload">
            <div class="form-group">
                <div class="file_upload">
                    <input type="file" id="file_upload" name="file_upload">
                </div>
            </div>
        </div>

        <div class="upload_help_icn">
            <div class="tip">
                <img class="help_icon_hov" src="images/icon-question.gif" />
                <span class="upload_help_icn_inner">
                    Spaces apostrophes and non alphanumeric characters
                    (except '-','_' and',' are not allowed. File must be in plain text
                    ( CSV or TXT)
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-sm-2 no_pad">
            <div class="form-group">
                <input class="form-control evnt_inp_cont " type="text" placeholder="Enter Discount Amount" id="txt_discountmnt">
            </div>
        </div>
        <div class="mid_or_width"></div>
        <div class="col-sm-1 no_pad">
            <div class="form-group dropheight">
                <select class="form-control selectpicker" id="ddl_discounttype">
                    <option value="0">$</option>
                    <option value="1">%</option>
                </select>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-sm-2 no_pad">
            <div class="form-group">
                Uses (Blank for Unlimited)
            </div>
        </div>
        <div class="mid_or_width"></div>
        <div class="col-sm-1 no_pad">
            <div class="form-group">
                <input class="form-control evnt_inp_cont " type="text" placeholder="Unlimited" id="txt_use">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-md-6 col-sm-12  no_pad promo_checkbox">
            <div class="col-sm-4 no_pad">
                <div class="col-sm-12 no_pad">
                    <div class="prm_befor_level"> Start</div>
                    <div class="squaredOne">

                        <input type="checkbox" value="None" id="befstrtdevnt" name="check" />
                        <label for="befstrtdevnt"></label>
                    </div>
                    <div class="prm_cd_level"> before event</div>
                </div>
                <div class="col-sm-12 no_pad">
                    <div class="form-group">
                        <!-- <input class="form-control evnt_inp_cont " type="text" placeholder="Unlimited" > -->
                        <input type="text" class="form-control evnt_inp_cont fillDateTime" data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtstartdate">
                    </div>

                </div>
            </div>
            <div class="col-sm-1 colsm1"></div>
            <div class="col-sm-4 no_pad">
                <div class="col-sm-12 no_pad">
                    <div class="prm_befor_level"> End</div>
                    <div class="squaredOne">
                        <input type="checkbox" value="None" id="befendevnt" name="check" />
                        <label for="befendevnt"></label>
                    </div>
                    <div class="prm_cd_level"> before event</div>
                </div>
                <div class="col-sm-12 no_pad">

                    <div class="form-group">
                        <input type="text" class="form-control evnt_inp_cont fillDateTime" data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtenddate">
                    </div>

                </div>
            </div>

        </div>


    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-md-6 col-sm-12 no_pad promo_checkbox">
            <div class="col-sm-12 apply_code_head">
                Apply Codes To These Tickets
            </div>
            <div class="col-sm-12 no_pad">
                <div class="squaredOne">
                    <input type="checkbox" value="None" id="all_ticket" name="check" />
                    <label for="all_ticket"></label>
                </div>
                <div class="prm_cd_level"> All</div>
            </div>
            @{ int i = 0;
                foreach (var item in Model.Ticketdata)
                {
                    <div class="col-sm-12 no_pad">
                        <div class="squaredOne">
                            @if (item.Fees_Type == "2")
                            {
                                <input type="checkbox" value="None" id="chk_@i" name="check" />

                            }
                            else
                            {
                                <input type="checkbox" value="None" id="chk_@i" name="check" disabled />
                            }
                            <label for=" @item.T_name"></label>
                        </div>
                            
                            <div class="prm_cd_level">
                           @if (item.Fees_Type == "2")
                               {
                                <label>@item.T_name ($ @item.Price)</label>
                                }
                                else
                                {
                               
                                    @item.T_name
                                 }
                                    <input type="hidden" value="@item.T_Id" id="hdticket_@i" />
                                </div>
                            </div>
                        }
                        }
                        


                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 no_pad mt10">
                    <div class="col-md-6 col-sm-12 no_pad">
                        <div class="col-sm-12 apply_code_head">
                            <div class="col-sm-11 no_pad">Discout URL </div>
                            <div class="col-sm-1 no_pad text-right">
                                <img src="images/icon-question.gif" />
                            </div>

                        </div>
                        <div class="col-sm-12 no_pad mb10">
                            <div class="col-sm-8 "> <a class="link_url" href="#">http://eventcombo.net/event-names?discount=</a> </div>
                            <div class="col-sm-4  text-right">
                                <button class="btn soc_btn_dis soc_btn_active"><i class="fa fa-facebook"></i></button>
                                <button class="btn soc_btn_dis  "><i class="fa fa-twitter"></i></button>
                                <button class="btn soc_btn_dis"><i class="fa fa-envelope"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 no_pad mt10 mb10">
                    <button class="btn btn-info acnt_btn" type="submit" title="">Save</button>
                </div>
            </div>



            <script type="text/javascript">
                $(".upload_help_icn_inner").css("display", "none");
                $('.help_icon_hov').hover(
                 function () {
                     $(".upload_help_icn_inner").show();
                 },
                 function () {
                     $(".upload_help_icn_inner").hide();
                 }
               );


            </script>
            <script type="text/javascript">

                $(document).ready(function () {
                    var bIsPopup = displayPopup();

                    $("#dtBox").DateTimePicker(

                    {
                        isPopup: bIsPopup,

                        addEventHandlers: function () {
                            var dtPickerObj = this;

                            $(window).resize(function () {
                                bIsPopup = displayPopup();
                                dtPickerObj.setIsPopup(bIsPopup);
                            });

                            dtPickerObj.setDateTimeStringInInputField($(".fillDateTime"));
                        }
                    });


                });



                function displayPopup() {
                    if ($(document).width() >= 768)
                        return false;
                    else
                        return true;
                }

            </script>
