@model EventCombo.Models.Promo_Code
@{
    ViewBag.Title = "CreatePromotionalCodes";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<meta property="fb:app_id" content="1956731254551382" />
<meta property="og:url" content="@Model.PC_URL" />

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.masked.js"></script>
@section sidenav{
  @Html.Partial("_ManageEventLeftMenu")
}






<div class="col-sm-12 ">
    <h3 class="acnt_title">Create Promotional Code</h3>
    <!--  <p class="p_info">Payment Information</p> -->
</div>
<div class="clearfix"></div>

@using (Html.BeginForm("CreatePromotionalCodes", "ManageEvent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="col-sm-10 mb10 col-xs-12" id="diverro1acc" style="display:none ">
        <div class="er_UI_main">


            <div class="er_sys_img"></div>
            <div class="er_suc" id="erraccsucc"></div>
            <button class="close" type="button" onclick="$('#diverro1acc').css('display', 'none');" id="btndiverro1acc" tabindex="-1">&#215;</button>
        </div>

    </div>
    <div class="col-sm-12 col-xs-12 ">
        <div class="col-sm-12 no_pad mb20">
            <ul class="cod_dis_type">
                <li><a class="active" href="#">Coded Discount</a></li>
                <li><a href="#">Public Discount</a></li>
                <li><a href="#">Special Access</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 no_pad mt20">
                <div class="col-sm-2 no_pad">
                    <div class="form-group">
                        <input class="form-control evnt_inp_cont" type="text" placeholder="Enter Single Promo Code" id="txt_Promocode" name="PC_Code" value="@Model.PC_Code">
                    </div>
                </div>
            @if (Model.Formtype == "S")
            {
                <div class="mid_or_width">or</div>
                <div class="custom_file_upload">
                    <div class="form-group">
                        <div class="file_upload">
                            <input type="file" id="file_upload" name="file" >
                        </div>
                        <label id="id_filename" class="filename" style="display:none"></label>
                        <input id="id_close" type="button" class="filename" style="display:none" value="X" />
                       
                    </div>
                </div>

                <div class="upload_help_icn">
                    <div class="tip">
                        <img class="help_icon_hov" src="/Images/icon-question.gif" />
                        <span class="xs-upload-tooltip upload_help_icn_inner">
                            Spaces apostrophes and non alphanumeric characters
                            (except '-','_',@@ and',' are not allowed. File must be in plain text
                            ( CSV or TXT)
                        </span>
                    </div>
                </div>
            }
        </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
      <input type="hidden" id="hd_eventid" name="PC_Eventid" value="@Model.PC_Eventid" />
        <input type="hidden" name="Formtype" value="@Model.Formtype" />
        <input type="hidden" name="PC_id" value="@Model.PC_id" />
        <input type="hidden" name="PC_Startdatetype" value="@Model.PC_Startdatetype" id="hd_startdatetype"  />
        <input type="hidden" name="Pc_Enddatetype" value="@Model.Pc_Enddatetype" id="hd_enddatetype" />
        <input type="hidden" id="hd_pctype" name="PC_Type"  value="C"/>
@if (Model.Formtype == "S")
{
        <input type="hidden" id="hd_discounttype" name="Discount_Type" value="A" />
}
else
{
    if (Model.Amounttype == "A")
    {
        <input type="hidden" id="hd_discounttype" name="Discount_Type" value="A" />
    }
    else
    {
        <input type="hidden" id="hd_discounttype" name="Discount_Type" value="P" />
    }
}

        <input type="hidden" name="PC_Apply" id="hd_pcapply" value="@Model.PC_Apply"/>     
           <div class="col-sm-2 no_pad">
            <div class="form-group">
@if (Model.ticketype == 1)
{
if (Model.Formtype == "S")
{
                <input class="form-control evnt_inp_cont " type="text" placeholder="Enter Discount Amount" id="txt_discountmnt" name="PC_Amount" value="@Model.PC_Amount" >
}
else
{
    if (Model.Amounttype == "A")
    {
    <input class="form-control evnt_inp_cont " type="text" placeholder="Enter Discount Amount" id="txt_discountmnt" name="PC_Amount" value="@Model.PC_Amount">
    }
    else
    {
        <input class="form-control evnt_inp_cont " type="text" placeholder="Enter Discount Percentage" id="txt_discountmnt" name="PC_Amount" value="@Model.PC_Amount">

        }
    }
}
else
{
    <input class="form-control evnt_inp_cont " type="text" placeholder="Enter Discount Amount" id="txt_discountmnt" name="PC_Amount" value="@Model.PC_Amount" disabled>
}
            </div>
        </div>
        <div class="mid_or_width"></div>
        <div class="col-sm-1 no_pad">
            <div class="form-group dropheight">
                @if (Model.ticketype == 1)
                {
                if (Model.Formtype == "S")
                {
                <select class="form-control selectpicker" id="ddl_discounttype">
                    <option value="0">$</option>
                    <option value="1">%</option>
                </select>
                }
                else
                {
                    if (Model.Amounttype == "A")
                    {
                        <select class="form-control selectpicker" id="ddl_discounttype">
                            <option value="0" selected="selected">$</option>
                            <option value="1">%</option>
                        </select>
                    }
                    else
                    {
                        <select class="form-control selectpicker" id="ddl_discounttype">
                            <option value="0" selected="selected">$</option>
                            <option value="1" selected="selected">%</option>
                        </select>
                    }
                }
                }
                else
                {
                    <select class="form-control selectpicker" id="ddl_discounttype" disabled>
                        <option value="1" selected="selected">$</option>
                        <option value="0" selected="selected">%</option>
                    </select>
                }
            </div>
        </div>
    </div>
     <div class="clearfix"></div>
        <div class="col-sm-12 no_pad mt10">
            <div class="col-sm-2 no_pad">
                <div class="form-group mt10">
                   Uses (Blank for Unlimited)
                </div>
            </div>
        
        <div class="mid_or_width"></div>
        <div class="col-sm-1 no_pad">
            <div class="form-group">
                <input class="form-control evnt_inp_cont " type="text" placeholder="Unlimited" id="txt_use" name="PC_Uses" value="@Model.PC_Uses">
            </div>
        </div>
     </div>
   
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-md-6 col-sm-12  no_pad promo_checkbox">
            <div class="col-sm-4 no_pad">
                <div class="col-sm-12 no_pad">
                    <div class="prm_befor_level"> Start</div>
                    <div class="squaredOne">
                        @if (Model.PC_Startdatetype == "1")
                        {
                        <input type="checkbox" value="None" id="befstrtdevnt" name="check" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" value="None" id="befstrtdevnt" name="check"  />
                        }
                        <label for="befstrtdevnt"></label>
                    </div>
                    <div class="prm_cd_level"> before event</div>
                </div>
                <div class="col-sm-12 no_pad">
                    <div class="form-group">
                        <!-- <input class="form-control evnt_inp_cont " type="text" placeholder="Unlimited" > -->
                        @if (Model.Formtype == "S")
                        {
                        <input type="text" class="form-control evnt_inp_cont" data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtstartdate" name="PC_Start" value="@Model.PC_Start" />
                        <input type="text" class="form-control evnt_inp_cont dayspickerclick" id="txtstartdatedays" name="startdays" value="@Model.startdays" style="display:none"  readonly="readonly" />
                        }
                        else
                        {
                            if (Model.PC_Startdatetype == "1")
                            {
                                <input type="text" class="form-control evnt_inp_cont" data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtstartdate" name="PC_Start" value="@Model.PC_Start" style="display:none"/>
                                <input type="text" class="form-control evnt_inp_cont dayspickerclick" id="txtstartdatedays" name="startdays" value="@Model.startdays"  readonly="readonly"  />

                            }
                            else
                            {
                                <input type="text" class="form-control evnt_inp_cont" data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtstartdate" name="PC_Start" value="@Model.PC_Start" />
                                <input type="text" class="form-control evnt_inp_cont dayspickerclick" id="txtstartdatedays" name="startdays" value="@Model.startdays" style="display:none" readonly="readonly" />

                            }
                        }



                    </div>

                </div>
                <div class="dayspickershow col_days_hrs_picker_main mb10 mt5">
                    <div class="dayspickerclose col_day_hrs_close"> + </div>
                    <div class="col_days">
                        <button class=" days_btn_arrw" type="button" id="btnstartdayplus"><i class='fa fa-angle-up'></i> </button>
                        <input type="text" class="col_days_input" value="0" id="txtstartday" onkeypress="allownumber(this,event,this.id)"  /> Days
                        <button class="days_btn_arrw_down" id="btnstartdayminus" type="button"><i class='fa fa-angle-down'></i> </button>
                    </div>
                    <div class="col_hrs">
                        <button class=" hrs_btn_arrw" type="button" id="btnstarthrsplus"><i class='fa fa-angle-up'></i> </button>
                        <input type="text" class="col_hrs_input chkhrs" value="0" id="txtstarthrs" onkeypress="allownumber(this,event,this.id)"  /> Hrs
                        <button class="hrs_btn_arrw_down" type="button" id="btnstarthrsminus"><i class='fa fa-angle-down'></i> </button>

                    </div>
                    <div class="col_mins">
                        <button class=" min_btn_arrw" type="button" id="btnstartminplus"><i class='fa fa-angle-up'></i> </button>
                        <input type="text" class="col_hrs_input chkmin" value="0"  id="txtstartmin" onkeypress="allownumber(this,event,this.id)" /> Min
                        <button class="min_btn_arrw_down" type="button" id="btnstartminminus"><i class='fa fa-angle-down'></i> </button>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 text-center mt20"><button class="btn btn-info days_hrs_btn" type="button" id="btnstartset"> Set</button></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-1 colsm1"></div>
            <div class="col-sm-4 no_pad">
                <div class="col-sm-12 no_pad">
                    <div class="prm_befor_level"> End</div>
                    <div class="squaredOne">
                        @if (Model.Pc_Enddatetype == "1")
                        {
                        <input type="checkbox" value="None" id="befendevnt" name="check" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" value="None" id="befendevnt" name="check"  />
                        }
                        <label for="befendevnt"></label>
                    </div>
                    <div class="prm_cd_level"> before event</div>
                </div>
                <div class="col-sm-12 no_pad">

                    <div class="form-group">
@if (Model.Formtype == "S")
{
                        <input type="text" class="form-control evnt_inp_cont " data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtenddate" name="PC_End" value="@Model.PC_End" />
                        <input type="text" class="form-control evnt_inp_cont dayspickerclick2" id="txtenddatedays" name="enddays" value="@Model.enddays" style="display:none" readonly="readonly"  />
}
else
{
    if (Model.Pc_Enddatetype == "1")
    {
        <input type="text" class="form-control evnt_inp_cont " data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtenddate" name="PC_End" value="@Model.PC_End" style="display:none"/>
        <input type="text" class="form-control evnt_inp_cont dayspickerclick2" id="txtenddatedays" name="enddays" value="@Model.enddays"  readonly="readonly"  />

    }
    else
    {
        <input type="text" class="form-control evnt_inp_cont " data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" id="txtenddate" name="PC_End" value="@Model.PC_End" />
        <input type="text" class="form-control evnt_inp_cont dayspickerclick2" id="txtenddatedays" name="enddays" value="@Model.enddays" style="display:none" readonly="readonly"   />

    }
}
                    </div>
                   
                </div>
                <div class="dayspickershow2 col_days_hrs_picker_main mb10 mt5">
                    <div class="dayspickerclose2 col_day_hrs_close"> + </div>
                    <div class="col_days">
                        <button class=" days_btn_arrw" type="button" id="btnenddayplus"><i class='fa fa-angle-up'></i> </button>
                        <input type="text" class="col_days_input" value="0" id="txtenddays" onkeypress="allownumber(this,event,this.id)"  /> Days
                        <button class="days_btn_arrw_down" type="button" id="btnenddayminus"><i class='fa fa-angle-down'></i> </button>
                    </div>
                    <div class="col_hrs">
                        <button class=" hrs_btn_arrw" type="button" id="btnendhrsplus"><i class='fa fa-angle-up'></i> </button>
                        <input type="text" class="col_hrs_input chkhrs" value="0" id="txtendhrs" onkeypress="allownumber(this,event,this.id)"  /> Hrs
                        <button class="hrs_btn_arrw_down" type="button" id="btnendhrsminus"><i class='fa fa-angle-down'></i></button>

                    </div>
                    <div class="col_mins">
                        <button class=" min_btn_arrw" type="button" id="btnendminplus"><i class='fa fa-angle-up'></i> </button>
                        <input type="text" class="col_hrs_input chkmin" value="0" id="txtendmin" onkeypress="allownumber(this,event,this.id)"  /> Min
                        <button class="min_btn_arrw_down" type="button" id="btnendminminus"><i class='fa fa-angle-down'></i> </button>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 text-center mt20"><button class="btn btn-info days_hrs_btn" type="button" id="btnsetenddate"> Set</button></div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>



    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-md-6 col-sm-12 no_pad promo_checkbox">
            <div class="col-sm-12 apply_code_head">
                Apply Codes To These Tickets
            </div>
            <div class="col-sm-12 no_pad">
                <div class="squaredOne">
                    <input type="checkbox" value="0" id="all_ticket" name="Ticketcheck" />
                    <label for="all_ticket"></label>
                </div>
                <div class="prm_cd_level"> All</div>
            </div>
            @{ int i = 0;
                    foreach (var item in Model.Ticketdata)
                {
                    <div class="col-sm-12 no_pad">
                        <div class="squaredOne">
                            @if (item.TicketTypeID == 2)
                            {
                                <input type="checkbox" value="@item.T_Id" id="chk_@i" name="Ticketcheck" />

                            }
                            else
                            {
                                <input type="checkbox" value="@item.T_Id" id="chk_@i" name="Ticketcheck" disabled />
                            }
                            <label for="chk_@i"></label>
                        </div>
                            
                            <div class="prm_cd_level">
                           @if (item.TicketTypeID == 2)
                           {
                                <label>@item.T_name ($ @item.Price)</label>
                           }
                           else
                           {

                                    @item.T_name
                           }
                                    <input type="hidden" value="@item.T_Id" id="hdticket_@i" />
                                </div>
                            </div>
                    i = i + 1;
                }

                        }
                        


                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 no_pad mt10">
                    <div class="col-md-6 col-sm-12 no_pad">
                        <div class="col-sm-12 apply_code_head">
                            <div class="col-sm-11 no_pad">Discout URL </div>
                            <div class="col-sm-1 no_pad text-right">
                                <img src="/Images/icon-question.gif" />
                            </div>

                        </div>
                        <div class="col-sm-12 no_pad mb10">
                            <div class="col-sm-9 ">
                            @if (Model.Formtype == "S")
                            {
                            <span class="dis_evnt_link">@Model.PC_URL</span>
                            }
                            else
                            {
                                <a class="link_url " name="PC_URL" href="@Model.PC_URL" id="apcurl">@Model.PC_URL</a>
                            }
                                 @**@ </div>
                            <div class="col-sm-3  text-right">
@if (Model.Formtype == "S")
{
                                <button class="btn soc_btn_dis soc_btn_active" type="button"><i class="fa fa-facebook"></i></button>
                                <button class="btn soc_btn_dis soc_btn_active" type="button"><i class="fa fa-twitter"></i></button>
                                <button class="btn soc_btn_dis soc_btn_active" type="button"><i class="fa fa-envelope"></i></button>
}
else
{
    <a class="btn soc_btn_dis "href="#" onclick="shareOnFacebook();"><i class="fa fa-facebook"></i></a>
    @*<button class="btn soc_btn_dis " type="button" id="fbshare"></button>*@
    <button class="btn soc_btn_dis " type="button" id="twitshare"><i class="fa fa-twitter"></i></button>
    <button class="btn soc_btn_dis" type="button"><i class="fa fa-envelope"></i></button>
}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 no_pad mt10 mb10">
                    <button class="btn btn-info acnt_btn" type="submit" title="" id="btnsave">Save</button>
                </div>
            </div>
 }
<div class="modal fade" id="duplicate_codes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content duplicate_codes_pop">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h3 class="modal-title text-center">Invalid/Duplicate Codes </h3>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <p class="code_pop_desc">Some of these codes are invalid or already exist . <a href="#" class="code_viewdetail">View Codes</a></p>
                </div>
                <div class="col-md-12 code_viewdetail_show">
                    <div class="col-md-12 no_pad code_charc" id="dvcodes"> </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 mt10 text-center">
                    <button type="button" class="btn btn-info acnt_btn" id="btnokpop">ok</button>
                </div>
            </div>
        </div>

    </div>
</div>

<button style="visibility:hidden;"  type="button" title="" id="btntoggle" data-toggle="modal" data-target="#duplicate_codes"></button>

<script>
          $(function() {
            $( document ).tooltip();
          });

</script>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId: '1956731254551382',                        // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });
  
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  var globalFacebookShareObject = { name: 'share', link :'@Model.PC_URL'};


    function shareOnFacebook() {
       
      FB.ui({
          method: 'feed',
          name: globalFacebookShareObject.name,
          link: globalFacebookShareObject.link
          
      }, function (response) {
          if (response && response.post_id) { }
          else { }
      });
  }

</script>


            <script type="text/javascript">
                $(document).ready(function () {
                    $('#crt_promcode').click();
                    $('#dvcrtpromcode').addClass("active");
                    $('#dvcrtpromcode b').addClass('opened new-opend');

                    $('#dvcrtpromcode').click(function (e) {

                        var $dvEle = $('#dvcrtpromcode b');
                        var vclassname = $dvEle.attr('class');
                        if ($dvEle.hasClass("new-opend")) {
                            $dvEle.removeClass('opened new-opend').addClass('closed');
                        }
                        else {
                            $dvEle.addClass('opened new-opend');
                        }
                    });
                });

                $(".upload_help_icn_inner").css("display", "none");
                $('.help_icon_hov').hover(
                 function () {
                     $(".upload_help_icn_inner").show();
                 },
                 function () {
                     $(".upload_help_icn_inner").hide();
                 }
               );

                function allownumber(el, evt, id) {



                    var charCode = (evt.which) ? evt.which : event.keyCode;

                    if ((charCode < 48 || charCode > 57) && charCode > 31 && charCode != 44) {

                        evt.preventDefault();
                        return false;
                    }
                }

            </script>
            <script type="text/javascript">
            
                $('#btnokpop').click(function () {

                    window.location.href = '@Url.Action("PromotionalCodes", "ManageEvent", new { })?Eventid='+@Model.PC_Eventid;

                });
                $('#twitshare').click(function () {

                    var url = "@Model.PC_URL";

                    window.open('https://twitter.com/share?url=' + encodeURIComponent(url) + '&via=twitterdev&related=twitterapi%2Ctwitter&text=', 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=626,height=436');
                    return false;

                });
                $(document).ready(function () {

                    $('#befendevnt').change(function(){
                    
                        if ($(this).is(":checked")==true)
                        {
                            $('#hd_enddatetype').val('1');
                           
                            $('#txtenddatedays').val("0 Days 0 Hrs 0 Min");
                            $('#txtenddatedays').css('display','block');
                            $('#txtenddate').css('display','none');
                        }else{
                            $('#hd_enddatetype').val('0');
                            $('#txtenddatedays').css('display','none');
                           
                            $('#txtenddate').css('display','block');
                        }
                    
                    });

                    $('#befstrtdevnt').change(function(){
                       
                        if ($(this).is(":checked")==true)
                        {
                            $('#hd_startdatetype').val('1');
                         
                            $('#txtstartdatedays').css('display','block');
                            //$('#txtstartdatedays').val("0 Days 0 Hrs 0 Min");
                            $('#txtstartdate').css('display','none');
                        }else{
                            
                            $('#hd_startdatetype').val('0');
                            $('#txtstartdatedays').css('display','none');
                           
                            $('#txtstartdate').css('display','block');
                        }
                    
                    });

                    var tempdata="@TempData["Invalidcode"]";
                    if(tempdata!="")
                    {
                        var invalidcode=" @TempData["Invalidcode"]";
                        $('#dvcodes').html(invalidcode);
                        $('#btntoggle').click();

                    }

                    var formtype = "@Model.Formtype";
                    if (formtype == "E") {
                        var PC_Apply = "@Model.PC_Apply";

                        if (PC_Apply == "") {

                        } else {
                            if (PC_Apply == "A") {
                                $("input[name='Ticketcheck']:not(:disabled)").prop('checked', 'checked');
                            } else {
                                if (PC_Apply.indexOf(",") > -1) {
                                    var dobPC_Apply = PC_Apply.split(",");

                                    for (var i = 0; i < dobPC_Apply.length; i++) {
                                        var cboxes = document.getElementsByName('Ticketcheck');
                                        var len = cboxes.length;

                                        for (var j = 0; j < len; i++) {

                                            if (cboxes[j].value == dobPC_Apply[i]) {
                                                document.getElementById(cboxes[i].id).checked = true;



                                            }



                                        }

                                    }

                                } else {

                                    var cboxes = document.getElementsByName('Ticketcheck');
                                    var len = cboxes.length;

                                    for (var i = 0; i < len; i++) {

                                        if (cboxes[i].value == PC_Apply) {
                                            document.getElementById(cboxes[i].id).checked = true;



                                        }



                                    }
                                }

                            }
                        }
                    }

                    $('#all_ticket').change(function () {
                        var apply = "";

                        if ($(this).is(":checked"))
                        {
                            $("#hd_pcapply").val("A");
                            $("input[name='Ticketcheck']:not(:disabled)").prop('checked', $(this).prop("checked"));
                        } else {
                            $("#hd_pcapply").val("");
                            $("input[name='Ticketcheck']:not(:disabled)").prop('checked',true);
                            $(this).prop('checked', false);

                            var cboxes = document.getElementsByName('Ticketcheck');
                            var len = cboxes.length;

                            for (var i = 0; i < len; i++) {
                                if (cboxes[i].checked)
                                {
                                    if (apply == '')
                                    {
                                        apply += cboxes[i].value;
                                    }else{
                                        apply += ','+cboxes[i].value
                                    }

                                }

                            }
                            $("#hd_pcapply").val(apply);
                        }




                    });
                    $("input[name='Ticketcheck']").change(function () {

                        var apply = "";
                        var cboxes = document.getElementsByName('Ticketcheck');
                        var len = cboxes.length;
                        var length=  $('[name=Ticketcheck]:checked').length;

                        if (length == 0) {
                            $("#hd_pcapply").val('');
                        } else {

                            for (var i = 0; i < len; i++) {
                                if (cboxes[i].checked) {
                                    if (cboxes[i].value != 0) {
                                        if (apply == '') {
                                            apply += cboxes[i].value;
                                        } else {
                                            apply += ',' + cboxes[i].value
                                        }
                                    }

                                }

                            }
                            if (!cboxes[0].checked) {
                                $("#hd_pcapply").val(apply);
                            }
                        }

                    });
                    $("input[id^='txt_discountmnt']").mask('000,000.00', { reverse: true });
                    $("#ddl_discounttype").change(function (e) {
                        $('#txt_discountmnt').val('');
                        if($("#ddl_discounttype").val()==0)
                        {
                            $('#hd_discounttype').val('A');
                            $("#txt_discountmnt").attr("placeholder", "Enter Discount Amount")

                        } else {
                            $('#hd_discounttype').val('P');
                            $("#txt_discountmnt").attr("placeholder", "Enter Discount Percentage")
                        }

                    });
                    $(document).on('change', '#file_upload', function () {


                        $('#txt_Promocode').val('');
                        var filename = $('input[type=file]').val().split('\\').pop();
                        var extension = filename.replace(/^.*\./, '');


                        if (extension == filename) {
                            extension = '';
                        } else {

                            extension = extension.toLowerCase();
                        }

                        if(extension=="txt" || extension=="csv")
                        {

                            $('#txt_Promocode').attr('disabled', true);
                            $(".file_upload").hide();
                            $("#id_filename").html(filename);
                            $(".filename").show();
                            $('#diverro1acc').hide();
                        } else {

                            $('#diverro1acc').show();
                            $('#erraccsucc').html(ajaxsetup('PromotionalCode', 'PCValidpccodefile'));
                            $('html,body').animate({ scrollTop: 0 });
                            return false;
                        }

                    });

                    $("#id_close").click(function () {
                        $(".file_upload").show();
                        $(".filename").hide();
                        $('#txt_Promocode').attr('disabled', false);

                        var fileUpload = $("[id*=file_upload]");
                        var id = fileUpload.attr("id");
                        var name = fileUpload.attr("name");

                        //Create a new FileUpload element.
                        var newFileUpload = $("<input type = 'file' />");

                        //Append it next to the original FileUpload.
                        fileUpload.after(newFileUpload);

                        //Remove the original FileUpload.
                        fileUpload.remove();

                        //Set the Id and Name to the new FileUpload.
                        newFileUpload.attr("id", id);
                        newFileUpload.attr("name", name);

                    });
                    $('#txt_Promocode').blur(function (e) {

                        var value = $(this).val();
                        if(value!='')
                        {
                            $("#file_upload").attr('disabled', true);
                        } else {
                            $("#file_upload").attr('disabled', false);
                        }


                    });
                    $('#txt_Promocode').keypress(function (e) {
                        var regex = new RegExp("^[a-zA-Z0-9@@_,-]+$");
                        var charCode = e.charCode ? e.which : e.charCode;

                        if (charCode == 8 || charCode == 0) {
                            return;
                        }
                        else {
                            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                            if (regex.test(str)) {
                                return true;
                            }
                        }


                        e.preventDefault();
                        return false;
                    });
                    $('#txt_discountmnt').keypress(function (e) {
                        var regex = new RegExp("^[0-9.]+$");
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {

                           return true;
                        }
                        e.preventDefault();
                        return false;

                    });
                    $('#txt_use').keypress(function (e) {
                        var regex = new RegExp("^[0-9]+$");
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {

                            return true;
                        }
                        e.preventDefault();
                        return false;

                    });

                    $('#txt_discountmnt').keyup(function (e) {
                        var txt = parseFloat($(this).val().replace(',', ''));
                        var ddlval = $("#ddl_discounttype").val();
                        if (ddlval == 0) {
                            if (txt > 99999) {
                                $(this).val(99999);
                            }
                        } else {
                            if (txt > 100) {

                                $(this).val(100);
                            }
                        }
                    });

                    $("#ddl_discounttype").change(function () {

                        if( $("#ddl_discounttype").val()==0)
                        {
                            $("#hd_discounttype").val("A");
                        } else {
                            $("#hd_discounttype").val("P");
                        }

                    });

                    var bIsPopup = displayPopup();

                    $("#dtBox").DateTimePicker(

                    {
                        isPopup: bIsPopup,

                        addEventHandlers: function () {
                            var dtPickerObj = this;

                            $(window).resize(function () {
                                bIsPopup = displayPopup();
                                dtPickerObj.setIsPopup(bIsPopup);
                            });

                            dtPickerObj.setDateTimeStringInInputField($(".fillDateTime"));
                        }
                    });

                    $('#btnsave').click(function () {

                        var formtype = "@Model.Formtype";
                        var chkstart = "";
                        var chkend = "";
                        if (formtype == "S")
                        {
                            var filename = $('input[type=file]').val().split('\\').pop();
                            var extension = filename.replace(/^.*\./, '');



                            if ($('#txt_Promocode').val() == '' && filename == '')
                            {
                                $('#diverro1acc').show();
                                $('#erraccsucc').html(ajaxsetup('PromotionalCode', 'PCValidpccode'));
                                $('html,body').animate({ scrollTop: 0 });
                                return false;
                            }
                            if (filename != '') {
                                if (extension == filename) {
                                    extension = '';
                                } else {

                                    extension = extension.toLowerCase();
                                }

                                if (extension == "txt" || extension == "csv") {

                                } else {
                                    $('#diverro1acc').show();
                                    $('#erraccsucc').html(ajaxsetup('PromotionalCode', 'PCValidpccodefile'));
                                    $('html,body').animate({ scrollTop: 0 });
                                    return false;
                                }
                            }
                        } else {
                            if ($('#txt_Promocode').val() == '') {
                                $('#diverro1acc').show();
                                $('#erraccsucc').html(ajaxsetup('PromotionalCode', 'PCValidpccode'));
                                $('html,body').animate({ scrollTop: 0 });
                                return false;
                            }
                        }
                        if (@Model.ticketype == 1)
                        {
                            var amnt = $('#txt_discountmnt').val();
                            if (amnt == '')
                            {
                                $('#diverro1acc').show();
                                $('#erraccsucc').html(ajaxsetup('PromotionalCode', 'PCValidamount'));
                                $('html,body').animate({ scrollTop: 0 });
                                return false;
                            }
                        }

                        var length = $('[name=Ticketcheck]:checked').length;
                        if (length == 0)
                        {
                            $('#diverro1acc').show();
                            $('#erraccsucc').html(ajaxsetup('PromotionalCode', 'PCselectcheckbox'));
                            $('html,body').animate({ scrollTop: 0 });
                            return false;
                        }
                        if ($('#befstrtdevnt').is(":checked")) {
                           
                        } else 
                        {
                            chkstart = $('#txtstartdate').val();
                        }
                        if ($('#befendevnt').is(":checked")) {
                           
                        } else {
                            chkend = $('#txtenddate').val();
                        }
                       
                        if (chkstart != '' && chkend!='')
                        {
                            var asd = compare(chkstart, chkend);
                            if (asd != '') {
                                $('#diverro1acc').show();
                                $('#erraccsucc').html(ajaxsetup('PromotionalCode', 'PCvaiddate'));
                                $('html,body').animate({ scrollTop: 0 });
                                return false;
                            } else {
                                $('#diverro1acc').hide();
                            }

                        } else {
                            $('#diverro1acc').hide();
                        }


                    });



                });



                function displayPopup() {
                    if ($(document).width() >= 768)
                        return false;
                    else
                        return true;


                }
                function compare(DateA, DateB) {
                    var errorMsg = "";
                    var a = new Date(DateA);
                    var b = new Date(DateB);

                    var msDateA = Date.UTC(a.getFullYear(), a.getMonth() + 1, a.getDate());
                    var msDateB = Date.UTC(b.getFullYear(), b.getMonth() + 1, b.getDate());

                    if (parseFloat(msDateA) < parseFloat(msDateB))
                        return errorMsg = "";  // less than
                    else if (parseFloat(msDateA) == parseFloat(msDateB))
                        return errorMsg = "";  // equal
                    else if (parseFloat(msDateA) > parseFloat(msDateB))
                        return errorMsg = ajaxsetup("CreateEvent", "CreateEventCompareDateUI") + "<br/>"; // greater than
                    else
                        return null;  // error


                }
                function ajaxsetup(strname, strFormTag) {
                    var msgnew = "";

                    var request = $.ajax({
                        url: '@Url.Action("Index", "ValidationMessage")',
                        async: false,
                        data: { strFormName: strname, strFormTag: strFormTag },
                        type: 'Post'
                    });
                    request.done(function (msg) {
                        msgnew += msg;
                    });

                    request.fail(function (jqXHR, textStatus) {
                        msgnew += "Some Error occur!!";
                    });
                    return msgnew;
                }

            </script>

<script type="text/javascript">

      $(document).ready(function()
      {

         $(".code_viewdetail_show").css({"display":"none"});
          $(".code_viewdetail").click(function(){
              $('.code_viewdetail_show').slideToggle( function() {
                // $('.CustDateMain').toggleClass('active');
              });

          });

          $(".dayspickershow").css({"display":"none"});
          $(".dayspickerclick ").click(function(){

              var txtvalue=$('#txtstartdatedays').val();
              var arr= txtvalue.split(" ");
             
              $('#txtstartday').val(arr[0].trim());
              $('#txtstarthrs').val(arr[2].trim());
              $('#txtstartmin').val(arr[4].trim());
              $('.dayspickershow').css({"display":"block"});
          });
          $(".chkhrs").blur(function(){
          
              var value= parseInt( $(this).val());
              if(value>24)
              {
                  $(this).val(24);
              }

          
          });
          $(".chkmin").blur(function(){
          
              var value= parseInt( $(this).val());
              if(value>60)
              {
                  $(this).val(60);
              }

          
          });
          $("#btnstartset").click(function(){
             var day= $('#txtstartday').val().trim();
             var hrs= $('#txtstarthrs').val().trim();
             var min=  $('#txtstartmin').val().trim();
             var txt=day+" Days "+hrs+" Hrs "+min+" Min"
             $('#txtstartdatedays').val(txt);
             $('.dayspickershow').css({"display":"none"});
          });
          $("#btnsetenddate").click(function(){
              var day= $('#txtenddays').val().trim();
             
              var hrs= $('#txtendhrs').val().trim();
              var min=  $('#txtendmin').val().trim();
              var txt=day+" Days "+hrs+" Hrs "+min+" Min";
              $('#txtenddatedays').val('');
              $('#txtenddatedays').val(txt);
              $('.dayspickershow2').css({"display":"none"});
          
          });
          $('#btnstartdayminus').click(function(){
              var startday=$('#txtstartday').val();
              startday=parseInt($('#txtstartday').val())-1;
              if(startday<=0)
              {
                  startday=0;
              }
              $('#txtstartday').val(startday);
          });
          $('#btnstartdayplus').click(function(){
              var startday=$('#txtstartday').val();
              startday=parseInt($('#txtstartday').val())+1;
           
              $('#txtstartday').val(startday);
          });
          $('#btnstarthrsminus').click(function(){
              var startday=$('#txtstarthrs').val();
              startday=parseInt($('#txtstarthrs').val())-1;
              if(startday<=0)
              {
                  startday=0;
              }
              $('#txtstarthrs').val(startday);
          });
          $('#btnstarthrsplus').click(function(){
              var startday=$('#txtstarthrs').val();
              startday=parseInt($('#txtstarthrs').val())+1;
              if(startday>24)
              {
                  startday=24;
              }
              $('#txtstarthrs').val(startday);
          });
          $('#btnstartminminus').click(function(){
              var startday=$('#txtstartmin').val();
              startday=parseInt($('#txtstartmin').val())-1;
              if(startday<=0)
              {
                  startday=0;
              }
              $('#txtstartmin').val(startday);
          });
          $('#btnstartminplus').click(function(){
              var startday=$('#txtstartmin').val();
              startday=parseInt($('#txtstartmin').val())+1;
              if(startday>60)
              {
                  startday=60;
              }
              $('#txtstartmin').val(startday);
          });
          //enddate
          $('#btnenddayminus').click(function(){
              var startday=$('#txtenddays').val();
              startday=parseInt($('#txtenddays').val())-1;
              if(startday<=0)
              {
                  startday=0;
              }
              $('#txtenddays').val(startday);
          });
          $('#btnenddayplus').click(function(){
              var startday=$('#txtenddays').val();
              startday=parseInt($('#txtenddays').val())+1;
           
              $('#txtenddays').val(startday);
          });
          $('#btnendhrsminus').click(function(){
              var startday=$('#txtendhrs').val();
              startday=parseInt($('#txtendhrs').val())-1;
              if(startday<=0)
              {
                  startday=0;
              }
              $('#txtendhrs').val(startday);
          });
          $('#btnendhrsplus').click(function(){
              var startday=$('#txtendhrs').val();
              startday=parseInt($('#txtendhrs').val())+1;
              if(startday>24)
              {
                  startday=24;
              }
              $('#txtendhrs').val(startday);
          });
          $('#btnendminminus').click(function(){
              var startday=$('#txtendmin').val();
              startday=parseInt($('#txtendmin').val())-1;
              if(startday<=0)
              {
                  startday=0;
              }
              $('#txtendmin').val(startday);
          });
          $('#btnendminplus').click(function(){
              var startday=$('#txtendmin').val();
              startday=parseInt($('#txtendmin').val())+1;
              if(startday>60)
              {
                  startday=60;
              }
              $('#txtendmin').val(startday);
          });
          //enddate
          $(".dayspickerclose ").click(function(){
           
              $('.dayspickershow').css({"display":"none"});
          });

          

          $(".dayspickershow2").css({"display":"none"});
          $(".dayspickerclick2 ").click(function(){
              var txtvalue=$('#txtenddatedays').val();
              var arr= txtvalue.split(" ");
              console.log(arr)
              $('#txtenddays').val(arr[0].trim());
              $('#txtendhrs').val(arr[2].trim());
              $('#txtendmin').val(arr[4].trim());
              $('.dayspickershow2').css({"display":"block"});
          });

          $(".dayspickerclose2 ").click(function(){
              $('.dayspickershow2').css({"display":"none"});
          });

          $(document).on('click', function (e) {
              var $target = $(e.target);
              if ($target.closest(".dayspickerclick").get(0) == null && $target.closest(".dayspickershow").get(0) == null) {
                  $(".dayspickershow").hide();
              };

              if ($target.closest(".dayspickerclick2").get(0) == null && $target.closest(".dayspickershow2").get(0) == null) {
                  $(".dayspickershow2").hide();
              }
          });

         

      });
</script>


