@model EventCombo.Models.Event_Email_Invitation
@using EventCombo.Models
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker.css" rel="stylesheet" />
<div class="pt10 bggrey clearfix">
    <div class="Moderor" style="display: none;" id="diverroacc" tabindex="-1">
        <div class="er_UI_main">
            <div class="er_UI_img"></div>
            <div class="er_suc" id="erraccmsg"></div>
            <button class="close" type="button" id="btndiverrsuc">&#215;</button>

        </div>
    </div>
    <div class="Moderor" id="divaccsuc" style="display: none;" tabindex="-1">
        <div class="er_suc_main">

            <div class="er_suc_img"></div>
            <div class="er_suc" id="succaccmsg"> </div>
            <button class="close" type="button" id="btndivaccsuc">&#215;</button>

        </div>
    </div>
</div>
<div class="col-sm-12 ">
    <h3 class="acnt_title inv_eml_title">Great! your private event is now live.</h3>
    <p class="inv_em_url">The URL for the event is <a href="#" target="_blank">http://eventcombo.com</a></p>
    <p class="inv_em_url">Don't forget to send out email invitations to your guests, below. </p>
</div>
<div class="clearfix"></div>
<div class="col-sm-10 mb10 col-xs-12" id="diverro1acc" style="display:none ">
    <div class="er_UI_main">


        <div class="er_sys_img"></div>
        <div class="er_suc" id="erraccsucc"></div>
        <button class="close" type="button" onclick="$('#diverro1acc').css('display', 'none');" id="btndiverro1acc" tabindex="-1">&#215;</button>
    </div>

</div>
<div class="clearfix"></div>
<div class="col-sm-12 col-xs-12 mt20">
    <div class="col-sm-12 no_pad">
        <h3 class="acnt_title inv_eml_title_crt">Create an email invite</h3>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-sm-2 col-xs-12 no_pad">
            <div class="form-group">
                @if (Model != null && !String.IsNullOrEmpty(Model.I_SenderName))
                {
                    <input class="form-control invite_mail_inp_cont " id="txtSenderName" value="@Model.I_SenderName" type="text" placeholder="">
                }
                else
                {
                    <input class="form-control invite_mail_inp_cont " id="txtSenderName" type="text" placeholder="">
                }
                <p class="bottom-label">Sender's Name</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-sm-3 col-xs-12 no_pad">
            <div class="form-group">
                @if (Model != null && !String.IsNullOrEmpty(Model.I_SubjectLine))
                {
                    <input class="form-control invite_mail_inp_cont " id="txtSubjectLine" type="text" value="@Model.I_SubjectLine" placeholder="">
                }
                else
                {
                    <input class="form-control invite_mail_inp_cont " id="txtSubjectLine" type="text" placeholder="">
                }
                <p class="bottom-label">Subject Line</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10">
        <div class="col-sm-6 col-xs-12 no_pad email_box_container">
            <div class="col-sm-2 col-xs-3 no_pad inv_mail_side_logo text-center"><img src="images/logo_vertical.png"></div>
            <div class="col-sm-10 col-xs-9 no_pad email_box_container_right">
                <h4> Hello [Attendee]!</h4>
                <p class="inv_mail_joinus"> Please join us for</p>

                <h5 class="awsom_title"> An awesome event title </h5>
                <div class="clearfix"></div>
                <div class="col-sm-12 col-xs-12 no_pad mt20">
                    <div class="col-xs-12 no_pad">
                        <div class="col-sm-5 col-xs-12 no_pad"><img class="invite_mail_img" src="images/ev1.jpg"></div>
                        <div class="col-sm-7 col-xs-12 no_pad">
                            <div class="col-xs-12 no_pad mb10">
                                <p class="inv_mail_date">Date:</p>
                                <p class="inv_mail_date_add">Saturday Aug 17th 2011,8:30pm (weekly)</p>
                            </div>
                            <div class="col-xs-12 no_pad mb10">
                                <p class="inv_mail_date">Organizer:</p>
                                <p class="inv_mail_date_add def_color">Saroosh's Great Events</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no_pad mt10 mb10">
                        <div class="col-sm-5 col-xs-12 no_pad"><img class="invite_mail_img" src="images/gmap-email.png"></div>
                        <div class="col-sm-7 col-xs-12 no_pad">
                            <div class="col-xs-12 no_pad mb10">
                                <p class="inv_mail_date">Club Illusions:</p>
                                <p class="inv_mail_date_add">260 california palo alto CA </p>
                            </div>
                            <div class="col-xs-12 no_pad mb10">
                                <p class="inv_mail_date def_color">Get Directions</p>

                            </div>
                            <div class="col-xs-12 no_pad mb10">
                                <p class="inv_mail_date ">Share:</p>
                                <p>
                                    <a href="#"><img src="images/fb.png" /></a>
                                    <a href="#"><img src="images/tw.png" /></a>
                                    <a href="#"><img src="images/linkid.png" /></a>
                                    <a href="#"><img src="images/msg.png" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-xs-12 mt20 text-center ">
                <div class="col-sm-12 col-xs-12 invite_email_btn_bor ">
                    <button class="btn def_btn acnt_btn invite_email_attend_btn " title="" type="button">Attend</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-xs-12 mt10 ">
                <p class="inv_mail_abt mb0">About the event:</p>
                @if (TempData["PPassword"].ToString() != string.Empty)
                {
                    <p class="inv_mail_abt mb0"> Your event password : @TempData["PPassword"].ToString()</p>
                }
                <p>
                    ( Event registration is by invitation only with the provided password. Register with your email address
                    and the password above to attend this event. )
                </p>
                <p>
                    <button class="btn def_btn acnt_btn edit_editor_btn" type="button" title="" data-toggle="modal" id="btEditEditor" data-target="#invite_email_desc">Edit</button>
                </p>
            </div>
            <div class="clearfix"></div>
            @if (Model != null && !String.IsNullOrEmpty(Model.I_EmailContent))
            {
                <div id="dvemailcontent" class="col-sm-12">
                    @Model.I_EmailContent
                </div>
            }
            else
            {
                <div id="dvemailcontent" class="col-sm-12"></div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 col-xs-12 no_pad ">
            <div class="col-sm-12 no_pad">
                <div class="col-sm-6 col-xs-12 no_pad ">
                    <div class="form-group">
                        <input class="form-control invite_mail_inp_cont " type="text" placeholder="">
                        <p class="bottom-label">Send test to email address</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 no_pad  text-center">
                    <button class="btn def_btn acnt_btn send_test_btn" type="button" data-toggle="modal" data-target="#test_inv_email">Send Test</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10 mb20">
        <div class="col-md-6 col-sm-12 no_pad mb20">
            <div class="col-sm-12 apply_code_head">
                Invite Guest
            </div>
            <div class="col-sm-12 col-xs-12 no_pad">
                <div class="col-sm-12 col-xs-12 no_pad">
                    <div class="col-sm-6 col-xs-6 no_pad">
                        <button class="InvAddlist btn def_btn acnt_btn send_test_btn" type="submit">Add List + </button>
                    </div>
                    <div class="col-sm-6 col-xs-6 no_pad">
                        <button class="btn def_btn acnt_btn send_test_btn" id="btDeleteEmail" type="button">Delete </button>
                    </div>

                </div>
                <div class="col-sm-12 col-xs-12 no_pad mt20">
                    <div class="InvAddlistbox col-sm-12 no_pad">
                        <div class="col-sm-6 col-xs-12 no_pad ">
                            <div class="form-group">
                                <input class="form-control invite_mail_inp_cont " id="txtAddEmail" type="text" placeholder="Add List ">
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-12 no_pad  text-center">
                            <button class="btn def_btn acnt_btn send_test_btn" id="btAddEmail" type="button">Add</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-xs-12 no_pad mt10">
                        <div class="col-sm-12 no_pad">
                            <ul class="inv_mail_list_head">
                                <li><input id="chkSelectAll" type="checkbox"></li>
                                <li>
                                    EmailId
                                    <span class="crt_evnt_drop_up crt_invit_drop_down_a"> <a href="#"><i class="fa fa-angle-up"></i></a> </span>
                                    <span class="crt_evnt_drop_down crt_invit_drop_down"> <a href="#"><i class="fa fa-angle-down"></i></a> </span>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 no_pad">
                            <div id="dvEmaillist" class="col-sm-12 no_pad inv_mail_scroll">
                                @{ int icnt = 0;

                                    foreach (Event_Email_List eel in Model.Event_Email_List)
                                    {
                                        icnt = icnt + 1;
                                        <ul id="UL_@icnt" class="inv_mail_list">
                                            <li><input id="chk_@icnt" type="checkbox"></li>
                                            <li>@eel.L_EmailId </li>
                                        </ul>
                                    }
                                }
                                @*<ul class="inv_mail_list">
                                        <li><input type="checkbox"></li>
                                        <li>  abc@gmail.com </li>
                                    </ul>
                                    <ul class="inv_mail_list">
                                        <li><input type="checkbox"></li>
                                        <li>  abc@gmail.com </li>
                                    </ul>*@
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="clearfix"></div>


        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-12 no_pad">
            <div class="col-sm-12 apply_code_head">
                Schedule email
            </div>
            <div class="col-sm-12 no_pad promo_checkbox">
                <div class="col-sm-12 no_pad">
                    <div class="squaredOne">
                        <input type="checkbox" value="None" id="befendevnt" name="check" />
                        <label for="befendevnt"></label>
                    </div>
                    <div class="prm_cd_level"> before event</div>
                </div>
                <div class="col-sm-4 no_pad">
                    <div class="form-group">
                        @if (Model != null && Model.I_ScheduleDate != null)
                        {
                            <input type="text" class="form-control evnt_inp_cont fillDateTime" value="" id="txtSchDate" data-format="MM-dd-yyyy HH:mm AA" data-field="datetime" />
                        }
                        else
                        {
                            <input type="text" class="form-control evnt_inp_cont fillDateTime" data-format="MM-dd-yyyy HH:mm AA" id="txtSchDate" data-field="datetime" />
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-12 no_pad mt20 inv_send_btn_bottom">
            <div class="col-sm-4 col-xs-6 no_pad ">
                <button class="btn def_btn acnt_btn send_test_btn" id="btSendNow" onclick="SaveDetail('S');" type="button">Send Now</button>
            </div>
            <div class="col-sm-4 col-xs-6 no_pad">
                <button class="btn def_btn acnt_btn send_test_btn" id="btSaveDraft" onclick="SaveDetail('D');" type="button">Save Draft</button>
                <input type="hidden" id="hdListId" value="@TempData["EmailListCount"]" />
                <input type="hidden" id="hdId" value="@Model.I_Id" />
                <input type="hidden" id="hdEventId" value="@TempData["Eventid"]" />
                @if (Model != null && !String.IsNullOrEmpty(Model.I_EmailContent))
                {
                    <input type="hidden" id="hdEmailContent" value="@Model.I_EmailContent" />
                }
                else
                {
                    <input type="hidden" id="hdEmailContent" value="" />
                }
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="col-sm-12 no_pad mt10 mb10">

    </div>
</div>

<div class="modal fade" id="test_inv_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <div class="col-sm-12 text-center">
                    <h3>Success! </h3>
                    <p class="email_send_desc">The Email has been send. </p>
                    <button type="button" class="btn def_btn acnt_btn send_test_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Ok</span></button>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="modal fade" id="invite_email_desc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center"> About the events </h3>
            </div>
            <div class="modal-body clearfix">
                <div class="col-sm-12">
                    <div class="summernote" id="dvEditor"></div>

                    <div class="col-sm-12 text-center">
                        <button type="button" id="btSaveEditor" class="btn def_btn acnt_btn send_test_btn" data-dismiss="modal" aria-label="Close">
                            Save
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/javascript">

      $(document).ready(function()
      {
        var bIsPopup = displayPopup();

        $("#dtBox").DateTimePicker(

        {
          isPopup: bIsPopup,

          addEventHandlers: function()
          {
            var dtPickerObj = this;

            $(window).resize(function()
            {
              bIsPopup = displayPopup();
              dtPickerObj.setIsPopup(bIsPopup);
            });

            dtPickerObj.setDateTimeStringInInputField($(".fillDateTime"));
          }
        });


      });



      function displayPopup()
      {
        if($(document).width() >= 768)
          return false;
        else
          return true;
      }



</script>
<script type="text/javascript">

      $(document).ready(function()
      {
          $(".InvAddlistbox").css("display", "none");
          $(".InvAddlist").click(function () {
            $('.InvAddlistbox').slideToggle("slow");
          });

          $('.summernote').summernote({
              height: 70,   //set editable area's height
          });







      });
</script>
<script>
    $(document).ready(function () {
        var vEditorVal = $("#hdEmailContent").val().trim();
        if (vEditorVal != "")
        {
            $("#dvemailcontent").empty();
            $("#dvemailcontent").append(vEditorVal)
        }

        $("#btSaveEditor").click(function () {
            var vEditorValue = $("#dvEditor").code();
            $("#dvemailcontent").empty();
            $("#dvemailcontent").append(vEditorValue)
        });

        $("#btEditEditor").click(function () {
            var vEditorHtml = $("#dvemailcontent").html();
            $("#dvEditor").code(vEditorHtml);
        });

        $("#btAddEmail").click(function () {
            var vValue = $("#txtAddEmail").val().trim();
            if (vValue != "") {
                AddEmail(vValue);
                $("#txtAddEmail").val("");
                $("#txtAddEmail").focus();
            }
        });
        $("#btDeleteEmail").click(function () {
            //$("#UlTest").remove();
            var vIds = parseFloat($("#hdListId").val());
            if (isNaN(vIds) == true) vIds = 0;

            if (vIds > 0) {
                for (i = 0; i <= vIds; i++) {
                    if ($("#chk_" + i).is(":checked") == true) {
                        $("#UL_" + i).remove();
                    }
                }
            }

        });

        $("#chkSelectAll").click(function () {

            var vIds = parseFloat($("#hdListId").val());
            if (isNaN(vIds) == true) vIds = 0;
            var vflag = false;
            if (vIds > 0) {
                if ($("#chkSelectAll").is(":checked") == true) {
                    vflag = true;
                }
                //alert(vflag);
                for (i = 0; i <= vIds; i++) {
                    //  alert(vIds);
                    $("#chk_" + i).attr("checked", vflag);
                }
            }

        });


    });
    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
    function ShowMessage(Type, Mess) {
        if (Type == 'S') {
            $('#divaccsuc').css('display', 'block');
            $('#divaccsuc').focus();
            $('#diverroacc').css('display', 'none');
            $('#succaccmsg').html(Mess);
        }
        else {
            $('#divaccsuc').css('display', 'none');
            $('#diverroacc').css('display', 'block');
            $('#diverroacc').focus();
            $('#erraccmsg').html(Mess);

        }
    }
    function SaveDetail(Mode) {
        var EmailList = [];
        var vIds = parseFloat($("#hdListId").val());
        if (vIds > 0) {
            for (i = 0; i <= vIds; i++) {
                vVal = $("#UL_" + i).text();
                //  alert(vVal);
                if (vVal.trim() != '') {
                    EmailList.push({
                        L_Id: "0",
                        L_I_Id: $("#hdId").val(),
                        L_EmailId: vVal
                    });
                }
            }
        }
        var model = {
            'I_Id': $("#hdId").val(),
            'I_Event_Id': $("#hdEventId").val(),
            'I_SenderName': $("#txtSenderName").val(),
            'I_SubjectLine': $("#txtSubjectLine").val(),
            'I_EmailContent': $("#dvemailcontent").html(),
            'I_ScheduleDate': $("#txtSchDate").val(),
            'I_Mode': Mode,
            'EmailList': EmailList
        };

        $.ajax({
            url: '@Url.Action("SaveInvitation", "ManageEvent")',
            data: { model: model },
            type: "Post",
            success: function (response) {
                $("#hdId").val(response);
            }
        });

    }

    function AddEmail(vValue) {
        if (validateEmail(vValue) == true) {
            var vId = parseFloat($("#hdListId").val());
            if (isNaN(vId) == true) vId = 0;
            vId = vId + 1;
            $("#hdListId").val(vId);
            var vHtml = '<ul id="UL_' + vId + '" class="inv_mail_list"><li><input id="chk_' + vId + '" type="checkbox"></li><li>' + vValue + '</li></ul>';
            // alert(vHtml);
            $("#dvEmaillist").append(vHtml);
        }
        else {
            ShowMessage('E', ajaxsetup('CreateInvitations', 'EmailValidationUI'));
        }
    }


</script>