@using EventCombo.Controllers;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="col-sm-12">
    <h3 class="acnt_title inv_eml_title">Manage Email Invitations</h3>
</div>
<div class="clearfix"></div>
<div class="col-sm-10 mb10 col-xs-12" id="diverro1acc" style="display:none ">
    <div class="er_UI_main">


        <div class="er_sys_img"></div>
        <div class="er_suc" id="erraccsucc"></div>
        <button class="close" type="button" onclick="$('#diverro1acc').css('display', 'none');" id="btndiverro1acc" tabindex="-1">&#215;</button>
    </div>

</div>
<div class="clearfix"></div>

<div class="col-sm-12 col-xs-12 mb10">
    <button class="btn def_btn acnt_btn invite_email_attend_btn crt_inv_btn crt_inv_btn" title="" id="btCreateInv" type="button">Create Invitation</button>
</div>
<div class="clearfix"></div>
<div class="col-sm-12">
    <div class="col-sm-12  custom fs18 no_pad">
        <ul class="nav nav-tabs evnt-mng-tab">
            @{
                string strSchTab = "";
                string strDrtTab = "";
                if (ViewBag.tab == "drt")
                {
                    strSchTab = "";
                    strDrtTab = "active";

                }
                else
                {
                    strSchTab = "active";
                    strDrtTab = "";
                }
            }
            <li class="@strSchTab">
                <a href="#sectionA" aria-controls="home" role="tab" data-toggle="tab"> Scheduled (@ViewBag.scheduledCount) </a>
            </li>
            <li class="@strDrtTab">
                <a href="#sectionB" aria-controls="home" role="tab" data-toggle="tab"> Draft (@ViewBag.draftCount) </a>
            </li>

        </ul>
    </div>
    <div class="tab-content mt10">
        <div id="sectionA" class="tab-pane @strSchTab">
            <div class="col-sm-12 no_pad">
                <div class="crt_inv_table">
                    <div class="crt_inv_tablehead">
                        <div class="crt_inv_tableCell">
                            Subject
                            @{
                                string subjecturl = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=subject";
                                string subjecturldesc = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=subject_desc";
                                string recipienturl = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=recipient";
                                string recipienturldesc = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=recipient_desc";
                                string createddateurl = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=created_date";
                                string createddateurldesc = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=created_date_desc";
                                string senddateurl = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=send_date";
                                string senddateurldesc = "/manageevent/emailinvitations?tab=sch&eventId=" + ViewBag.EventId + "&sortOrder=send_date_desc";
                            }
                            <span class="crt_evnt_drop_up"> <a href="@subjecturldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@subjecturl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Recipients
                            <span class="crt_evnt_drop_up"> <a href="@subjecturldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@subjecturl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Created
                            <span class="crt_evnt_drop_up"> <a href="@createddateurldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@createddateurl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Send On
                            <span class="crt_evnt_drop_up"> <a href="@senddateurldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@senddateurl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Action
                        </div>
                    </div>
                    <div class="crt_inv_mid_row">

                        @foreach (var item in (PagedList.IPagedList<EventCombo.ViewModels.EmailInvitation>)ViewBag.scheduled)
                        {

                            <div class="crt_inv_mid_cell">
                                @Html.DisplayFor(modelItem => item.Subject)
                            </div>
                            <div class="crt_inv_mid_cell ">
                                @Html.DisplayFor(modelItem => item.NoOfRecipients)
                            </div>
                            <div class="crt_inv_mid_cell ">
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </div>
                            <div class="crt_inv_mid_cell ">
                                @Html.DisplayFor(modelItem => item.SendOn)
                            </div>
                            <div class="crt_inv_mid_cell create_invite_action ">
                                @Html.ActionLink("Edit", "CreateInvitations", "ManageEvent", new { lId = item.I_Id, lEvtId = item.EventID, strMode = "C" }, null)  <a href="#">Copy</a>  <a href="#">Delete</a>
                            </div>
                        }

                    </div>
                    <div class="col-sm-12 col-xs-12 text-center mb10">
                        <nav class="home-pagination">
                            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

                            @Html.PagedListPager((PagedList.IPagedList<EventCombo.ViewModels.EmailInvitation>)ViewBag.scheduled, page => Url.Action("EmailInvitations", "ManageEvent",
                                new { eventId = ViewBag.EventId, sortOrder = ViewBag.CurrentSort, page, tab = ViewBag.tab }))
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div id="sectionB" class="tab-pane @strDrtTab">
            <div class="col-sm-12 no_pad">
                <div class="crt_inv_table">
                    <div class="crt_inv_tablehead">
                        <div class="crt_inv_tableCell">
                            Subject
                            @{
                                subjecturl = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=subject";
                                subjecturldesc = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=subject_desc";
                                recipienturl = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=recipient";
                                recipienturldesc = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=recipient_desc";
                                createddateurl = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=created_date";
                                createddateurldesc = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=created_date_desc";
                                senddateurl = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=send_date";
                                senddateurldesc = "/manageevent/emailinvitations?tab=drt&eventId=" + ViewBag.EventId + "&sortOrder=send_date_desc";
                            }
                            <span class="crt_evnt_drop_up"> <a href="@subjecturldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@subjecturl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Recipients
                            <span class="crt_evnt_drop_up"> <a href="@subjecturldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@subjecturl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Created
                            <span class="crt_evnt_drop_up"> <a href="@createddateurldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@createddateurl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Send On
                            <span class="crt_evnt_drop_up"> <a href="@senddateurldesc"><i class="fa fa-angle-up"></i></a> </span>
                            <span class="crt_evnt_drop_down"> <a href="@senddateurl"><i class="fa fa-angle-down"></i></a> </span>
                        </div>
                        <div class="crt_inv_tableCell ">
                            Action
                        </div>
                    </div>
                    <div class="crt_inv_mid_row">
                        @foreach (var item in (PagedList.IPagedList<EventCombo.ViewModels.EmailInvitation>)ViewBag.draft)
                        {
                            <div class="crt_inv_mid_cell">
                                @Html.DisplayFor(modelItem => item.Subject)
                            </div>
                            <div class="crt_inv_mid_cell ">
                                @Html.DisplayFor(modelItem => item.NoOfRecipients)
                            </div>
                            <div class="crt_inv_mid_cell ">
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </div>
                            <div class="crt_inv_mid_cell ">
                                @Html.DisplayFor(modelItem => item.SendOn)
                            </div>
                            <div class="crt_inv_mid_cell create_invite_action ">
                                @Html.ActionLink("Edit", "CreateInvitations", "ManageEvent", new { lId = item.I_Id, lEvtId = item.EventID, strMode = "C" }, null)  <a href="#">Copy</a>  <a href="#">Delete</a>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 col-xs-12 text-center mb10">
                        <nav class="home-pagination">
                            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

                            @Html.PagedListPager((PagedList.IPagedList<EventCombo.ViewModels.EmailInvitation>)ViewBag.draft, page => Url.Action("EmailInvitations", "ManageEvent",
                                new { eventId = ViewBag.EventId, sortOrder = ViewBag.CurrentSort, page, tab = ViewBag.tab }))
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#btCreateInv").click(function () {
            var vUrl = '@Html.Raw(@Url.Action("CreateInvitations", "ManageEvent",new { lId = "0", lEvtId= ViewBag.EventId, strMode="C" },null))';
            //vUrl = vUrl.replace("eventurlid","101");
            window.location.href = vUrl;
        });
    });

</script>
