@model EventCombo.Models.ManageEvent
@{
    ViewBag.Title = "ManageEvent";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link href="~/Content/eventcombo-new.css" rel="stylesheet" />

@using (Html.BeginForm())

{
    <input type="hidden" value="@Model.Eventid" id="hdEventid" />
    <div class="event_container">
        <div class="event_inner_container event_top">
            <div class="col-sm-12 pt10 bggrey">
                @if (@TempData["Success"] != null)
                {
                <div class="Moderor" id="divaccsuc"  tabindex="-1">
                    <div class="er_suc_main">

                        <div class="er_suc_img"></div>
                        <div class="er_suc" id="succaccmsg">@TempData["Success"] </div>
                        <button class="close" type="button" id="btndivaccsuc">&#215;</button>

                    </div>
                </div>
                }
                <div class="col-sm-6 col-xs-6 pt10 text-left no_pad">
                    <div class="col-sm-12 no_pad">
                        <p class="ev_mng_title">
                            @Model.Eventtitle
                        @if (Model.Eventstatus == "Save")
                        {
                            <label class="btn ev_live_sub_btn yelw_live_btn ft24"> DRAFT </label>
                        }
                        else
                        {
                            <label class="btn ev_live_sub_btn grn_live_btn ft24"> LIVE </label>
                        }
                    </p>
                    <p class="ev_mng_title_mini ">@Model.EventAddress </p>
                    <p class="ev_mng_title_mini">@Model.Eventdate </p>
                </div>

            </div>
            <div class="col-sm-6 col-xs-6 pt10 text-right no_pad">
                @if (Model.Eventstatus == "Save")
                {
                <button class="btn ev_live_sub_btn mb5 ft24" type="button">
                    PREVIEW
                </button>
                }
                else
                {
                    <button class="btn ev_live_sub_btn mb5 ft24" type="button">
                        VIEW
                    </button>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no_pad bor_line"></div>

            <div class="col-sm-12 no_pad pt10 pb10">
                <div class="col-sm-4 no_pad ev-pilot-font1">Event Pilot</div>
                <div class="col-sm-4 no_pad">
                    <div class="col-sm-12 no_pad ev-pilot-font">Public </div>
                    <div class="col-sm-12 no_pad ft15">Your event is listed and searchable. </div>
                </div>
                <div class="col-sm-4 no_pad text-right">
                    <!-- <button class="btn ev_live_sub_btn grey_btn cap_l">Find Attendees</button> -->
                    <input type="text" class="ev_mng_searh grey_btn cap_l" placeholder="Find Attendees" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no_pad bor_line"></div>
            <div class="col-sm-12 no_pad pt10 pb10 text-right">
                <div class="col-sm-12 no_pad ev-mg-url">
                    Page URL:<a href="#">www/eventclub.com/your event</a>
                    <span class="ev-mng-edit"><a href="#">[Edit]</a></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no_pad bor_line"></div>
            <div class="col-sm-12 no_pad pt10 pb10">
                <div class="col-sm-6 col-xs-12 no_pad">
                    <div class="col-sm-2 col-xs-2 text-center no_pad"><img src="/Images/cong-mark.png"></div>
                    <div class="col-sm-10 col-xs-10 no_pad ev_congrt"><span> Completed </span> <br>Congratulation on completeing your event.</div>
                </div>
                <div class="col-sm-6 col-xs-12 text-right no_pad">
                    <ul class="col-sm-12 col-xs-12 no_pad mang-ev-nav">
                        @if (Model.EventExpired == "N")
                        {
                        if (Model.Eventstatus == "Save")
                        {
                            <li><a href="#" id="aPublish">Publish</a></li>
                        }
                        else
                        {
                            <li><a href="#cnfrmdelete" id="aUnpublish" data-toggle="modal">Unpublish</a></li>
                        }
                        }
                        <li>@Html.ActionLink("Copy", "CopyEvent", new { Eventid = Model.Eventid })</li>
                        <li><a href="#">Cancel</a></li>
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Edit Event</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no_pad bor_line"></div>
            <div class="col-sm-12 no_pad mt10">
                <div class="col-sm-6 col-xs-12 no_pad">
                    <div class="col-sm-12 col-xs-12 no_pad for_total">
                        <p class="col-sm-6 col-xs-6 no_pad ft22 mb0 ">32% Ticket Sold </p>
                        <p class="col-sm-6 col-xs-6 text-right ft18 mb0 ev_detail"><a href="#">Sales Report</a></p>
                        <div class="col-sm-12 col-xs-12 grp_strip mb10">
                            <span class="ft3em ft_blue">5,400</span>
                        </div>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            <img src="/Images/gr1.png">
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 no_pad for_total">
                        <p class="col-sm-6 col-xs-6 no_pad ft22 mb0 ">Event Page Hits </p>
                        <p class="col-sm-6 col-xs-6 text-right ft18 mb0 ev_detail"><a href="#">Promotional Tools</a></p>
                        <div class="col-sm-12 col-xs-12 no_pad">
                            @*<canvas id="cnEventHit" width="200px" height="200px"></canvas>*@
                            <img src="/Images/gr1.png">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no_pad ft_black">
                    <div class="col-sm-12 col-xs-12 for_total">
                        <p class="ft22 mb0">For the total of</p>
                        <p class="ft4em mb0 for_total_amont">$54,000.00</p>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-12 no_pad">
                            <p class="col-sm-6 col-xs-6 no_pad ft22 mb0 ">Net Sales </p>
                            <p class="col-sm-6 col-xs-6 text-right ft18 mb0 ev_detail"><a href="#">See Details</a></p>
                        </div>
                        <p class="ft4em mb0 for_net_amont">$54,000.00</p>
                    </div>
                    <div class="col-sm-12 col-xs-12 no_pad">
                        <div class="col-sm-12 no_pad">
                            <p class="col-sm-6 col-xs-6 no_pad ft22 mb0 ">Payment status </p>
                            <p class="col-sm-6 col-xs-6 text-right ft18 mb0 ev_detail"><a href="#">Payment Settings</a></p>
                        </div>
                        <div class="col-sm-12 no_pad">
                            <div class="col-sm-1 col-xs-2 text-center no_pad"><img src="/Images/cong-mark-mini.png"></div>
                            <div class="col-sm-11 col-xs-10 no_pad">
                                <p class="ft18 payout_desc"><b>Payout was issued on Jan 5, 2016</b> to your <b>Chase Manhattan Bank</b> account ending in <b>3424</b></p>
                            </div>
                            <p class="ft15">You have <span class="ft_red">3 days 21 hours </span>to issue any requested refunds. Allow 2-3 business days for the payout to arrive.(Longer for public holidays)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 no_pad mb20">
                <ul class="nav nav-tabs ft18 cap_l recent_tab_ord">
                    <li class="active"><a data-toggle="tab" href="#home">Recent Order</a></li>
                    <li><a data-toggle="tab" href="#menu1">Recent Attendees</a></li>
                </ul>
                <div class="tab-content order_attendee_tab">
                    <div id="home" class="tab-pane fade in active ">
                        <div class="order_attendee_inner">
                            <table class="table ft_black table-bordered mb0">
                                <thead>
                                    <tr>
                                        <th>#Order</th>
                                        <th>Ticket Buyer</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Date</th>
                                        <th>Payment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="ev_detail"><a href="">1334455</a></td>
                                        <td>James De Jesus</td>
                                        <td>1</td>
                                        <td>$9.32</td>
                                        <td>Aug 5, 2013</td>
                                        <td>Completed</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div class="row ev_detail recent_view_ord"><a href="#">View All</a></div>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="order_attendee_inner">
                            <div class="table-responsive">
                                <table class="table ft_black table-bordered mb0">
                                    <thead>
                                        <tr>
                                            <th>#Order</th>
                                            <th>Ticket Buyer</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Date</th>
                                            <th>Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="ev_detail"><a href="">1334455</a></td>
                                            <td>James De Jesus</td>
                                            <td>1</td>
                                            <td>$9.32</td>
                                            <td>Aug 5, 2013</td>
                                            <td>Completed</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12 no_pad ft18">
                            <div class="col-sm-12 col-xs-12 text-left ev_detail"><a href="#">View All</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 no_pad sales_ticket_ype mb20">
                <div class="col-sm-12 cap_l sal_tic_bg">Sales by Ticket Type</div>
                <div class="sales_ticket_inner">
                    <table class="table ft_black table-bordered mb0">
                        <thead>
                            <tr>
                                <th>sfd</th>
                                <th>Ticket Buyer</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ev_detail"><a href="">1334455</a></td>
                                <td>James De Jesus</td>
                                <td>1</td>
                                <td>$9.32</td>
                                <td>Aug 5, 2013</td>
                                <td>Completed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 no_pad ft18 mb10">
                    <div class="col-sm-6 col-xs-6 text-left ev_detail"><a href="#">View More</a></div>
                    <div class="col-sm-6 col-xs-6 text-right ev_detail"><a href="#">View Less</a></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no_pad ">
                <div class="col-sm-12 traf_promo_bg">Traffic from Promotional Tools</div>
                <div class="traf_promo_inner">
                    <table class="table ft_black promo_tab_head">
                        <thead class="promo_tab_thead">
                            <tr class="cap_l">
                                <th>Category</th>
                                <th>Impression</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Category</td>
                                <td>9</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><b>Total</b></td>
                                <td><b>9</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no_pad ">
                <div class="col-sm-6 col-xs-12 no_pad prom_event">
                    <p class="ft18"><b>Promote your Event</b></p>
                    <p class="">Use our free tools to spread the word about your event and reach more people</p>
                    <div class="col-sm-12 col-xs-12 no_pad mt10">
                        <div class="col-sm-1 col-xs-2 no_pad"><img src="/Images/fb_prom.png"></div>
                        <div class="col-sm-11 col-xs-10 no_pad ft15">
                            Publish your event to Facebook with <br>
                            <span class="ev_detail"><a href="#">Facebook Integration</a></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 no_pad mt10">
                        <div class="col-sm-1 col-xs-2 no_pad"><img src="/Images/ev_reg.png"></div>
                        <div class="col-sm-11 col-xs-10 no_pad ft15">
                            Add Event registration on your website with <br>
                            <span class="ev_detail"><a href="#">website integration </a></span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 no_pad mt10">
                        <div class="col-sm-1 col-xs-2 no_pad"><img src="/Images/org_prof.png"></div>
                        <div class="col-sm-11 col-xs-10 no_pad ft15">
                            Set up your <span class="ev_detail"><a href="#">Organizer Profile Page </a></span> and show <br>
                            all of your upcoming events
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no_pad prom_event">
                    <p class="ft18"><b>Analyze your results</b></p>
                    <p class="">Once you start getting more traffic from combo promotional tool a chart will show which tools are bringing the most visits and sales</p>
                    <p><img src="/Images/ana_graph.png"></p>
                    <p class="text-right ft15 ev_detail"><a href="#">Create your own tracking links</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no_pad mb20 mt20">
                <div class="col-sm-12 traf_promo_bg">Your Link</div>
                <div class="col-sm-12 link_share">
                    <p>Your Organizer URL <a href="#">http://eventcombo.com</a></p>
                    <p>Share this event on Twitter <a href="#">http://eventcombo.com/e/kk</a></p>
                    <p>Share this event on Facebook <a href="#">http://eventcombo.com/e/kk</a></p>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
            <a href="#nopublish" id="aTransaction" style="display:none;" data-toggle="modal"></a>


    </div>
</div>
<div class="clearfix"></div>
    <div class="modal fade" id="cnfrmdelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
            <div class="modal-content">
                <!-- <div class="modal-header custom">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div> -->
                <form id="contactForm" class="fullw1 add">
                    <div class="modal-body text-center pv50 txt-msg">
                        <h4 id="hdmsg" class="msg">Are you sure you want to unpublish event?</h4>
                    </div>
                    <div class="modal-footer msg-action-btn ok">
                        <button type="button" class="btn btn-primary yes ok" id="btnyes"  data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-primary no" id="btnno" data-dismiss="modal">No</button>
                      

                    </div>
                </form>
            </div>
        </div><!-- confirm-msg -->
    </div>
    <div class="modal fade" id="nopublish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
            <div class="modal-content">
                <!-- <div class="modal-header custom">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div> -->
                <form id="contactForm" class="fullw1 add">
                    <div class="modal-body text-center pv50 txt-msg">
                        <h4 id="hdmsg" class="msg">Can't Unpublish event as transaction had been done on this event</h4>
                    </div>
                    <div class="modal-footer msg-action-btn ok">
                      
                        <button type="button" class="btn btn-primary no" id="btnno" data-dismiss="modal">Ok</button>


                    </div>
                </form>
            </div>
        </div><!-- confirm-msg -->
    </div>
}

<script src="~/Scripts/Chart.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var vLable = []

        var data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "Event Hits",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };
        var ctx = $("#cnEventHit").get(0).getContext("2d"); 
        var myLineChart = new Chart(ctx).Line(data, options);

        $('#btndivaccsuc').click(function () {
            $('#divaccsuc').css('display', 'none');

        });
        $("#aPublish").click(function () {
            var EventId = $("#hdEventid").val();
            $.ajax({
                url: '@Url.Action("PublishUnpublishEvent", "ManageEvent")',
                data: { Tag: "P", id: EventId },
                type: "Post",
                success: function (response) {

                    if (response == "Y") {
                        window.location.href = '@Url.Action("Index", "ManageEvent", new { })' + '?Eventid=' + EventId+'&type=P';

                    } else {

                    }
                }
            });

        });

        $("#btnyes").click(function () {
            var EventId = $("#hdEventid").val();
            $.ajax({
                url: '@Url.Action("PublishUnpublishEvent", "ManageEvent")',
                data: { Tag: "U", id: EventId },
                type: "Post",
                success: function (response) {

                    if (response == "Y") {
                        window.location.href = '@Url.Action("Index", "ManageEvent", new { })' + '?Eventid=' + EventId + '&type=U';

                    }
                    if (response == "T") {
                        $("#aTransaction").click();
                    }
                }
            });

        });



        });




</script>