@model EventCombo.Models.showPromocode
@using EventCombo.Controllers;
@using EventCombo.Models
@{
    ViewBag.Title = "PromotionalCodes";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section sidenav{
    <div id="sidebar" class="nav nav-stacked">
        
    </div>
}
<style type="text/css">
.dropheight .dropdown-menu.open .dropdown-menu.inner {
    max-height: 150px !important;
}


.discTable {
    width: 100%;
    display: table;
}

.discTablehead {
    width: 100%;
    height: 100%;
    display: table;
    background: #8c8c8c;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    padding: 0px;
}

.discTableRow {
    width: 100%;
    height: 100%;
    display: table;
    background: #ebebeb;
}

    .discTableRow:nth-child(even) {
        background: #f5f5f5;
    }

.discTableCell {
    width: 16.66%;
    height: 100%;
    font-size: 18px;
    display: table-cell;
    padding: 5px 5px;
    word-break: break-all;
}
.discTableCell_amount{
    width: 10%;
    height: 100%;
    font-size: 18px;
    display: table-cell;
    padding: 5px 5px;
    word-break: break-all;}
.discTableCell_start{
    width: 23.26%;
    height: 100%;
    font-size: 18px;
    display: table-cell;
    padding: 5px 5px;
    word-break: break-all;}
.discmidtablecell {
    width: 16.66%;
    height: 100%;
    font-size: 14px;
    display: table-cell;
    padding: 5px 5px;
    vertical-align: top;
    word-break: break-all;
}
.discmidtablecell_amount{
    width: 10%;
    height: 100%;
    font-size: 14px;
    display: table-cell;
    padding: 5px 5px;
    vertical-align: top;
}
.discmidtablecell_start{
    width: 23.26%;
    height: 100%;
    font-size: 14px;
    display: table-cell;
    padding: 5px 5px;
    vertical-align: top;
}
.dis_code_action {
    color: #ccc;
}

    .dis_code_action a {
        color: #3cf;
        font-size: 14px;
    }
    .ipad_min_height{ min-height:450px;}
</style>
@using (Html.BeginForm("PromotionalCodes", "ManageEvent", FormMethod.Post, new { id = "formuser" }))
{
    <input type="hidden" id="hdPageIndex" value="@TempData["PageIndex"]" />

    <div class="col-sm-12 ">
        <h3 class="acnt_title">Manage Discount Code</h3>
        <!--  <p class="p_info">Payment Information</p> -->
    </div>
    <div class="col-sm-12 text-right mb10">
        <div class="col-sm-5 col-xs-12 no_pad text-left xs_create_code_mb10">
            <a href="@Url.Action("CreatePromotionalCodes", "ManageEvent", new { Eventlid = ValidationMessageController.GetParentEventId(Model.Eventid) })" class="btn-info acnt_btn btn">Create Code</a>
        </div>
        <div class="col-sm-3 col-xs-12 no_pad disnt_srh_right ">
            <form>
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Searh Code" name="searchquery" value="@Model.searchquery">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
        <input type="hidden" name="Eventlid" value="@Model.Eventid" />
    </div>

    <div class="col-sm-12 col-xs-12 ipad_min_height">
        <div class="discTable">
            <div class="discTablehead">
                <div class="discTableCell">
                    Promo Code
                </div>
                <div class="discTableCell_amount ">
                    Amount
                </div>
                <div class="discTableCell_start ">
                    Starts
                </div>
                <div class="discTableCell ">
                    Ends
                </div>
                <div class="discTableCell ">
                    Available
                </div>
                <div class="discTableCell ">
                    Actions
                </div>

            </div>

            @foreach (var item in (PagedList.IPagedList<Promocode>)Model.Promocode)
            {
                <div class="discTableRow">
                    <div class="discmidtablecell">
                        @item.code
                    </div>
                    <div class="discmidtablecell_amount ">
                        @item.Amount
                    </div>
                    <div class="discmidtablecell_start ">
                        @item.Start
                    </div>
                    <div class="discmidtablecell ">
                        @item.End
                    </div>
                    <div class="discmidtablecell ">
                        @item.Limit
                    </div>
                    <div class="discmidtablecell ">
                        <div class="dis_code_action">

                            <a href="@Url.Action("CreatePromotionalCodes", "ManageEvent", new { Eventlid = ValidationMessageController.GetParentEventId(Model.Eventid), Promocode = @item.PCID })">Edit </a> |
                            <a href="#confirm-delete-ok" data-toggle="modal" onclick="ConfirmDelete('@item.PCID');">Delete</a>


                        </div>
                    </div>
                </div>
            }







        </div>
    </div>

    if (Convert.ToInt32(@TempData["TotalPages"]) > 1)
    {
        <div class="col-sm-12 col-xs-12 text-center">
            <nav>
                <ul class="pagination desc_pagination">
                    <li>
                        <a href="javascript:void(0)">
                            <span><i class="fa fa-angle-left"></i> </span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Convert.ToInt32(@TempData["TotalPages"]); i++)
                    {
                        <li><a href="javascript:void(0)" id="aPageLink-@i" onclick="NextPage(@i);">@i</a></li>
                    }


                    <li>
                        <a href="javascript:void(0)">
                            <span><i class="fa fa-angle-right"></i> </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="col-sm-12 pagination_desc">

            </div>
        </div>
    }
    <div class="modal fade" id="confirm-delete-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
            <div class="modal-content">

                <form id="contactForm" class="fullw1 add">
                    <div class="modal-body text-center pv50 txt-msg">


                    <h4 class="msg promotional_pop" id="hId"></h4>
                </div>
                <div class="modal-footer msg-action-btn ok">
                    <button type="button" id="btnYes" class="btn btn-primary no" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-primary yes ok" id="btMesOk" data-dismiss="modal">OK</button>
                    <button type="button" id="btnNo" class="btn btn-primary no" data-dismiss="modal">No</button>
                </div>
            </form>
            <input type="hidden" id="hdPromocode" value="" />
        </div>
    </div><!-- confirm-msg -->
</div>

}

<script>
    $(document).ready(function () {

        $(document).ajaxStop(function () {
            $(document).find("#crt_promcode").click();
            $("#sidebar").find("#dvcrtpromcode").addClass("active");
            $("#sidebar").find("#dvcrtpromcode b").addClass('opened new-opend');
        });
        $('#sidebar').load('@Url.Action("Sidenav", "ManageEvent", new { eventid=Model.Eventid })');
       
        $('#crt_promcode').click();

        var vPageIndex = $("#hdPageIndex").val();
        $("#aPageLink-" + vPageIndex).addClass("active");
        $("#btnYes").click(function () {
            $.ajax({
                url: '@Url.Action("DeletePromocode","ManageEvent")',
                data: { promocode: $("#hdPromocode").val() },
                datatype: "Text",
                type: "Post",
                success: function (response) {
                    location.reload();
                }
            });
        });
    });
    function NextPage(vIndex) {


        var vUrl = '@Url.Action("PromotionalCodes", "ManageEvent", new { Eventlid = ValidationMessageController.GetParentEventId(@Model.Eventid), strPageIndex = "page" })';
        vUrl = vUrl.replace("&amp;", "&");
        if (vIndex > 1)
            vUrl = vUrl.replace("page", vIndex);
        alert(vUrl);


        window.location.href = vUrl;
    }
    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }

    function ConfirmDelete(userId) {
        $("#hdPromocode").val(userId);
        $("#btnYes").show();
        $("#btnNo").show();
        $("#btMesOk").hide();

        // $("#btOk").click();

        $("#hId").text(ajaxsetup("PromotionalCode", "PCDeleetmsg"));

        //var x = confirm("Are you sure you want to delete?");

        //if (x) {


        //    return true;
        //}
        //else
        return false;

    }
</script>
