
@using EventCombo.Controllers
@model EventCombo.ViewModels.Sidenav

    <div id="accordion" class="panel-group">

        <div class="panel panel-default menu_list">
            <a class="menu_title" href="#">
                <div class="panel-heading">
                    < My Account
                </div>
            </a>
        </div>
        <div class="panel panel-default menu_list">
            <a class="menu_title" href="#" title="@Model.Eventtitle">
                <div class="panel-heading activeyellow act_ellipses">
                    @Model.Eventtitle
                </div>
            </a>
        </div>
        <div class="panel panel-default menu_list">
            <a class="menu_title" href="#">
                <div class="panel-heading">
                    Event Help
                </div>
            </a>
        </div>
        <div class="panel panel-default menu_list">
            <a class="menu_title" href="#">
                <div class="panel-heading">
                    Event Bundles
                </div>
            </a>
        </div>
        <div class="panel panel-default menu_list">
            <a class="menu_title" href="#">
                <div class="panel-heading">
                    Event Dashboard
                </div>
            </a>
        </div>
        <div class="panel panel-default menu_list">
            <a class="menu_title" href="#">
                <div class="panel-heading">
                    Modify Order Options
                </div>
            </a>
        </div>
        <div class="panel panel-default menu_list">

            <a id="crt_promcode" class="menu_title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <div id="dvcrtpromcode" class="panel-heading">
                    Invite and Promote <b class="closed"></b>
                </div>
            </a>

            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body no-padding">
                    <p>@Html.ActionLink("Email Invitations", "EmailInvitations", "ManageEvent", new { eventId = Model.EventId }, null)</p>
                    @if (Model.DiscountCode > 0)
                    {
                        <p>@Html.ActionLink("Promotional Code", "PromotionalCodes", "ManageEvent", new { Eventlid = ValidationMessageController.GetParentEventId(Model.EventId) }, null)</p>
                    }
                    else
                    {
                        <p>@Html.ActionLink("Promotional Code", "CreatePromotionalCodes", "ManageEvent", new { Eventlid = ValidationMessageController.GetParentEventId(Model.EventId) }, null)</p>
                    }
                    <p>Facebook Integration</p>
                    <p>Website Integration</p>
                    <p>Tracing Links</p>
                    <p>Affialate Programs</p>
                    <p>Social Stream</p>




                </div>
            </div>
        </div>

    </div>
<script>
    $(document).ready(function () {

     

        $('#dvcrtpromcode').click(function (e) {

            var $dvEle = $('#dvcrtpromcode b');
            var vclassname = $dvEle.attr('class');
            if ($dvEle.hasClass("new-opend")) {
                $dvEle.removeClass('opened new-opend').addClass('closed');
            }
            else {
                $dvEle.addClass('opened new-opend');
            }
        });


    });


</script>

