@using EventCombo.Models
@model TicketPayment
@{
    ViewBag.Title = "TicketPayment";
    //Layout = "~/Views/Shared/_AccountLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


<link href="~/Content/flipclock.css" rel="stylesheet" />
<script src="~/Scripts/jquery.creditCardValidator.js"></script>
<link href="~/Content/eventcombo-new.css" rel="stylesheet" />
@using (Html.BeginForm())
{

    <input type="hidden" id="hdemailexist" />
    <input id="hidTicketbearer" type="hidden" />
    @Html.HiddenFor(m => m.EventId, new { id = "hdEventid" })
    <div class="event_container ">
        <div class="event_inner_container event_top view_evnt_top viewevent_container" id="eventtopscoll">
            <div class="col-sm-12 bggrey">
                <div class="Moderor" style="display: none;" id="diverroacc" tabindex="-1">
                    <div class="er_UI_main">
                        <div class="er_UI_img"></div>
                        <div class="er_suc" id="erraccmsg">
                            <button class="close" type="button" id="btndivaccerr">&#215;</button>
                        </div>
                    </div>
                </div>
                <div class="Moderor" id="divaccsuc" style="display: none;" tabindex="-1">
                    <div class="er_suc_main">

                        <div class="er_suc_img"></div>
                        <div class="er_suc" id="succaccmsg"> </div>
                        <button class="close" type="button" id="btndivaccsuc">&#215;</button>
                    </div>
                </div>
            </div>
            <div class="event_detail_container">
                <div class="evnt_details_body2">
                    <div class="col-sm-12 no_pad mt10 pt10">
                        <div class="col-sm-3 pl0">
                            <img class="img-responsive" src="@Html.DisplayFor(m=>m.Imageurl)">
                        </div>
                        <div class="col-sm-9 pl0">
                            <h2 class="th_tilte" id="h2tag">@Html.DisplayFor(m => m.Title)</h2>

                            <div class="col-sm-12 col-xs-12 text-left">
                                @*<div class="form-group mb0">
                                        <div class="Timezone ev_date_icn ev_date_icn2 evnt_icn_xs"></div>
                                        <label class="label-control evnt_title_date2 evnt_title_xs" title="see what happening on this date">

                                           Add Schedule to calendar
                                        </label>
                                    </div>*@
                                <div class="TmezoneSet col-sm-12 no_pad ev_time_zone_model_main date_time_set_modal">
                                    <div class="ev_time_zone_model date_time_modal">
                                        <div class="modal-content ev_tm_zon_cont">
                                            <div class="modal-header">
                                                <button class="close closetimemodal" type="button">
                                                    <span>&#215;</span>
                                                </button>
                                                <h4 class="modal-title date_time_list">Schedule Date List</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-sm-12 no_pad">
                                                    <div class="form-group mb5 ">
                                                        <label class="col-sm-12 no_pad label-control date_time_list">
                                                            <a href="#" onclick="showevent(this.id)" data-target="#schcalender" id="Text" data-toggle="modal">Text</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="event_detail_container">
            <div class="evnt_tile_head">
                <div class="evnt_tile_bg_l"></div>
                <div class="col-sm-12 col-xs-12 text-left no_pad">
                    <h2 class="fb_dis_head pt5">YOUR ORDER INFORMATION</h2>
                </div>

                <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
            </div>
            <div class="evnt_details_body2">
                <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">
                    <div id="dvTicketInfo" class="table-responsive">
                        <div id="dvAjxLoader">
                            <img src="~/Images/ajaxloader1.gif" />
                        </div>

                    </div>
                    @*<table class="table evnt_tkt_list_tbl">
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div class="col-sm-12 text-right mt10">Subtotal : $0.3333 </div>
                                        <div class="col-sm-12 text-right mt10">Variable Charge : $5.00</div>
                                        <div class="col-sm-12 text-right mt10"><strong>Order total : $0.3333 </strong></div>
                                        <div class="col-sm-12 text-right mt10">
                                            <div class="form-group">
                                                <label class="col-md-10 pt5 ">Promo code</label>
                                                <div class="col-md-2 no_pad">
                                                    <input class="form-control evnt_inp_cont" placeholder="Promocode" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-right mt10"><strong>Grand total : $0.3333 </strong></div>
                                    </td>

                                </tr>
                            </tfoot>
                        </table>*@
                </div>
            </div>
        </div>
        <div class="event_detail_container">
            <div class="evnt_tile_head">
                <div class="evnt_tile_bg_l"></div>
                <div class="col-sm-12 col-xs-12 text-left no_pad">
                    <h2 class="fb_dis_head pt5">PAYMENT INFORMATION</h2>
                </div>

                <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
            </div>



            <div class="evnt_details_body2 evnt_timer_margin">
                <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    PLEASE ENTER YOUR ACCOUNT INFORMATION<br>
                                    @if (HttpContext.Current.Session["AppId"] != null)
                                    {
                                        <span class="ev_pay_span">Hi, @Html.DisplayFor(m => m.Email) Not you? <a href="#" onclick="NullSession();" id="nullsession">Sign Out</a></span>
                                    }
                                    else
                                    {
                                        <span class="ev_pay_span">Have you used Eventcombo before?<a href="#" id="login">Sign In To Your Account    </a></span>

                                    }
                                </label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="FIRST NAME" value="@Html.DisplayFor(m=>m.FName)" maxlength=35 id="accfname" />
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="LAST NAME" value="@Html.DisplayFor(m=>m.LName)" id="accLname" maxlength=35 />
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="EMAIL" value="@Html.DisplayFor(m=>m.Email)" id="Email" maxlength=256 />
                            </div>
                            @if (HttpContext.Current.Session["AppId"] == null)
                            {
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="CONFIRM EMAIL" id="confirmEmail" maxlength=256>
                                </div>
                            }
                        </div>
                        <div class="clearfix"></div>
                        @if (HttpContext.Current.Session["AppId"] == null)
                        {
                            <div class="form-group ">
                                <div class="col-sm-12 col-xs-12 no_pad">
                                    <label class="control-label ev_payment_lebel pl0">
                                        <span class="ev_pay_span">Password</span>
                                    </label>
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="password" id="password" placeholder="PASSWORD" maxlength=15>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group ">
                                <div class="col-sm-12 col-xs-12 no_pad">
                                    <label class="control-label ev_payment_lebel pl0">
                                        <span class="ev_pay_span">Confirm Password</span>
                                    </label>
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="password" placeholder="CONFIRM PASSWORD" id="confirmpassword" maxlength=15>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        }
                        <div class="form-group ">
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="PHONE NUMBER" value="@Html.DisplayFor(m=>m.PhnNo)" id="accountphnno">
                            </div>
                            <div class="col-sm-10 col-xs-12 no_pad">
                                <div class="col-sm-6 col-xs-12 mb10 pl0 xspad0 xs375zip">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="City" maxlength=256 id="accCity" value="@Html.DisplayFor(m=>m.AccCity)">
                                </div>
                                <div class="col-sm-6 col-xs-12 mb10 no_pad ">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="State" maxlength=256 id="accState" value="@Html.DisplayFor(m=>m.AccState)">
                                </div>


                            </div>
                            <div class="col-sm-10 col-xs-12 no_pad">
                                <div class="col-sm-6 col-xs-12 mb10 pl0 xspad0 xs375zip">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="Zip" maxlength=5 id="accZip" value="@Html.DisplayFor(m=>m.Acczip)">
                                </div>
                                <div class="col-sm-6 col-xs-12 mb10 no_pad ">
                                    @Html.DropDownList("CountryID", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control ev_drop_label", @id = "accCountry" })

                                </div>


                            </div>

                        </div>


                        <div class="form-group mt10 divvisible">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    PLEASE ENTER YOUR CREDIT CARD INFORMATION
                                </label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">


                                <select class="form-control ev_drop_label" id="selectcard" onchange="showcardetails(this.id)">
                                    @foreach (var item in (List<Cardview>)ViewBag.Detailscard)
                                    {
                                        <option value="@item.value">@item.text</option>

                                    }
                                </select>
                            </div>
                            <div id="cardshow" style="display:none;">
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="CREDIT CARD NUMBER" id="cardno" onkeyup="getcardvisa(this.id)">
                                </div>

                                <div class="col-sm-10 col-xs-12 mb10 no_pad card_list">
                                    <img src="/Images/visa.png" id="imgcard" style="display:none">
                                    @*<img src="~/Images/mastercard.png" id="mastercard" style="display:none">
                                        <img src="~/Images/discover.png" id="discover" style="display:none">
                                        <img src="~/Images/amr-exp.png" id="amr" style="display:none">*@
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="EXPIRATION DATE" id="expirationdate">
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="CVV CODE" id="cvvcode" onkeydown="return checknumber(event);" maxlength="5">
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input type="checkbox" id="chkcarddetails" /> <span class="ev_pay_span">Save billing and payment info for easy ordering </span>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix divvisible"></div>
                        <div class="form-group mt10 divvisible" id="dvBillingAddress">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    PLEASE ENTER YOUR BILLING ADDRESS<br>
                                </label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="FIRST NAME" maxlength=35 id="billfname">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="LAST NAME" maxlength=35 id="billLname">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="PHONE NUMBER" id="billingphno">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 1" maxlength=256 id="billaddress1">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 2" maxlength=256 id="billaddress2">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0 xs375zip">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="City" maxlength=256 id="billcity">
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="State" maxlength=256 id="billstate">
                                </div>


                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0 xs375zip">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="Zip" maxlength=5 id="billzip">
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad dropheight"> 
                                    @Html.DropDownList("CountryID", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control selectpicker", @id = "billcountry" })


                                </div>


                            </div>
                        </div>
                        <div class="clearfix divvisible"></div>
                        @if (Html.DisplayFor(x => x.Ticketdeliveraddress).ToString() == "Y")
                        {
                            <div class="form-group mt10 divvisible">
                                <input type="checkbox" class="billingaddress" id="shippinginfo" /> <span class="ev_pay_span">Enter Delivery Address</span>
                                <div class="clearfix"></div>
                                <input type="checkbox" id="sameshipping" /> <span class="ev_pay_span">Delivery Address Same as Billing Address</span>

                            </div>
                        }

                        <div class="form-group mt10 shippingaddress" style="display:none;">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    PLEASE ENTER DELIVERY ADDRESS<br>
                                    <div class="clearfix"></div>
                                </label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="FIRST NAME" maxlength=35 id="shipfname">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="LAST NAME" maxlength=35 id="shipLname">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="PHONE NUMBER" id="shippingphnno">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 1" maxlength=256 id="shipaddress1">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 2" maxlength=256 id="shipaddress2">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="City" maxlength=256 id="shipcity">
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="State" maxlength=256 id="shipstate">
                                </div>


                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="Zip" maxlength=5 id="shipzip">
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad dropheight">
                                    @Html.DropDownList("CountryID", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control selectpicker", @id = "shipcountry" })


                                </div>


                            </div>
                        </div>


                    </div>

                    <div class="col-sm-6 divqtyvisible">
                        <div class="form-group ">

                            <div class="col-sm-12 col-xs-12 no_pad mt20">
                                <label class="control-label ev_payment_lebel pl0">
                                    PLEASE ENTER INTENDED TICKET RECEPIENTS (OPTIONAL)
                                </label>
                                <div class="clearfix"></div>
                                <div class="col-sm-8 col-xs-8 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="NAME OF THE TICKET BEARER" id="nameofticket">

                                </div>
                                <label class="control-label ev_tickt_recp_lebel ev_not_me">
                                    <span class="Notify"> Notify by email</span>
                                </label>

                                <div class="col-sm-12 col-xs-12 no_pad mt10">
                                    <div class="Notifybox col-sm-8 col-xs-8 no_pad mt10 mb10" id="divemail">
                                        <input class="form-control evnt_inp_cont" type="text" placeholder="EMAIL OF TICKET BEARER" id="emailbearer">
                                    </div>
                                    <div class="col-sm-12 col-xs-12 no_pad">
                                        <button class="btn ev_live_btn" type="button" id="btAddList">
                                            ADD TO LIST
                                        </button>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 no_pad mt10" id="blocklist" style="display:none;">
                                        <div class="col-sm-8 col-xs-8 no_pad ">
                                            <select class="form-control evnt_inp_cont " id="ddlListitem"></select>
                                        </div>
                                        <div class="col-sm-2 col-xs-2">
                                            <button class="btn ev_live_btn" type="button" id="editlist">
                                                Edit
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-xs-2">
                                            <button class="btn ev_live_btn" type="button" id="deletelist">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <table style="display:none;" id="tblListitem"></table>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-12 text-right mb10 mt10">
                        <button type="button" class="btn btn-lg ev_live_btn ev_live_sub_btn mb10" id="btBack">
                            < Back
                        </button>
                        <button type="button" class="btn btn-lg ev_live_btn ev_live_sub_btn mb10" id="completeorder">
                            COMPLTE ORDER >
                        </button>
                        <button type="button" class="btn btn-lg ev_live_btn ev_live_sub_btn mb10" id="btPaypal">
                            Paypal >
                        </button>
                        <button type="button" style="display:none;" id="btPaypalCheckout">
                            Checkout
                        </button>
                        <a class="td-btn" id="btOk" type="button" href="#dvProgress" data-toggle="modal" style="display:none">
                        </a>
                        @*@Ajax.ActionLink("Open popup", "Pay", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "PaypalCart", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" })<br />*@
                    </div>
                    <div id="dvAjxSave" style="display:none">
                        <img src="~/Images/ajaxloader1.gif" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="strat_timer_cont">
        <div class="col-sm-12 no_pad text-center">

            <p class="bg-green mb0 strt_tim_desc">
                Please complete this purchase within 10:00 minutes.<br>
                After 10:00 minutes, the reservation we're holding will be released to others.
            </p>
            <div class="col-sm-12 text-center bg-green">
                <div id="divTime"> </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="schcalender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title ev_modal_header_title" id="myModalLabel">Add to Calendar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-windows"></i> <a href="#" id="ioutlook">Microsoft Outlook </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-apple"></i> <a href="#" id="icalender">Apple Ical </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-google"></i> <a href="#" id="googlecal" target="_blank">Google Calendar </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-yahoo"></i> <a href="#" target="_blank" id="yahoocal">Yahoo Calendar </a>
                    </div>
                    <div class="clearfix"></div>


                </div>

            </div>
        </div>
    </div>





    <div class="modal fade" id="dvProgress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm confirm-msg ok-msg custom wd-4 tdclickmodal">
            <div class="modal-content">
                <form id="contactForm" class="fullw1 add">
                    <div class="modal-body text-center pv50 txt-msg">
                        <h4 class="msg"><img src="~/Images/ajaxloader1.gif" />Please wait, Preparing your order.</h4>
                    </div>
                    @*<div class="modal-footer msg-action-btn ok">
                            <button type="button" class="btn btn-primary yes ok" data-dismiss="modal">OK</button>
                        </div>*@
                </form>
            </div>
        </div><!-- confirm-msg -->
    </div>


    <div class="modal fade" id="SessionExp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
            <div class="modal-content">

                <form id="contactForm" class="fullw1 add">
                    <div class="modal-body text-center pv50 txt-msg">

                        <h4 class="msg" id="hId">Sorry, you took too long and we have to release your order. Please try again.</h4>
                    </div>
                    <div class="modal-footer msg-action-btn ok">
                        <button type="button" class="btn btn-primary yes ok" id="btMessOk" data-dismiss="modal">OK</button>
                    </div>
                </form>
                <input type="hidden" id="hdUserId" value="" />
                <input type="hidden" id="hdIsPostBack" value="" />
            </div>
        </div><!-- confirm-msg -->
    </div>
    <div>
        <a class="td-btn" id="btOkMes" type="button" href="#SessionExp" data-toggle="modal" style="display:none">
        </a>

        <a class="td-btn" id="btOkMesPaypal" type="button" href="#PaypalInt" data-toggle="modal" style="display:none">
        </a>
    </div>


    <div class="modal fade" id="PaypalInt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm confirm-msg ok-msg custom">
            <div class="modal-content">
                <form id="contactForm" class="fullw1 add">
                    @*<div id="dvPaypals">  </div>*@
                </form>
            </div>
        </div><!-- confirm-msg -->
    </div>
    <div id="dvdialog">

    </div>

}
<script src="~/Scripts/Commonfunction.js"></script>
<script src="~/Scripts/flipclock.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
<script async src="//www.paypalobjects.com/api/checkout.js"></script>
@*<script src="~/Scripts/jquery.countdownTimer.js"></script>*@

<script type="text/javascript">
    window.paypalCheckoutReady = function () {
        paypal.checkout.setup("@PayPalSettings.MerchantAccountID", {
            environment: '@PayPalSettings.Environment',
            click: function (event) {
                event.preventDefault();
                paypal.checkout.initXO();
                $.support.cors = true;

                $.ajax({
                    url: '@Html.Raw(Url.Action("PayPaltoken", "Cart"))',
                    type: "GET",
                    async: true,
                    crossDomain: true,
                    //Load the minibrowser with the redirection url in the success handler
                    success: function (token) {
                        var url = paypal.checkout.urlPrefix + token;
                        //Loading Mini browser with redirect url, true for async AJAX calls
                        paypal.checkout.startFlow(url);
                    },
                    error: function (responseData, textStatus, errorThrown) {
                        alert("Something going wrong ");
                        //Gracefully Close the minibrowser in case of AJAX errors
                        paypal.checkout.closeFlow();
                    }
                });
            },
            button: ['btPaypalCheckout']
        });
    }
    function SavePaypaldetail() {
        debugger;
        var flag = true;
        var Emaillogin = $("#Email").val();
        var msg = validationpage();

        var NameList = [];
        if (msg != "") {
            ShowMessage('E', msg)
            //$('#diverroacc').css('display', 'block');
            //$('#erraccmsg').html(msg);
            return false;
        }
        else {
            if ($("#confirmEmail").length > 0) {
                $.ajax({
                    url: "/Home/IsValid",
                    async: true,
                    data: 'Email=' + Emaillogin,
                    dataType: "text",
                    success: function (data, textStatus, xhr) {
                        if (data != '') {
                            if (data == "NotFound") {
                                flag = true;

                                $('#hdemailexist').val(true);

                            } else if (data == "Found") {

                                $('#Email').focus();
                                $("#Email").addClass('err-bor');


                                ShowMessage('E', ajaxsetup('TicketPayment', 'TPayValidateEmailSy'))

                                $('#hdemailexist').val(false);

                            }
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("Req " + xhr + " status " + textStatus + "  Error " + errorThrown);
                    }
                });
            }


        }


        var confirmemail = "", cardno = "", expirydate = "", cvv = "", cardtype = "";
        var type = '';


        $("#tblListitem tr").each(function () {
            var Sno = $(this).find("td:first").html();

            // Multiple Address
            if (Sno != '') {
                NameList.push({
                    Name: $("#TicketName_" + Sno).text(),
                    Email: $("#TicketEmail_" + Sno).text(),


                });
            }
        });

        if ($('#chkcarddetails').is(":checked") == true) {
            cardno = $('#cardno').val();

            expirydate = $('#expirationdate').val();
            cvv = $('#cvvcode').val();
            var result = $("#cardno").validateCreditCard({ accept: ['visa', 'mastercard', 'discover', 'amex'] });
            cardtype = result.card_type.name;
        }
        if ($('#shippinginfo').is(":checked") == true) {



        }
        var totalorder = $('#hdOrderTotal').val();
        var type = '';
        if (totalorder > 0) {

            type = 'Paid';
        } else {

            type = 'Free';

        }

        //-------------------------------------Saving Payment Detail---------------------------------------


        var vOrderTotal = $("#hdOrderTotal").val();
        var vGrandTotal = $("#hdGrandTotal").val();
        var vPromoId = $("#hdPromoId").val();
        var vVarChanges = $("#hdVarChanges").val();
        var vVarId = $("#hdVarId").val();
        debugger;
        var model = {

            'AccFname': $('#accfname').val(),
            'AccLname': $('#accLname').val(),
            'AccEmail': $('#Email').val(),
            'AccconfirmEmail': $('#confirmEmail').val(),
            'Accpassword': $('#password').val(),
            'Accconfirmpassword': $('#confirmpassword').val(),
            'Accountphnno': $('#accountphnno').val(),
            'AccCity': $('#accCity').val(),
            'AccState': $('#accState').val(),
            'Acczip': $('#accZip').val(),
            'Acccountry': $('#accCountry').val(),
            'cardno': $('#cardno').val(),
            'card_type': cardtype,
            'expirydate': $('#expirationdate').val(),
            'cvv': $('#cvvcode').val(),
            'billfname': $('#billfname').val(),
            'billLname': $('#billLname').val(),
            'billingphno': $('#billingphno').val(),
            'billaddress1': $('#billaddress1').val(),
            'billaddress2': $('#billaddress2').val(),
            'billcity': $('#billcity').val(),
            'billzip': $('#billzip').val(),
            'billstate': $('#billstate').val(),
            'billcountry': $('#billcountry').val(),
            'shipfname': $('#shipfname').val(),
            'shipLname': $('#shipLname').val(),
            'shipphno': $('#shippingphnno').val(),
            'shipaddress1': $('#shipaddress1').val(),
            'shipaddress2': $('#shipaddress2').val(),
            'shipcity': $('#shipcity').val(),
            'shipzip': $('#shipzip').val(),
            'shipstate': $('#shipstate').val(),
            'shipcountry': $('#shipcountry').val(),
            'NameList': NameList,
            'Savecarddetail': ($("#chkcarddetails").is(":checked") == true ? "Y" : "N"),
            'Saveshipdetail': ($("#shippinginfo").is(":checked") == true ? "Y" : "N"),
            'sameshipbilldetail': ($("#sameshipping").is(":checked") == true ? "Y" : "N"),
            'Ticketname': type,
            'strOrderTotal': vOrderTotal,
            'strGrandTotal': vGrandTotal,
            'strPromId': vPromoId,
            'strVarChanges': vVarChanges,
            'strVarId': vVarId,
            'strPaymentType': PaymentType
        }

        var Eventid = $('#hdEventid').val();
        var PaymentType = $("#selectcard").val();

        $.ajax({
            url: '@Url.Action("SetSessionPaypaldetail", "Cart")',
            data: { model: model },
            type: "Post",
            success: function (response) {
                if (response == "Y") {
                    $("#btPaypalCheckout").click();
                }
            }
        });
    }
    $('#btPaypal').click(function () {
        SavePaypaldetail();
    });
</script>


<script>
    function calculateTickTotal(vAmount) {

        var vOrderTotal = parseFloat($("#hdOrderTotal").val());
        var vQty = parseInt($("#hidQty").val());
        vAmt = parseFloat(vAmount);
        if (isNaN(vAmt) == true) vAmt = 0;
        if (isNaN(vOrderTotal) == true) vOrderTotal = 0;
        vOrderTotal = (vOrderTotal + vAmt).toFixed(2);
        $("#spGrdTotal").text(vOrderTotal);
        $("#hdGrandTotal").val(vOrderTotal);
        $("#spSubTotal").text(vOrderTotal);

        if (vOrderTotal > 0) {
            $('.divvisible').show();

            if (totqty <= 0) {
                $('.divqtyvisible').hide();
            }
            //$('#cardshow').css('display', 'block');
        }
        else {
            $('.divvisible').hide();
            //$('#cardshow').css('display', 'none');
        }

    }
    function calculateTickTotalOptional(vCount) {
        var vOrderTotal = parseFloat($("#hdOrderTotal").val());
        if (isNaN(vOrderTotal) == true) vOrderTotal = 0;
        for (i = 1; i <= vCount; i++) {
            if ($("#chk_" + i.toString()).is(":checked") == true) {
                vAmt = parseFloat($("#sp_" + i.toString()).text());
                if (isNaN(vAmt) == true) vAmt = 0; vOrderTotal = vOrderTotal + vAmt;
            }
        }
        $("#spGrdTotal").text(vOrderTotal.toFixed(2));
        $("#hdGrandTotal").val(vOrderTotal.toFixed(2));
        $("#spSubTotal").text(vOrderTotal.toFixed(2));

        if (vOrderTotal > 0) {
            $('.divvisible').show();
            //$('#cardshow').css('display', 'block');
        }
        else {
            $('.divvisible').hide();
            //$('#cardshow').css('display', 'none');
        }
    }

    //function afterStop() {
    //    alert("Time Khatam");
    //}
    //$(document).ready(function () {


    //    var total = $('#hdOrderTotal').val();
    //    if (total > 0) {

    //        $('.divvisible').css('display', 'block');
    //    } else {

    //        $('.divvisible').css('display', 'none');

    //    }

    //});

    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
    function validationpage() {
        var msglogin = "", emailerr = "", pasword = "";
        var accfname = $("#accfname").val();
        var Emaillogin = $("#Email").val();
        var confirmlogin = $("#confirmEmail").val();
        var Passowrdlogin = $("#password").val();
        var confirmpassword = $("#confirmpassword").val();

        var total = $('#hdOrderTotal').val();


        if (accfname == '') {
            $("#accfname").addClass('err-bor');
            msglogin += ajaxsetup('TicketPayment', 'TPayFnameValidateUI') + "</br>";
        }

        if (!validateEmail(Emaillogin)) {
            $('#Email').focus();
            $('#Email').addClass('err-bor');
            emailerr += "Invalid Email" + "\n";
        }
        if ($("#confirmEmail").length > 0) {
            if (!validateEmail(confirmlogin)) {
                $('#confirmEmail').focus();
                $('#confirmEmail').addClass('err-bor');
                emailerr += "Invalid Confirm Email" + "\n";
            }

            if (confirmlogin != Emaillogin) {
                $('#confirmEmail').focus();
                $('#confirmEmail').addClass('err-bor');
                msglogin += ajaxsetup('TicketPayment', 'TPayValidateConfirmMatchEmailUI') + "</br>";

            }


        }
        if (emailerr != "") {
            msglogin += ajaxsetup('TicketPayment', 'TPayValidateEmailUI') + "</br>";

        }
        if ($("#password").length > 0) {
            if (Passowrdlogin.length < 4) {
                $("#password").focus();
                $('#password').addClass('err-bor');
                pasword += "Invalid Password" + "\n";
            }

            if (confirmpassword.length < 4) {
                $("#confirmpassword").focus();
                $('#confirmpassword').addClass('err-bor');
                pasword += "Invalid Confirm Password" + "\n";
            }
            if (Passowrdlogin != confirmpassword) {
                $("#confirmpassword").focus();
                $('#confirmpassword').addClass('err-bor');
                msglogin += ajaxsetup('TicketPayment', 'TPayValidatePwdUI') + "</br>";

            }
        }

        if (pasword != "") {
            msglogin += ajaxsetup('TicketPayment', 'TPayValidatePwdUI') + "</br>";

        }
        var resultvar = "";
        if (total > 0) {
            var shippingerr = "";
            if ($("#selectcard").val() != "P") {
                var result = $("#cardno").validateCreditCard({ accept: ['visa', 'mastercard', 'discover', 'amex'] });
                if (result.card_type == null) {
                    resultvar += "Invalid Card Number" + "\n";
                    $("#cardno").focus();
                    $("#cardno").addClass('err-bor');

                }
                if (result.length_valid == false) {
                    resultvar += "Invalid Card Number" + "\n";
                    $("#cardno").focus();
                    $("#cardno").addClass('err-bor');

                }
                if (result.luhn_valid == false) {
                    resultvar += "Invalid Card Number" + "\n";
                    $("#cardno").focus();
                    $("#cardno").addClass('err-bor');

                }
                if (resultvar != "") {
                    msglogin += ajaxsetup('TicketPayment', 'TPayCardValidationUI') + "</br>";
                }

                var billerr = "";
                var billfname = $('#billfname').val();
                var billLname = $('#billLname').val();
                var billingphno = $('#billingphno').val();
                var billaddress1 = $('#billaddress1').val();

                var billcity = $('#billcity').val();
                var billzip = $('#billzip').val();
                var billstate = $('#billstate').val();
                var billcountry = $('#billcountry').val();

                if (billfname == "") {
                    billerr += "Please Enter Billing First name" + "\n";
                    $("#billfname").focus();
                    $("#billfname").addClass('err-bor');

                }
                if (billingphno == "") {
                    billerr += "Please Enter Billing Phone number" + "\n";
                    $("#billingphno").focus();
                    $("#billingphno").addClass('err-bor');

                }
                if (billaddress1 == "") {
                    billerr += "Please Enter Billing Address" + "\n";
                    $("#billaddress1").focus();
                    $("#billaddress1").addClass('err-bor');

                }

                if (billcity == "") {
                    billerr += "Please Enter Billing City" + "\n";
                    $("#billcity").focus();
                    $("#billcity").addClass('err-bor');

                }
                if (billzip == "") {
                    billerr += "Please Enter Billing Zip" + "\n";
                    $("#billzip").focus();
                    $("#billzip").addClass('err-bor');

                }
                if (billstate == "") {
                    billerr += "Please Enter Billing State" + "\n";
                    $("#billstate").focus();
                    $("#billstate").addClass('err-bor');

                }
                if (billcountry == "") {
                    billerr += "Please Enter Billing Country" + "\n";
                    $("#billcountry").focus();
                    $("#billcountry").addClass('err-bor');

                }
                if (billerr != "") {
                    msglogin += ajaxsetup('TicketPayment', 'TPayValidateBillingAddressUI') + "</br>";
                }

                if ($("#shippinginfo").is(":checked")) {
                    if ($('#shipfname').val() == "") {
                        shippingerr += "Please Enter Shipping First name" + "\n";
                        $("#shipfname").focus();
                        $("#shipfname").addClass('err-bor');

                    }
                    if ($('#shippingphnno').val() == "") {
                        shippingerr += "Please Enter Shipping Phone number" + "\n";
                        $("#shippingphnno").focus();
                        $("#shippingphnno").addClass('err-bor');
                    }
                    if ($('#shipaddress1').val() == "") {
                        shippingerr += "Please Enter Shipping Address" + "\n";
                        $("#shipaddress1").focus();
                        $("#shipaddress1").addClass('err-bor');

                    }
                    if ($('#shipcity').val() == "") {
                        shippingerr += "Please Enter Shipping City" + "\n";
                        $("#shipcity").focus();
                        $("#shipcity").addClass('err-bor');

                    }
                    if ($('#shipzip').val() == "") {
                        shippingerr += "Please Enter Shipping Zip" + "\n";
                        $("#shipzip").focus();
                        $("#shipzip").addClass('err-bor');

                    }
                    if ($('#shipstate').val() == "") {
                        shippingerr += "Please Enter Shipping state" + "\n";
                        $("#shipstate").focus();
                        $("#shipstate").addClass('err-bor');

                    }
                    if ($('#shipcountry').val() == "") {
                        shippingerr += "Please Enter Shipping country" + "\n";
                        $("#shipcountry").focus();
                        $("#shipcountry").addClass('err-bor');

                    }
                }
            }
            //alert(shippingerr);
            if (shippingerr != "") {
                msglogin += ajaxsetup('TicketPayment', 'TPayValidateShippingAddressUI') + "</br>";
            }

        }
        return msglogin;
    }



    function ShowMessage(Type, Mess) {
        if (Type == 'S') {
            $('#divaccsuc').css('display', 'block');
            $('#divaccsuc').focus();
            $('#diverroacc').css('display', 'none');
            $('#succaccmsg').html(Mess);
        }
        else {
            $('#divaccsuc').css('display', 'none');
            $('#diverroacc').css('display', 'block');
            $('#diverroacc').focus();
            $('#erraccmsg').html(Mess);

        }
    }
    $(document).ready(function () {
       $("#completeorder").hide();
        $("#btPaypal").hide();

        $("#btAddList").click(function () {

            if ($("#nameofticket").val().trim() == '') {
                ShowMessage('E', ajaxsetup('TicketPayment', 'TPayValidatebearernameUI'));
                $("#nameofticket").addClass('err-bor');

                return false;
            }

            if ($('.Notifybox').css('display') == 'block') {
                var email = $('#emailbearer').val();
                if (!validateEmail(email)) {
                    $('#emailbearer').addClass('err-bor');
                    ShowMessage('E', ajaxsetup('TicketPayment', 'TPayValidatebeareremailUI'));
                    //alert("Please enter valid Email.");
                    if ($('#ddlListitem option').length < 0) {
                        $('#blocklist').css('display', 'none');
                    }
                    return false;


                } else {

                    $('#blocklist').css('display', 'block');
                }

            }
            else {

                $('#blocklist').css('display', 'block');
            }




            var qty = $('#hidQty').val();




            if ($("#hidTicketbearer").val() == '') {
                var qty = parseInt($('#hidQty').val());
                var ddlength = parseInt($("#ddlListitem option").length);
                if (ddlength > (qty-1))
                {
                    var msg = ajaxsetup('TicketPayment', 'TpayMaxTicketReciepts') + qty;
                    $('#divaccsuc').css('display', 'none');
                    $('#diverroacc').css('display', 'block');

                    $('#diverroacc').focus();
                    $('#erraccmsg').html(msg);
                    $('html,body').animate({ scrollTop: 0 });
                    return false;
                }
                AddTicket();
            }
            else
                UpdateTicket($("#hidTicketbearer").val());


            $("#hidTicketbearer").val('');
            $("#nameofticket").val('');
            $("#emailbearer").val('');
            if ($('.Notifybox').css('display') == 'block') {
                $('.Notifybox').css('display', 'none');
            }

        });



        $("#selectcard").change(function () {
            if ($("#selectcard").val() == "P")
            {
                $('#completeorder').click();
                $("#dvBillingAddress").hide();
                $("#completeorder").hide();
                $("#btPaypal").show();
            }
            else
            {
                $("#dvBillingAddress").show();
                $("#completeorder").show();
                $("#btPaypal").hide();

            }
        });


        $(window).unload(function () {
            if ($("#hdIsPostBack").val() != "Y") {
                $("#hdIsPostBack").val("N");
                $.ajax({
                    url: '@Url.Action("ReleaseTickets", "TicketPayment")',
                    type: "Post",
                    success: function (response) {
                    }
                });
            }
        });
        $("#login").click(function () {
            $("#hdIsPostBack").val("Y");
        });

        history.pushState(null, null, 'TicketPayment');
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, 'TicketPayment');
        });

        $('#btBack').click(function () {
            //alert(url);
            $.ajax({
                url: '@Url.Action("ReleaseTickets", "CreateEvent")',
                type: "Post",
                success: function (response) {
                    window.location.href = '@Url.Action("ViewEvent", "ViewEvent", new { strEventDs = Model.URLTitle.Replace(" ","-") , strEventId = Model.EventId.ToString()})';
                }
            });
        });
        $('#sameshipping').click(function () {
            $(".billingaddress").attr('checked', false);
            //$(".billingaddress").is(":checked") = false;
            $(".shippingaddress").css('display', 'none');


        });

        $(document).click(function () {
            $('#diverroacc').css('display', 'none');
            $('#divaccsuc').css('display', 'none');
            $("input").removeClass('err-bor');
        });
        //$("#PaypalCart").dialog({
        //    autoOpen: false,
        //    title: 'Title',
        //    width: 500,
        //    height: 'auto',
        //    modal: true
        //});
        //function openPopup() {
        //    alert("CHal Pya");
        //    //$("#result").dialog("open");
        //}

       

        $('#completeorder').click(function () {
            // $("#dvAjxSave").show();
            debugger;
            var flag = true;
            var Emaillogin = $("#Email").val();
            var msg = validationpage();

            var NameList = [];
            if (msg != "") {
                ShowMessage('E', msg)
                //$('#diverroacc').css('display', 'block');
                //$('#erraccmsg').html(msg);
                return false;
            }
            else {
                if ($("#confirmEmail").length > 0) {
                    $.ajax({
                        url: "/Home/IsValid",
                        async: true,
                        data: 'Email=' + Emaillogin,
                        dataType: "text",
                        success: function (data, textStatus, xhr) {
                            if (data != '') {
                                if (data == "NotFound") {
                                    flag = true;

                                    $('#hdemailexist').val(true);

                                } else if (data == "Found") {

                                    $('#Email').focus();
                                    $("#Email").addClass('err-bor');


                                    ShowMessage('E', ajaxsetup('TicketPayment', 'TPayValidateEmailSy'))

                                    $('#hdemailexist').val(false);

                                }
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("Req " + xhr + " status " + textStatus + "  Error " + errorThrown);
                        }
                    });
                }


            }


            var confirmemail = "", cardno = "", expirydate = "", cvv = "",cardtype="";
            var type = '';


            $("#tblListitem tr").each(function () {
                var Sno = $(this).find("td:first").html();

                // Multiple Address
                if (Sno != '') {
                    NameList.push({
                        Name: $("#TicketName_" + Sno).text(),
                        Email: $("#TicketEmail_" + Sno).text(),


                    });
                }
            });

            if ($('#chkcarddetails').is(":checked") == true) {
                cardno = $('#cardno').val();

                expirydate = $('#expirationdate').val();
                cvv = $('#cvvcode').val();
                var result = $("#cardno").validateCreditCard({ accept: ['visa', 'mastercard', 'discover', 'amex'] });
                cardtype = result.card_type.name;
            }
            if ($('#shippinginfo').is(":checked") == true) {



            }
            var totalorder = $('#hdOrderTotal').val();
            var type = '';
            if (totalorder > 0) {

                type = 'Paid';
            } else {

                type = 'Free';

            }

            //-------------------------------------Saving Payment Detail---------------------------------------

            //var TPurchaseList = [];
            //var IdAry = $("#hdIds").val().split(',');
            //var vId = 0;
            //var vLockQty = 0;
            //var vDonate = 0;
            //for (i = 0; i < IdAry.length; i++) {
            //    vId = parseInt(IdAry[i].toString());
            //    vLockQty = parseInt($("#d_" + IdAry[i].toString()).val());
            //    vDonate = parseFloat($("#txtd_" + IdAry[i].toString()).val());
            //    if (isNaN(vDonate) == true) vDonate = 0;
            //    if (vLockQty > 0) {
            //        TPurchaseList.push({
            //            'TPD_TQD_Id': vId,
            //            'TPD_Purchased_Qty': vLockQty,
            //            'TPD_Event_Id': vEntid,
            //            'TPD_Donate': vDonate
            //        });
            //    }
            //}
            var vOrderTotal = $("#hdOrderTotal").val();
            var vGrandTotal = $("#hdGrandTotal").val();
            var vPromoId = $("#hdPromoId").val();
            var vVarChanges = $("#hdVarChanges").val();
            var vVarId = $("#hdVarId").val();
            debugger;
            var model = {

                'AccFname': $('#accfname').val(),
                'AccLname': $('#accLname').val(),
                'AccEmail': $('#Email').val(),
                'AccconfirmEmail': $('#confirmEmail').val(),
                'Accpassword': $('#password').val(),
                'Accconfirmpassword': $('#confirmpassword').val(),
                'Accountphnno': $('#accountphnno').val(),
                'AccCity': $('#accCity').val(),
                'AccState': $('#accState').val(),
                'Acczip': $('#accZip').val(),
                'Acccountry': $('#accCountry').val(),
                'cardno': $('#cardno').val(),
                'card_type':cardtype,
                'expirydate': $('#expirationdate').val(),
                'cvv': $('#cvvcode').val(),
                'billfname': $('#billfname').val(),
                'billLname': $('#billLname').val(),
                'billingphno': $('#billingphno').val(),
                'billaddress1': $('#billaddress1').val(),
                'billaddress2': $('#billaddress2').val(),
                'billcity': $('#billcity').val(),
                'billzip': $('#billzip').val(),
                'billstate': $('#billstate').val(),
                'billcountry': $('#billcountry').val(),
                'shipfname': $('#shipfname').val(),
                'shipLname': $('#shipLname').val(),
                'shipphno': $('#shippingphnno').val(),
                'shipaddress1': $('#shipaddress1').val(),
                'shipaddress2': $('#shipaddress2').val(),
                'shipcity': $('#shipcity').val(),
                'shipzip': $('#shipzip').val(),
                'shipstate': $('#shipstate').val(),
                'shipcountry': $('#shipcountry').val(),
                'NameList': NameList,
                'Savecarddetail': ($("#chkcarddetails").is(":checked") == true ? "Y" : "N"),
                'Saveshipdetail': ($("#shippinginfo").is(":checked") == true ? "Y" : "N"),
                'sameshipbilldetail': ($("#sameshipping").is(":checked") == true ? "Y" : "N"),
                'Ticketname': type,
                'strOrderTotal': vOrderTotal,
                'strGrandTotal': vGrandTotal,
                'strPromId': vPromoId,
                'strVarChanges': vVarChanges,
                'strVarId': vVarId,
                'strPaymentType': PaymentType
            }

            var Eventid = $('#hdEventid').val();
            var PaymentType = $("#selectcard").val();

            if (PaymentType == "P") {
                $.ajax({
                    url: '@Url.Action("SendPaypaldetail", "TicketPayment")',
                    data: { model: model},
                    type: "Post",
                    success: function (response) {
                        if (response == "Y")
                        {
                            ////$('#dialog').dialog('open');
                            //$("#btOkMesPaypal").click();
                            //window.open('@Url.Action("Pay", "Cart")', "Paypal", "location=no,toolbar=no,height=600,width=800,modal=yes,alwaysRaised=yes,resizable=no,position=center");

                        }
                    }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("SaveDetails", "TicketPayment")',
                    beforeSend: function () { $("#btOk").click(); },
                    data: { model: model, strOrderTotal: vOrderTotal, strGrandTotal: vGrandTotal, strPromId: vPromoId, strVarChanges: vVarChanges, strVarId: vVarId, strPaymentType: PaymentType },
                    type: "Post",
                    success: function (response) {
                        var Eventid = $('#hdEventid').val();
                        window.location.href = '@Url.Action("PaymentConfirmation", "TicketPayment")';
                    }
                });
            }
        });
        var Eventid = $('#hdEventid').val();
        $('#login').click(function () {
            $("#hdIsPostBack").val("Y");
            $.ajax({
                url: '@Url.Action("setsession", "TicketPayment")',
                data: { id: 'TicketPayment', Eventid: Eventid },
                type: "Post",
                success: function (data) {

                },
                error: function (data) {
                    alert("Sorry there is some problem.");
                    return false
                }
            });
            $("#loginPopup").click();

        });

        $(".Notifybox").css("display", "none");
        $(".Notify").click(function () {
            $('.Notifybox').slideToggle("fast");
        });
        //--------------Fire when User Click on Continue in Previous Page ------------------------------------
        $("#btMessOk").click(function () {
            window.location.href = '@Url.Action("ViewEvent", "ViewEvent", new { strEventDs = Model.URLTitle.Replace(" ","-") , strEventId = Model.EventId.ToString()})';
        });

        //

        @*var TList = [];

        TList.push({
            'TLD_Ticket_Id': 1,
            'TLD_Locked_Qty':10
        });
        var model = {
            'TLD_Ticket_Id': '0',
            'TLD_Locked_Qty': '0',
            'TLD_List': TList
        }


        $.ajax({
            url: '@Url.Action("LockTickets", "TicketPayment")',
            data: model,
            type: "Post",
            success: function (response) {
                alert("chal pya");
            }
        });*@

        //*************************Fire when User Click on Continue in Previous Page *****************************************

        // var vTicketid = '19,20';
        // var Eid = $('#hdEventid').val();

        clock = $('#divTime').FlipClock(600, {
            clockFace: 'MinuteCounter',
            countdown: true,
            callbacks: {
                stop: function () {

                    $.ajax({
                        url: '@Url.Action("ReleaseTickets", "TicketPayment")',
                        type: "Get",
                        success: function (response) {
                            $("#btOkMes").click();
                        },
                        error: function () {
                            window.location.href = '@Url.Action("ViewEvent", "ViewEvent", new { strEventDs =  Model.Title.Replace(" ","") , strEventId = Model.EventId.ToString()})';
                        }
                    });
                }
            }
        });



        $(".Timezone").click(function () {

            $(".TmezoneSet").slideToggle("fast");

            //

        });
        $(".closetimemodal").click(function () {
            $(".TmezoneSet").hide();

        });

        $(".billingaddress").change(function () {
            $("#sameshipping").attr('checked', false);
            if ($(this).is(":checked") == true) {

                $(".shippingaddress").css('display', 'block');
            } else {

                $(".shippingaddress").css('display', 'none');

            }

        });
        //------------------------------------------------LoadSelectedTickets--------------------------------------------------

        $.ajax({
            url: '@Url.Action("LoadTickets", "TicketPayment")',
            beforeSend: function () { $('#dvAjxLoader').show(); },
            complete: function () { $('#dvAjxLoader').hide(); },
            data: { 'strEvent': $('#hdEventid').val() },
            type: "Get",
            success: function (response) {
                debugger;
                $("#dvTicketInfo").append(response);
                var vGrdTotal = parseFloat($("#spGrdTotal").text());
                if (isNaN(vGrdTotal) == true) vGrdTotal = 0;
                if (vGrdTotal > 0)
                    $('.divvisible').show();
                else
                    $('.divvisible').hide();

                var totqty = $('#hidQty').val();

                if(totqty<=0)
                {
                    $('.divqtyvisible').hide();
                }
            },
        });






    });
    function checkMore(QtyId) {
        $("#Sp_" + QtyId.toString()).slideToggle("fast");
        //$(".TktdescDetl").slideToggle("fast");
    }
    function checknumber(event) {

        var code = event.charCode ? event.charCode : event.keyCode;

        if ((!event.shiftKey && !event.ctrlKey && !event.altKey) && ((code >= 48 && code <= 57) || (code >= 96 && code <= 105))) // 0-9 or numpad 0-9, disallow shift, ctrl, and alt
        {
            return true;
        }
        else if (code != 8 && code != 46 && code != 37 && code != 39 && code != 9 && code != 190) // not esc, del, left or right
        {

            event.preventDefault();
            return false;
        }

    }






    function AddTicket() {


        $("#hidTicketbearer").val('');
        var qty = parseInt($('#hidQty').val());
        var ddlength = parseInt($("#ddlListitem option").length);
        if (ddlength < qty) {
            var Sno = $("#tblListitem tr").length;
            var vTicketName = $("#nameofticket").val();
            var vTicketEmailDes = $("#emailbearer").val();
            if ($('.Notifybox').css('display') == 'block') {
                vTicketEmailDes = $("#emailbearer").val();
            } else {

                vTicketEmailDes = "";
            }
            //strHTML = strHTML + '<td align="right"><i onclick="editOrgnizer(' + Sno + ')"; class="fa fa-pencil"></i> | <i onclick="DeleteOrgnizer(' + Sno + ');" class="fa fa-trash"></i></td>';

            var strHTML = '<tr>';
            strHTML = strHTML + '<td style="display:none" width="92%">' + Sno + '</td>';
            strHTML = strHTML + '<td width="92%"><label id=TicketName_' + Sno + '>' + vTicketName + '</label></td>';
            strHTML = strHTML + '<td style="display:none"><label id=TicketEmail_' + Sno + '>' + vTicketEmailDes + '</label></td>';
            strHTML = strHTML + '</tr>';
            //                strHTML = strHTML + '<td><div class="trigger mt5 ent_add"><a href="#" onclick="editRow(' + Sno + ');"><i class="fa fa-map-marker"></i> Edit</a>  <a href="#" id="btAddDelete" onclick="DeleteTableRow(' + Sno + ')">Delete</a> </div> </td>';


            $("#tblListitem").append(strHTML);
            strHTML = '<option value="' + Sno + '" id="' + Sno + '">' + vTicketName + '</option>';

            $("#ddlListitem").append(strHTML);
        }

    }
    $("#editlist").click(function () {
        var Sno = $("#ddlListitem").val();

        $("#hidTicketbearer").val(Sno);
        var vOrgName = $("#TicketName_" + Sno).text();
        var vOrgDes = $("#TicketEmail_" + Sno).text();
        if (vOrgDes != "") {
            if ($('.Notifybox').css('display') == 'none') {
                $('.Notifybox').css('display', 'block');
            }
        }

        $("#nameofticket").val(vOrgName);
        $("#emailbearer").val(vOrgDes);
    });
    var cardlength = $("#cardno").val();
    if (cardlength == "") {
        $('#imgcard').css('display', 'none');

    }
    $("#deletelist").click(function () {
        var Sno = $("#ddlListitem").val();
        $('#tblListitem tr').each(function () {
            if (Sno == $(this).find("td:first").html()) {
                $(this).remove();
            }
        });

        //$("#dllOrganizer")
        $("#ddlListitem option").each(function (i) {
            if (Sno == $(this).val()) {
                $(this).remove();
            }
        });



        $("#hidTicketbearer").val('');
        $("#nameofticket").val('');
        $("#emailbearer").val('');
        if ($('#ddlListitem option').length <= 0) {
            $('#blocklist').css('display', 'none');

        } else {
            $('#blocklist').css('display', 'block');
        }


    });
    function UpdateTicket() {
        var Sno = $("#ddlListitem").val();
        //    alert(Sno);
        vOrgName = $("#nameofticket").val();
        vOrgDes = $("#emailbearer").val();
        //vOrgFB = $("#txtOrgFBlink").val();
        //vOrgTw = $("#txtOrgTWlink").val();

        $("#TicketName_" + Sno).text(vOrgName);
        $("#TicketEmail_" + Sno).text(vOrgDes);



        $("#ddlListitem option").each(function (i) {
            if (Sno == $(this).val()) {
                $(this).remove();
            }
        });
        var addOption = '<option value="' + Sno + '" id="' + Sno + '" >' + vOrgName + '</option>';
        $("#ddlListitem").append(addOption);




    }
    jQuery(function ($) {
        if ($('#ddlListitem option').length <= 0) {
            $('#blocklist').css('display', 'none');

        } else {
            $('#blocklist').css('display', 'block');
        }

        $("#expirationdate").mask("99/99");
        $("#shippingphnno").mask("999-999-9999");
        $("#billingphno").mask("999-999-9999");
        $("#accountphnno").mask("999-999-9999");

        //$("#cardno").validateCreditCard(function (result) {

        //    //if (result.card_type.name == 'visa' || result.card_type.name == 'mastercard' || result.card_type.name == 'discover' || result.card_type.name == 'amex') {
        //    //    $('#imgcard').css('display', 'block');
        //    //    $('#imgcard').attr('src', '/Images/' + result.card_type.name + '.png');

        //    //} else {

        //    //    $('#imgcard').css('display', 'none');
        //    //}




        //});


    });
    function NullSession(e) {
        $("#hdIsPostBack").val("Y");
        $.ajax({
            url: '@Url.Action("Nullsession", "TicketPayment")',
            type: "Get",
            success: function (response) {

            }
        });
        var eventid = $('#hdEventid').val();
        window.location.href = '@Url.Action("TicketPayment", "TicketPayment", new { })' + '?Eventid=' + eventid;

    }
    function getcardvisa(e) {
        if ($("#" + e).val() != '') {
            var result = $("#" + e).validateCreditCard();

            if (result.card_type.name == 'visa' || result.card_type.name == 'mastercard' || result.card_type.name == 'discover' || result.card_type.name == 'amex') {
                $('#imgcard').css('display', 'block');
                $('#imgcard').attr('src', '/Images/' + result.card_type.name + '.png');

            } else {

                $('#imgcard').css('display', 'none');
            }
        } else {
            $('#imgcard').css('display', 'none');

        }

    }
    function showcardetails(e) {
        debugger;
        var selectvalue = $('#' + e).val();

        if (selectvalue == "A") {
            $('#cardshow').css('display', 'block');
            $('#cardno').val(" ");
            $('#expirationdate').val(" ");
            $('#cvvcode').val(" ");
        }
        else if (selectvalue == "-1") {
            $('#cardshow').css('display', 'none');

        }
        else if (selectvalue == "P") {
            $('#cardshow').css('display', 'none');

        }
        else {

            $('#cardshow').css('display', 'block');
            $.ajax({
                url: '@Url.Action("returncardetail", "TicketPayment")',
                data: { 'cardid': selectvalue },
                type: "Get",
                success: function (response) {
                    var value = response;

                    var res = value.split('*');

                    $('#cardno').val(res[0]);
                    $('#expirationdate').val(res[1]);
                    $('#cvvcode').val(res[2]);
                },
            });

        }

    }


    $("#accCountry").change(function () {
        $("#accZip").val("");
        $("#accState").val("");
        $("#accCity").val("");


    });
    //$('#accZip').change(function () {
    //    var country = $("#accCountry option:selected").text().trim();

    //    var city = "";
    //    var state = "";

    //    var pincode = $(this).val();


    //    $.ajax({
    //        url: 'http://maps.googleapis.com/maps/api/geocode/json',
    //        data: '&address=' + pincode + '&sensor=true',
    //        dataType: 'json',
    //        cache: false,
    //        success: function (data) {


    //            if (data.status == 'OK') {

    //                for (var i = 0; i < data.results[0].address_components.length; i++) {
    //                    var obj = data.results[0].address_components[i];

    //                    var obj2 = obj['types'];

    //                    for (var j = 0; j < obj2.length; j++) {
    //                        if (obj2[j] == 'locality') {
    //                            city = obj['long_name'];


    //                        }
    //                        if (obj2[j] == 'sublocality_level_1') {
    //                            city = obj['long_name'];


    //                        }
    //                        if (obj2[j] == 'postal_town') {
    //                            city = obj['long_name'];


    //                        }
    //                        if (obj2[j] == 'administrative_area_level_1') {
    //                            state = obj['long_name'];

    //                        }
    //                        if (obj2[j] == 'administrative_area_level_2') {
    //                            state = obj['long_name'];

    //                        }


    //                        if (obj2[j] == 'country') {
    //                            if (obj['long_name'] == country) {


    //                                $('#accCity').val(city);
    //                                $('#accState').val(state);
    //                            } else {
    //                                $('#accCity').val('');
    //                                $('#accState').val('');
    //                            }

    //                        }

    //                    }



    //                }

    //            }



    //            else {
    //                var msg = ajaxsetup('MyAccount', 'MyAccountZipValidationUI');
    //                $("#accState").val("");
    //                $("#accCity").val("");
    //                $('#accZip').addClass('err-bor');
    //                ShowMessage('E', msg)

    //                return false;
    //            }
    //        },
    //        error: function (data) { alert(data) }
    //    });


    //});

    $("#accCountry").change(function () {
        $("#accZip").val("");
        $("#accState").val("");
        $("#accCity").val("");


    });
    $('#accZip').change(function () {
        var country = $("#accCountry option:selected").text().trim();

        var city = "";
        var state = "";

        var pincode = $(this).val();


        $.ajax({
            url: 'http://maps.googleapis.com/maps/api/geocode/json',
            data: '&address=' + pincode + '&sensor=true',
            dataType: 'json',
            cache: false,
            success: function (data) {


                if (data.status == 'OK') {

                    for (var i = 0; i < data.results[0].address_components.length; i++) {
                        var obj = data.results[0].address_components[i];

                        var obj2 = obj['types'];

                        for (var j = 0; j < obj2.length; j++) {
                            if (obj2[j] == 'locality') {
                                city = obj['long_name'];


                            }

                            if (obj2[j] == 'sublocality_level_1') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_2') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_3') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_4') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'ward') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'postal_town') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'administrative_area_level_1') {
                                state = obj['long_name'];

                            }
                            //if (obj2[j] == 'administrative_area_level_2') {
                            //    state = obj['long_name'];

                            //}


                            if (obj2[j] == 'country') {
                                if (obj['long_name'] == country) {


                                    $('#accCity').val(city);
                                    $('#accState').val(state);
                                } else {
                                    $('#accCity').val('');
                                    $('#accState').val('');
                                }

                            }

                        }



                    }

                }



                else {
                    var msg = ajaxsetup('MyAccount', 'MyAccountZipValidationUI');
                    $("#accState").val("");
                    $("#accCity").val("");
                    $('#accZip').val("");
                    $('#accZip').addClass('err-bor');
                    ShowMessage('E', msg)

                    return false;
                }
            },
            error: function (data) { alert(data) }
        });


    });
    $("#billcountry").change(function () {
        $("#billzip").val("");
        $("#billstate").val("");
        $("#billcity").val("");


    });
    $('#billzip').change(function () {
        debugger;
        var country = $("#billcountry option:selected").text().trim();

        var city = "";
        var state = "";

        var pincode = $(this).val();


        $.ajax({
            url: 'http://maps.googleapis.com/maps/api/geocode/json?address=' + pincode + '',
            dataType: 'json',
            cache: false,
            success: function (data) {


                if (data.status == 'OK') {

                    for (var i = 0; i < data.results[0].address_components.length; i++) {
                        var obj = data.results[0].address_components[i];

                        var obj2 = obj['types'];

                        for (var j = 0; j < obj2.length; j++) {
                            if (obj2[j] == 'locality') {
                                city = obj['long_name'];


                            }

                            if (obj2[j] == 'sublocality_level_1') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_2') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_3') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_4') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'ward') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'postal_town') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'administrative_area_level_1') {
                                state = obj['long_name'];

                            }


                            if (obj2[j] == 'country') {
                                if (obj['long_name'] == country) {


                                    $('#billcity').val(city);
                                    $('#billstate').val(state);
                                } else {
                                    $('#billcity').val('');
                                    $('#billstate').val('');
                                }

                            }

                        }



                    }

                }



                else {
                    var msg = ajaxsetup('MyAccount', 'MyAccountZipValidationUI');
                    $("#billstate").val("");
                    $("#billcity").val("");
                    $('#billzip').val("");
                    $('#billzip').addClass('err-bor');
                    ShowMessage('E', msg)

                    return false;
                }
            },
            error: function (data) { alert(data) }
        });


    });
    $("#shipcountry").change(function () {
        $("#shipzip").val("");
        $("#shipstate").val("");
        $("#shipcity").val("");


    });
    $('#shipzip').change(function () {
        var country = $("#shipcountry option:selected").text().trim();

        var city = "";
        var state = "";

        var pincode = $(this).val();


        $.ajax({
            url: 'http://maps.googleapis.com/maps/api/geocode/json',
            data: '&address=' + pincode + '&sensor=true',
            dataType: 'json',
            cache: false,
            success: function (data) {


                if (data.status == 'OK') {

                    for (var i = 0; i < data.results[0].address_components.length; i++) {
                        var obj = data.results[0].address_components[i];

                        var obj2 = obj['types'];

                        for (var j = 0; j < obj2.length; j++) {
                            if (obj2[j] == 'locality') {
                                city = obj['long_name'];


                            }

                            if (obj2[j] == 'sublocality_level_1') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_2') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_3') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_4') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'ward') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'sublocality_level_5') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'postal_town') {
                                city = obj['long_name'];


                            }
                            if (obj2[j] == 'administrative_area_level_1') {
                                state = obj['long_name'];

                            }


                            if (obj2[j] == 'country') {
                                if (obj['long_name'] == country) {


                                    $('#shipcity').val(city);
                                    $('#shipstate').val(state);
                                } else {
                                    $('#shipcity').val('');
                                    $('#shipstate').val('');
                                }

                            }

                        }



                    }

                }



                else {
                    var msg = ajaxsetup('MyAccount', 'MyAccountZipValidationUI');
                    $("#shipstate").val("");
                    $("#shipcity").val("");
                    $('#shipzip').val("");
                    $('#shipzip').addClass('err-bor');
                    ShowMessage('E', msg)

                    return false;
                }
            },
            error: function (data) { alert(data) }
        });


    });
</script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>