@using EventCombo.Models
@model TicketPayment
@{
    ViewBag.Title = "TicketPayment";
    //Layout = "~/Views/Shared/_AccountLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/flipclock.css" rel="stylesheet" />
<link href="~/Content/eventcombo-new.css" rel="stylesheet" />
@using (Html.BeginForm())
{

    

    @Html.HiddenFor(m=>m.EventId,new {id="hdEventid" })
    <div class="event_container ">
        <div class="event_inner_container event_top">
            <div class="col-sm-12 pt10 bggrey">
                <div class="Moderor" style="display: none;" id="diverroacc">
                    <div class="er_UI_main">
                        <div class="er_UI_img"></div>
                        <div class="er_suc" id="erraccmsg">

                        </div>
                    </div>
                </div>
                <div class="Moderor" id="divaccsuc" style="display: none;">
                    <div class="er_suc_main alert-success">

                        <div class="er_suc_img"></div>
                        <div class="er_suc" id="succaccmsg"> </div>
                        <button class="close closebtn" aria-hidden="true" data-dismiss="alert" type="button" id="btndivaccsuc">&#215;</button>
                    </div>
                </div>
            </div>
            <div class="event_detail_container">
                <div class="evnt_details_body2">
                    <div class="col-sm-12 no_pad mt10 pt10">
                        <div class="col-sm-3 pl0">
                            <img class="ev1" src="@Html.DisplayFor(m=>m.Imageurl)">
                        </div>
                        <div class="col-sm-9 pl0">
                            <h2 class="th_tilte">@Html.DisplayFor(m=>m.Title )</h2>

                            <div class="col-sm-12 col-xs-12 text-left">
                                <div class="form-group mb0">
                                    <div class="Timezone ev_date_icn ev_date_icn2 evnt_icn_xs"></div>
                                    <label class="label-control evnt_title_date2 evnt_title_xs" title="see what happening on this date">

                                       Add Schedule to calendar
                                    </label>
                                </div>
                                <div class="TmezoneSet col-sm-12 no_pad ev_time_zone_model_main date_time_set_modal">
                                    <div class="ev_time_zone_model date_time_modal">
                                        <div class="modal-content ev_tm_zon_cont">
                                            <div class="modal-header">
                                                <button class="close closetimemodal" type="button">
                                                    <span>&#215;</span>
                                                </button>
                                                <h4 class="modal-title date_time_list">Schedule Date List</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-sm-12 no_pad">
                                                    <div class="form-group mb5 ">
                                                       

                                                            <label class="col-sm-12 no_pad label-control date_time_list">
                                                                <a href="#" onclick="showevent(this.id)" data-target="#schcalender" id="Text" data-toggle="modal">Text</a>
                                                            </label>


                                                       



                                                    </div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        
                         
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="event_detail_container">
            <div class="evnt_tile_head">
                <div class="evnt_tile_bg_l"></div>
                <div class="col-sm-12 col-xs-12 text-left no_pad">
                    <h2 class="fb_dis_head pt5">ORDER INFORMATION</h2>
                </div>

                <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
            </div>
            <div class="evnt_details_body2">
                <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">
                    <div id="dvTicketInfo" class="table-responsive">
                        
                        
                    </div>
                    @*<table class="table evnt_tkt_list_tbl">
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="col-sm-12 text-right mt10">Subtotal : $0.3333 </div>
                                    <div class="col-sm-12 text-right mt10">Variable Charge : $5.00</div>
                                    <div class="col-sm-12 text-right mt10"><strong>Order total : $0.3333 </strong></div>
                                    <div class="col-sm-12 text-right mt10">
                                        <div class="form-group">
                                            <label class="col-md-10 pt5 ">Promo code</label>
                                            <div class="col-md-2 no_pad">
                                                <input class="form-control evnt_inp_cont" placeholder="Promocode" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-right mt10"><strong>Grand total : $0.3333 </strong></div>
                                </td>

                            </tr>
                        </tfoot>
                    </table>*@
                </div>
            </div>
        </div>
        <div class="event_detail_container">
            <div class="evnt_tile_head">
                <div class="evnt_tile_bg_l"></div>
                <div class="col-sm-12 col-xs-12 text-left no_pad">
                    <h2 class="fb_dis_head pt5">PAYMENT INFORMATION</h2>
                </div>

                <div class="evnt_tile_bg_r evnt_tile_bg_r_call"></div>
            </div>
            <div class="evnt_details_body2 evnt_timer_margin">
                <div class="col-sm-12 ev_white_bg pb10 pt10 mt20">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    PLEASE ENTER YOUR ACCOUNT INFORMATION<br>
                                   @if (HttpContext.Current.Session["AppId"] != null)
                                   {
                                    <span class="ev_pay_span">Hi, user@email.com. Not you? <a href="">Sign Out</a></span>
                                   }
                                   else
                                   {
                                    <span class="ev_pay_span">Have you used Eventcombo before?<a href="#" id="login">Sign In To Your Account    </a></span>

                                   }
</label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="FIRST NAME" value="@Html.DisplayFor(m=>m.FName)"  maxlength = 35 id="accfname"/>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="LAST NAME" value="@Html.DisplayFor(m=>m.LName)" id="accLname" maxlength = 35/>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="EMAIL"  value="@Html.DisplayFor(m=>m.Email)" id="Email" maxlength = 256 />
                            </div>
@if (HttpContext.Current.Session["AppId"] == null)
{
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="CONFIRM EMAIL" id="confirmEmail" maxlength = 256>
                            </div>
}
                        </div>
                        <div class="clearfix"></div>
@if (HttpContext.Current.Session["AppId"] == null)
{
                        <div class="form-group ">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    <span class="ev_pay_span">Password</span>
                                </label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="password" id="password" placeholder="PASSWORD"  maxlength = 15>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group ">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    <span class="ev_pay_span">Confirm Password</span>
                                </label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="password" placeholder="CONFIRM PASSWORD" id="confirmpassword" maxlength = 15>
                            </div>
                        </div>
                        <div class="clearfix"></div>
}
                        <div class="form-group ">
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="PHONE NUMBER" value="@Html.DisplayFor(m=>m.PhnNo)" id="accountphnno">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="City" maxlength = 256 id="accCity">
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="State" maxlength = 256 id="accState">
                                </div>


                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="Zip" maxlength = 5 id="accZip">
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    @Html.DropDownList("CountryID", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control ev_drop_label",@id="accCountry" })
                                   
                                </div>


                            </div>
                           
                        </div>
                      
                        @if (ViewData["Type"].ToString() == "Paid")
                        {
                            <div class="form-group mt10">
                                <div class="col-sm-12 col-xs-12 no_pad">
                                    <label class="control-label ev_payment_lebel pl0">
                                        PLEASE ENTER YOUR CREDIT CARD INFORMATION
                                    </label>
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <select class="form-control ev_drop_label">
                                        <option>XXXX-XXXX-XXXX-1234 Visa </option>
                                        <option>XXXX-XXXX-XXXX-1234 Visa</option>
                                        <option>XXXX-XXXX-XXXX-1234 Visa</option>
                                        <option>XXXX-XXXX-XXXX-1234 Visa</option>
                                    </select>
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="CREDIT CARD NUMBER" id="cardno">
                                </div>
                               
                                <div class="col-sm-10 col-xs-12 mb10 no_pad card_list">
                                    <img src="~/Images/visa.png">
                                    <img src="~/Images/mastercard.png">
                                    <img src="~/Images/discover.png">
                                    <img src="~/Images/amr-exp.png">
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="EXPIRATION DATE" id="expirationdate">
                                </div>
                                <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="CVV CODE" >
                                </div>
                            </div>
                        
                                 <div class="clearfix"></div>
                        <div class="form-group mt10 ">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                    PLEASE ENTER YOUR BILLING ADDRESS<br>
                                    <input type="checkbox" class="billingaddress" /> <span class="ev_pay_span">Shipping address is different from billing </span>
                                    <div class="clearfix"></div>

                                </label>
                                

                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="FIRST NAME" maxlength = 35>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="LAST NAME" maxlength = 35>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="PHONE NUMBER" id="billingphno">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 1" maxlength = 256>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 2" maxlength = 256>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="City" maxlength = 256>
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="State" maxlength = 256>
                                </div>


                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="Zip" maxlength = 5>
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    @Html.DropDownList("CountryID", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control ev_drop_label" })


                                </div>


                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group mt10 shippingaddress" style="display:none;">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel pl0">
                                   PLEASE ENTER SHIPPING ADDRESS<br>
                                   <div class="clearfix"></div>
                                </label>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="FIRST NAME" maxlength = 35>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="LAST NAME" maxlength = 35>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="PHONE NUMBER" id="shippingphnno">
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 1" maxlength = 256>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <input class="form-control evnt_inp_cont" type="text" placeholder="ADDRESS 2" maxlength = 256>
                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="City" maxlength = 256>
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="State" maxlength = 256>
                                </div>


                            </div>
                            <div class="col-sm-10 col-xs-12 mb10 no_pad">
                                <div class="col-sm-6 col-xs-12 pl0">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="Zip" maxlength = 5>
                                </div>
                                <div class="col-sm-6 col-xs-12 no_pad ">
                                    @Html.DropDownList("CountryID", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control ev_drop_label" })


                                </div>


                            </div>
                        </div>
                        }

                    </div>
@if (ViewData["Type"].ToString() == "Paid")
{
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_payment_lebel">
                                    PLEASE ENTER INTENDED TICKET RECEPIENTS<br>(OPTIONAL)
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <label class="control-label ev_tickt_recp_lebel cap_l">
                                    Ticket Type Name
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12 no_pad">
                                <div class="col-sm-8 col-xs-8 no_pad">
                                    <input class="form-control evnt_inp_cont" type="text" placeholder="NAME OF THE TICKET BEARER">

                                </div>
                                <label class="control-label ev_tickt_recp_lebel ev_not_me">
                                    <span class="Notify"> Notify by email</span>
                                </label>
                                <div class="Notifybox col-sm-12 col-xs-12 no_pad mt10">
                                    <div class="col-sm-8 col-xs-8 no_pad mt10">
                                        <input class="form-control evnt_inp_cont" type="text" placeholder="EMAIL OF TICKET BEARER">
                                    </div>
                                    <div class="col-sm-12 col-xs-12 no_pad mt10">
                                        <button class="btn ev_live_btn" type="button">
                                            ADD TO LIST
                                        </button>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 no_pad mt10">
                                        <div class="col-sm-8 col-xs-8 no_pad ">
                                            <select class="form-control evnt_inp_cont ">
                                                <option>List 1</option>
                                                <option>List 2</option>
                                                <option>List 3</option>
                                                <option>List 4</option>

                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-xs-2">
                                            <button class="btn ev_live_btn" type="button">
                                                Edit
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-xs-2">
                                            <button class="btn ev_live_btn" type="button">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
}
                    <div class="col-sm-12 text-right mt10">
                        <button type="button" class="btn btn-lg ev_live_btn ev_live_sub_btn" id="completeorder" >
                            COMPLTE ORDER >
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="strat_timer_cont">
        <div>
            <div id="divTime"> </div>
        </div>
        <div class="col-sm-12 no_pad text-center">
            <p class="bg-green mb0 strt_tim_desc">
                Please complete this purchase within 10:00 minutes.<br>
                After 10:00 minutes, the reservation we're holding will be released to others.
            </p>
            <p class="bg-green mb0 strt_tim_desc2">00:54</p>
        </div>
    </div>

    <div class="modal fade" id="schcalender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title ev_modal_header_title" id="myModalLabel">Add to Calendar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-windows"></i> <a href="#" id="ioutlook">Microsoft Outlook </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-apple"></i> <a href="#" id="icalender">Apple Ical </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-google"></i> <a href="#" id="googlecal" target="_blank">Google Calendar </a>
                    </div>
                    <div class="col-sm-6 text-center ev_calend_lebel">
                        <i class="fa fa-yahoo"></i> <a href="#" target="_blank" id="yahoocal">Yahoo Calendar </a>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
        </div>
    </div>

}
<script src="~/Scripts/Commonfunction.js"></script>
<script src="~/Scripts/flipclock.js"></script>
@*<script src="~/Scripts/jquery.countdownTimer.js"></script>*@
<script>
    //function afterStop() {
    //    alert("Time Khatam");
    //}
   
    function validationpage()
    {
        var msglogin = "";
        var Emaillogin = $("#Email").val();
        var confirmlogin = $("#confirmEmail").val();
        var Passowrdlogin = $("#password").val();
        var confirmpassword = $("#confirmpassword").val();
        if (!validateEmail(Emaillogin)) {
            $('#Email').focus();
            $('#Email').addClass('err-bor');
            msglogin += "Invalid Email" + "\n";
        }
        if ($("#confirmEmail").length > 0) {
            if (!validateEmail(confirmlogin)) {
                $('#confirmEmail').focus();
                $('#confirmEmail').addClass('err-bor');
                msglogin += "Invalid Confirm Email" + "\n";
            }

            if (confirmlogin != Emaillogin) {
                $('#confirmEmail').focus();
                $('#confirmEmail').addClass('err-bor');
                msglogin += "Invalid Confirm Email" + "\n";

            }

            
        }
        if ($("#password").length > 0) {
            if (Passowrdlogin.length < 4) {
                $("#password").focus();
                $('#password').addClass('err-bor');
                msglogin += "Invalid Password" + "\n";
            }

            if (confirmpassword.length < 4) {
                $("#confirmpassword").focus();
                $('#confirmpassword').addClass('err-bor');
                msglogin += "Invalid Confirm Password" + "\n";
            }
            if (Passowrdlogin != confirmpassword) {
                $("#confirmpassword").focus();
                $('#confirmpassword').addClass('err-bor');
                msglogin += "Invalid Confirm Password" + "\n";

            }
        }

        return msglogin;
    }


   
    function ShowMessage(Type, Mess) {
        if (Type == 'S') {
            $('#divaccsuc').css('display', 'block');
            $('#diverroacc').css('display', 'none');
            $('#succaccmsg').html(Mess);
        }
        else {
            $('#divaccsuc').css('display', 'none');
            $('#diverroacc').css('display', 'block');
            $('#erraccmsg').html(Mess);

        }
    }
    $(document).ready(function () {


        $(document).click(function () {
           
            $('#diverroacc').css('display', 'none');
            $('#divaccsuc').css('display', 'none');
            $("input").removeClass('err-bor');
        });
        $('#completeorder').click(function () {
            var Emaillogin = $("#Email").val();
            var msg = validationpage();
            if (msg != "") {
                $('#diverroacc').css('display', 'block');
                $('#erraccmsg').html(msg);

                return false;
            }
            else
            {
                if ($("#confirmEmail").length > 0) {

                    $.ajax({
                        url: "/Home/IsValid",
                        data: 'Email=' + Emaillogin,
                        dataType: "text",
                        success: function (data, textStatus, xhr) {

                            if (data != '') {
                                if (data == "NotFound") {
                                    flag = true;



                                } else if (data == "Found") {

                                    $('#Email').focus();
                                    $("#Email").addClass('err-bor');
                                  
                                    $('#diverroacc').css('display', 'block');
                                    $('#erraccmsg').html('Email already exist,Please use Sign in!!');

                                    return false;
                                }
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("Req " + xhr + " status " + textStatus + "  Error " + errorThrown);
                        }
                    });

                }
              

            }
            alert(msg+"dasd");


        });
        var Eventid = $('#hdEventid').val();
        $('#login').click(function () {
            $.ajax({
                url: '@Url.Action("setsession", "TicketPayment")',
                data: { id: 'TicketPayment', Eventid: Eventid },
                type: "Post",
                success: function (data) {

                },
                error: function (data) {
                    alert("Sorry there is some problem.");
                    return false
                }
            });
            $("#loginPopup").click();

        });
       
        $(".Notifybox").css("display", "none");
        $(".Notify").click(function () {
            $('.Notifybox').slideToggle("fast");
        });
        //--------------Fire when User Click on Continue in Previous Page ------------------------------------

        @*var TList = [];

        TList.push({
            'TLD_Ticket_Id': 1,
            'TLD_Locked_Qty':10
        });
        var model = {
            'TLD_Ticket_Id': '0',
            'TLD_Locked_Qty': '0',
            'TLD_List': TList
        }


        $.ajax({
            url: '@Url.Action("LockTickets", "TicketPayment")',
            data: model,
            type: "Post",
            success: function (response) {
                alert("chal pya");
            }
        });*@

        //*************************Fire when User Click on Continue in Previous Page *****************************************

        @*var vTicketid = '19,20';
        clock = $('#divTime').FlipClock(60, {
            clockFace: 'MinuteCounter',
            countdown: true,
            callbacks: {
                stop: function () {
                    $.ajax({
                        url: '@Url.Action("ReleaseTickets", "TicketPayment")',
                        data: { 'strTTicketIds': vTicketid },
                        type: "Get",
                        success: function (response) {
                          //  alert("Sorry, you took too long and we have to release your order. Please try again.");
                            ShowMessage('E', 'Sorry, you took too long and we have to release your order. Please try again.');
                        },
                        error: function () {
                            ShowMessage('E', 'Sorry, There is some error.');
                        }
                    });
                }
            }
        });*@



        $(".Timezone").click(function () {
            
                $(".TmezoneSet").slideToggle("fast");
      
            //

        });
        $(".closetimemodal").click(function () {
            $(".TmezoneSet").hide();

        });
  
        $(".billingaddress").change(function () {

            if ($(this).is(":checked") == true) {
               
                $(".shippingaddress").css('display', 'block');
            } else {
                
                $(".shippingaddress").css('display', 'none');

            }

        });
        //------------------------------------------------LoadSelectedTickets--------------------------------------------------      
        
        $.ajax({
            url: '@Url.Action("LoadTickets", "TicketPayment")',
            data: { 'strEvent': Eventid },
            type: "Get",
            success: function (response) {
                $("#dvTicketInfo").append(response);
            },
        });

    });
    jQuery(function ($) {
        $("#shippingphnno").mask("999-999-9999");
        $("#billingphno").mask("999-999-9999");
        $("#accountphnno").mask("999-999-9999");

    });
</script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>