
@{
    ViewBag.Title = "DoCheckoutPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/eventcombo-new.css" rel="stylesheet" />
<div class="event_container">
    <div class="event_inner_container event_top" id="eventtopscoll">
        <div class="col-sm-12 pt10 bggrey clearfix">
            <div class="col-sm-12">
                @if (ViewData["ReturnMessage"] == "" )
                {
                <div class="er_suc_main" id="divaccfrgtsuc">
                    <button class="close" type="button" id="btndivaccfrgtsuc">&#215;</button>
                    <div class="er_suc_img"></div>
                    <div class="er_suc" id="divsuccfrgt">Your payment is Successfully done. </div>
                </div>

                }
                else
                {
                <div class="err_main" id="diverrofrgt" >
                    <div class="er_UI_main">
                        <button class="close" type="button" id="btndiverrofrgt">&#215;</button>
                        <div class="er_UI_img"></div>
                        <div class="er_suc" id="dvfrgtui"> Your payement Unsuccess  @ViewData["ReturnMessage"]  </div>
                    </div>
                </div>
                }

               
                <input id="hdResult" type="hidden" value="@ViewData["ReturnMessage"]" />
            </div>
            <div class="col-sm-12">
                <div id="dvAjxLoader">
                    Please wait ...<img src="~/Images/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            if ($("#hdResult").val().trim() == "") {
                var vTrasId = '@ViewData["TRANSACTIONID"].ToString()';
                var vPayerId = '@ViewData["PayerID"].ToString()';
                var vTokenId = '@ViewData["token"].ToString()';

                $.ajax({
                    url: '@Url.Action("SaveDetailsForPaypal", "TicketPayment")',
                    data: { strTranId: vTrasId, strPayerId: vPayerId, strTokenNo: vTokenId },
                    type: "Post",
                    success: function (response) {
                        window.location.href = '@Url.Action("PaymentConfirmation", "TicketPayment")';
                    }
                });
            }
        });
    </script>
