
@{
    ViewBag.Title = "DoCheckoutPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<br /><br /><br />
<div class="event_container">
    <div class="event_inner_container event_top" id="eventtopscoll">
        <div class="col-sm-12 pt10 bggrey clearfix">
            <div class="col-sm-12">
                @(ViewData["ReturnMessage"].ToString() == "" ? "Your payment is Successfully done." : "Your payement Unsuccess<br>" + ViewData["ReturnMessage"])<br />                
                <input id="hdResult" type="hidden" value="@ViewData["ReturnMessage"]" />
            </div>
            <div class="col-sm-12">
                <div id="dvAjxLoader">
                    Please wait ...<img src="~/Images/ajaxloader1.gif" />
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            if ($("#hdResult").val().trim() == "") {
                var vTrasId = '@ViewData["TRANSACTIONID"].ToString()';
                var vPayerId = '@ViewData["PayerID"].ToString()';
                var vTokenId = '@ViewData["token"].ToString()';

                $.ajax({
                    url: '@Url.Action("SaveDetailsForPaypal", "TicketPayment")',
                    data: { strTranId: vTrasId, strPayerId: vPayerId, strTokenNo: vTokenId },
                    type: "Post",
                    success: function (response) {
                        window.location.href = '@Url.Action("PaymentConfirmation", "TicketPayment")';
                    }
                });
            }
        });
    </script>
