@model IList<CMS.Models.MessageTemplate>
@using CMS.Models
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())

{
  <!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <!-- Start: Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">

                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-active">
                    Dashboard
                </li>
            </ol>
        </div>

    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div id="content" class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">

                <!-- Input Fields -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">@TempData["FormName"]  Form</span>
                    </div>
                    <div class="panel-body admin-form">
                         <div class="col-md-12"  id="divmainerror" >
                          <div class="alert alert-danger alert-dismissable" id="dvalertdanger" style="display:none;" tabindex="-1">
                            <button class="close" aria-hidden="true"  id="btnclose" type="button">&#215;</button>
                            <i class="fa fa-info pr10"></i>
                           <span id="spantext"></span>
                          </div>
                             @if (ViewData["Saved"] != null)
                             { 
                             <div class="alert alert-success alert-dismissable" id="dvalertsucc" >
                                 <button class="close" aria-hidden="true" id="btnclosesucc" type="button">&#215;</button>
                                 <i class="fa fa-info pr10"></i>
                                 <span id="spantext">@ViewData["Saved"]</span>
                             </div>
                             }
                        </div> 
                        <div class="col-md-12">

                               @for (var i = 0; i < Model.Count; i++)
                               {
                                <div class="row" id="divrow">
                                    <div class="col-md-4">
                                        <div class="section">
                                            @Html.TextBoxFor(x => x[i].Form_Tag,new  { @class = "field form-control", @readonly = "readonly" })
                                            @Html.HiddenFor(x => x[i].Form_Name)
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="section">
                                            <label class="field">
                                             @Html.TextBoxFor(x => x[i].Message, new { @class = "gui-input messagereq", id = "from", placeholder = "Message",@maxlength = 256 })
                                                @*<input type="text" name="from" id="from" class="gui-input" placeholder="Message">*@
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                }
                         
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary btn-lg" type="submit" id="btnsave">Save Message</button>
                                </div>

                   
                            



                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <!-- End: Content -->

</section>
}
<script type="text/javascript" >

    function ajaxsetup(strname, strFormTag) {
        var msgnew = "";

        var request = $.ajax({
            url: '@Url.Action("Index", "ValidationMessage")',
            async: false,
            data: { strFormName: strname, strFormTag: strFormTag },
            type: 'Post'
        });
        request.done(function (msg) {
            msgnew += msg;
        });

        request.fail(function (jqXHR, textStatus) {
            msgnew += "Some Error occur!!";
        });
        return msgnew;
    }
    $(window).load(function () {
        $('.accordion-toggle').addClass('menu-open');
        var span = $('.act');
        $(span).each(function () {
           var html=$(this).html();
           var tag = $('.panel-title').html();
          var tag1= html.trim().toLowerCase().replace(" ", "").replace(" ", "");
          var tag2=tag.trim().toLowerCase().replace(" ", "").replace(" ", "");
           $(this).parent().parent().attr('class', '');
           if (tag1 == tag2)
           {
               $(this).parent().parent().attr('class', 'active');
           }
           //console.log();
        });

    });
    $(document).ready(function () {
       
          

      
        $("#btnclose").click(function () {

            $('#dvalertdanger').css('display', 'none');
            $('#dvalertsucc').css('display', 'none');
            $('input').removeClass('err-bor');
        });
        $("#btnclosesucc").click(function () {

            $('#dvalertdanger').css('display', 'none');
            $('#dvalertsucc').css('display', 'none');
            $('input').removeClass('err-bor');
        });
        $("#btnsave").click(function () {
            var count = 0;

            $(".messagereq").each(function () {
                var $el = $(this);
                var n = $el.val();
                console.log(n.length);
                if (n.length <= 0) {

                    count++;
                    $(this).addClass('err-bor');

                }
            });

            if (count > 0) {
                $('#divmainerror').css('display', 'block');
                $('#dvalertdanger').css('display', 'block');
                $('#dvalertsucc').css('display', 'none');
                var text = ajaxsetup('Messages', 'MessageReqUI');

                $('#spantext').html(text);
                $('#dvalertdanger').focus();
                return false;
            }



        });



    });
</script>