@using System.Collections.Generic;
@using System.Linq;
@using EventCombo.Models;
@model List<AttendeeTicketTypeViewModel>
<link href="~/footable/css/footable.core.min.css" rel="stylesheet" />
<script src="~/footable/js/footable.all.min.js"></script>
<script src="~/footable/js/footable.filter.min.js"></script>
<table id="AttendeeTicketTypeListTable" data-totalrecords="@(Model.Count())" class="table footable" data-page-navigation=".pagination" data-page-size="10">
    <thead>
        <tr>
            <th class="UETableHead" data-sorted="true" data-sort-ignore="true" data-sort="false"><input type="checkbox" onchange="CheckAll(this);" /></th>
            <th class="UETableHead"><a href="javascript:void(0);">Ticket</a></th>
            <th class="UETableHead"><a href="javascript:void(0);">Price</a></th>
            <th class="UETableHead"><a href="javascript:void(0);">Sold</a></th>
            <th class="UETableHead"><a href="javascript:void(0);">Attendees</a></th>
        </tr>
    </thead>
    <tbody class="tableRecorsTBody">
        @foreach (var ticketType in Model)
        {
            <tr>
                <td class="UETableTD">
                    <input name="TicketbearerIds" class="chkTicketbearerIds" checked="checked" type="checkbox" value="@ticketType.TicketTypeId" />
                </td>
                <td class="UETableTD">@ticketType.TicketType</td>
                <td class="UETableTD">@ticketType.Price</td>
                <td class="UETableTD">@ticketType.Sold</td>
                <td class="UETableTD">@ticketType.AttendeeCount</td>
            </tr>
        }
    </tbody>
    <tfoot class="footer-menu">
        <tr>
            <td colspan="8">
                <nav class="text-right">
                    <ul class="pagination" id="ulpage"></ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
        $(function () {
            $('.footable').footable();
        });
</script>