@model List<EventCombo.Models.EventOrderInfoViewModel>
<div id="purchasedTicketContainer">
    <div class="table-responsive tableResponsiveOrderList">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Date</th>
                    <th>Attendee</th>
                    <th>Ticket Name</th>
                    <th>Quantity</th>
                    <th>Gross Paid</th>
                    <th>Net Event Revenue</th>
                    <th>EventCombo Fee</th>
                    <th>EventCombo Merchant Fee</th>
                    <th>Promo Code</th>
                    <th>Refunded</th>
                    <th>Cancelled</th>
                    <th>Attendee Number</th>
                    <th>Attendee Email</th>
                    <th>Billing Address</th>
                    <th>Mail Tickets</th>
                </tr>
            </thead>
            <tbody class="tableRecorsTBody">
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="UETableTD"> @order.OrderId </td>
                        <td class="UETableTD">@(order.Date.ToLongDateString())</td>
                        <td class="UETableTD">@order.BuyerName</td>
                        <td class="UETableTD">@order.TicketName</td>
                        <td class="UETableTD">@order.Quantity</td>
                        <td class="UETableTD">$@order.PricePaid</td>
                        <td class="UETableTD">$@order.PriceNet</td>
                        <td class="UETableTD">$@order.Fee</td>
                        <td class="UETableTD">$@order.MerchantFee</td>
                        <td class="UETableTD">@order.PromoCode</td>
                        <td class="UETableTD">@(order.Refunded == 0 ? "" : "$" + order.Refunded.ToString("N2"))</td>
                        <td class="UETableTD">@(order.Cancelled == 0 ? "" : "$" + order.Cancelled.ToString("N2"))</td>
                        <td class="UETableTD"></td>
                        <td class="UETableTD">@order.BuyerEmail</td>
                        <td class="UETableTD">@order.Address</td>
                        <td class="UETableTD">@order.MailTickets</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
